---
slug: activar-networkmanager-en-opensuse-12-3
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2013-05-19T15:40:19Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gnome
  - NetworkManager
  - openSUSE
title: Activar NetworkManager en OpenSUSE 12.3
type: post
---

<p>
  Acabo de instalar OpenSUSE 12.3 con Gnome 3.6 y no me permite conectar al wifi como
  llevo haciendo desde siempre, aun cuando en la sesión de LiveCD sí me dejaba.
</p>
<p>
  Traducción de
  <a
    href="http://doc.opensuse.org/documentation/html/openSUSE/opensuse-reference/cha.nm.html#sec.nm.activate"
    >la solución</a
  >:
</p>
<blockquote>
  <p>
    En los portátiles NetworkManager está activado por defecto. Sin embargo, se puede
    activar o desactivar cuando se quiera en el módulo de configuración de red de YaST.
  </p>
  <ol type="1">
    <li>Abre YaST y ve a <em>Network Devices+Network Settings</em>.</li>
    <li>
      El diálogo <em>Network Settings</em> se abre. Ve a la pestaña de
      <em>opciones globales</em>.
    </li>
    <li>
      Para configurar y gestionar tu red con NetworkManager:
      <ol type="a">
        <li>
          En el campo "método de configuración de la red", selecciona "controlado por el
          usuario mediante NetworkManager".
        </li>
        <li>Pulsa en Aceptar y cierra YaST.</li>
      </ol>
    </li>
  </ol>
</blockquote>
