---
slug: administrando-el-sistema-su-vs-sudo
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2010-11-28T17:20:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "3616068800766162689"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - root
  - su
  - sudo
  - Ubuntu
title: "Administrando el sistema: su vs. sudo"
type: post
---

<p>
  Lo bonito de GNU/Linux es que tienes control absoluto sobre tu sistema, pero
  evidentemente este control no lo tienen todos los usuarios, sino solo los que tengan
  que tenerlo. Históricamente dicho usuario ha sido siempre
  <i>root </i>("raíz" en inglés).
</p>
<div style="text-align:right;">
  <a
    style="clear:right;float:right;margin-bottom:1em;margin-left:1em;"
    href="http://imgs.xkcd.com/comics/sandwich.png"
    ><img alt="" src="/assets/sandwich.png" width="320" height="265" border="0"
  /></a>
</div>
<p>
  Sin embargo, tener que cerrar tu sesión y abrir una nueva para administrar el sistema
  es una pesadez, para lo cual existen herramientas que te permiten adquirir
  temporalmente sus privilegios.
</p>
<p>
  Las 2 principales herramientas que conozco para esto son
  <code><a href="http://www.linuxmanpages.com/man1/su.1.php">su</a></code> y
  <code><a href="http://www.linuxmanpages.com/man8/sudo.8.php">sudo</a></code
  >, herramientas que pueden usarse conjuntamente, aunque recomiendo decidirse por una y
  quitar la otra, según los gustos del administrador.
</p>
<h2>¿En qué se diferencian?</h2>
<p>
  Básicamente, <b></b>al usar <code>su</code>, debes introducir la contraseña de
  <i>root</i>, y dicho usuario debe estar activado, mientras que al usar
  <code>sudo</code>, debes introducir tu contraseña de siempre, debes estar autorizado a
  usarlo en el fichero
  <a href="http://www.linuxmanpages.com/man5/sudoers.5.php">/etc/sudoers</a>, y no es
  necesario que exista un usuario activado llamado <i>root</i>.
</p>
<p>
  Otra diferencia importante es que <code>su</code> te pide la contraseña para cada vez
  que lo utilizas, mientras que <code>sudo</code> no te vuelve a pedir la contraseña
  hasta pasado un tiempo desde que lo usaste por primera vez.
</p>
<p>
  Hay otras diferencias respecto al <i>comportamiento estándar</i> de cada herramienta,
  pero no son diferencias tan importantes. Me refiero a:
</p>
<ul>
  <li>
    Cuando ejecutas <code>su</code>, pasas a usar un shell de <i>root</i> en el que
    escribes los comandos que quieres realizar, mientras que <code>sudo</code> suele
    utilizarse como prefijo a otro comando, que es ejecutado con permisos de
    <i>root</i>.
  </li>
  <li>
    Al usar <code>sudo</code>, conservas las <b>variables de entorno</b> del usuario que
    lo usa, mientras que <code>su</code> adquiere las variables de <i>root</i>.
  </li>
</ul>
<p>
  He dicho que no son diferencias importantes porque cada herramienta proporciona
  métodos para comportarse más o menos como la otra. Veámoslos.
</p>
<p>Comportamiento estándar de <code>su</code>:</p>
<pre>
yo@pc:~$ su
root@pc:/home/yo# echo $HOME
/root
root@pc:/home/yo# exit</pre
>
<p>
  Vemos cómo primero nos pide la contraseña de <i>root</i>, y luego abre una
  <i>shell</i> de <i>root</i>, y la variable <code>$HOME</code> (directorio de usuario)
  es la de <i>root</i> también. Ahora veamos el comportamiento estándar de
  <code>sudo</code>:
</p>
<pre>
yo@pc:~$ sudo echo $HOME
/home/yo</pre
>
<p>
  En este caso <code>sudo</code> es un prefijo que ejecuta solo un comando, y preserva
  las variables de entorno. Además la contraseña que nos pedirá es la nuestra. Ahora
  vamos a emular el comportamiento de <code>sudo</code> con <code>su</code>:
</p>
<pre>
yo@pc:~$ su --preserve-environment --command="echo \$HOME"
/home/yo</pre
>
<p>
  Notaréis que en este caso hay que pasar el comando como una cadena de caracteres, por
  eso he <i>escapado</i> el símbolo del dólar poniendo una barra invertida delante.
  Ahora emularemos el comportamiento de <code>su</code> con <code>sudo</code>.
</p>
<pre>
yo@pc:~$ sudo -i # Si quieres iniciar la shell pero preservar las variables, usa sudo -s
root@pc:/home/yo# echo $HOME
/root
root@pc:/home/yo# exit</pre
>
<p>Como vemos son herramientas muy versátiles.</p>
<h2>¿Por cuál debería decidirme?</h2>
<p>
  Es una cuestión de gustos. Personalmente prefiero <code>sudo</code>, ya que no es
  necesario crear un usuario administrador y otro para uso normal, sino que es el mismo
  para ambas tareas, y permite que existan varios administradores en el mismo sistema
  sin necesidad de que ambos sepan la contraseña de <i>root</i>.
</p>
<p>
  <b
    >Precauciones a la hora de cambiar de <code>su</code> a <code>sudo</code> y
    viceversa</b
  ><br />
  Antes de desinstalar la herramienta que no vayas a usar, asegúrate de que la nueva
  funciona a la perfección, ya que de otro modo podrías perder el acceso
  <i>root</i> y te quedarías sin poder administrar tu sistema.
</p>
<p>
  En caso de decantarte por <code>sudo</code>, es interesante desactivar la cuenta de
  <i>root</i>, ya que ya no es necesaria. Para ello:
</p>
<pre>$ sudo passwd --lock root</pre>
<p>Para reactivarla, si te hiciera falta más adelante:</p>
<pre>$ sudo passwd --unlock root</pre>
<h2>Si decides cambiar el método, puedes encontrar problemas</h2>
<p>
  Quizá os interese saber que Ubuntu usa por defecto <code>sudo</code>, mientras que
  Debian usa <code>su</code>, aunque ambas distribuciones permiten cambiarlo luego como
  prefieras.
</p>
<p>
  Siendo así, es posible que experimentes problemas de configuración si cambias de
  herramienta. Por ejemplo, si usas <code>aptitude</code> en modo interactivo, al usar
  la opción de obtener privilegios de administrador en Debian, tratará de usar
  <code>su</code> aunque no esté instalado, y saltará un error. Para ello deberás
  configurarlo para que utilice <code>sudo</code>:
</p>
<pre>
$ echo 'aptitude::Get-Root-Command "sudo:/usr/bin/sudo";' &gt;&gt; ~/.aptitude/config</pre
>
<p>
  Tambiéntendrías que configurar <code>gksu</code>, la herramienta que se usa en Gnome
  para otorgar los privilegios, para que use el sistema que hayas elegido. En el mismo
  supuesto de antes sería:
</p>
<pre>$ gconftool-2 --type bool --set /apps/gksu/sudo-mode true</pre>
<div class="blogger-post-footer">
  <img class="vrfknejtorxxsdgkexdn" alt="" src="/assets/" width="1" height="1" />
</div>
