---
slug: alternativas-al-buscador-de-google
categories:
  - Privacidad
date: "2012-07-02T16:45:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "844155332198297624"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Blekko
  - Buscadores
  - Dogpile
  - DuckDuckGo
  - Ecosia
  - Firefox
  - Google
  - Ixquick
  - Metacrawler
  - Startpage
title: Alternativas al buscador de Google
type: post
---

<p>
  Pensaba que esto iba a ser lo más complicado de conseguir, ya que el buscador de
  Google es realmente bueno. Sin embargo, en un par de días he encontrado cantidad de
  alternativas dignas de consideración, y alguna de ellas que incluso me gusta más que
  Google.<br />
</p>
<h2>Los finalistas</h2>
<h3><a href="http://www.ixquick.com/">Ixquick</a></h3>
<ul>
  <li>
    Motor de búsqueda 100% orientado hacia la privacidad del usuario. De hecho, se llevó
    el
    <a
      href="https://www.european-privacy-seal.eu/press-room/press-releases/20080714-europrise-press-release-en.html"
      >primer sello europeo de privacidad concedido a un motor de búsqueda</a
    >.
  </li>
  <li>
    Altamente
    <a href="https://www.ixquick.com/do/preferences.pl?language_ui=espanol"
      >configurable</a
    >.
  </li>
  <li>
    Permite guardar esa configuración en un
    <a
      href="https://es.wikipedia.org/wiki/Hypertext_Transfer_Protocol#M.C3.A9todos_de_petici.C3.B3n"
      >parámetro GET</a
    >, sin siquiera almacenar cookies.
  </li>
  <li>
    Muestra estrellas al lado de los resultados, indicando si se trata de un resultado
    destacado en algún otro buscador.
  </li>
  <li>
    El autocompletado es muy bueno, pero no se basa en las búsquedas de otros usuarios,
    para proteger su privacidad.
  </li>
  <li>Ofrece abrir las páginas desde un proxy.</li>
  <li>Puedes usar la interfaz y la búsqueda en español.</li>
</ul>
<h3><a href="https://startpage.com/">Startpage</a></h3>
<p>
  De los mismos desarrolladores que Ixquick, con el mismo nivel de privacidad, pero
  usando el motor de búsqueda de Google. Ellos hacen de escudo entre tú y Google.<br />
</p>
<h3><a href="http://blekko.com/">Blekko</a>&nbsp;</h3>
<p>
  Un motor centrado principalmente en los usuarios. Son ellos principalmente quienes se
  encargan de
  <a href="http://blekko.com/tag/show#tab3"
    >asignar ciertas etiquetas a los sitios web</a
  >, permitiendo asignar un <i>tema</i> al mismo, y acotar la búsqueda de acuerdo a esos
  temas.
</p>
<p>
  Tiene muy buena pinta, pero la interfaz está en inglés y hay que darse de alta para
  usar el tema de los <i>slashtags</i>, y tampoco me queda muy claro su uso.<br />
</p>
<h3><a href="http://ecosia.org/">Ecosia</a></h3>
<p>
  Usa el motor de Bing/Yahoo, y
  <a href="http://ecosia.org/how.php"
    >dona la mayoría de sus ingresos por publicidad para la protección del medio
    ambiente</a
  >.<br />
</p>
<h3>
  <a href="http://www.dogpile.com/">Dogpile</a> y
  <a href="http://www.metacrawler.com/">Metacrawler</a>
</h3>
<p>
  Ambos de la misma empresa. No es que ofrezcan una privacidad especial, pero al menos
  mezclan los resultados de los motores más importantes.<br />
</p>
<table
  cellpadding="0"
  cellspacing="0"
  class="tr-caption-container"
  style="float:right;margin-left:1em;text-align:right;"
>
  <tbody>
    <tr>
      <td style="text-align:center;">
        <a
          href="http://duckduckgo.com/"
          style="clear:right;margin-bottom:1em;margin-left:auto;margin-right:auto;"
          ><img border="0" src="/assets/logo_homepage.normal.v102.png"
        /></a>
      </td>
    </tr>
    <tr>
      <td class="tr-caption" style="text-align:center;">I'm feeling ducky</td>
    </tr>
  </tbody>
</table>
<h2>El ganador: <a href="http://duckduckgo.com/">DuckDuckGo</a></h2>
<p>
  Este buscador es absolutamente impresionante. Me ha dejado pasmado en todos sus
  aspectos, hasta el punto de gustarme incluso más que Google.
</p>
<ul>
  <li>
    <a href="http://duckduckgo.com/privacy.html">100% enfocado hacia la privacidad</a>.
  </li>
  <li>
    <a href="http://duckduckgo.com/settings.html">Impresionantemente confgurable</a>,
    también por parámetros GET.
  </li>
  <li>
    Cantidad de
    <a href="http://duckduckgo.com/goodies.html">Goodies para usuarios normales</a>
    y <a href="http://duckduckgo.com/tech.html">goodies para programadores</a>:
  </li>
</ul>
<ul>
  <li>
    Incluye los resultados ZeroClick, que se muestran al principio del todo
    directamente, extrayendo datos de una gran cantidad de sitios, como
    <a href="https://duckduckgo.com/?q=richard+stallman&amp;kf=fw&amp;kl=es-es&amp;kw=w"
      >Wikipedia</a
    >,
    <a href="https://duckduckgo.com/?q=%24_REQUEST&amp;kf=fw&amp;kl=es-es&amp;kw=w"
      >StackOverflow</a
    >,
    <a
      href="https://duckduckgo.com/?q=jQuery.ajax%28%29&amp;kf=fw&amp;kl=es-es&amp;kw=w"
      >jQuery</a
    >, etc.
  </li>
  <li>
    Permite
    <a href="http://draft.blogger.com/goog_786616509"
      >redireccionar a <b>cientos</b> de otros buscadores usando la sintaxis </a
    ><a href="http://duckduckgo.com/bang.html"><code>!bang</code></a
    >. Búsquedas de ejemplo:
  </li>
</ul>
<ul>
  <li>
    <a href="https://duckduckgo.com/?kf=fw&amp;kl=es-es&amp;kw=w&amp;q=radiohead+%21yt"
      ><code>radiohead !yt</code></a
    >&nbsp;
  </li>
  <li>
    <a
      href="https://duckduckgo.com/?kf=fw&amp;kl=es-es&amp;kw=w&amp;q=radiohead+%21amazon"
      ><code>radiohead !amazon</code></a
    >
  </li>
  <li>
    <a href="https://duckduckgo.com/?kf=fw&amp;kl=es-es&amp;kw=w&amp;q=radiohead+%21g"
      ><code>radiohead !g</code></a
    >
  </li>
  <li>
    <a
      href="https://duckduckgo.com/?kf=fw&amp;kl=es-es&amp;kw=w&amp;q=radiohead+%21ecosia"
      ><code>radiohead !ecosia</code></a
    >
  </li>
  <li>
    <a href="https://duckduckgo.com/?kf=fw&amp;kl=es-es&amp;kw=w&amp;q=radiohead+%21"
      ><code>radiohead !</code></a
    >
  </li>
</ul>
<li>
  Aunque la interfaz y las palabras clave son en inglés, puedes acotar búsquedas en
  España.
</li>
<li>
  Aunque es mayormente privativo, está muy
  <a href="http://help.duckduckgo.com/customer/portal/articles/216390-open-source"
    >comprometido con el código abierto</a
  >.
</li>
<ul>
  <li>
    <a href="https://github.com/duckduckgo/">Tiene muchas partes de código abierto</a>.
  </li>
  <li>
    <a
      href="http://www.gabrielweinberg.com/blog/2010/11/help-me-start-a-foss-tithing-movement.html"
      >Donan dinero a proyectos libres</a
    >.
  </li>
  <li><a href="http://duckduckhack.com/">Puedes crear plugins ZeroClick</a>.</li>
  <li>
    <a href="https://dukgo.com/base/welcome"
      >Tienen una estupenda comunidad de usuarios</a
    >,
    <a href="https://github.com/duckduckgo/community-platform"
      >hecha con código abierto</a
    >.
  </li>
</ul>
<li>Me encanta el pato.</li>
<p>
  De momento
  <a href="http://help.duckduckgo.com/customer/portal/articles/215638-autocomplete"
    >no tienen sistema de sugerencias</a
  >, pero puedes
  <a href="http://ddgg.nfriedly.com/">combinarlo con el de Google</a> hasta entonces.<br />
</p>
<h2>
  Agregar los motores de búsqueda a
  <a href="http://www.mozilla.org/es-ES/firefox/fx/">Firefox</a>
</h2>
<p>
  Puedes
  <a href="https://addons.mozilla.org/es-ES/firefox/search-tools/"
    >buscar alguna extensión que te sirva</a
  >, usar motores del <a href="http://mycroft.mozdev.org/">proyecto Mycroft</a>, o
  <a href="http://mycroft.mozdev.org/submitos.html"
    >personalizar el motor de búsqueda que quieres instalar</a
  >.
</p>
<p>En principio, os dejo aquí 2 de demostración:</p>
<ul>
  <li>
    <a
      href="http://customsearchprovider.appspot.com/create.jsf?name=Ixquick+%2B+Google+Suggestions&amp;searchTemplate=https%3A%2F%2Fixquick.com%2Fdo%2Fsearch%3Fcat%3Dweb%26cmd%3Dprocess_search%26language%3Despanol%26engine0%3Dv1all%26prf%3D89935b38bc601d86d447914a6126fc8a%26query%3D%7BsearchTerms%7D&amp;suggestionTemplate=http%3A%2F%2Fsuggestqueries.google.com%2Fcomplete%2Fsearch%3Foutput%3Dfirefox%26qu%3D%7BsearchTerms%7D&amp;icon=https%3A%2F%2Fixquick.com%2Ffavicon.ico"
      >Instalar motor de Ixquick + Google Suggestions</a
    >.
  </li>
  <li>
    <a
      href="http://customsearchprovider.appspot.com/create.jsf?name=DuckDuckGo+%2B+Google+Suggestions&amp;searchTemplate=https%3A%2F%2Fduckduckgo.com%2F%3Fq%3D%7BsearchTerms%7D%26kf%3Dfw%26kl%3Des-es%26kw%3Dw&amp;suggestionTemplate=http%3A%2F%2Fsuggestqueries.google.com%2Fcomplete%2Fsearch%3Foutput%3Dfirefox%26qu%3D%7BsearchTerms%7D&amp;icon=http%3A%2F%2Fduckduckgo.com%2Ffavicon.ico"
      >Instalar motor de DuckDuckGo + Google Suggestions</a
    >.
  </li>
</ul>
<ul></ul>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-844155332198297624?l=recallstack.blogspot.com"
    alt=""
  />
</div>
