---
slug: anadir-soporte-para-espanol-en-fedora
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2016-10-21T09:24:47Z"
meta:
  _publicize_job_id: "28072886451"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - dnf
  - Fedora
  - Localización
title: Añadir soporte para español en Fedora
type: post
---

<p>
  A veces podemos echar a faltar en Fedora alguna localización a nuestro querido idioma.
  La solución es bastante sencilla:
</p>
<p><!--more--></p>
<pre># dnf langinstall es_ES</pre>
