---
slug: anadir-duckduckgo-como-motor-de-busqueda-a-firefox
categories:
  - Privacidad
  - Redes
  - Tutoriales
date: "2012-10-04T00:38:21Z"
meta:
  _edit_last: "5195209"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Buscadores
  - DuckDuckGo
  - Firefox
  - Google
  - Ixquick
  - Mozilla
  - Navegadores
title: Añadir DuckDuckGo como motor de búsqueda a Firefox
type: post
---

<p>
  Lamentablemente, ni <a href="https://duckduckgo.com/">DuckDuckGo</a> ni
  <a href="https://www.ixquick.com/">Ixquick</a> nos ofrecen motores de búsqueda
  personalizados cuando queremos añadirlos al navegador, ni disponen actualmente de
  sugerencias de búsqueda compatibles.
</p>
<p>
  Usaremos las sugerencias de <a href="http://www.google.es/">Google</a>, y la búsqueda
  personalizada de estos motores. Para ello:
</p>
<ol>
  <li>
    Elegir las opciones en el
    <a href="https://duckduckgo.com/settings.html">personalizador de búsqueda</a>.
  </li>
  <li>
    Pulsar en
    <em
      ><a title="Show details of your settings including bookmarklet"
        >Bookmarklet and settings data</a
      ></em
    ><a title="Show details of your settings including bookmarklet">.</a>
  </li>
  <li>Copiar la URL proporcionada.</li>
  <li>
    Crear un
    <a href="http://customsearchprovider.appspot.com/"
      >proveedor de búsqueda personalizado</a
    >.
  </li>
  <li>Rellenar los parámetros (ver ejemplos al final).</li>
  <li>Pulsar <em>create</em>.</li>
  <li>
    Desplegar en Firefox el logotipo de elección del motor de búsqueda y añadir el nuevo
    recién creado.
  </li>
</ol>
<p>Mis ejemplos:</p>
<ul>
  <li>
    <a
      href="http://customsearchprovider.appspot.com/create.jsf?name=DuckDuckGo+%2B+Google+Suggestions&amp;searchTemplate=https%3A%2F%2Fduckduckgo.com%2F%3Fq%3D{searchTerms}%26kf%3Dfw%26kl%3Des-es%26kw%3Dw%26kad%3Des_ES&amp;suggestionTemplate=http%3A%2F%2Fsuggestqueries.google.com%2Fcomplete%2Fsearch%3Foutput%3Dfirefox%26qu%3D{searchTerms}&amp;icon=http%3A%2F%2Fduckduckgo.com%2Ffavicon.ico"
      >DuckDuckGo + Google Suggestions</a
    >
  </li>
  <li>
    <a
      href="http://customsearchprovider.appspot.com/create.jsf?name=Ixquick+%2B+Google+Suggestions&amp;searchTemplate=https%3A%2F%2Fixquick.com%2Fdo%2Fsearch%3Fcat%3Dweb%26cmd%3Dprocess_search%26language%3Despanol%26engine0%3Dv1all%26prf%3D89935b38bc601d86d447914a6126fc8a%26query%3D{searchTerms}&amp;suggestionTemplate=http%3A%2F%2Fsuggestqueries.google.com%2Fcomplete%2Fsearch%3Foutput%3Dfirefox%26qu%3D{searchTerms}&amp;icon=https%3A%2F%2Fixquick.com%2Ffavicon.ico"
      >Ixquick + Google Suggestions</a
    >
  </li>
</ul>
