---
slug: anadir-clave-gpg-a-rpm-para-verificar-paquetes
categories:
  - Administración de sistemas
  - Empaquetado de software
  - Seguridad
date: "2016-11-14T19:30:00Z"
meta:
  _publicize_job_id: "28910265946"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - dnf
  - Google
  - Google Hangouts
  - GPG
  - PackageKit
  - pkcon
  - RPM
  - yum
title: Añadir clave GPG a RPM para verificar paquetes
type: post
---

<p>
  Recientemente, al actualizar
  <a href="https://tools.google.com/dlpage/hangoutplugin?hl=es"
    >el paquete <code>google-talkplugin</code></a
  >, recibía este error:
</p>
<pre>
Error grave: package google-talkplugin-5.41.3.0-1.x86_64 cannot be verified and repo google-talkplugin is GPG enabled: failed to lookup digest in keyring for /var/cache/PackageKit/24/metadata/google-talkplugin/packages/google-talkplugin-5.41.3.0-1.x86_64.rpm</pre
>
<p>
  Diciéndome, básicamente, que no se puede verificar el paquete porque no se dispone de
  la clave pública que se usó para firmarlo.
</p>
<p><!--more--></p>
<p>
  Para añadir la clave, usando una versión simplificada de
  <a href="https://www.google.com/linuxrepositories/"
    >las instrucciones oficiales de Google</a
  >, simplemente tengo que ejecutar:
</p>
<pre># rpm --import https://dl.google.com/linux/linux_signing_key.pub</pre>
<p>Tras esto, ya puedo actualizarlo con normalidad:</p>
<pre>$ pkcon update google-talkplugin</pre>
