---
slug: anadir-la-clave-publica-de-google-a-dnf
categories:
  - Administración de sistemas
  - Empaquetado de software
  - Encriptación
  - GNU/Linux
date: "2016-06-27T20:17:47Z"
meta:
  _publicize_job_id: "24245277280"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - dnf
  - Fedora
  - Google
  - Google Hangouts
  - GPG
title: Añadir la clave pública de Google a DNF
type: post
---

<p>
  <a href="https://www.google.com/linuxrepositories/"
    >Google tiene repositorios para Linux</a
  >, y usa una clave GPG para firmar los paquetes. Si no la tienes instalada, tendrás
  problemas al actualizar, como me pasaba a mí recientemente:
</p>
<pre>
$ pkcon install google-talkplugin
Error grave: package google-talkplugin-5.41.3.0-1.x86_64 cannot be verified and repo google-talkplugin is GPG enabled: failed to lookup digest in keyring for /var/cache/PackageKit/metadata/google-talkplugin/packages/google-talkplugin-5.41.3.0-1.x86_64.rpm</pre
>
<p><!--more-->Para arreglar esto, no hay más que seguir las instrucciones:</p>
<pre># rpm --import https://dl.google.com/linux/linux_signing_key.pub</pre>
