---
slug: android-ya-no-te-deja-usar-tu-tarjeta-sd-a-tu-antojo
categories:
  - Android
  - Noticias
  - Seguridad
date: "2016-01-05T14:56:37Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18437801750"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Firefox
  - permisos
title: Android ya no te deja usar tu tarjeta SD a tu antojo
type: post
---

<p>
  Por si te preguntabas
  <a href="/2015/12/23/convierte-tu-tableta-android-en-un-puesto-de-trabajo/"
    >por qué las aplicaciones en tu nuevo Android no tienen permiso de escritura a la
    tarjeta SD</a
  >, no es un error; es así a propósito.<br />
  <!--more-->
</p>
<p>
  Si quieres, puedes leer
  <a href="https://code.google.com/p/android/issues/detail?id=65974"
    >la incidencia que se envió a (y fue ignorada por) Google</a
  >, y
  <a
    href="https://groups.google.com/forum/#!msg/android-platform/14VUiIgwUjY/UsxMYwu02z0J"
    >la explicación del por qué de dicha decisión</a
  >.
</p>
<p>
  Supuestamente es por <em>hacer la vida más fácil a los usuarios torpes</em>, que
  acaban teniendo su tarjeta SD llena de carpetas desconocidas y que tienen que borrar
  de vez en cuando.
  <strike
    >Pero no proporcionan ninguna alternativa viable para los usuarios que no somos tan
    torpes, o que preferimos borrar algunas carpetas de vez en cuando antes que guardar
    todos nuestros archivos en Google Drive.</strike
  >
  Al menos parece que es un problema que afecta a Android 4.4, pero que
  <a href="https://groups.google.com/d/msg/android-platform/14VUiIgwUjY/Tn8vFUJTdFUJ"
    >ha sido solucionado en Android 5 con un sistema que requiere la interacción del
    usuario para otorgar esos permisos</a
  >. No es especialmente intuitivo, pero al menos puedes recuperar el control de tus
  documentos...
</p>
<p>
  Desde luego, esto, sumado al
  <a href="https://mobile.twitter.com/jaaksi/status/674371311708319745"
    >abandono de Firefox OS para móviles por parte de Mozilla</a
  >, hace que el panorama de sistemas operativos móviles libres sea cada vez más
  desesperanzador.
</p>
