---
slug: angularjs-cambia-todo-lo-que-sabias-de-programacion-web
categories:
  - Noticias
  - Web
date: "2013-02-01T22:57:04Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - AngularJS
  - JavaScript
  - jQuery
  - MVC
  - ownCloud
title: AngularJS cambia todo lo que sabías de programación web
type: post
---

<p>
  Me parece increíble lo que hace <a href="http://angularjs.org/">AngularJS</a>, sobre
  todo por la <strong>sencillez</strong> con que lo hace. Ni más ni menos que
  implementar el modelo-vista-controlador en
  <a href="https://es.wikipedia.org/wiki/JavaScript">Javascript</a> con una sencillez
  apabullante.
</p>
<p>
  Recuerdo que desde que conocí <a href="http://jquery.org">jQuery</a> cambió mi manera
  de escribir Javascript. Creo que a partir de hoy (y, sobre todo, en cuanto pueda usar
  AngularJS en mis proyectos) volverá a cambiar. Por cierto, ambos se pueden usar
  conjuntamente,
  <a href="http://doc.owncloud.org/server/5.0/developer_manual/general/angular.html"
    >como hace OwnCloud</a
  >.
</p>
