---
slug: animacion-en-html
categories:
  - Programación
  - Web
date: "2010-11-30T11:11:00Z"
meta:
  _edit_last: "5195209"
  _wpcom_is_markdown: "1"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7630942664394963931"
  blogger_author: Abel
  blogger_blog: recallstack.blogspot.com
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - HTML
title: Animacion en html
type: post
---

<p>
  Buenas hoy voy a poner como poder crear por ejemplo esto:<br />
  Hola mundo<br />
  Para hacerlo lo importante es poner:
</p>
<pre>&lt;marquee&gt;Tu titulo&lt;/marquee&gt;</pre>
<p>Y ya lo tienes, pero no solo eso tambien puedes cambiar algunas cosillas:</p>
<ul>
  <li>direction: La direccion (left(izquierda)o right(derecha))</li>
  <li>width:La anchura(en pixeles)</li>
  <li>behavior:scroll(por defecto) o alternate</li>
  <li>scrolldelay: La velocidad con la que pasara la imagen.</li>
  <li>scrollamount:El espacio de desplacamiento.(media 6)</li>
  <li>bgcolor: El color de fondo.</li>
</ul>
<p>Por ejemplo:</p>
<pre>
&lt;marquee bgcolor=black direction=right behavior=alternate&gt;
&lt;table&gt;
RECALLSTACK
&lt;/table&gt;
&lt;/marquee&gt;</pre
>
<p>RECALLSTACK</p>
<p>RECALLSTACK</p>
<div class="blogger-post-footer">
  <img
    style="display:none !important;"
    src="/assets/5801165928817664556-7630942664394963931?l=recallstack.blogspot.com"
    alt=""
    width="1"
    height="1"
  />
</div>
