---
slug: apagar-ordenador-al-terminar-de-descargar-torrents-con-transmission-en-gnome-3
categories:
  - Redes
  - Tutoriales
date: "2012-12-21T23:41:06Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  _wp_old_slug: apagar-ordenador-al-terminar-de-descargar-torrents-con-transmission-en-gnome-3-2
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gnome 3
  - torrent
  - Transmission
title: Apagar ordenador al terminar de descargar torrents con Transmission en Gnome 3
type: post
---

<p>
  La idea imagino que debería poder funcionar con cualquier gestor de descargas que
  permita ejecutar un script al finalizar todas las descargas.
</p>
<p>Primero, crea el script y dale permisos de ejecución:</p>
<pre>
echo "#!bash
gnome-session-quit --power-off" &gt; ~/Documentos/configuracion-linux/apagar.sh
chmod u+x ~/Documentos/configuracion-linux/apagar.sh</pre
>
<p>
  Ahora abre <a href="http://www.transmissionbt.com/">Transmission</a> y ve a
  <em>Editar &gt; Preferencias &gt; Downloading</em>, marca la casilla
  <em>Llamar a script cuando se completan los torrents</em>, y selecciona el<em>
    apagar.sh</em
  >
  que has creado antes.
</p>
<p>
  <a
    href="http://recallstack.wordpress.com/2012/12/21/apagar-ordenador-al-terminar-de-descargar-torrents-con-transmission-en-gnome-3-2/captura-de-pantalla-de-2012-12-21-231043/"
    rel="attachment wp-att-221"
    ><img
      class="aligncenter size-medium wp-image-221"
      alt="Configuración de Transmission"
      src="/assets/captura-de-pantalla-de-2012-12-21-231043.png?w=300"
      width="300"
      height="177"
  /></a>
</p>
<p>
  Si además quieres que esta configuración se quite antes de apagar, coloca esto antes
  de la linea correspondiente en el fichero <em>apagar.sh</em>.
</p>
<pre>
sed --in-place 's/"script-torrent-done-enabled": true/"script-torrent-done-enabled": false/' ~/.config/transmission/settings.json</pre
>
<p>Es algo salchichero, pero funciona.</p>
