---
slug: arrancar-linux-sin-entorno-grafico
categories:
  - GNU/Linux
date: "2012-04-02T21:00:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "8686682077590825309"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Glade
  - GRUB
  - GTK+
title: Arrancar Linux sin entorno gráfico
type: post
---

<h2>¿Pero qué ha pasado?</h2>
<p>
  Hoy he estado haciendo el moñas intentando actualizar
  <a href="http://www.gtk.org/">GTK+</a> a una versión más moderna para poder editar
  <a href="http://developer.gnome.org/gtkmm/3.2/classGtk_1_1TreeView.html">TreeViews</a>
  en <a href="http://glade.gnome.org/">Glade</a>, ya que estaba bloqueado por su
  <a href="https://bugzilla.gnome.org/show_bug.cgi?id=662255">bug 662255</a>.
</p>
<p>
  Total, que no me ha servido de nada y me ha tocado desactualizar. Para ello he usado
  los comandos de historial de yum, la mar de prácticos:
</p>
<pre>yum history list<br />yum history undo last</pre>
<p>
  Sin embargo, se ha dejado un par de paquetes sin desactualizar. Casualmente, los de
  GTK+, <b>de los que depende enteramente Gnome</b>. Al reiniciar,
  <b>no podía arrancar en modo consola ni gráfico</b>.<br />
</p>
<h2>¿Cómo arreglarlo?</h2>
<p>Fácil:</p>
<ol>
  <li>Inicia el ordenador.</li>
  <li>En GRUB toca alguna tecla para que no se cargue automáticamente.</li>
  <li>Selecciona la imagen que deseas cargar (¡pero no le des a Enter!).</li>
  <li>Pulsa el botón editar (la tecla <b>E</b>, como te pone en una nota debajo).</li>
  <li>
    Aparecen los comandos de carga del sistema. Busca la línea que empieza por
    <code>kernel</code> (normalmente la más larga) y añade al final un 3.
  </li>
</ol>
<p>Ya está.</p>
<p>
  Técnicamente, habrás arrancado el kernel en
  <a href="http://en.wikipedia.org/wiki/Runlevel">runlevel</a> 3, lo que en Fedora
  significa que cargará únicamente la consola.
</p>
<p>Una vez ahí, haces un <code>yum downgrade gtk3</code> y listo.</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-8686682077590825309?l=recallstack.blogspot.com"
    alt=""
  />
</div>
