---
slug: aumentar-tamano-de-una-particion-luks
categories:
  - Encriptación
  - GNU/Linux
  - Seguridad
date: "2016-05-19T00:15:14Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "22949548924"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - LUKS
  - LVM
title: Aumentar tamaño de una partición LUKS
type: post
---

<p>
  <a href="https://gitlab.com/cryptsetup/cryptsetup">LUKS</a> es un formato de archivos
  encriptado, que exige una contraseña para desencriptarse. Sin dicha clave, no se puede
  saber el contenido de un disco duro.
</p>
<p>
  Es compatible con
  <a href="https://es.wikipedia.org/wiki/Logical_Volume_Manager">LVM</a>, pero ¿qué
  sucede si quiero ampliar una partición LUKS que está en un volúmen lógico LVM?
</p>
<p><!--more--></p>
<p>
  Mi volúmen lógico LUKS se llama <code>fedora/01</code>, así que lo primero es
  aumentarle 200GiB:
</p>
<pre># lvm lvextend --resizefs --size +200G fedora/01</pre>
<p>
  Pero esto me da la siguiente advertencia de que la opción
  <code>--resizefs</code> no ha funcionado con la partición LUKS:
</p>
<pre>
fsadm: Filesystem "crypto_LUKS" on device "/dev/mapper/fedora-01" is not supported by this tool</pre
>
<p>Así que le cambiamos el tamaño a mano:</p>
<pre># cryptsetup resize luks-0ae0f0a-0aefa0se-f0a-se0fas</pre>
<p>
  Por último, puesto que la partición (una vez desencriptada con LUKS) tiene formato
  <a href="http://www.xfs.org/index.php/Main_Page">XFS</a> y está montada en
  <code>/home</code>, también la agrandaremos con:
</p>
<pre># xfs_growfs /home</pre>
