---
slug: autoinstalador-de-paquetes-en-fedora
categories:
  - Administración de sistemas
  - Curiosidades
  - Empaquetado de software
  - GNU/Linux
  - Programación
date: "2016-03-03T22:32:12Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "20408290239"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - Fedora
  - Fish
  - PackageKit
title: Autoinstalador de paquetes en Fedora
type: post
---

<p>
  No sé si esto está disponible en otras distribuciones, pero es una pasada. Escribes un
  comando, y si no encuentra el paquete que lo ejecuta, te lo instala automáticamente:
</p>
<p><!--more--></p>
<p>
  <a href="https://asciinema.org/a/38116" target="_blank"
    ><img src="/assets/38116.png" alt=""
  /></a>
</p>
<p>
  No sé qué paquete será el encargado de hacer esto... si alguien me puede iluminar, le
  estaré muy agradecido.
</p>
<p>
  En el ejemplo se usa mi querida shell
  <a href="http://fishshell.com/">Fish</a>, pero he comprobado que con
  <a href="https://www.gnu.org/software/bash/bash.html">Bash</a> también funciona.
</p>
