---
slug: averiguar-detalles-de-tu-hardware-graficamente-en-linux
categories:
  - Administración de sistemas
  - GNU/Linux
  - Hardware
date: "2013-01-08T22:39:08Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  tagazine-media:
    a:7:{s:7:"primary";s:49:"http://wiki.hardinfo.org/images/shots/Summary.png";s:6:"images";a:1:{s:49:"http://wiki.hardinfo.org/images/shots/Summary.png";a:6:{s:8:"file_url";s:49:"http://wiki.hardinfo.org/images/shots/Summary.png";s:5:"width";i:600;s:6:"height";i:404;s:4:"type";s:5:"image";s:4:"area";i:242400;s:9:"file_path";s:0:"";}}s:6:"videos";a:0:{}s:11:"image_count";i:1;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-01-10
    07:17:10";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Bancos de pruebas
  - benchmark
  - GUI
  - HardInfo
  - Linux
  - system profile
title: Averiguar detalles de tu hardware gráficamente en Linux
type: post
---

<p>
  Hay un programa muy práctico para esto:
  <a href="http://wiki.hardinfo.org/HomePage">HardInfo</a>. Fácilmente nos muestra el
  perfil del sistema y permite incluso hacer algunos bancos de pruebas.
</p>
<p>
  <img class="aligncenter" alt="" src="/assets/Summary.png" width="600" height="404" />
</p>
