---
slug: bloquear-ataques-por-ssh-2
categories:
  - Administración de sistemas
  - GNU/Linux
  - Privacidad
  - Redes
date: "2012-08-07T23:38:34Z"
meta:
  _edit_last: "5195209"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - acceso autorizado
  - Ataques
  - fail2ban
  - Fuerza bruta
  - rsa
  - SSH
  - ssh copy
title: Bloquear ataques por SSH
type: post
---

<h2>Detectar los ataques</h2>
<p>
  Dado que recientemente he dado de alta un servidor
  <a href="http://centos.org">CentOS</a>, con acceso
  <a href="https://es.wikipedia.org/wiki/Secure_Shell">SSH</a>, me preguntaba cuánto
  tardarían en llegarme los primeros
  <a href="https://es.wikipedia.org/wiki/Ataque_de_fuerza_bruta"
    >ataques de fuerza bruta</a
  >
  y
  <a href="https://es.wikipedia.org/wiki/Ataque_de_diccionario">de diccionario</a>. Han
  llegado mucho antes de lo esperado (en menos de 1 mes), y han sido más de
  <strong>4000</strong> intentos de acceder como root y más de <strong>13000</strong> de
  acceder como otro usuario antes de que me diera cuenta:
</p>
<pre>
# grep --count "Failed password for root" /var/log/secure*
4115

# grep --count "Failed password" /var/log/secure*
17358</pre
>
<p>
  Por suerte había desactivado el acceso a la cuenta <em>root</em>, y mi nombre de
  usuario no es uno muy usual, así que no han tenido éxito todavía, pero hay que ir
  tomando precauciones.
</p>
<h2>Bloquear a los atacantes automáticamente</h2>
<p>
  Usaremos <a href="http://www.fail2ban.org">fail2ban</a>, que está disponible en los
  repositorios, ya que <a href="http://sshguard.net">SSHGuard</a> no lo está, aunque
  parece algo más completo. Si tienes algún problema en la instalación, repasa las
  <a href="http://www.fail2ban.org/wiki/index.php/MANUAL_0_8">instrucciones</a>.
</p>
<pre>
# yum install fail2ban
# chkconfig fail2ban on
# service fail2ban start</pre
>
<p>
  La próxima vez que intenten molestarte, quedarán bloqueados durante un tiempo. Puedes
  configurar esto y más cosas en <em>/etc/fail2ban/jail.conf</em>.<strong
    ><br />
  </strong>
</p>
<h2>
  Prohibir el acceso por contraseña y forzar el uso de claves públicas y privadas
</h2>
<p>
  Prácticamente será imposible que un atacante tenga éxito y encima te ahorrarás teclear
  la contraseña cada vez que quieras acceder al servidor remoto.
</p>
<p>
  Primero hay que generar las claves. Puedes saltarte este paso si ya tienes unas:
</p>
<pre>$ ssh-keygen -t rsa</pre>
<p>Ahora añádelo a los certificados con acceso autorizado:</p>
<pre>$ ssh-copy-id tu-servidor.com</pre>
<p>
  Y por último, prohibiremos el acceso por contraseña poniendo en <em>no</em> la opción
  <em>PasswordAuthentication</em> del fichero <em>/etc/ssh/sshd_config</em>.
</p>
<h2>Más técnicas de seguridad</h2>
<p>
  Puedes consultar el
  <a href="http://wiki.centos.org/HowTos/Network/SecuringSSH"
    >manual de seguridad SSH de CentOS</a
  >, bastante completito.
</p>
