---
slug: cambiar-contrasena-de-clave-privada-ssh
categories:
  - Administración de sistemas
  - Encriptación
  - GNU/Linux
  - Programación
  - Seguridad
  - Tutoriales
date: "2015-11-11T22:25:11Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "16764953330"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - SSH
title: Cambiar contraseña de clave privada SSH
type: post
---

<p>
  Suponiendo que
  <a
    href="https://recallstack.wordpress.com/2014/01/31/gestiona-tus-sesiones-ssh-comodamente/"
    >ya tienes una clave privada SSH</a
  >, así cambiarías su contraseña:<!--more-->
</p>
<pre>$ ssh-keygen -f /ruta/a/tu/clave -p</pre>
