---
slug: cambiando-la-distribucion-de-teclado-por-defecto-de-fedora-18
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2013-04-02T15:43:01Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - loadkeys
  - Teclado
title: Cambiando la distribución de teclado por defecto de Fedora 18
type: post
---

<p>
  Da igual cuántas veces lo intentes y reinicies, Fedora insiste en que tienes un
  teclado inglés, pero no es así.
</p>
<p>Para solucionarlo una vez:</p>
<pre>$ sudo loadkeys es</pre>
<p>Lo de "es" significa "español". Para solucionarlo permanentemente:</p>
<pre>$ system-config-language</pre>
<p>
  Esta última solución requiere interfaz gráfica y permisos de <em>root</em>. Ahí eliges
  tu distribución de teclado, y arreando.
</p>
<hr />
<p>
  Editado: La solución permanente no funciona. Ver
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=952070">bug 952070</a>.
</p>
