---
slug: cambiar-el-indicador-de-bash-bash-prompt
categories:
  - GNU/Linux
date: "2011-02-27T13:24:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "2713127131012983006"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - Ubuntu
title: Cambiar el indicador de bash (bash prompt)
type: post
---

<p>
  Una de las cosas que me desesperan cuando escribo en la consola de Linux es que a
  veces cuesta bastante diferenciar lo que he escrito yo de lo que me ha respondido el
  sistema.
</p>
<p>
  Para solventar este problema, podemos modificar la variable del usuario llamada
  <code>$PS1</code>. Esta variable almacena el formato que guarda el <i>bash prompt</i>,
  que viene a ser lo que aparece cuando Linux quiere que le escribamos algo en la
  consola. Normalmente en Debian sale así por defecto, todo en blanco:
</p>
<pre>usuario@sistema:/ruta/en/la/que/estas$</pre>
<p>
  &nbsp;Si por curiosidad queremos ver cómo le hemos dicho a Linux que nos muestre eso,
  no hay más que escribir:
</p>
<pre>$ echo $PS1</pre>
<p>Esto nos devolverá algo parecido a lo siguiente:</p>
<pre>${debian_chroot:+($debian_chroot)}\u@\h:\w\$</pre>
<p>
  Normalmente Debian y derivadas nos ponen automáticamente un archivo en nuestro
  <code>$HOME</code> que establece estas cosas al iniciar sesión. Lo hallamos en
  <i>~/.bashrc</i>.<br />Una forma fácil de colorear el prompt es editar dicho archivo y
  descomentar (quitar el <code>#</code> que lleva delante) la línea que pone
  <code>force_color_prompt=yes</code>. Para editarlo usaremos:
</p>
<pre>$ nano ~/.bashrc</pre>
<p>
  Abre una nueva terminal y verás el cambio. ¿A que mejora? Pero aún puede mejorar
  más...<br />Intentemos entender cómo va esto. Nos olvidamos por un momento de la parte
  del principio (<code>${debian_chroot:+($debian_chroot)}</code>), que representa el
  chroot, pero eso son otras historias. Lo dejamos ahí, que no molesta.
</p>
<p>El resto son variables que queremos que nos muestre, por ejemplo:</p>
<ul>
  <li><code>\u</code> es el nombre del usuario.</li>
  <li><code>\h</code> es el nombre de la máquina.</li>
  <li><code>\w</code> es la ruta completa en la que estamos trabajando</li>
  <li>
    <code>\$</code> nos pone un <code>$</code> si somos un usuario normal, y un
    <code>#</code> si somos root (ahora entenderás por qué lo pongo siempre delante
    cuando pongo código en el blog).
  </li>
</ul>
<p>Pero estas no son las únicas disponibles, hay muchas otras muy prácticas:</p>
<ul>
  <li><code>\t</code> - Hora.</li>
  <li><code>\d</code> - Fecha.</li>
  <li><code>\n</code> - Nueva línea.</li>
  <li><code>\s</code> - Nombre del shell.</li>
  <li>
    <code>\W</code> - Nombre de la carpeta en la que estamos trabajando (sin la ruta
    completa)
  </li>
  <li><code>\#</code> - Número de comando introducido</li>
  <li><code>\!</code> - Número de historia del comando introducido</li>
</ul>
<p>
  Además de esto podemos poner colores, negrita, subrayado, color de fondo, etc., tan
  sólo con poner indicadores de formato teniendo en cuenta que todo el texto que siga al
  indicador de formato cambiará a ese formato hasta que se encuentre el siguiente
  indicador.<br />Los indicadores de formato empiezan por <code>\e[</code> y terminan
  por <code>m</code>, y normalmente se envuelven en corchetes (<code>[]</code>) para
  indicar que son caracteres que no deben mostrarse.<br />En la wiki de Arch Linux he
  encontrado una
  <a
    href="https://wiki.archlinux.org/index.php/Color_Bash_Prompt#List_of_colors_for_prompt_and_Bash"
    >lista bastante exhaustiva de colores y modificaciones</a
  >, a parte de una explicación mucho más detallada de todo lo que os estoy poniendo
  aquí, pero todo en inglés, como siempre.<br />Con toda esta información ya podemos
  hacer todas las pruebas que queramos y ponernos el prompt que nos apetezca. El mío
  ahora mismo es así:
</p>
<pre>
\[\e]0;\u@\h: \w\a\]\n\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\e[1;33m\]\t \[\e[1;32m\]\u\[\e[0;33m\]@\[\e[0;32m\]\h\[\e[00m\] \[\e[01;34m\]\w\n\[\e[1;33m\]\$ \[\e[00m\]</pre
>
<p>Para probarlo no tienes más que escribir:</p>
<pre>
$ PS1='\[\e]0;\u@\h: \w\a\]\n\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\e[1;33m\]\t \[\e[1;32m\]\u\[\e[0;33m\]@\[\e[0;32m\]\h\[\e[00m\] \[\e[01;34m\]\w\n\[\e[1;33m\]\$ \[\e[00m\]'</pre
>
<p>
  Además aquí tenemos un
  <a href="http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/"
    >tutorial exhaustivo de cómo manejar el bash prompt</a
  >
  en inglés.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-2713127131012983006?l=recallstack.blogspot.com"
    alt=""
  />
</div>
