---
slug: cambiar-el-buscador-por-defecto-de-la-barra-alucinante-de-firefox
categories:
  - Privacidad
  - Tutoriales
  - Web
date: "2013-01-17T14:46:21Z"
meta:
  _edit_last: "5195209"
  _oembed_0c6204a19f350accb90d99c8de7c59a0: "{{unknown}}"
  _oembed_b765069e5329d6d6d448f8a63a926785: "{{unknown}}"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Buscadores
  - DuckDuckGo
  - Firefox
title: Cambiar el buscador por defecto de la barra alucinante de Firefox
type: post
---

<ol>
  <li>
    Entra en
    <a
      class="zem_slink"
      href="http://es.wikipedia.org/wiki/About:#Mozilla_Firefox_y_SeaMonkey"
      rel="wikipedia"
      >about:config</a
    >.
  </li>
  <li>Acepta que tendrás cuidado.</li>
  <li>Busca <em>keyword.URL.</em></li>
  <li>Pulsa doble click sobre él.</li>
  <li>
    Escribe la parte inicial de la URL de búsqueda.
    <ol>
      <li>En mi caso: <em>https://duckduckgo.com/?q=</em></li>
    </ol>
  </li>
</ol>
