---
slug: cambiar-colores-de-la-terminal-empotrada-de-gedit
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2012-07-11T13:47:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "8205833255980927708"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gedit
  - Gnome
  - Gsettings
  - Terminal
title: Cambiar colores de la terminal empotrada de Gedit
type: post
---

<p>
  Desde que uso <a href="http://www.gnome.org/">Gnome</a> 3.4 no veo un pimiento en la
  terminal empotrada de <a href="http://projects.gnome.org/gedit/">Gedit</a>, porque
  aplica su propia paleta de colores, poniendo el texto en blanco y el fondo en gris
  suave.
</p>
<p>Para corregirlo:</p>
<pre>$ gsettings set org.gnome.gedit.plugins.terminal foreground-color "#FFFFFF"</pre>
<p>
  Así se ponen las letras en negro. Puedes usar cualquier color en
  <a
    href="https://es.wikipedia.org/wiki/Modelo_de_color_RGB#Codificaci.C3.B3n_hexadecimal_del_color"
    >RGB hexadecimal</a
  >.
</p>
<h6 class="blogger-post-footer">Editado:</h6>
<p>
  Gracias al comentario de
  <a href="http://twitter.com/costesito" rel="external nofollow"
    >Sir Co$t Granda (@costesito)</a
  >, hemos visto la luz. Para hacer el cambio permanente:
</p>
<pre>$ gsettings set org.gnome.gedit.plugins.terminal use-theme-colors false</pre>
<p>Para poner las letras en negro y el fondo en blanco:</p>
<pre>
$ gsettings set org.gnome.gedit.plugins.terminal foreground-color black
$ gsettings set org.gnome.gedit.plugins.terminal background-color white</pre
>
