---
slug: combinar-varios-pdf-en-uno-solo
categories:
  - GNU/Linux
date: "2015-05-14T15:15:30Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179077430"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Ghostscript
  - PDF
title: Combinar varios PDF en uno solo
type: post
---

<p>
  Suponiendo que tienes dos ficheros
  <a href="https://es.wikipedia.org/wiki/PDF">PDF</a> llamados <em>1.pdf</em> y
  <em>2.pdf</em> que quieres combinar en <em>combinado.pdf</em>:<!--more-->
</p>
<pre>
$ gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=combinado.pdf 1.pdf 2.pdf</pre
>
<p>
  Lo que estás haciendo es usar
  <a href="http://ghostscript.com/">Ghostscript</a>, y para ver la explicación de qué
  hace cada opción, lee
  <a
    href="https://www.linux.com/news/software/applications/8229-putting-together-pdf-files"
    >el artículo del que he sacado esto</a
  >.
</p>
