---
slug: como-compartir-los-accesos-directos-de-la-barra-de-inicio-entre-sesiones-de-windows
categories:
  - Administración de sistemas
  - Interfaz de usuario
date: "2014-10-08T15:30:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179428308"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Active Directory
  - Dominio
  - Windows
title:
  Cómo compartir los accesos directos de la barra de inicio entre sesiones de Windows
type: post
---

<h2>Situación</h2>
<p>
  Como todos conocemos y asumimos (sorprendentemente), Windows es un sistema que se
  guarrea automáticamente con el tiempo.
</p>
<p>
  Para evitarlo, hemos decidido <strong>virtualizar</strong> un escritorio
  <em>Windows 2008 Server R2</em> (con la idea equivocada de que por ser
  <em>Server</em> será más estable) e instalarlo en
  <strong>modo <em>amnésico</em></strong
  >, o <em>no persistente</em> (es decir, cada vez que apagas y enciendes la máquina
  virtual, los cambios desaparecen), programado para olvidar todo cada semana, pero
  trabajamos en un entorno con muchos usuarios que quieren guardar sus configuraciones
  para trabajar cómodamente.
</p>
<p>
  Para conseguirlo, utilizamos una directiva de grupo GPO en la que configuramos la
  redirección de directorios (Folder Redirection) y perfiles móviles (Roaming Profile
  Path) para que todas las configuraciones de usuario se guarden en discos duros de red
  que se encuentran fuera de esta máquina.
</p>
<h2>Problema</h2>
<p>
  Cuando un usuario
  <strong>ancla un acceso directo a la barra de inicio</strong>, todo funciona hasta que
  el servidor ejecuta su amnesia, tras lo cual
  <strong>desaparece misteriosamente</strong> de ahí.
</p>
<p>
  Nos ponemos a investigar, y resulta que en la ruta
  <code
    >%AppData%\Roaming\Microsoft\Internet Explorer\Quick Launch\User
    Pinned\TaskBar\</code
  >
  <strong>encontramos todos los accesos directos</strong> que el usuario ha anclado (de
  hecho, puede que hasta encuentres duplicados de alguno), así que... ¿por qué no le
  aparecen?<!--more-->
</p>
<h2>Motivo</h2>
<p>
  El problema radica en que, para que los accesos directos aparezcan en la barra de
  inicio, no solo hace falta tenerlos en la carpeta que hemos comentado antes, sino que
  <strong>además hacen falta las configuraciones</strong> que encontramos en la ruta
  <code
    >HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Taskband</code
  >
  <strong>del registro de Windows</strong> (que podemos abrir ejecutando
  <code>regedit.exe</code>), las cuales son olvidadas cada semana junto con el resto de
  cambios en el registro.
</p>
<h2>Solución</h2>
<p>
  Lo que vamos a hacer es crear
  <strong>dos scripts que se encarguen de respaldar y restaurar esas claves</strong>
  del registro cada vez que el usuario inicia o cierra la sesión. Ambos los colocaremos
  en una ruta en que todos los usuarios tengan permisos de lectura y ejecución.
</p>
<p>
  Creamos un fichero de texto llamado <code>taskbar-save.bat</code> que contenga esto:
</p>
<pre>
reg export HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Taskband %AppData%\taskband.reg</pre
>
<p>A este otro lo llamaremos <code>taskbar-load.bat</code>:</p>
<pre>reg import %AppData%\taskband.reg</pre>
<p>
  Ahora vamos a asignar esos scripts a donde les corresponde. Para ello, abrimos el
  <em
    >Administrador de directivas de grupo &gt; buscamos nuestro GPO &gt; botón derecho
    &gt; Editar &gt; Configuración de usuario &gt; Directivas &gt; Configuración de
    Windows &gt; Scripts (inicio de sesión o cierre de sesión)</em
  >, y encontraremos dos opciones.
</p>
<p>
  Haz doble click en
  <em
    >Iniciar sesión &gt; Agregar &gt; Selecciona el script
    <code>taskbar-load.bat</code> &gt; Aceptar</em
  >.
</p>
<p>
  Hacemos lo mismo en <em>Cerrar sesión</em>, pero seleccionamos
  <code>taskbar-save.bat</code>.
</p>
<p>
  Ahora, cada vez que un usuario cierre su sesión, se guardará su configuración de
  aplicaciones ancladas en <code>%AppData%\taskband.reg</code>, y cuando la vuelva a
  abrir, se cargará de ahí mismo.
</p>
