---
slug: como-crear-un-tema-nuevo-para-prestashop-1-5-0-13
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2012-06-30T11:42:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "4865690904296963187"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CSS
  - HTML
  - PrestaShop
title: Cómo crear un tema nuevo para PrestaShop 1.5.0.13
type: post
---

<p>
  Este <a href="http://www.prestashop.com/">PrestaShop</a> es muy nuevo (de hecho, ni
  siquiera es la versión estable) y va a ser complicado encontrar temas para él durante
  un tiempo (y mucho más gratuitos), así que vamos a ver cómo crearnos uno, pero antes
  una advertencia:
</p>
<h2>La superstición de que cualquiera puede diseñar una página web</h2>
<p>
  Tras años de dedicarme a esto, me he topado con una gran cantidad de supersticiosos
  que creen en que cualquier persona sin ningún conocimiento técnico ni de diseño puede
  diseñar una página web bonita y práctica.
  <strong>Es completamente falso</strong>.
</p>
<p>
  Si no es tu caso, te recomiendo que te conformes con la plantilla por defecto, busques
  otra gratuita o de pago, o contrates a un diseñador.
</p>
<p>
  Si sigues este micro tutorial, asumiré que, como mínimo, tienes conocimientos (aunque
  sean básicos) de
  <a href="https://es.wikipedia.org/wiki/File_Transfer_Protocol">FTP</a>,
  <a href="http://www.w3.org/Style/CSS/">CSS</a>, y
  <a href="http://www.w3.org/wiki/HTML">HTML</a>. También deberías estar familiarizado
  con <a href="http://getfirebug.com/"> Firebug</a> o alguno de sus derivados, y no
  vendría mal <a href="http://ihateinternetexplorer.com/">odiar Internet Explorer</a> y
  tener algunas nociones de
  <a href="https://es.wikipedia.org/wiki/JavaScript">Javascript</a> y
  <a href="https://es.wikipedia.org/wiki/PHP">PHP</a> con
  <a href="http://www.smarty.net/">Smarty</a>.
</p>
<p>
  ¡Ahm, y
  <a
    href="http://www.taringa.net/posts/offtopic/1579288/Las-paginas-web-mas-feas-del-planeta_.html"
    >no nos olvidemos del buen gusto</a
  >!
</p>
<h2>Duplicar el tema por defecto</h2>
<p>
  Esto es lo primero que habrá que hacer, para tener algo sobre lo que trabajar. Para
  ello, desde el back end:
</p>
<ol>
  <li>Ve a <em>Preferencias</em> &gt; <em>Temas</em>.</li>
  <li>Pulsa <em>Añadir nuevo</em>.</li>
  <li>Dale un nombre a la plantilla, por ejemplo <em>Prueba 1</em>.</li>
  <li>
    Dale un nombre al directorio en que la guardarás, por ejemplo
    <em>prueba1</em>.
  </li>
  <li>Elige el tema del que quieres partir, normalmente <em>default</em>.</li>
  <li>Guarda.</li>
</ol>
<p>
  Verás que ya tienes creado tu nuevo tema <em>Prueba 1</em>, y podrás seleccionarlo. De
  momento no es más que un duplicado del tema <em>default</em>. Ahora vamos a
  modificarlo.
</p>
<p>
  Accede a la carpeta en que instalaste PrestaShop (si lo tienes en un hosting,
  seguramente tendrás que acceder por FTP), y dentro de la carpeta
  <em>themes</em> encontrarás una carpeta llamada <em>prueba1</em>, que será la copia de
  <em>default</em> que hemos creado. Trabajaremos sobre ella.
</p>
<h2>Entendiendo el árbol de ficheros</h2>
<p>Resumiré un poco los tipos de fichero que encontraremos:</p>
<ul>
  <li><em>.tpl</em>: Plantillas Smarty.</li>
  <li><em>.xml</em>: Configuraciones.</li>
  <li>
    <em>preview.jpg</em>: Miniatura de la plantilla, la que se ve al seleccionarla en el
    back end.
  </li>
</ul>
<p>
  El resto os deben ser bastante conocidos, y si no, tenéis una completa explicación en
  la
  <a
    href="http://doc.prestashop.com/pages/viewpage.action?pageId=5144604#Codificaci%C3%B3ndeuntema-Creaci%C3%B3ndesupropiotema"
    >documentación oficial de PrestaShop para diseñadores</a
  >.
</p>
<h2>Realizando los cambios</h2>
<p>
  Claro, ahora hay 200 plantillas y chorrocientos CSS, mas los que están en los módulos
  directamente (no están en el tema). Bueno, ya depende del tiempo y ganas que tengas,
  pero personalmente encontré que lo más sencillo era:
</p>
<ol>
  <li>Abrir el fichero <em>css/global.css</em>.</li>
  <li>Añadir <code>@import url('custom.css');</code> al principio.</li>
  <li>Crear el susodicho fichero <em>custom.css</em> en la carpeta <em>css</em>.</li>
  <li>Abrir <em>css/custom.css</em> y escribir ahí todos los cambios que quisiera.</li>
</ol>
<p>
  Si optas por esta opción, te encontrarás con el problema de que, al hacer el paso 2 al
  principio del fichero, cualquier cambio será reemplazado y parecerá que no sirve. Esto
  es porque
  <a href="http://www.w3.org/TR/CSS2/cascade.html#cascading-order"
    >ante selectores iguales, CSS toma el último declarado</a
  >, y el tuyo está al principio del todo, por lo que pasa a ser el menos importante de
  todos.
</p>
<p>Tienes 2 soluciones posibles:</p>
<ul>
  <li>
    <a href="http://www.w3.org/TR/CSS2/cascade.html#important-rules"
      >Puedes añadir <code>!important</code> a cualquier cláusula</a
    >
    para forzar fácilmente a que sobrescriba a las demás.
  </li>
  <li>
    Puedes hacer el selector más específico que el que viene por defecto. Por ejemplo,
    si quieres sobrescribir el selector <code>.block h4</code>, puedes hacerlo con
    <code>body .block h4</code>.
  </li>
</ul>
<div class="blogger-post-footer">
  <img class="igznrhwodudomwzhkqeu" src="/assets/" alt="" width="1" height="1" />
</div>
