---
slug: como-encender-un-telefono-android-con-el-boton-de-encender-roto
categories:
  - Android
  - Hardware
date: "2014-11-26T16:08:42Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179183617"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Cómo encender un teléfono Android con el botón de encender roto
type: post
---

<p>
  Bastante típico: se te ha estropeado el botón de encender el teléfono y te has quedado
  sin teléfono.<!--more-->
</p>
<p>
  <a
    href="http://forums.androidcentral.com/verizon-galaxy-s-iii/307634-broken-power-button-there-any-other-way-turn-phone-2.html#post3924166"
    >Solución</a
  >: Con la batería puesta,
  <strong>enchúfale el cargador exactamente 3 segundos</strong>, y entonces
  desenchúfalo. Si ves que aparece el dibujo de la batería cargándose es que has tardado
  demasiado, pero vuelve a probar.
</p>
<p>
  Ahora, intenta que no se te vuelva a apagar. Para ello, si ves que tiene baja batería,
  ponlo en modo avión, desactívale el GPS y deja la pantalla apagada hasta que lo
  vuelvas a cargar. En este estado, el teléfono puede durar varios días sin que se le
  gaste la batería.
</p>
