---
slug: como-conseguir-el-100-de-seguridad-en-tus-sistemas-informaticos-wannacry
categories:
  - Seguridad
date: "2017-05-13T09:41:27Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/863335052285026305";}}
  _publicize_job_id: "5000243698"
  _rest_api_client_id: "2697"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/UWMUBnsNZxu
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: "Cómo conseguir el 100% de seguridad en tus sistemas informáticos #WannaCry"
type: post
---

<blockquote>
  <p>
    Los que estamos en esto sabemos que alcanzar el 100% de seguridad es un hito solo al
    alcance la imaginación de los que no saben de seguridad<br />
    -&nbsp;<a
      href="http://www.elladodelmal.com/2017/05/el-ataque-del-ransomware-wannacry.html"
      >Chema Alonso</a
    >
  </p>
</blockquote>
<p>Creo ​que es la mejor respuesta posible.</p>
