---
slug: como-compilar-cc-a-javascript
categories:
  - Noticias
  - Programación
  - Web
date: "2013-01-08T23:34:52Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - C
  - ECMAScript
  - Emscripten
  - HTML
  - JavaScript
  - LLVM
title: Cómo compilar C/C++ a JavaScript
type: post
---

<p>
  Usando <a href="https://github.com/kripken/emscripten">Emscripten</a>, que compila de
  <a href="http://llvm.org/">LLVM</a> a
  <a href="https://es.wikipedia.org/wiki/JavaScript">JavaScript</a> sin despeinarse.
  Partiendo de la base que nunca he programado en
  <a href="https://es.wikipedia.org/wiki/C_%28lenguaje_de_programaci%C3%B3n%29">C</a>
  ni <a href="http://isocpp.org/">C++</a>, sé que son los lenguajes en que se basan casi
  todos los demás.
</p>
<p>
  El LLVM es una especie de capa de abstracción a la hora de compilar. Múltiples
  lenguajes se pueden traducir a LLVM, y eso provoca que ahora puedas ejecutar en el
  navegador de forma nativa prácticamente cualquier programa. Sin duda, HTML5 tiene un
  potencial bestial. Mira las
  <a href="https://github.com/kripken/emscripten/wiki">demos de Emscripten</a> y quédate
  boquiabierto un ratito.
</p>
