---
slug: como-forzar-el-cierre-de-todas-las-sesiones-abiertas-en-openerp-7-0
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
date: "2014-02-18T15:05:23Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - OpenERP
  - SSH
  - sudo
title: Cómo forzar el cierre de todas las sesiones abiertas en OpenERP 7.0
type: post
---

<p>Accede por SSH al servidor de OpenERP y ejecuta:</p>
<pre>$ sudo -u openerp bash -c "rm /tmp/oe-sessions-openerp/*"</pre>
