---
slug: como-restaurar-la-fecha-aproximada-a-las-fotos-de-whatsapp
categories:
  - Android
  - Curiosidades
  - GNU/Linux
  - Humor
date: "2015-05-04T22:30:04Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179098408"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - curl
  - EXIF
  - JPEG
  - Shotwell
  - WhatsApp
title: Cómo restaurar la fecha (aproximada) a las fotos de WhatsApp
type: post
---

<p>
  Una de las cosas más curiosas que suceden hoy en día es que
  <strong
    >la gente se pelea por tener un teléfono con más megapíxeles que nadie, para luego
    mandar las fotos por <a href="http://www.whatsapp.com/">WhatsApp</a> y que pierdan
    toda su calidad</strong
  >.
</p>
<p>
  Ironías aparte, lo que más me fastidia de todo en realidad es que WhatsApp le quita
  los metadatos
  <a href="http://es.wikipedia.org/wiki/Exchangeable_image_file_format">EXIF</a>
  a las imágenes.
</p>
<h2>¿Para qué sirven los metadatos EXIF?</h2>
<p>
  Contienen un montón de información valiosa para los amantes de la fotografía, o para
  cualquiera que guste de organizarse bien su colección de fotos:
</p>
<ul>
  <li>Cámara con que se tomó.</li>
  <li>Coordenadas GPS de dónde se tomó.</li>
  <li>Fecha en que se tomó.</li>
  <li>Etc.</li>
</ul>
<p>
  Con esos datos, puedes comparar qué tal saca las fotos tal o cual cámara o teléfono, y
  así no llevarte sorpresas si lo compras.
</p>
<p>
  También (lo que más me interesa para esta entrada), un programa de organización de
  colecciones de fotos puede
  <strong>usar la fecha para organizarte las fotos automáticamente</strong>, o la
  ubicación para pintártelas en un mapa.<!--more-->
</p>
<h2>¿Qué pasa cuando le quito la fecha a las imágenes?</h2>
<p>
  Programas como <a href="https://wiki.gnome.org/Apps/Shotwell">Shotwell</a> ya no son
  capaces de determinar en qué fecha se tomó la imagen, así que no te la pueden
  organizar.
</p>
<p>
  Por otro lado, resulta <strong>imposible</strong> determinar en qué fecha y hora
  exactas se tomaron, pero hay algo que todavía nos puede valer: la fecha de última
  modificación del fichero. Normalmente coincidirá con la fecha en que WhatsApp grabó la
  foto en tu teléfono.
</p>
<h2>Cómo grabar la fecha de última modificación en EXIF</h2>
<p>
  <a href="https://bitbucket.org/snippets/yajo/k75k"
    >He colgado un script llamado <code>ctime2exif.sh</code></a
  >
  que te servirá para eso.
</p>
<p>
  <strong>Antes de usarlo, crea una copia de seguridad</strong> de las imágenes, por si
  algo sale mal. Copiarlas a otro directorio debería bastar.
</p>
<p>
  Recuerda que
  <a
    href="https://recallstack.wordpress.com/2013/08/16/descargar-y-ejecutar-un-script-bash-en-un-comando-ej-winetricks/"
    >puedes descargarlo y ejecutarlo con un solo comando</a
  >:
</p>
<pre>
$ curl --silent https://bitbucket.org/api/2.0/snippets/yajo/k75k/tip/files/ctime2exif.sh | bash /dev/stdin *.jpg</pre
>
<p>Ya tendrás tus fotos listas para organizar con Shotwell.</p>
