---
slug: como-usar-mock-para-empaquetar-en-rpm
categories:
  - Administración de sistemas
  - Empaquetado de software
  - GNU/Linux
  - Tutoriales
date: "2013-08-09T17:40:07Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  _zemanta_has_recommendations: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - mock
  - RPM
title: Cómo usar mock para empaquetar en RPM
type: post
---

<p>
  Una cosa es
  <a
    title="Empaquetado RPM"
    href="http://recallstack.wordpress.com/2012/02/05/empaquetado-rpm/"
    >hacer paquetes RPM</a
  >, y otra es hacerlos bien.
</p>
<p>
  Cada distro tiene sus manías. En cuanto a
  <a
    class="zem_slink"
    title="Fedora (operating system)"
    href="http://www.fedoraproject.org/"
    target="_blank"
    rel="homepage"
    >Fedora</a
  >, usan <a href="http://fedoraproject.org/wiki/Projects/Mock">mock</a> para esos
  menesteres.
</p>
<p>Se usa así:</p>
<pre>$ mock --root fedora-19-x86_64 ~/rpmbuild/SRPMS/tu-paquete-construido.src.rpm</pre>
<p>
  Crea un <a href="http://es.wikipedia.org/wiki/Chroot">chroot</a> con la configuración
  por defecto que le pedimos en el parámetro <code>--root</code> (hay muchas, se
  autocompleta), trata de instalar sus dependencias y de construir el paquete indicado,
  y si algo falla, te lo dice.
</p>
