---
slug: como-cambiar-los-atajos-de-teclado-en-las-aplicaciones-gnome
categories:
  - Administración de sistemas
  - GNU/Linux
  - Interfaz de usuario
  - Tutoriales
date: "2013-08-04T11:46:11Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  _zemanta_has_recommendations: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - atajos de teclado
  - Gedit
  - Gnome
  - GNUCash
  - keyboard shortcuts
title: Cómo cambiar los atajos de teclado en las aplicaciones GNOME
type: post
---

<p>
  Estaba buscándolo para
  <a
    class="zem_slink"
    title="GnuCash"
    href="http://www.gnucash.org"
    target="_blank"
    rel="homepage"
    >GNUCash</a
  >
  y resulta la
  <a href="http://lists.gnucash.org/pipermail/gnucash-user/2012-September/045837.html"
    >solución</a
  >
  funciona en cualquier aplicación
  <a
    class="zem_slink"
    title="GNOME"
    href="http://www.gnome.org"
    target="_blank"
    rel="homepage"
    >GNOME</a
  >, como
  <a
    class="zem_slink"
    title="Gedit"
    href="http://projects.gnome.org/gedit/"
    target="_blank"
    rel="homepage"
    >Gedit</a
  >
  y otras.
</p>
<p>Simplemente ejecuta en una terminal:</p>
<pre>$ gsettings set org.gnome.desktop.interface can-change-accels true</pre>
<p>
  Ahora, cuando estés moviendo el ratón sobre una de las opciones del menú, pulsa
  cualquier combinación de teclas y quedará mágicamente asignada a esa acción.
</p>
