---
slug: como-escoger-el-kernel-que-se-usara-por-defecto-en-ubuntu-16-04
categories:
  - GNU/Linux
date: "2017-11-20T18:15:57Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/932658875295084544";}}
  _publicize_job_id: "11646539699"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/Sg2ZgooCmRR
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Kernel
title: Cómo escoger el kernel que se usará por defecto en Ubuntu 16.04
type: post
---

<p>
  Resulta que tengo un kernel que falla y quiero activar por defecto uno más antiguo en
  un servicor Ubuntu 16.04. ¿Cómo lo hago?
</p>
<p><!--more--></p>
<h2>Averigua el kernel bueno en un servidor que no dé problemas</h2>
<p>En ese servidor ejecuta:</p>
<pre>
$ uname -r
4.10.0-37-generic</pre
>
<p>Ya tenemos el kernel bueno.</p>
<h2>Instala el kernel bueno en el servidor que falla</h2>
<p>Simple:</p>
<pre># apt install linux-image-4.10.0-37-generic</pre>
<h2>Averigua la línea de grub que corresponde al kernel</h2>
<p>
  En <code>/boot/grub/grub.cfg</code> encontramos toda la configuración de Grub, así que
  vamos a buscar la entrada del kernel que quiero que sea el que se arranque por
  defecto. En mi caso es el <code>4.10.0-37-generic</code>, así que ejecuto esto:
</p>
<pre>
# grep -E 'menuentry.*4.10.0-37-generic' /boot/grub/grub.cfg

 menuentry 'Ubuntu, with Linux 4.10.0-37-generic' --class ubuntu --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-4.10.0-37-generic-advanced-de41c4d3-5429-4c65-8624-9e4b4619f280' {
 menuentry 'Ubuntu, with Linux 4.10.0-37-generic (recovery mode)' --class ubuntu --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-4.10.0-37-generic-recovery-de41c4d3-5429-4c65-8624-9e4b4619f280' {</pre
>
<p>
  De las 2 líneas que me ha devuelto, la 2ª es la del modo <em>recovery</em>, así que me
  interesa la primera. Copiaré el churro que aparece al final:
  <code>gnulinux-4.10.0-37-generic-advanced-de41c4d3-5429-4c65-8624-9e4b4619f280</code>.
</p>
<h2>Utiliza dicho kernel para el próximo reinicio</h2>
<p>
  El kernel por defecto se escoge en <code>/etc/default/grub</code>, y es el que está
  seleccionado en la variable <code>GRUB_DEFAULT</code>. Por defecto, encontrarás
  <code>GRUB_DEFAULT=0</code>, que significa que usará el primer kernel de la lista.
</p>
<p>
  En mi caso, quiero que use un kernel concreto, así que le pegaré en esa línea el ID
  del kernel que he copiado antes, por duplicado y separado con
  <code>&gt;</code>; quedará como:
</p>
<pre>
GRUB_DEFAULT='gnulinux-4.10.0-37-generic-advanced-de41c4d3-5429-4c65-8624-9e4b4619f280&gt;gnulinux-4.10.0-37-generic-advanced-de41c4d3-5429-4c65-8624-9e4b4619f280'</pre
>
<p>El resto de opciones las dejo sin tocar.</p>
<h2>Actualiza la configuración de grub</h2>
<p>Fácil también:</p>
<pre># update-grub</pre>
<h2>Reinicia</h2>
<pre># reboot</pre>
<p>Tras reiniciar, deberías tener el kernel correcto cargado:</p>
<pre>
$ uname -r
4.10.0-37-generic</pre
>
