---
slug: como-migrar-un-repositorio-de-bazaar-a-git
categories:
  - GNU/Linux
  - Programación
date: "2014-07-26T10:13:16Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179463451"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Bazaar
  - bzr
  - Git
title: Cómo migrar un repositorio de Bazaar a Git
type: post
---

<p>
  Recientemente hablábamos de
  <a
    title="Escogiendo control de versiones (bzr, git, hg)"
    href="http://recallstack.wordpress.com/2014/04/04/escogiendo-control-de-versiones-bzr-git-hg/"
    >cómo escoger un control de versiones</a
  >. Suponiendo que hayas escogido Bazaar y luego hayas querido cambiar a Git, esto te
  será útil:<!--more-->
</p>
<pre>
# yum -y install git bzr-fastimport
$ git init nuevo-repo.git
$ cd nuevo-repo.git
$ bzr fast-export ../viejo-repo.bzr | git fast-import</pre
>
<p>
  Por supuesto, si usas otra distro, cambia la primera línea por su instalador de
  paquetes correspondiente.
</p>
