---
slug: como-instalar-whatsapp-en-una-tablet-android
categories:
  - Android
date: "2014-10-30T15:53:08Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179401272"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Cómo instalar WhatsApp en una tablet Android
type: post
---

<p>WhatsApp... Cómo lo detesto.</p>
<p>
  Para que no me esté pitando todo el día el móvil, decidí instalarlo en la tableta,
  pero resulta que solo está disponible para móviles.<!--more-->
</p>
<p>
  Gracias al
  <a
    href="http://www.abc.es/tecnologia/consultorio/20130511/abci-instalar-whatsapp-tablet-201305101529_1.html"
    >blog de tecnología de ABC</a
  >
  encontré la solución, que es descargar manualmente
  http://www.whatsapp.com/android/current/WhatsApp.apk e instalarlo.
</p>
<p>Recuerda que así no tienes actualizaciones automáticas.</p>
