---
slug: como-poner-de-diapositivas-como-fondo-de-escritorio-en-ubuntu
categories:
  - Diseño
  - GNU/Linux
  - Interfaz de usuario
  - Tutoriales
date: "2011-02-16T15:24:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "3882893608191899273"
  blogger_author: Abel
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gnome
  - Ubuntu
title: Como poner de diapositivas como fondo de escritorio en ubuntu
type: post
---

<p>
  Lo primero es lo primero así que avisar que hay una forma de hacerlo manualmente, que
  es de la siguiente manera:
</p>
<pre>&lt;background&gt;<br />    &lt;static&gt;<br />        &lt;duration&gt;tiempo que estara el fondo de escritorio&lt;/duration&gt;<br />        &lt;file&gt;enlace de la imagen(ej:/home/..)&lt;/file&gt;<br />        &lt;transition&gt;<br />            &lt;duration&gt;duracion del cambio de un fondo a otro&lt;/duration&gt;<br />            &lt;from&gt;enlace de la imagen(ej:/home/..)&lt;/from&gt;<br />            &lt;to&gt;enlace de la imagen(ej:/home/..)&lt;/to&gt;<br />        &lt;/transition&gt;<br />    &lt;/static&gt;<br />&lt;/blackground&gt;<br /></pre>
<p>
  Y así con todos los fondos si os cansáis encontré un programa muy bueno.<br />En
  centro de software de Ubuntu poned en el buscador <b>Desktop Nova</b> y voilà lo mismo
  de antes pero más sencillo, se pone la carpeta que tengáis las fotos y las cambia
  aleatoriamente.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-3882893608191899273?l=recallstack.blogspot.com"
    alt=""
  />
</div>
