---
slug: como-acceder-a-un-sitio-web-https-con-firefox-si-me-da-un-error-sec_error_untrusted_issuer-y-cuando-intento-anadir-la-excepcion-del-certificado-me-dice-que-el-certificado-es-valido
categories:
  - Redes
  - Seguridad
  - Web
date: "2013-04-23T15:37:16Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Firefox
  - HTTP Secure
title:
  ¿Cómo acceder a un sitio web HTTPS con Firefox si me da un error
  sec_error_untrusted_issuer y, cuando intento añadir la excepción del certificado, me
  dice que el certificado es válido?
type: post
---

<p>Repaso, que me ha quedado muy largo el título.</p>
<p>
  Tratando de acceder a un servidor
  <a
    class="zem_slink"
    title="HTTP Secure"
    href="http://es.wikipedia.org/wiki/Hypertext_Transfer_Protocol_Secure"
    target="_blank"
    rel="wikipedia"
    >https</a
  >
  propio (porque acceder a uno público que tiene un certificado no válido es
  <strong>peligroso</strong>) me daba un error sec_error_untrusted_issuer, o sea, que el
  certificado no es de confianza.
</p>
<p>
  Hasta aquí todo normal. Voy a añadir la excepción y mi querido Firefox 20 me dice:
  "Este sitio proporciona identificación válida y verificada. No hay necesidad de añadir
  una excepción." No me deja añadir la excepción. Perfecto. ¿Qué hago?
</p>
<p>
  Finalmente la solución era fácil:
  <strong>borrar la caché y volver a intentarlo</strong>.
</p>
