---
slug: como-borrar-todos-los-datos-de-un-disco-duro
categories:
  - Administración de sistemas
  - GNU/Linux
  - Privacidad
  - Seguridad
date: "2015-04-20T15:50:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179137796"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gnome
  - GNOME Disks
  - GParted
title: Cómo borrar todos los datos de un disco duro
type: post
---

<p>
  Primero, necesitas saber la ruta a tu partición o disco que deseas vaciar. Para ello
  puedes usar utilidades como
  <a href="http://gparted.sourceforge.net/">GParted</a> o
  <a href="https://git.gnome.org/browse/gnome-disk-utility/">GNOME Disks</a>. En mi
  caso, el dispositivo es <code>/dev/sdb</code>, así que sólo tengo que ejecutar:<!--more-->
</p>
<pre># dd if=/dev/zero of=/dev/sdb</pre>
