---
slug: como-depurar-__main__-py
categories:
  - Programación
date: "2014-01-28T15:30:02Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Cómo depurar __main__.py
type: post
---

<p>
  A veces estás escribiendo un módulo Python y quieres que se pueda ejecutar como un
  script, para lo cual le creas un fichero <code>__main__.py</code> en su directorio
  raíz.El problema de esto es que te obliga a ejecutarlo siempre como
  <code
    ><a href="http://docs.python.org/3/using/cmdline.html#cmdoption-m">python -m</a>
    nombremodulo</code
  >, y muchas veces los depuradores no son capaces de entender eso.
</p>
<p>
  ¿Solución? Ejecutar directamente <code>__main__.py</code>. Solo que esto plantea otro
  problema: que entonces no puedes realizar importaciones relativas.
</p>
<p>
  ¿Solución real? Añade siempre este código al principio de tu
  <code>__main__.py</code>:
</p>
<pre>
import os
import sys
from importlib import import_module

# Emular la ejecución como módulo si se ejecuta como script
if __name__ == '__main__' and __package__ is None:
    parent_dir = os.path.abspath(os.path.dirname(__file__))
    sys.path.append(os.path.dirname(parent_dir))
    __package__ = os.path.basename(parent_dir)
    import_module(__package__)</pre
>
<p>
  Con eso consigues que los siguientes dos comandos sean equivalentes. Usa el 2º para
  depurar:
</p>
<pre>
$ python -m nombremodulo
$ python ./nombremodulo/__main__.py</pre
>
