---
slug: como-iniciar-un-servidor-ssh-en-fedora-17
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
  - Seguridad
date: "2013-01-04T14:58:13Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - SSH
title: Cómo iniciar un servidor SSH en Fedora 17
type: post
---

<pre><code># systemctl enable sshd.service
# systemctl start sshd.service</code></pre>
