---
slug: como-activar-los-graficos-buenos-tras-instalar-fedora-en-modo-basico
categories:
  - Administración de sistemas
  - GNU/Linux
  - Tutoriales
date: "2015-12-18T21:54:48Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "17925953144"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Gráficos
  - GRUB
title: Cómo activar los gráficos buenos tras instalar Fedora en modo básico
type: post
---

<p>
  Hoy al instalar <strong>Fedora 23</strong> desde cero, no lograba cargar el LiveCD
  hasta que le he puesto la opción de usar <strong>gráficos básicos</strong>.
</p>
<p>
  Claro, al instalar, esa opción se queda grabada y pierdes toda la potencia de tu
  tarjeta gráfica. <strong>¿Cómo recuperarla tras la instalación?</strong>
</p>
<p>
  Ahora, gracias al
  <a href="http://forums.fedoraforum.org/showthread.php?t=299765">foro de Fedora</a>, la
  solución.<!--more-->
</p>
<h3>Comprueba si puedes</h3>
<ol>
  <li>Reinicia el ordenador.</li>
  <li>Cuando estés en la pantalla de GRUB, pulsa <em>e</em>.</li>
  <li>
    Elimina la palabra <code>nomodeset</code> de la línea que comienza por
    <code>linux</code> (suele ser la más larga).
  </li>
  <li>Pulsa <em>Ctrl+X</em> para arrancar.</li>
</ol>
<p>Si arranca y todo funciona bien, estás listo para la siguiente sección.</p>
<h3>Guarda los cambios</h3>
<ol>
  <li>
    Edita <code>/etc/default/grub</code> y quita <code>nomodeset</code> de
    <code>GRUB_CMDLINE_LINUX</code>.
  </li>
  <li>
    Crea un nuevo fichero grub.cfg:
    <ul>
      <li>
        Si tienes BIOS:
        <pre># grub2-mkconfig --output /boot/grub2/grub.cfg</pre>
      </li>
      <li>
        Si tienes UEFI:
        <pre># grub2-mkconfig --output /boot/efi/EFI/fedora/grub.cfg</pre>
      </li>
    </ul>
  </li>
</ol>
