---
slug: como-conectar-a-una-impresora-ipp-desde-windows
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
  - Tutoriales
  - Windows
date: "2015-04-28T15:14:00Z"
meta:
  _edit_last: "5195209"
  _oembed_88a2f2cd37362dc38f7347f25a3aca55: "{{unknown}}"
  _oembed_6045f87a0afb5761ca9c08ba85395c37: "{{unknown}}"
  _publicize_job_id: "18179121040"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CUPS
  - Impresoras
  - IPP
title: Cómo conectar a una impresora IPP desde Windows
type: post
---

<p>
  Es posible que tengas un servidor <a href="http://cups.org/">CUPS</a> al que quieras
  conectar con tu máquina Windows, pero no te sea posible. Veamos cómo hacerlo.
</p>
<ol>
  <li>
    Desde el cliente Windows, ve a
    <em
      >Panel de control &gt; Dispositivos e impresoras &gt; Agregar una impresora &gt;
      Agregar una impresora de red &gt; La impresora deseada no está en la lista &gt;
      Seleccionar una impresora compartida por nombre</em
    >.
  </li>
  <li>
    En la caja de texto, introduce la dirección
    <a href="http://es.wikipedia.org/wiki/Internet_Printing_Protocol">IPP</a> en formato
    HTTP. Es decir, la dirección <code>ipp://example.com/printers/impresora1</code> se
    transformará en <code>http://example.com:631/printers/impresora1</code>.
    <ul>
      <li>
        Si te da un error diciendo que no se puede conectar a la impresora, más abajo te
        explico cómo solucionarlo.
      </li>
    </ul>
  </li>
  <li>Escoge el controlador <em>Generic &gt; MS Publisher Imagesetter</em>.</li>
</ol>
<p>¡Listo! Ya has conectado a tu servidor por IPP.</p>
<p>Claro, hay algunos problemas:<!--more--></p>
<h2>No puedo imprimir a doble cara</h2>
<p>
  Lamentablemente, el controlador <em>MS Publisher Imagesetter</em> es muy básico y no
  puedes escoger bandejas, ni imprimir a doble cara, etc.
</p>
<p>
  La solución es crear más impresoras virtuales desde CUPS que sean la misma pero con
  diferentes opciones por defecto, y escoger la que tenga las opciones que necesitas al
  imprimir.
</p>
<p>
  Por ejemplo, para la impresora a color, puedes tener
  <em>color-1-cara, color-2-caras, color-bandeja-1, color-bandeja-2</em>, etc.
</p>
<p>
  Esto es un rollo, pero cuando tienes problemas con un controlador (<a
    href="https://recallstack.wordpress.com/2014/11/21/dar-permiso-a-un-grupo-de-usuarios-de-ad-para-reiniciar-el-servicio-de-cola-de-impresion-en-windows/"
    >como me pasa a mí con los de HP</a
  >) esto te sirve para usar un controlador más básico usando CUPS como <em>proxy</em>,
  y que sea él quien se encargue de la comunicación real con la impresora. En mi
  oficina, esto ha resucitado varias impresoras.
</p>
<h2>No puedo conectar a la impresora</h2>
<p>Llegados al punto 2, puede que Windows te escupa este error:</p>
<p>
  [caption id="attachment_745" align="aligncenter" width="300"]<a
    href="https://recallstack.files.wordpress.com/2015/04/captura-de-pantalla-de-2015-04-28-091319.png"
    ><img
      class="size-medium wp-image-745"
      src="/assets/captura-de-pantalla-de-2015-04-28-091319.png?w=300"
      alt="Windows no se pudo conectar a la impresora. Compruebe el nombre de la impresora e inténtelo de nuevo. Si es una impresora de red, asegúrese de que la impresora esté encendida y de que la dirección de la impresora es correcta."
      width="300"
      height="211"
  /></a>
  Error al agregar impresora IPP a Windows[/caption]
</p>
<p>
  Probablemente no esté instalado el cliente IPP en tu Windows. La ayuda de Windows nos
  indica cómo instalarlo:
</p>
<blockquote>
  <p>
    Para instalar el Cliente de impresión en Internet, siga uno de los métodos
    siguientes:
  </p>
  <ul>
    <li>
      En Windows 7: en Panel de control, haga clic en Programas y características, haga
      clic en Activar o desactivar las características de Windows, expanda Servicios de
      impresión y documentos, active la casilla Cliente de impresión en Internet y, a
      continuación, haga clic en Aceptar.
    </li>
    <li>
      En Windows Server 2008 R2: en el Administrador del servidor, haga clic en Agregar
      características, active la casilla Cliente de impresión en Internet y, a
      continuación, haga clic en Aceptar.
    </li>
  </ul>
</blockquote>
<p>
  Ahora
  <a
    href="https://social.technet.microsoft.com/Forums/windowsserver/en-US/8e6130df-acba-4a8c-b984-a455667e9e49/windows-2008-r2-cannot-add-an-ipp-printer?forum=winserverprint#c8b92d48-33b4-46f2-b95a-08acdb4e76cd"
    >reinicia el servicio de impresión</a
  >. Puedes hacerlo desde <code>services.msc</code> o directamente desde la línea de
  comandos ejecutando:
</p>
<pre>sc stop spooler &amp;&amp; sc start spooler</pre>
<p>Por último, vuelve a repetir el tutorial y ahora debería dejarte seguir.</p>
<p>
  Si aún así no te deja, es posible que haya alguna política de seguridad bloqueando el
  servidor. Intenta visitarlo desde Internet Explorer (sí, has leído bien), y si te da
  mensajes de error por zona de confianza, agrégalo a los sitios de confianza.
</p>
