---
slug: como-poner-contrasenas-seguras-y-faciles-de-recordar
categories:
  - Privacidad
date: "2012-12-04T22:36:14Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Contraseñas
  - Seguridad
title: Cómo poner contraseñas seguras y fáciles de recordar
type: post
---

<p>
  Seguiremos el consejo que nos da el autor de
  <a
    class="zem_slink"
    title="Xkcd"
    href="http://maps.google.com/maps?ll=42.39561,-71.13051&amp;spn=1.0,1.0&amp;q=42.39561,-71.13051 (Xkcd)&amp;t=h"
    target="_blank"
    rel="geolocation"
    >xkcd</a
  >:
</p>
<p>
  <a href="http://xkcd.com/936/"><img alt="" src="/assets/password_strength.png"/></a>
</p>
<p>
  Básicamente, usando algunas palabras aleatorias que conozcas, te será más fácil de
  recordar tu contraseña y será más difícil de adivinar con ataques de fuerza bruta o
  diccionario.
</p>
<p>
  Adicionalmente, hay un detalle a recordar: la contraseña de tu correo (al menos de la
  cuenta que uses como "depósito de claves")
  <strong>debe ser diferente</strong> a la que uses en cualquier otro sitio. Es muy
  típico usar la misma contraseña y correo en todos los servicios web que utilices, y,
  sin darte cuenta, estás dándole acceso a tu correo a cualquier webmaster que tenga la
  capacidad de crear un servicio web lo suficientemente interesante como para que te des
  de alta.
</p>
<p>
  Otra forma de facilitarte el tener mayor seguridad es utilizar alguna palabra extra
  para la contraseña de cada servicio. Siguiendo el ejemplo del cómic, si usas esa
  contraseña para entrar a
  <a
    class="zem_slink"
    title="Twitter"
    href="http://twitter.com"
    target="_blank"
    rel="homepage"
    >Twitter</a
  >
  y
  <a
    class="zem_slink"
    title="Facebook"
    href="http://facebook.com"
    target="_blank"
    rel="homepage"
    >Facebook</a
  >, podrías usarla como "correct horse battery staple twitter" en Twitter y como
  "correct horse battery staple facebook" en Facebook.
</p>
