---
slug: como-salir-tras-terminar-un-comando-que-ya-se-esta-ejecutando
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2015-10-21T08:22:44Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "16041668772"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - Fish
title: Cómo salir tras terminar un comando que ya se está ejecutando
type: post
---

<p>Supongamos que estás actualizando tu Linux...</p>
<pre>
# dnf -y update # Si fuera en Fedora
# apt-get -y update &amp;&amp; apt-get -y upgrade # Si fuera en Debian</pre
>
<p>
  ... y te tienes que ir, y te gustaría apagar tu ordenador cuando acabe, ¡pero todavía
  le queda un rato largo!<!--more-->
</p>
<h3>Ctrl+Z al rescate</h3>
<p>
  Cuando pulsamos Ctrl+Z, nuestro terminal pausará el comando que se estaba ejecutando
  (con la señal <code>SIGTSTP</code>). A continuación, podemos usar el comando
  <code>bg</code> para continuar el proceso en segundo plano, o <code>fg</code> para
  continuarlo en primer plano.
</p>
<p>
  Así es que para solucionar el problema que decía al principio, pulsarías Ctrl+Z y a
  continuación ejecutarías:
</p>
<pre>$ fg; systemctl poweroff</pre>
<p>
  Y ya puedes irte tranquilo, que tu ordenador se apagará cuando termine de
  actualizarse.
</p>
<p>
  ¡Ah! Y funciona tanto en
  <a href="https://es.wikipedia.org/wiki/Bash">Bash</a> como en
  <a href="http://fishshell.com/">Fish</a> (y supongo que en cualquier otra shell).
</p>
