---
slug: como-forzar-la-instalacion-de-documentacion-con-yumdnf
categories:
  - Administración de sistemas
  - Empaquetado de software
  - GNU/Linux
  - Virtualización
date: "2015-04-28T16:32:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179114213"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - dnf
  - docker
  - yum
title: Cómo forzar la instalación de documentación con yum/dnf
type: post
---

<p>
  <a href="https://registry.hub.docker.com/_/centos/"
    >La imágen oficial de CentOS para Docker</a
  >
  viene preconfigurada para no instalar la documentación al instalar paquetes. Puedes
  comprobarlo con:
</p>
<pre>$ docker run --rm centos grep tsflags /etc/yum.conf</pre>
<p>
  Verás que te devuelve <code>tsflags=nodocs</code>.
  <a href="http://man7.org/linux/man-pages/man5/yum.conf.5.html"
    >La documentación de <code>yum.conf</code></a
  >
  nos explica lo que hace la opción tsflags.
</p>
<p>
  Lo que queremos hacer es deshabilitarla al instalar ciertos paquetes. Por ejemplo
  <a href="http://cups.org/">CUPS</a> la necesita para mostrar su
  <code>index.html</code>. Lo instalaríamos así en nuestro
  <a href="https://docs.docker.com/reference/builder/">Dockerfile</a>:<!--more-->
</p>
<pre>$ yum --assumeyes --setopt tsflags= install cups</pre>
<p>Lo mismo sirve para <a href="https://fedoraproject.org/wiki/Dnf">dnf</a>.</p>
