---
slug: como-crear-un-fichero-swap-no-una-particion
categories:
  - Administración de sistemas
  - GNU/Linux
  - Virtualización
date: "2014-11-05T23:42:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179200067"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Particiones
  - swap
title: Cómo crear un fichero SWAP (no una partición)
type: post
---

<p>
  A veces tienes contratado un sistema remoto que no te permite modificar las
  particiones ni ampliar la RAM, pero necesitas más. La solución más sencilla sería una
  partición Swap, pero al no poder hacer particiones... ¿Qué puedes hacer? Pues un
  <em>fichero</em> Swap.
</p>
<p>
  Gracias al
  <a href="https://help.ubuntu.com/community/SwapFaq">Swap FAQ de Ubuntu</a> os pongo
  una guía bien sencilla (sirve para cualquier distribución).<!--more-->
</p>
<p>Reservamos 1024 MiB para un archivo swap:</p>
<pre># fallocate -l 1024m /mnt/1024MiB.swap</pre>
<p>Esto evitará que los usuarios husmeen donde no deben:</p>
<pre># chmod 600 /mnt/1024MiB.swap</pre>
<p>Lo formateamos:</p>
<pre># mkswap /mnt/1024MiB.swap</pre>
<p>Lo montamos en esta sesión:</p>
<pre># swapon /mnt/1024MiB.swap</pre>
<p>Hacer el cambio permanente:</p>
<pre># echo /mnt/1024MiB.swap none swap sw 0 0 &gt;&gt; /etc/fstab</pre>
