---
slug: como-configurar-la-webcam-en-fedora
categories:
  - Administración de sistemas
  - GNU/Linux
  - Hardware
  - Multimedia
  - Vídeo
date: "2013-05-25T17:58:39Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-05-25
    15:58:39";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - v4l
  - webcam
title: Cómo configurar la webcam en Fedora
type: post
---

<h3>Con interfaz gráfica</h3>
<pre># yum install <a href="http://v4l2ucp.sourceforge.net/">v4l2ucp</a>
$ v4l2ucp</pre>
<h3>Por terminal</h3>
<pre>$ yum install v4l-utils</pre>
<p>Ver la lista de controles y las instrucciones de uso de los comandos:</p>
<pre>
$ v4l2-ctl --list-controls
$ v4l2-ctl --help</pre
>
<p>Ejemplo de uso:</p>
<pre>
$ v4l2-ctl --set-ctrl illuminator_infrared=1 # Encender la luz
$ v4l2-ctl --set-ctrl illuminator_infrared=0 # Apagar la luz</pre
>
<p>
  Lógicamente, para ello al hacer <code>--list controls</code> nos tiene que haber
  mostrado la opción <em>illuminator_infrared</em>.
</p>
