---
slug: como-activar-las-conexiones-externas-a-apache-en-centos
categories:
  - Administración de sistemas
date: "2012-07-24T13:52:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "5777391810108657065"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Apache
  - CentOS
title: Cómo activar las conexiones externas a Apache en CentOS
type: post
---

<p>SELinux se lo impide. Simplemente ejecuta:</p>
<pre># setsebool httpd_can_network_connect=1 httpd_can_network_connect_db=1</pre>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-5777391810108657065?l=recallstack.blogspot.com"
    alt=""
  />
</div>
