---
slug: como-singularizar-una-maquina-virtual-windows-en-un-dominio
categories:
  - Administración de sistemas
  - Windows
date: "2014-10-01T15:30:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179434224"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - SID
  - Sysprep
  - Virtualización
  - VMWare
title: Cómo singularizar una máquina virtual Windows en un dominio
type: post
---

<h2>Problema</h2>
<p>
  Tienes una máquina virtual Windows añadida a un dominio. La clonas, y al encender ese
  clon Windows se queja:
</p>
<blockquote>
  <p>
    The name or security ID (SID) of the domain specified is inconsistent with the trust
    information for that domain
  </p>
</blockquote>
<p>Ambas máquinas dejan de funcionar bien con el dominio.<!--more--></p>
<h2>Causa</h2>
<p>
  Cada ordenador con Windows que está en un dominio tiene un
  <em>SID</em> (Security ID) que debe ser diferente. Si es el mismo, pasa esto.
</p>
<h2>Solución</h2>
<p>
  Si tienes el ordenador en el dominio, sácalo de ahí y reinicia. Luego,
  <a
    href="http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&amp;cmd=displayKC&amp;externalId=1000528"
    >como dicen en VMWare</a
  >, hay que usar el programita <em>Sysprep</em>. Ejecuta en la línea de comandos:
</p>
<pre
  class="prettyprint prettyprinted"
><span class="pln">C:\Windows\System32\sysprep\sysprep.exe </span><span class="pun">/</span><span class="pln">generalize </span><span class="pun">/</span><span class="pln">oobe </span><span class="pun">/reboot </span></pre>
<p class="prettyprint prettyprinted">
  Si no encuentras el programa en esa ruta, consulta la
  <a
    href="http://kb.vmware.com/selfservice/search.do?cmd=displayKC&amp;docType=kc&amp;docTypeID=DT_KB_1_1&amp;externalId=1005593"
    >lista de ubicaciones de <em>Sysprep</em></a
  >.
</p>
<p class="prettyprint prettyprinted">
  Tras reiniciar, vuelve a agregar la máquina al dominio y reinicia de nuevo.
</p>
