---
slug: como-migrar-tu-blog-a-wordpress
categories:
  - Privacidad
date: "2012-08-07T06:30:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7174062088959223980"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2012-08-07
    06:30:00";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Google
  - Wordpress
title: Cómo migrar tu blog a Wordpress
type: post
---

<p>
  Con el fin de poder algún día cerrar mi cuenta de Google, tengo que sacar mi blog de
  blogger. La alternativa por excelencia es Wordpress, que ofrece una
  <a href="http://wordpress.org/">plataforma de código libre</a> y un
  <a href="http://wordpress.com/">hosting que la utiliza</a>.
</p>
<p>
  En principio migraré a su hosting, ya que no veo necesidad de hacer privado algo de
  naturaleza pública como es un blog, y más si lo tengo en una plataforma libre que me
  permite exportarlo en cualquier momento y montarla donde yo quiera. Con tener algunas
  copias de seguridad me bastaría.
</p>
<p>
  Por tanto, simplemente crea un blog en Wordpress y luego ve al
  <i>Escritorio &gt; Herramientas &gt; Importar &gt; Blogger</i>. Accede a tu cuenta de
  Google y te aparecerán unos controles para importar automáticamente.
</p>
<p>
  Hecho esto, tendrás tu blog en Wordpress. Dicho sea de paso,
  <b>a partir de ahora este blog estará en:</b><br />
</p>
<h2>
  <b><a href="http://recallstack.wordpress.com/">recallstack.wordpress.com</a> </b>
</h2>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-7174062088959223980?l=recallstack.blogspot.com"
    alt=""
  />
</div>
