---
slug: como-dejar-de-ser-rastreado
categories:
  - Administración de sistemas
  - Flash
  - Privacidad
  - Redes
date: "2012-07-01T21:11:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7497111619210774297"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Adblock Plus
  - Do Not Track Plus
  - Firefox
  - Google
  - Mozilla
  - Navegadores
title: Cómo dejar de ser rastreado
type: post
---

<p>
  La verdad es que en nuestra cruzada de huir de las compañías que negocian con nuestros
  datos en Internet, lo más sencillo será escapar de los rastreadores.
</p>
<h2>Usa un navegador libre</h2>
<p>
  Si eres usuario de Internet Explorer, Safari u Opera, has de saber que son de código
  cerrado. Esto significa que nadie sabe exactamente qué hacen por dentro.
</p>
<p>
  Especialmente si eres usuario de IE, has de saber que Microsoft ha hecho mucho daño a
  la web con él:
</p>
<ul>
  <li>
    <a href="https://es.wikipedia.org/wiki/Quirks_Mode"
      >No usa correctamente los estándares</a
    >
    (sobre todo hasta la versión 7). Esto ha provocado que muchas webs solo puedan verse
    con IE, lo que ha <strong>obligado</strong> a muchos a usar ese navegador.
  </li>
  <li>
    Ha demostrado ser el más lento e
    <a
      href="https://es.wikipedia.org/wiki/Internet_Explorer#Vulnerabilidades_de_seguridad"
      >inseguro</a
    >
    de todos.
  </li>
  <li>
    Podría considerarse un virus, ya que
    <a href="https://es.wikipedia.org/wiki/Internet_Explorer#Eliminaci.C3.B3n"
      >no se puede desinstalar sin desestabilizar el sistema</a
    >.
  </li>
</ul>
<p>
  No utilizar IE es hacerle un favor a todos los desarrolladores web del mundo.
</p>
<p>
  Google Chrome también es cerrado, aunque es una versión modificada de
  <a href="http://www.chromium.org/Home">Chromium</a>. Si migras a Chromium, apenas
  notarás ninguna diferencia, pero estarás apoyando el proyecto libre en lugar del
  cerrado, y ganando la seguridad que ello ofrece.
</p>
<p>
  Personalmente recomiendo
  <a href="http://www.mozilla.org/es-ES/firefox/fx/">Firefox</a>, ya que es
  multiplataforma y desarrollado por <a href="http://www.mozilla.org/">Mozilla</a>,
  <a href="http://www.mozilla.org/en-US/mission/">una organización sin ánimo de lucro</a
  >, mientras que detrás de Chromium tenemos a los chicos de Google.
</p>
<h2>Instala extensiones que bloqueen los anuncios y el rastreo</h2>
<p>
  En Firefox, activa la opción
  <em>Decir a los sitios web que no quiero ser rastreado</em> y combínalo con las
  extensiones <a href="http://adblockplus.org/es/">Adblock Plus</a> y
  <a href="http://www.abine.com/dntdetail.php?">Do Not Track Plus</a> (también
  disponibles para otros navegadores). Tan solo con la configuración que traen por
  defecto tendrás una excelente protección.
</p>
<h2><a href="http://www.occupyflash.org/">Elimina Flash</a></h2>
<p>
  Suele ser un coladero de seguridad, y está siendo poco a poco reemplazado por HTML5.
  Puede que te sea necesario mantenerlo durante un tiempo para no perder ciertas
  funcionalidades, pero si no lo borras ahora, al menos desactívalo mientras no lo uses.
</p>
<p>
  De todos modos, a día de hoy grandes sitios como
  <a href="http://www.youtube.com/html5">YouTube</a> o
  <a href="http://html5.grooveshark.com/">Grooveshark</a>ya están implementando sus
  sitios en HTML5.
</p>
<div class="blogger-post-footer">
  <img
    class="igznrhwodudomwzhkqeu"
    src="/assets/5801165928817664556-7497111619210774297?l=recallstack.blogspot.com"
    alt=""
    width="1"
    height="1"
  />
</div>
