---
slug: como-me-libro-de-escribir-la-contrasena-de-gnome-keyring-cada-vez-sin-perder-demasiado-en-seguridad
categories:
  - GNU/Linux
date: "2011-01-30T08:46:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7938705553731471772"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - Gnome
  - Ubuntu
title:
  ¿Cómo me libro de escribir la contraseña de gnome-keyring cada vez sin perder
  demasiado en seguridad?
type: post
---

<p>
  <span class="Apple-style-span" style="font-family:inherit;"
    >Bueno, ya que es mi primera entrada, os pongo en antecedentes:&nbsp;Soy
    programador, me encanta Linux, odio a Windows, odio muuucho a Internet Explorer,
    llevo cosa de 1 año usando casi exclusivamente </span
  ><a href="http://www.ubuntu.com/"
    ><span class="Apple-style-span" style="font-family:inherit;">Ubuntu</span></a
  ><span class="Apple-style-span" style="font-family:inherit;">
    en casa, y recientemente me he propuesto el reto de pasarme a </span
  ><a href="http://www.debian.org/"
    ><span class="Apple-style-span" style="font-family:inherit;">Debian</span></a
  ><span class="Apple-style-span" style="font-family:inherit;">.</span><br />
</p>
<h4>¿Por qué Debian?</h4>
<ul>
  <li>
    <span class="Apple-style-span" style="font-family:inherit;"
      >Para aprender más de Linux</span
    >
  </li>
  <li>
    <span class="Apple-style-span" style="font-family:inherit;"
      >Para poder colaborar con la distribución en un futuro (espero), y que dichas
      colaboraciones beneficien a todas las distros basadas en Debian, entre ellas
      Ubuntu</span
    >
  </li>
  <li>
    <span class="Apple-style-span" style="font-family:inherit;"
      >Porque me convence más su filosofía</span
    >
  </li>
  <li>
    <span class="Apple-style-span" style="font-family:inherit;"
      >Porque prefiero tener más control sobre qué instalo en mi ordenador</span
    >
  </li>
  <li>
    <span class="Apple-style-span" style="font-family:inherit;"
      >Porque soy un friki</span
    >
  </li>
</ul>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"
    >La ventaja de haber estado usando tanto tiempo Ubuntu es que </span
  ><i
    ><span class="Apple-style-span" style="font-family:inherit;"
      >ya sabes de qué es capaz Linux</span
    ></i
  ><span class="Apple-style-span" style="font-family:inherit;"
    >, con lo cual luego llegas a Debian y no tienes ni la mitad de cosas que tienes con
    Ubuntu al instalar, pero al menos ya sabes que si no van, </span
  ><i><span class="Apple-style-span" style="font-family:inherit;">es por algo</span></i
  ><span class="Apple-style-span" style="font-family:inherit;">.</span>
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"><br /></span>
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"
    >Debí haber puesto aquí unas cuantas cosas más de las que me han pasado... Si
    recuerdo alguna la iré poniendo, pero de momento voy a exponer lo que me ha pasado
    hoy.</span
  >
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"><br /></span>
</div>
<div>
  <b><span class="Apple-style-span" style="font-family:inherit;">Problema: </span></b
  ><span class="Apple-style-span" style="font-family:inherit;"
    >Configuro las cuentas con </span
  ><a href="http://live.gnome.org/Empathy"
    ><span class="Apple-style-span" style="font-family:inherit;">Empathy</span></a
  ><span class="Apple-style-span" style="font-family:inherit;">
    y ahora resulta que cada vez que inicio sesión, gnome-keyring me pide la contraseña
    para desbloquear el depósito </span
  ><i><span class="Apple-style-span" style="font-family:inherit;">default</span></i
  ><span class="Apple-style-span" style="font-family:inherit;"
    >, en el que están esas claves. Y esto cansa, porque para iniciar la sesión metes la
    contraseña, y luego tienes que volver a meterla... ¡¡ARRGH!!</span
  >
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"><br /></span>
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;">Hay 3 </span
  ><b><span class="Apple-style-span" style="font-family:inherit;">opciones</span></b
  ><span class="Apple-style-span" style="font-family:inherit;">:</span>
</div>
<div>
  <ol>
    <li>Ajo y agua... no me convencía.</li>
    <li>
      <span class="Apple-style-span" style="font-family:inherit;"
        >Quitar la contraseña al depósito de claves. Esto no me convencía porque perdía
        la seguridad que proporciona </span
      ><a href="http://packages.debian.org/gnome-keyring"
        ><span class="Apple-style-span" style="font-family:inherit;"
          >gnome-keyring</span
        ></a
      ><span class="Apple-style-span" style="font-family:inherit;">.</span>
    </li>
    <li>
      Configurarlo para que cree un depósito de claves que se abra automáticamente con
      mi misma contraseña de sesión. Esto pinta mejor...
    </li>
  </ol>
  <ol></ol>
  <div>
    <b><span class="Apple-style-span" style="font-family:inherit;">Solución: </span></b
    ><span class="Apple-style-span" style="font-family:inherit;"
      >Instalar el paquete </span
    ><i
      ><a href="http://packages.debian.org/libpam-gnome-keyring"
        ><span class="Apple-style-span" style="font-family:inherit;"
          >libpam-gnome-keyring</span
        ></a
      ></i
    ><span class="Apple-style-span" style="font-family:inherit;"
      >, que básicamente crea un depósito de claves llamado </span
    ><i><span class="Apple-style-span" style="font-family:inherit;">login</span></i
    ><span class="Apple-style-span" style="font-family:inherit;"
      >&nbsp;el cual abre automáticamente con tu clave de usuario al iniciar la sesión
      en Gnome. También tienes una </span
    ><a href="http://live.gnome.org/GnomeKeyring/Pam"
      ><span class="Apple-style-span" style="font-family:inherit;"
        >descripción más detallada en su página de Gnome</span
      ></a
    ><span class="Apple-style-span" style="font-family:inherit;">.</span>
    <pre># aptitude install libpam-gnome-keyring</pre>
    <p><span class="Apple-style-span" style="font-family:inherit;"></span></p>
  </div>
</div>
<div>
  <span class="Apple-style-span" style="font-family:inherit;"><br /></span>
</div>
<div>
  <b><span class="Apple-style-span" style="font-family:inherit;">Problema: </span></b
  ><span class="Apple-style-span" style="font-family:inherit;"
    >Mis claves están en el depósito </span
  ><i><span class="Apple-style-span" style="font-family:inherit;">default</span></i
  ><span class="Apple-style-span" style="font-family:inherit;">, no en </span
  ><i><span class="Apple-style-span" style="font-family:inherit;">login</span></i
  ><span class="Apple-style-span" style="font-family:inherit;"
    >,&nbsp;así que sigue pidiéndome la clave al entrar.</span
  >
</div>
<div>
  <b><span class="Apple-style-span" style="font-family:inherit;">Solución: </span></b
  ><span class="Apple-style-span" style="font-family:inherit;"
    >Borra ~/.gnome2/keyrings/, cierra la sesión, ábrela de nuevo, y vuelve a crear tus
    claves (espero que no tengas muchas). Desde terminal:</span
  >
  <pre>$ rm --recursive ~/.gnome2/keyrings/</pre>
  <p><span class="Apple-style-span" style="font-family:inherit;"></span></p>
</div>

<p>
  <span class="Apple-style-span" style="font-family:inherit;"><br /></span><br /><span
    class="Apple-style-span"
    style="font-family:inherit;"
    >Listo. Nuestras claves seguirán cifradas con nuestro querido gnome-keyring sin
    necesidad de tener que poner la contraseña de descifrado cada vez.</span
  >
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-7938705553731471772?l=recallstack.blogspot.com"
    alt=""
  />
</div>
