---
slug: como-configurar-un-servidor-centos-para-que-se-conecte-a-lan-o-wlan-automaticamente
categories:
  - Administración de sistemas
  - Redes
date: "2012-07-15T10:09:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "9188606277087137447"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - Fedora
  - NetworkManager
  - RHEL
title:
  Cómo configurar un servidor CentOS para que se conecte a LAN o WLAN automáticamente
type: post
---

<p>
  He montado un servidor <a href="http://www.centos.org/">CentOS</a> y quiero que se
  conecte a la red automáticamente por wifi, o por cable si está disponible. Esto, en
  principio, sirve también para <a href="http://www.fedoraproject.org/">Fedora</a>,
  <a href="http://es.redhat.com/products/enterprise-linux/">RHEL</a>, o derivados, que
  utilice <a href="https://live.gnome.org/NetworkManager">NetworkManager</a> para las
  conexiones.
</p>
<p>
  Tiene gracia, porque NetworkManager originalmente es un proyecto de
  <a href="http://www.gnome.org/">GNOME</a>, pero aun usándolo en
  <a
    href="http://recallstack.blogspot.com.es/2012/07/quitar-interfaz-grafica-un-servidor.html"
    >un servidor sin interfaz gráfica</a
  >
  facilita mucho la vida.
</p>
<h2>Configurar conexión por cable ethernet</h2>
<pre>
# echo '# Configuración de eth0

# Indicar que quieres que NetworkManager use esta conexión
MODE=Managed

# Tipo de conexión
TYPE=Ethernet

# Configurar una IP estática
BOOTPROTO=static
IPADDR=192.168.1.2

# Puerta de enlace (IP del router)
GATEWAY=192.168.1.1

# Quiero que se conecte al encender
ONBOOT=yes

# Quiero que intnente conectar por IPV6
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_PRIVACY=rfc3041

# Le pondré un nombre, que me ha caído bien
NAME=home

# Esta opción siempre será "yes" salvo para conexiones PPP (3G)
DEFROUTE=yes

# Quiero que obtengas los DNS del router
PEERDNS=yes
' &gt; /etc/sysconfig/network-scripts/ifcfg-eth0</pre
>
<h2>Configurar la conexión automática por Wifi</h2>
<pre>
# echo '# Configuración de wlan0

# Indicar que quieres que NetworkManager use esta conexión
MODE=Managed

# Tipo de conexión
TYPE=Wireless

# Tipo de contraseña
KEY_MGMT=WPA-PSK
WPA_ALLOW_WPA=yes
WPA_ALLOW_WPA2=yes

# Nombre de la red
ESSID="ONO1AE0"

# Configurar una IP estática
BOOTPROTO=static
IPADDR=192.168.1.2

# Puerta de enlace (IP del router)
GATEWAY=192.168.1.1

# Quiero que se conecte al encender
ONBOOT=yes

# Quiero que intnente conectar por IPV6
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_PRIVACY=rfc3041

# Le pondré un nombre, que me ha caído bien
NAME="Wifi de mi casa"

# Esta opción siempre será "yes" salvo para conexiones PPP (3G)
DEFROUTE=yes

# Quiero que obtengas los DNS del router
PEERDNS=yes
' &gt; /etc/sysconfig/network-scripts/ifcfg-wlan0</pre
>
<p>
  Para la conexión WLAN también hay que crear un segundo fichero en que se encuentra la
  clave WPA, el cual protegeremos para que solo <em>root</em>pueda verla.
</p>
<pre>
# echo '# Contraseña de la red wifi
WPA_PSK="clave-de-red"
' &gt; /etc/sysconfig/network-scripts/keys-wlan0

# chmod u=rw,go= /etc/sysconfig/network-scripts/keys-wlan0</pre
>
<h2>
  <a href="https://live.gnome.org/NetworkManager/SystemSettings"
    >Configurar NetworkManager</a
  >
  para que arranque automáticamente al inicio
</h2>
<pre># chkconfig --level 345 NetworkManager on</pre>
<p>
  Eso de 345 significa que queremos que arranque automáticamente en los
  <a
    href="http://es.wikipedia.org/wiki/Nivel_de_ejecuci%C3%B3n#Niveles_de_ejecuci.C3.B3n_t.C3.ADpicos_en_Linux"
    >runlevels</a
  >
  3, 4 y 5. Puede que en tu caso solo quieras que pase en el 5, por ejemplo.
</p>
<p>
  Hecho esto, reinicia y debería conectarse por cable si está disponible, y si no por
  wifi, obteniendo la IP estática que le hemos asignado.
</p>
<p>
  Tienes mucha más información en español en el artículo
  <a href="http://www.alcancelibre.org/staticpages/index.php/08-parametros-red/print"
    >Configuración de parámetros de red en GNU/Linux, de Alcance Libre</a
  >.
</p>
<div class="blogger-post-footer">
  <img class="igznrhwodudomwzhkqeu" src="/assets/" alt="" width="1" height="1" />
</div>
