---
slug: como-migrar-una-maquina-virtual-de-vmware-server-2-a-vmware-esxi-5
categories:
  - Administración de sistemas
  - Tutoriales
  - Virtualización
date: "2013-06-18T15:54:02Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Microsoft Windows
  - Migración
  - PuTTy
  - Secure Shell
  - VMWare ESXi
  - VMWare Server
  - VMWare vSphere Client
title: Cómo migrar una máquina virtual de VMWare Server 2 a VMWare ESXi 5
type: post
---

<p>
  Uno podría pensar que son compatibles, pero no lo son. Necesitas realizar una
  importación. Pasos a seguir:
</p>
<ol>
  <li>
    Guarda copias de seguridad de todo lo que no puedas perder, por si algo fallara.
  </li>
  <li>
    Accede a tu antiguo <em>VS2</em> (<a
      title="VMware Server"
      href="http://vmware.com/products/server/"
      target="_blank"
      rel="homepage"
      >VMWare Server</a
    >
    2) y elimina cualquier snapshot que haya en la máquina virtual.
  </li>
  <li>
    Copia los discos duros virtuales (*<a
      class="zem_slink"
      title="VMDK"
      href="http://www.vmware.com/interfaces/vmdk.html"
      target="_blank"
      rel="homepage"
      >.vmdk</a
    >) desde el VS2 hasta tu nuevo <em>VE5</em> (<a
      class="zem_slink"
      title="Esx And Esxi Backup "
      href="http://www.symantec.com/esx-and-esxi-backup"
      target="_blank"
      rel="symantec"
      >VMWare ESXi</a
    >
    5). Puedes hacer esto desde el <em>VSC</em> (VMWare
    <a
      class="zem_slink"
      title="VMware vSphere"
      href="http://www.vmware.com/products/vsphere/"
      target="_blank"
      rel="homepage"
      >vSphere</a
    >
    Client).
  </li>
  <li>
    Accede físicamente a tu <em>VE5</em> y activa el acceso por
    <a
      class="zem_slink"
      title="Secure Shell"
      href="http://en.wikipedia.org/wiki/Secure_Shell"
      target="_blank"
      rel="wikipedia"
      >SSH</a
    >:
    <ol>
      <li>Pulsa F2.</li>
      <li>Accede como root.</li>
      <li>Pulsa F2.</li>
      <li>Troubleshooting options.</li>
      <li>Enable SSH.</li>
    </ol>
  </li>
  <li>
    Regresa a tu ordenador y accede a tu <em>VE5</em> por SSH.
    <ul>
      <li>
        Si estás en
        <a
          class="zem_slink"
          title="Windows"
          href="http://www.microsoft.com/WINDOWS"
          target="_blank"
          rel="homepage"
          >Windows</a
        >, necesitarás instalar
        <a
          class="zem_slink"
          title="PuTTY"
          href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html"
          target="_blank"
          rel="homepage"
          >PuTTy</a
        >
        para eso.
      </li>
    </ul>
    <ul>
      <li>Accede como root.</li>
    </ul>
  </li>
  <li>
    Ejecuta los siguientes comandos:
    <pre>
cd /vmfs/volumes/datastore1/carpeta-con-los-discos-duros-que-has-copiado
vmkfstools --clonevirtualdisk viejo-disco-VS2.vmdk --diskformat thin nuevo-disco-VE5.vmdk</pre
    >
    <ul>
      <li>
        Repite el último comando por cada disco duro que quieras importar.
      </li>
      <li>
        Si quieres más ayuda sobre esos comandos, usa
        <code>vmkfstools --help</code>.
      </li>
    </ul>
  </li>
  <li>Regresa a tu <em>VSC</em>.</li>
  <li>
    Crea una máquina virtual nueva en tu <em>VE5</em>, con las mismas características
    que la que tenías en el <em>VS2</em>.
  </li>
  <li>Engánchale los discos duros que has importado.</li>
  <li>Enciende la máquina virtual.</li>
</ol>
