---
slug: como-saber-la-ram-que-usa-tu-portatil
categories:
  - GNU/Linux
  - Hardware
date: "2018-03-23T18:02:51Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/977230700452687872";}}
  _publicize_job_id: "16035284687"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/LQB37eBFQCR
  publicize_twitter_user: __yajo
  timeline_notification: "1521824926"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - dmidecode
  - RAM
title: Cómo saber la RAM que usa tu portátil
type: post
---

<p>
  Generalmente necesitamos consultar varias fuentes para estar 100% seguros:
</p>
<ul>
  <li>La web del fabricante.</li>
  <li>El manual de instrucciones.</li>
  <li>Los detalles técnicos de la placa base.</li>
  <li>
    Alguna herramienta de diagnóstico que nos dé los detalles de la RAM que hay puesta
    ahora mismo.
  </li>
</ul>
<p>
  Tal vez uses alguna versión de Windows... Bien, eso es tu problema... 🤣 Bueno
  <a href="https://lmddgtfy.net/?q=como%20saber%20detalles%20ram%20windows"
    >déjame ayudarte un poco</a
  >.
</p>
<p>
  Supongo que la mayoría de lectores de este blog usan Linux, así que, para saber el
  modelo exacto de tu placa base:
</p>
<p><!--more--></p>
<pre># dmidecode -t 2</pre>
<p>Para saber la RAM que soporta:</p>
<pre># dmidecode -t 16</pre>
<p>Detalles técnicos sobre los módulos de RAM instalados o disponibles:</p>
<pre># dmidecode -t 17</pre>
<p>
  De todos modos, <code>dmidecode</code> tampoco es 100% fiable.
  <strong>Lo mejor</strong> es que busques un vídeo de cómo destripar tu portátil y lo
  destripes para <strong>verla con tus propios ojos</strong>. La RAM tendrá una etiqueta
  con el modelo exacto. Búscalo por internet y obtén de ahí todos los detalles. También
  podrás comprobar si hay algún zócalo libre.
</p>
<p>
  <img
    class="alignnone size-full wp-image-2208"
    src="/assets/ram.jpg"
    alt="Memoria RAM de mi ordenador portátil"
    width="4160"
    height="3120"
  />
</p>
<p>
  Esta es la RAM del mío. En mi caso, todos los diagnósticos y fuentes online
  consultadas, así como la inspección visual, me dan a entender que el modelo que debo
  buscar es: <strong>8GB 1600MHz SO-DIMM 1.5V CL11</strong>.
</p>
<p>
  Ahora solo tienes que buscar un sitio donde la vendan baratita. Personalmente, te
  recomiendo Amazon, pero ahí ya lo que prefieras...
</p>
