---
slug: como-evitar-la-advertencia-de-seguridad-en-los-accesos-directos-ubicados-en-la-red
categories:
  - Administración de sistemas
  - Windows
date: "2014-10-03T15:30:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179432309"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Active Directory
  - Directivas de grupo
  - Folder Redirection
  - GPO
title:
  Cómo evitar la advertencia de seguridad en los accesos directos ubicados en la red
type: post
---

<h2>Problema</h2>
<p>
  Si tienes la <del>maldición</del> <del>desgracia</del> necesidad de tener que
  administrar un servidor Windows en un dominio, y de tener que configurar redirección
  de carpetas (Folder Redirection) para que el perfil del usuario se halle en la red en
  lugar de en la máquina local, es posible que te des contra este simpático cartelito de
  error cada vez que intentas lanzar un acceso directo desde el escritorio o la barra de
  tareas:
</p>
<p>
  [caption id="attachment_644" align="aligncenter" width="300"]<a
    href="http://recallstack.wordpress.com/2014/10/03/como-evitar-la-advertencia-de-seguridad-en-los-accesos-directos-ubicados-en-la-red/captura-de-pantalla-de-2014-10-03-105602/"
    rel="attachment wp-att-644"
    ><img
      class="size-medium wp-image-644"
      src="/assets/captura-de-pantalla-de-2014-10-03-105602.png?w=300"
      alt="Advertencia de seguridad de Abrir Archivo: No podemos verificar quién creó este archivo. ¿Está seguro de que desea abrirlo?"
      width="300"
      height="195"
  /></a>
  Advertencia de seguridad de Abrir Archivo: No podemos verificar quién creó este
  archivo. ¿Está seguro de que desea abrirlo?[/caption]
</p>
<p><!--more--></p>
<h2>Solución</h2>
<h3>Para un solo usuario</h3>
<p>
  La solución está en añadir el sitio de red a la lista de sitios locales. Claro, puedes
  hacerlo desde
  <em>Opciones de Internet &gt; Seguridad &gt; Red local &gt; Sitios &gt; Añadir</em>,
  pero eso solo funcionaría para un usuario, y hablamos de un dominio con muchos
  usuarios.
</p>
<p>
  Si lo haces, <strong>recuerda añadir el sitio sin protocolo de red</strong>. Es decir,
  si tu servidor se llama <em>RECALLSTACK</em>, no lo añadas como
  <em>&#092;RECALLSTACK</em> ni como <em>file://RECALLSTACK</em> ni
  <em>smb://RECALLSTACK</em>. Añádelo como <em>RECALLSTACK</em>
  <strong>a secas</strong>.
</p>
<h3>Para todo el dominio</h3>
<p>
  Entra en el administrador de directivas de grupo, crea un GPO para tus usuarios (si no
  lo tienes ya), púlsalo con el
  <em>boton derecho &gt; Editar</em>.
</p>
<p>
  Ve a
  <em
    >Configuración del equipo &gt; Plantillas administrativas &gt; Componentes de
    Windows &gt; Internet Explorer &gt; Panel de Control de Internet &gt; Página de
    seguridad</em
  >. Aquí deberás habilitar las siguientes directivas:
</p>
<ul>
  <li>
    Lista de asignación de sitio a zona.
    <ul>
      <li>Habilítala.</li>
      <li>Pulsa en <em>Mostrar.</em></li>
      <li>
        Añade una fila con los valores:
        <ul>
          <li>
            Nombre de valor: Aquí el nombre de tu servidor, por ejemplo
            <em>RECALLSTACK</em>.
          </li>
          <li>Valor: 1</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Activar detección automática de intranet.</li>
</ul>
<h2>Reflexiones finales</h2>
<p>
  ¿Y por qué hace falta activar la detección automática de intranet si ya le estoy
  diciendo explícitamente en la otra directiva que
  <em>RECALLSTACK</em> pertenece a dicha zona? ¿Y qué pasa si dentro de
  <em>RECALLSTACK</em> tienes una carpeta que sí es de fiar, pero otras que no? Ni idea,
  pero si no nunca te librarás de ese dichoso cartelito.
</p>
