---
slug: como-compilar-automaticamente-sass-en-odoo
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Tutoriales
date: "2015-07-13T16:10:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "12686735089"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - CSS
  - LESS
  - Node
  - Odoo
  - Ruby
  - Sass
  - SCSS
  - yum
title: Cómo compilar automáticamente Sass en Odoo
type: post
---

<p>
  El
  <a href="https://www.odoo.com/documentation/8.0/howtos/themes.html"
    >tutorial de cómo crear un tema para Odoo</a
  >
  te explica
  <a
    href="https://www.odoo.com/documentation/8.0/setup/install.html#setup-install-source"
    >cómo usar LESS como preprocesador de CSS</a
  >.
</p>
<p>
  Está bien, pero si te gusta programar en
  <a href="http://python.org/">Python</a>, probablemente te guste más
  <a href="http://sass-lang.com/">Sass</a> que
  <a href="http://lesscss.org/">LESS</a> por
  <a href="http://sass-lang.com/guide#topic-2-Sass">su sintaxis</a> (y quizá por otras
  razones). Pues bien,
  <a href="https://www.odoo.com/apps/8.0/website_less/"><code>website_less</code></a>
  también permite compilar Sass (y
  <a href="http://sass-lang.com/guide#topic-2-SCSS">SCSS</a>) automáticamente.<!--more-->
</p>
<p>Para activar LESS:</p>
<pre>
$ yum -y install npm
$ npm install -g less less-plugin-clean-css</pre
>
<p>Para activar Sass:</p>
<pre>
$ yum -y install rubygems ruby-devel
$ gem install bootstrap-sass compass sass</pre
>
<p>
  Las instrucciones son para <a href="http://centos.org/">CentOS</a> 7, pero para
  cualquier otra distro, simplemente busca los paquetes equivalentes.
</p>
<p>
  Con esto debería bastar, pero es posible que tras hacerlo te salgan errores como el
  siguiente al intentar compilar Sass:
</p>
<pre>
WARNING demo openerp.addons.website_less.ir_qweb: /usr/share/rubygems/rubygems/path_support.rb:68:in `path=': undefined method `+' for nil:NilClass (NoMethodError)
 from /usr/share/rubygems/rubygems/path_support.rb:30:in `initialize'
 from /usr/share/rubygems/rubygems.rb:357:in `new'
 from /usr/share/rubygems/rubygems.rb:357:in `paths'
 from /usr/share/rubygems/rubygems.rb:379:in `path'
 from /usr/share/rubygems/rubygems/specification.rb:794:in `dirs'
 from /usr/share/rubygems/rubygems/specification.rb:658:in `each_normal'
 from /usr/share/rubygems/rubygems/specification.rb:669:in `_all'
 from /usr/share/rubygems/rubygems/specification.rb:822:in `each'
 from /usr/share/rubygems/rubygems/specification.rb:864:in `find'
 from /usr/share/rubygems/rubygems/specification.rb:864:in `find_inactive_by_path'
 from /usr/share/rubygems/rubygems.rb:175:in `try_activate'
 from /usr/share/rubygems/rubygems/core_ext/kernel_require.rb:132:in `rescue in require'
 from /usr/share/rubygems/rubygems/core_ext/kernel_require.rb:144:in `require'
 from &lt;internal:abrt_prelude&gt;:2:in `&lt;compiled&gt;'
 This error occured while compiling the bundle 'website.assets_frontend' containing:
 - /&lt;theme_module&gt;/static/src/css/style.sass</pre
>
<p>
  Esto ocurrirá en caso de que el usuario que corre
  <a href="https://www.odoo.com/">Odoo</a> (normalmente llamado también
  <code>odoo</code>) no tenga un <code>$HOME</code>. Hay que crearlo para que todo
  funcione:
</p>
<pre>
$ mkdir /home/odoo
$ chown odoo:odoo /home/odoo</pre
>
<p>Otra opción es asignarle al usuario una <code>$HOME</code> que ya exista:</p>
<pre
  class="lang-sh prettyprint prettyprinted"
><code><span class="pln">$ usermod </span><span class="pun">--home</span> <span class="pun">/var/lib/odoo odoo</span></code></pre>
