---
slug: como-crear-una-particion-cifrada-con-luks-y-lvm-en-tu-ordenador
categories:
  - Administración de sistemas
  - Encriptación
  - GNU/Linux
  - Privacidad
  - Sin categoría
date: "2016-08-28T19:05:09Z"
meta:
  _publicize_job_id: "26238263796"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - LUKS
  - LVM
title: Cómo crear una partición cifrada con LUKS y LVM en tu ordenador
type: post
---

<p>
  En mi caso, me interesa que esta partición no esté montada por defecto, para que no me
  pida la contraseña cada vez que se inicia el ordenador. Ya se la diré yo cuando me
  haga falta.
</p>
<p>
  Ya expliqué en su día
  <a
    href="https://recallstack.wordpress.com/2015/12/20/configurar-docker-storage-setup/"
    >cómo quitar espacio de un volúmen lógico de LVM para dárselo a Docker</a
  >, así que si no tienes espacio
  <a href="https://es.wikipedia.org/wiki/Logical_Volume_Manager">LVM</a> libre, puedes
  seguir esas instrucciones, pero nos saltaremos la parte de Docker.
</p>
<p>
  Ahora lo que nos interesa es crear un
  <a
    href="https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Logical_Volume_Manager_Administration/lv_overview.html"
    >volúmen lógico</a
  >
  encriptado. Para encriptarlo, usaremos
  <a href="https://gitlab.com/cryptsetup/cryptsetup">LUKS</a>.
</p>
<p><!--more--></p>
<p>
  Comenzamos por crear el volúmen lógico, en este caso de 500 GiB, dentro del grupo de
  volúmenes <code>fedora</code>, y lo llamaremos <code>family</code> porque ahí
  pondremos cosas familiares:
</p>
<pre># lvm lvcreate --size 500G --name family fedora</pre>
<p>
  Ahora le decimos a LUKS que lo encripte, con una contraseña que nos pedirá 2 veces:
</p>
<pre># cryptsetup luksFormat --verify-passphrase /dev/mapper/fedora-family</pre>
<p>Desbloqueamos el volúmen y le damos formato <code>ext4</code> a los datos.</p>
<pre>
# cryptsetup luksOpen /dev/mapper/fedora-family luks-family
# mkfs.ext4 /dev/mapper/luks-family</pre
>
<p>
  Voy a llamar a este volúmen <code>luks-family</code> (a la vista de LUKS, no para LVM,
  donde ya se llama <code>fedora/family</code>), e indicaré que la partición
  <code>ext4</code> que tiene dentro se monte en <code>/srv/family</code>:
</p>
<pre>
# echo luks-family UUID=$(cryptsetup luksUUID /dev/mapper/fedora-family) none nofail,noauto &gt;&gt; /etc/crypttab
# echo /dev/disk/by-uuid/$(blkid -s UUID -o value /dev/mapper/luks-family) /srv/family auto nosuid,nodev,nofail,x-gvfs-show 0 0 &gt;&gt; /etc/fsta</pre
>
<p>A partir de ahora, para montar esto tendré que ejecutar:</p>
<pre>
# cryptsetup luksOpen /dev/mapper/fedora-family
# mount /srv/family</pre
>
<p>
  ...  lo cual no es muy cómodo, pero ya encontraré la forma de que esto sea más fácil
  para todos y lo pondré.
</p>
