---
slug: como-encriptar-un-pdf-con-contrasena
categories:
  - Encriptación
  - GNU/Linux
  - Seguridad
date: "2016-01-31T06:55:54Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "19304832374"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
  - PDF
  - PDFtk
title: Cómo encriptar un PDF con contraseña
type: post
---

<p>
  Necesitaremos dos contraseñas, una del dueño del documento (usaremos
  <em>yo</em>) y otra para un usuario, al que se le pueden dar determinados permisos
  (usaremos <em>tu</em>).
</p>
<p>
  Ahora instala
  <a href="https://www.pdflabs.com/tools/pdftk-server/">PDFtk Server</a> y ejecuta:
</p>
<p><!--more--></p>
<pre>
$ pdftk fichero-a-encriptar.pdf output fichero-encriptado.pdf owner_pw yo user_pw tu</pre
>
<p>O la versión Docker, usando la imagen yajo/pdftk-encrypt:</p>
<pre>
$ docker run --rm -i -e OWNER_PW=yo -e USER_PW=tu yajo/pdftk-encrypt &lt; fichero-a-encriptar.pdf &gt; fichero-encriptado.pdf</pre
>
