---
slug: como-usar-curl-como-si-fuera-wget
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2013-05-20T16:11:09Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "15080556683"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - curl
  - wget
title: Cómo usar curl como si fuera wget
type: post
---

<p>Descargar un fichero con el mismo nombre que tiene en el servidor:</p>
<pre>
$ wget http://server.com/fichero/a/descargar.txt
$ curl --location --remote-name http://server.com/fichero/a/descargar.txt</pre
>
<p>Continuar una descarga que se quedó a medias:</p>
<pre>
$ wget --continue http://server.com/fichero/a/descargar.txt
$ curl --continue-at - --location --remote-name http://server.com/fichero/a/descargar.txt</pre
>
<p>
  Wget es más fácil de usar en la mayoría de los casos. Curl tiene más opciones y viene
  preinstalado casi siempre.
</p>
