---
slug: como-instalar-steam-y-usar-el-steam-controller-en-fedora-25
categories:
  - Administración de sistemas
  - GNU/Linux
  - Juegos
date: "2017-07-05T16:07:38Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/882604201779617793";}}
  _publicize_job_id: "6792325721"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/RRvjgfwRqMR
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - steam
  - Steam Controller
title: Cómo instalar Steam y usar el Steam Controller en Fedora 25
type: post
---

<p>
  Primero, las instrucciones para instalar
  <a href="http://store.steampowered.com/">Steam</a>, y luego para activar el
  <a href="http://store.steampowered.com/app/353370/Steam_Controller/"
    >Steam Controller</a
  >:
</p>
<p><!--more--></p>
<ol>
  <li>
    Añade los repositorios de RPMFusion free y nonfree
    <a href="https://rpmfusion.org/Configuration"
      >descargando e instalando los RPM que proporcionan</a
    >.
  </li>
  <li>
    Instala Steam:
    <pre>$ pkcon install steam</pre>
  </li>
  <li>
    Añade tu usuario al grupo <code>input</code>, para que puedas
    <strong>usar el Steam Controller con emulación de gamepad</strong> sin problemas:
    <pre># usermod -aG input $USER</pre>
    <p>
      Esto habilitará para tu usuario
      <a href="https://steamcommunity.com/app/353370/discussions/0/490123197956024380/"
        >las reglas <code>udev</code> que son necesarias para tal efecto</a
      >, y que ya vienen de fábrica con el paquete que has instalado.
    </p>
  </li>

  <li>Abre Steam, ¡y a jugar!</li>
</ol>
<p>
  Si necesitas usar el streaming, saber cómo mantener el sistema medio limpio (que Steam
  come muchos recursos) o más detalles, consulta el fichero
  <code>/usr/share/doc/steam/README.Fedora</code> que ahora tendrás instalado también.
  Es muy útil, ya que recordemos que
  <a href="https://support.steampowered.com/kb_article.php?ref=1504-QHXN-8366"
    >Fedora no está oficialmente soportado por Valve (tan solo Ubuntu y SteamOS)</a
  >.
</p>
