---
slug: como-evitar-que-firefox-abra-todo-con-gedit
categories:
  - Administración de sistemas
  - GNU/Linux
  - Interfaz de usuario
date: "2014-06-27T13:22:03Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179479204"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Firefox
  - Gedit
  - Gnome
  - XDG
  - xdg-open
title: Cómo evitar que Firefox abra todo con Gedit
type: post
---

<p>
  Un problema muy habitual al usar <a href="http://firefox.com">Firefox</a> en
  <a href="http://linux.com">Linux</a>, sobre todo si usas
  <a href="http://gnome.org">GNOME</a>, es que descargas un fichero de cualquier tipo, y
  siempre quiere abrirlo con
  <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>.<!--more-->
</p>
<h2>Solución</h2>
<ol>
  <li>
    Crea el fichero
    <code>~/.local/share/applications/xdg-open.desktop</code> con el siguiente
    contenido:
    <pre>
[Desktop Entry]
Name=XDG Open
Comment=Open with default app
Comment[es]=Abrir con la aplicación por defecto
Exec=xdg-open
Terminal=false
Type=Application</pre
    >
  </li>
  <li>Edita el fichero <code>~/.local/share/applications/mimeapps.list</code>.</li>
  <li>
    Busca la línea que pone
    <code>application/octet-stream=gedit.desktop;</code> y cámbiala por
    <code>application/octet-stream=xdg-open.desktop;</code>.
  </li>
</ol>
<h2>Explicación</h2>
<p>
  Firefox no detectaba correctamente el tipo de fichero. Realmente, esto es problema del
  sitio web del que lo descargas, que no indica correctamente su
  <em
    ><a
      href="https://es.wikipedia.org/wiki/Multipurpose_Internet_Mail_Extensions#Content-Type"
      >Content-Type (MIME Type)</a
    ></em
  >.
</p>
<p>
  Como consecuencia, Firefox, en lugar de usar algún método inteligente para averiguar
  el contenido del fichero, usa el programa que use tu sistema operativo para abrir
  ficheros desconocidos, o sea el que esté indicado para el
  <em>MIME</em> <code>application/octet-stream</code> (fichero binario genérico). En
  GNOME, dicha aplicación es Gedit. Como resultado, da la impresión de que Firefox
  quiere abrir todo con Gedit.
</p>
<p>
  Sin embargo, el comando <code>xdg-open</code> es un programa que abre cualquier
  fichero intentando detectar automáticamente su <em>MIME</em> antes de abrirlo. Al
  aplicar la solución, forzamos al sistema a tratar de averiguar el MIME cuando no se le
  dice explícitamente, lo cual funcionará bien en la mayoría de los casos.
</p>
