---
slug: como-ver-al-nyan-cat-en-una-terminal
categories:
  - Curiosidades
  - Juegos
  - Noticias
date: "2012-07-25T13:41:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "421803108776424628"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Nyan Cat
title: Cómo ver al Nyan Cat en una terminal
type: post
---

<p><a href="http://miku.acm.uiuc.edu/">Interesante...</a></p>
<pre>telnet miku.acm.uiuc.edu</pre>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-421803108776424628?l=recallstack.blogspot.com"
    alt=""
  />
</div>
