---
slug: como-hacer-que-magento-reconstruya-el-cache-de-las-imagenes
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Tutoriales
date: "2013-10-19T08:57:51Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Apache
  - cache
  - chmod
  - chown
  - Fedora
  - imágenes
  - Magento
  - permisos
  - PHP
  - yum
title: Cómo hacer que Magento reconstruya el caché de las imágenes
type: post
---

<h2>Situación</h2>
<p>
  <a href="http://magentocommerce.com/">Magento</a> tiene esa peculiaridad de que
  <strong>su registro de errores no sirve para nada</strong>. Dicho esto...
</p>
<p>
  Supongamos que tienes una tienda Magento en producción que necesitas modificar. En
  lugar de modificarla directamente, montas un servidor de desarrollo y mueves allí los
  ficheros y la base de datos. Hasta aquí todo normal.
</p>
<p>
  Empiezas a hacer modificaciones y ves que el resultado es, cuanto menos, raro. Motivo:
  Magento está leyendo los datos de la caché, que tras hacer los cambios está
  desactualizada. Como es normal, <strong>borras toda la caché</strong>.
</p>
<p>Craso error. Ahora <strong>no puedes ver las fotos de los productos</strong>.</p>
<h2>Solución</h2>
<h3>Permisos</h3>
<p>
  Antes que nada, asegúrate de que el usuario que utiliza tu servidor web (normalmente
  <em>www-data</em> o <em>apache</em>) tiene <strong>acceso de escritura</strong> a
  <code>$MAGENTO_ROOT/var/</code> y <code>$MAGENTO_ROOT/media/</code>. La gente
  recomienda asignar permisos permisivos, tal que así:
</p>
<pre>$ chmod -R a=rwx $MAGENTO_ROOT</pre>
<p>
  Yo no suelo recomendarlo, ya que si estás en un servidor compartido, cualquier otro
  usuario de ese servidor podría fastidiarte esos directorios. Prefiero otro
  <strong>sistema más seguro</strong>:
</p>
<pre>
$ chown -R mi_usuario:apache $MAGENTO_ROOT
$ chmod -R u=rwX,g=rX,o= $MAGENTO_ROOT
$ chmod -R g+w $MAGENTO_ROOT/var $MAGENTO_ROOT/media</pre
>
<p>
  De este modo, los demás usuarios quedan excluidos, y solo quedas tú (como usuario) y
  tu servidor (como grupo).
</p>
<h3>Requisitos mínimos (¡y bibliotecas!)</h3>
<p>
  Ten en cuenta que al migrar Magento no ha comprobado que tengas bien los
  <a href="http://www.magentocommerce.com/system-requirements">requisitos mínimos</a>.
  Debes comprobarlo a mano. Eso implica editar <code>$MAGENTO_ROOT/.htaccess</code> para
  <strong>tener suficiente memoria</strong> (aunque eso debería estar bien si antes ya
  iba) e <strong>instalar las bibliotecas que no vienen de fábrica</strong>, que en
  Fedora se traduce a:
</p>
<pre>
# yum install php-soap php-gd
# systemctl restart httpd</pre
>
<p>
  Esta última tontería me ha robado 6 horas de mi vida. Espero que a ti te sirva.
</p>
