---
slug: como-comprobrar-registros-de-dns
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2012-07-03T18:42:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "6476150696943173222"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - DNS
title: Cómo comprobrar registros de DNS
type: post
---

<p>Tenemos una herramienta en linux la mar de práctica:</p>
<pre>host nombre-del-host.com </pre>
<p>
  Esto nos proporcionará información de todas las entradas DNS del host indicado. Si
  quieres de un tipo de entrada concreto (CNAME, A, TXT, MX, etc.), puedes usar:
</p>
<pre>host -t cname nombre-del-host.com</pre>
<p>Puedes reemplazar <i>cname</i> por lo que necesites, siempre en minúscula.</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-6476150696943173222?l=recallstack.blogspot.com"
    alt=""
  />
</div>
