---
slug: como-actualizar-un-backport-modificado-con-git
categories:
  - Control de versiones
  - Programación
date: "2016-09-05T20:26:19Z"
meta:
  _publicize_job_id: "26516189800"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
  - GitHub
  - OCA
  - Odoo
title: Cómo actualizar un backport modificado con Git
type: post
---

<p>
  Bueno, esta tarea es bastante compleja, y no se me ocurren muchos ejemplos
  <em>teóricos</em>, así que vamos con un caso real.
</p>
<p>
  Como muchos sabréis, soy miembro activo de la
  <a href="https://odoo-community.org/">OCA</a> y un
  <a href="https://github.com/odoo/odoo/commits?author=Yajo"
    >contribuyente habitual a Odoo</a
  >.
</p>
<p>
  Una de las novedades de Odoo 9.0 fue el
  <a href="https://github.com/odoo/odoo/tree/9.0/addons/website_slides"
    >módulo <code>website_slides</code></a
  >, que
  <a href="https://github.com/OCA/website/tree/8.0/website_slides"
    >fue backporteado por la comunidad a Odoo 8.0.</a
  >
</p>
<p>
  Sin embargo, desde que se realizó el backport hasta el día de hoy, el módulo ha
  recibido varios parches upstream 9.0 que la versión backporteada no tenía, así que lo
  que quiero es actualizarlo, sin perder el historial de Git.
</p>
<p><!--more--></p>
<h1>Descargar todo</h1>
<p>
  Lo primero que necesito es clonar
  <a href="https://github.com/OCA/website"
    >el repositorio donde se realizó el backport</a
  >
  en la versión 8.0, añadirle un remoto que será
  <a href="https://github.com/odoo/odoo">el repositorio principal de Odoo</a>, y
  descargar su rama 9.0, en la que se encuentra <code>website_slides</code>:
</p>
<pre>
$ git clone --branch 8.0 git@github.com:OCA/website.git
$ cd website
$ git remote add odoo git@github.com:odoo/odoo.git
$ git fetch odoo 9.0</pre
>
<h1>Localizar el último commit que se backporteó</h1>
<p>
  Ahora tengo que examinar el historial de la rama 8.0 de OCA/website para ver cuál fue
  el último commit backporteado. Para eso, la verdad es que lo más cómodo es usar
  <a href="https://github.com/OCA/website/commits/8.0/website_slides"
    >la interfaz de GitHub</a
  >, donde encuentro que el último fue
  <a
    href="https://github.com/OCA/website/commit/cb5004cb06d91d54c6d187908599e03a2e7f546e#diff-2b224925edb1a0c898314e6f0d0f4c59"
    >cb5004c</a
  >
  (ojo, hablamos del último commit producto del backport, ya que luego ambos
  repositorios evolucionaron cada cual por su lado).
</p>
<p>Para que no se me pierda, lo marcaré con una rama:</p>
<pre>$ git branch _last_backported cb5004cb06d91d54c6d187908599e03a2e7f546e</pre>
<h1>Repetir el backport filtrado</h1>
<p>
  Puesto que los dos repositorios son topológicamente diferentes, hay que repetir el
  backport que se hizo. Para ello, hay que filtrar la carpeta
  <code>./addons/website_slides</code> de Odoo y moverlo a la carpeta
  <code>./website_slides</code> de la versión OCA. Para ello, el proceso es similar al
  que hace falta para
  <a href="https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0"
    >migrar módulos OCA de la versión 8.0 a la 9.0</a
  >, pero con un par de trucos extra.
</p>
<p>
  Por cierto, aquí usaré sintaxis de <a href="http://fishshell.com/">Fish</a>, si
  todavía usas <a href="https://www.gnu.org/software/bash/bash.html">Bash</a>, tradúcelo
  tú mismo o cambia a Fish y sé más feliz ;):
</p>
<pre>
$ git checkout -b _website_slides_new_backport odoo/9.0
$ set module addons/website_slides
$ git filter-branch --force --subdirectory-filter $module
$ set module website_slides
$ git filter-branch --force --tree-filter "mkdir $module; git mv -k * $module" HEAD</pre
>
<h1>Cherry-pick de los nuevos commits del nuevo backport</h1>
<p>
  Ahora ya tengo la rama <code>_website_slides_new_backport</code>, con los commits
  idénticos a los originales de Odoo en la rama 9.0, pero filtrados únicamente por el
  directorio que me interesa; y la rama <code>_last_backported</code>, que marca el
  último commit ya existente en OCA.
</p>
<p>
  Ahora voy a excluir los commits que existan en ambas ramas, y hacer cherry-pick de los
  restantes, escogiendo los cambios de parte de Odoo en caso de conflicto:
</p>
<pre>
$ git checkout _last_backported
$ git cherry _last_backported _website_slides_new_backport | grep + | awk '{print $2}' | git cherry-pick --stdin --strategy-option theirs</pre
>
<h1>Mezclar y corregir conflictos</h1>
<p>
  Ahora mezclamos el backport actualizado con el que había, y borramos las ramas que ya
  no necesitamos:
</p>
<pre>
$ git checkout -b 8.0-website_slides-update_backport origin/8.0
$ git merge _last_backported
$ git branch -D _last_backported _website_slides_new_backport</pre
>
<p>
  Evidentemente habrá un montón de conflictos. No queda más remedio que la corrección
  manual:
</p>
<pre>
$ git mergetool # (Abrir GUI de resolución de conflictos en cada fichero)
$ git commit</pre
>
<p>Al terminar, tienes que comprobar manualmente que todo haya funcionado.</p>
<h1>Resultado final</h1>
<p>
  Al final, ya está abierta la
  <a href="https://github.com/OCA/website/pull/251"
    >solicitud de integración para actualizar <code>website_slides</code> en la OCA</a
  >. Échale un ojo si quieres.
</p>
