---
slug: como-elegir-el-metodo-de-entrada-en-gnome-3-6-en-aplicaciones-no-gtk
categories:
  - GNU/Linux
date: "2013-04-29T17:05:55Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Gnome
  - IBus
  - Teclado
title: Cómo elegir el método de entrada en Gnome 3.6 en aplicaciones "no GTK"
type: post
---

<p>
  Si te pones a usar una aplicación hecha con Qt, o a través de Wine, etc. y ves que los
  acentos no salen bién, puede que tengas un problema en el método de entrada (input
  method) que usas.
</p>
<p>Solución:</p>
<ol>
  <li>Abre im-chooser.</li>
  <li>Selecciona el método IBus.</li>
  <li>Si te pregunta si quieres arrancar el demonio IBus, dí que sí.</li>
  <li>Reinicia la sesión.</li>
</ol>
