---
slug: como-crear-vistas-en-odoo-con-yaml
categories:
  - Programación
date: "2015-03-27T15:07:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179146710"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Odoo
  - XML
  - YAML
title: Cómo crear vistas en Odoo con YAML
type: post
---

<p>
  La documentación de <a href="http://odoo.com">Odoo</a> 8.0 explica
  <a href="https://www.odoo.com/documentation/8.0/reference/data.html"
    >cómo crear ficheros de datos XML y CSV</a
  >, pero se olvida de
  <a
    href="https://doc.odoo.com/v6.0/developer/5_16_data_serialization/yaml_serialization.html/"
    >explicar los YAML, tal como hacía la antigua documentación de Odoo 6.0</a
  >.
</p>
<p>
  En cualquier caso, no he encontrado en ninguna parte cómo crear
  <em>vistas</em> usando <a href="http://yaml.org/">YAML</a> (técnicamente, combinándolo
  con <a href="https://es.wikipedia.org/wiki/Extensible_Markup_Language">XML</a>), así
  que aquí va un ejemplo que enseguida entenderá todo aquel que esté acostumbrado a
  crear
  <a href="https://www.odoo.com/documentation/8.0/reference/views.html">vistas en XML</a
  >.<!--more-->
</p>
<p>
  Esto sería el XML,
  <a
    href="https://www.odoo.com/documentation/8.0/howtos/backend.html#relations-between-models"
    >extraído del fichero <em>openacademy/views/openacademy.xml</em> del tutorial</a
  >:
</p>
<pre>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;openerp&gt;
    &lt;data&gt;
        <span class="c">&lt;!-- Full id location:</span>
<span class="c">             action="openacademy.course_list_action"</span>
<span class="c">             It is not required when it is the same module --&gt;</span>

<span class="hll">        <span class="c">&lt;!-- session form view --&gt;</span>
</span><span class="hll">        <span class="nt">&lt;record</span> <span class="na">model=</span><span class="s">"ir.ui.view"</span> <span class="na">id=</span><span class="s">"session_form_view"</span><span class="nt">&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"name"</span><span class="nt">&gt;</span>session.form<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"model"</span><span class="nt">&gt;</span>openacademy.session<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"arch"</span> <span class="na">type=</span><span class="s">"xml"</span><span class="nt">&gt;</span>
</span><span class="hll">                <span class="nt">&lt;form</span> <span class="na">string=</span><span class="s">"Session Form"</span><span class="nt">&gt;</span>
</span><span class="hll">                    <span class="nt">&lt;sheet&gt;</span>
</span><span class="hll">                        <span class="nt">&lt;group&gt;</span>
</span><span class="hll">                            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"name"</span><span class="nt">/&gt;</span>
</span><span class="hll">                            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"start_date"</span><span class="nt">/&gt;</span>
</span><span class="hll">                            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"duration"</span><span class="nt">/&gt;</span>
</span><span class="hll">                            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"seats"</span><span class="nt">/&gt;</span>
</span><span class="hll">                        <span class="nt">&lt;/group&gt;</span>
</span><span class="hll">                    <span class="nt">&lt;/sheet&gt;</span>
</span><span class="hll">                <span class="nt">&lt;/form&gt;</span>
</span><span class="hll">            <span class="nt">&lt;/field&gt;</span>
</span><span class="hll">        <span class="nt">&lt;/record&gt;</span>
</span>
<span class="hll">        <span class="nt">&lt;record</span> <span class="na">model=</span><span class="s">"ir.actions.act_window"</span> <span class="na">id=</span><span class="s">"session_list_action"</span><span class="nt">&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"name"</span><span class="nt">&gt;</span>Sessions<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"res_model"</span><span class="nt">&gt;</span>openacademy.session<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"view_type"</span><span class="nt">&gt;</span>form<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">            <span class="nt">&lt;field</span> <span class="na">name=</span><span class="s">"view_mode"</span><span class="nt">&gt;</span>tree,form<span class="nt">&lt;/field&gt;</span>
</span><span class="hll">        <span class="nt">&lt;/record&gt;</span>
</span>
<span class="hll">        <span class="nt">&lt;menuitem</span> <span class="na">id=</span><span class="s">"session_menu"</span> <span class="na">name=</span><span class="s">"Sessions"</span>
</span><span class="hll">                  <span class="na">parent=</span><span class="s">"openacademy_menu"</span>
</span><span class="hll">                  <span class="na">action=</span><span class="s">"session_list_action"</span><span class="nt">/&gt;</span>
</span>    <span class="nt">&lt;/data&gt;</span>
<span class="nt">&lt;/openerp&gt;</span></pre>
<p>
  Y esto es exactamente lo mismo en YAML (lo guardaríamos como
  <em>openacademy/views/openacademy.yml</em>):
</p>
<pre>
# Full id location:
# action="openacademy.course_list_action"
# It is not required when it is the same module

# Session form view
- !record {model: ir.ui.view, id: session_form_view}
    name: session.form
    model: openacademy.session
    arch: |
        &lt;form string="Session Form"&gt;
            &lt;sheet&gt;
                &lt;group&gt;
                    &lt;field name="name"/&gt;
                    &lt;field name="start_date"/&gt;
                    &lt;field name="duration"/&gt;
                    &lt;field name="seats"/&gt;
                &lt;/group&gt;
            &lt;/sheet&gt;
        &lt;/form&gt;
    
- !record {model: ir.actions.act_window, id: session_list_action}
    name: Sessions
    res_model: openacademy.session
    view_type: form
    view_mode: tree,form

- !menuitem {id: session_menu,

             name: Sessions
             parent: openacademy_menu
             action: session_list_action}</pre
>
<p>
  Como ves, al crear la vista al final hay que acabar usando XML, pero desde luego el
  resto del documento se beneficia bastante de la sintaxis YAML.
</p>
<p>
  La pega es que será complicado que encuentres un editor de texto que te resalte la
  sintaxis de XML y YAML en el mismo documento. Quizá convenga usar XML para las vistas
  y YAML para lo demás.
</p>
<p>
  Por cierto, los elementos tipo <code>!record</code> son constructores personalizados
  de Odoo (es decir, no es YAML estándar). Consulta el fichero
  <a href="https://github.com/odoo/odoo/blob/8.0/openerp/tools/yaml_tag.py#L171"
    ><code>yaml_tag.py</code></a
  >
  para ver todos los que hay.
</p>
