---
slug: como-acceder-a-un-registry-privado-de-docker-almacenando-tu-contrasena-de-forma-segura
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
date: "2018-07-27T17:30:37Z"
meta:
  _oembed_66a7b661e9c23b4c8d6777f0380a04c2: "{{unknown}}"
  _oembed_cf5b1055ac3e85354011d40e71c9780a: "{{unknown}}"
  _oembed_eebf45f9f58bd0c90590b608cafa7e75: "{{unknown}}"
  _oembed_f0f21702fa3b77ff9933d458cbe6d96a: "{{unknown}}"
  _publicize_done_16694817: "1"
  _publicize_failed_16694815: O:13:"Keyring_Error":2:{s:6:"errors";a:1:{s:21:"keyring-request-error";a:1:{i:0;a:6:{s:7:"headers";O:42:"Requests_Utility_CaseInsensitiveDictionary":1:{s:7:"
  _publicize_job_id: "20455553910"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/Hty7mryYXk6
  timeline_notification: "1532705574"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
  - Fish
  - Gnome
  - Linux
title:
  Cómo acceder a un registry privado de Docker, almacenando tu contraseña de forma
  segura
type: post
---

<p>Asumiré 3 cosas:</p>
<ol>
  <li>
    Que te has encontrado con esta advertencia al hacer docker login en un registry
    privado:
    <pre>
$ docker login registry.example.com
Username: myuser
Password:

WARNING! Your password will be stored unencrypted in /home/myuser/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Login Succeeded</pre
    >
  </li>
  <li>
    Que estás usando una distro Linux con un escritorio en condiciones, como GNOME.
  </li>
  <li>
    Que usas
    <a href="https://recallstack.wordpress.com/2014/08/04/fish-shell/">Fish</a>
    como tu shell.
  </li>
</ol>
<p>Veamos cómo solucionarlo:</p>
<p><!--more--></p>
<p>Antes que nada, borramos esos credenciales inseguros:</p>
<pre>$ docker logout registry.example.com</pre>
<p>
  Vamos a decirle a Fish que encuentre binarios en tu carpeta local destinada a tal
  efecto:
</p>
<pre>$ set --universal fish_user_paths ~/.local/bin/</pre>
<p>
  Ahora, vamos a
  <a href="https://github.com/docker/docker-credential-helpers/releases"
    >la página de descargas del proyecto <code>docker-credential-helpers</code></a
  >, y descargamos la última versión de la variante <code>secretservice</code>. A día de
  hoy, el archivo se llama
  <code>docker-credential-secretservice-v0.6.0-amd64.tar.gz</code>.
</p>
<p>
  Abre eso que has descargado, abre la carpeta que hay dentro, y encontrarás un archivo
  llamado <code>docker-credential-secretservice</code>. Cópialo en la carpeta
  <code>~/.local/bin/</code>.
</p>
<p>Ya lo tienes listo. Ahora repite el login:</p>
<pre>$ docker login registry.example.com</pre>
