---
slug: como-usar-autosquash-en-git
categories:
  - Control de versiones
  - Programación
date: "2017-09-10T18:51:19Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/906923077510057984";}}
  _publicize_job_id: "9148372704"
  _rest_api_client_id: "2697"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/cuv8fW6YpoJ
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
title: Cómo usar autosquash en Git
type: post
---

<p>
  Cuando uno trabaja en una rama de desarrollo con git, es bastante habitual que haya
  que cambiar multitud de detalles hasta que se mezcla en la rama principal. A veces lo
  que estás desarrollando incluye varios commits lógicos, pero se acaban diluyendo entre
  multitud de "quitar basura", "wip", "typo", "PR review", etc.
</p>
<p>
  Para que luego se quede el historial limpio, normalmente se hará un rebase manual,
  pero en tales circunstancias es un rollo.
</p>
<p>
  Para evitar tener que hacer estas cosas, podemos hacer cualquiera de estos 2 comandos:
</p>
<pre>
$ git commit --all --fixup $COMMIT
$ git commit --all --squash $COMMIT</pre
>
<p>
  El primero marcará el nuevo commit como para desaparecer y mezclarse con
  <code>$COMMIT</code> (ante las dudas,&nbsp;<code>COMMIT=HEAD</code>). El segundo hará
  lo mismo, pero en modo squash, es decir que mezclará no solo el código que ha cambiado
  sino el mensaje del commit (salvo la primera línea).
</p>
<p>Cuando haya que hacer el squash final:</p>
<pre>$ git rebase -i --autosquash</pre>
<p>
  Y los commits que hayas marcado previamente te aparecerán en orden y ya premarcados
  con la acción correspondiente.
</p>
<p>También puedes hacer este comportamiento el por defecto de rebase:</p>
<pre>$ git config --global rebase.autoSquash true</pre>
