---
slug: como-transformar-videos-con-gstreamer
categories:
  - Audio
  - GNU/Linux
  - Vídeo
date: "2014-10-13T23:12:25Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179422384"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gstreamer
  - transcodificación
title: Cómo transformar videos con GStreamer
type: post
---

<h2>Situación</h2>
<p>
  Tienes unos cuantos vídeos en tu ordenador procedentes de diversas fuentes (cámara,
  móvil, Internet, etc.) con diversos formatos (.mp4, .mov, etc.) y quieres unificarlos
  en un formato libre (aunque no necesariamente, pero sí es recomendable) que ocupe
  menos espacio en tu disco duro (<a
    href="http://www.emezeta.com/articulos/formatos-de-video-todo-lo-que-deberias-saber"
    >más información sobre los formatos de vídeo</a
  >).<!--more-->
</p>
<h2>Solución fácil, pero uno por uno</h2>
<p>
  Si no te importa ir archivo por archivo, lo más sencillo es usar
  <a href="http://www.linuxrising.org/">Transmageddon</a>, una aplicación que viene
  empaquetada en casi todas las distribuciones Linux, y que resulta muy fácil de
  utilizar.
</p>
<h2>Solución difícil, pero todos de una vez</h2>
<p>
  Usaremos directamente
  <a href="http://gstreamer.freedesktop.org/">GStreamer 1.0</a>, que es la herramienta
  que usan <em>entre bastidores</em> casi todas las herramientas gráficas de audio en
  GNOME.
</p>
<p>
  Crea un script llamado <code>~/.local/bin/gst-video-compress</code> con este
  contenido:
</p>
<pre>
#!/bin/bash

# Transform to Ogg (VP8 + Opus)
function transcode {
    gst-launch-1.0 \
        filesrc "location=$(readlink -f $1)" ! \
        decodebin name=demux ! \
            queue ! \
                progressreport "name=Encoding video for $1" ! \
                vp8enc ! \
                oggmux name=mux ! \
                filesink "location=$(readlink -f ${1%.*}).ogg" \
            demux. ! queue ! \
                progressreport "name=Encoding audio for $1" ! \
                audioconvert ! \
                audioresample ! \
                opusenc ! \
        mux. \
    &amp;&amp; [ "$RM" == "y" ] &amp;&amp; rm "$n"
}

# Fork it to make use of all processors
for f in $*; do
    while [ $(jobs | wc -l) -ge $(nproc) ]; do
        sleep 5
    done

    transcode $f &amp;
done

# Don't exit until everything is finished
for j in $(jobs -p); do
    wait $j
done</pre
>
<p>
  Esto coge cualquier vídeo y lo transforma a Ogg (VP8 + Opus) con el mismo nombre de
  fichero que el anterior, y además transcodifica simultáneamente tantos videos como
  procesadores tengas. Si quieres entender lo que hace, consulta
  <a href="http://recallstack.wordpress.com/2011/02/22/tuberias-pipelines-en-gstreamer/"
    >la explicación que ya di sobre qué son las tuberías de GStreamer</a
  >
  y
  <a href="http://stackoverflow.com/a/4649990/1468388"
    >esta respuesta de Stack Overflow</a
  >. También puedes usar el comando <code>gst-inspect-1.0</code> con cada plugin
  (<code>filesrc</code>, <code>decodebin</code>, <code>queue</code>, etc.) para ver qué
  hace cada cual.
</p>
<p>Ahora puedes invocar ese script de la siguiente manera:</p>
<pre>$ gst-video-compress *.mp4 *.mov</pre>
<p>
  Y si quieres que automáticamente vaya borrando los ficheros conforme vaya
  transcodificándolos sin errores:
</p>
<pre>$ RM=y gst-video-compress *.mp4 *.mov</pre>
