---
slug: como-hacer-consultas-sql-que-se-vean-bonitas
categories:
  - Programación
date: "2012-04-04T14:17:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "2878360497968754080"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - SQL
title: Cómo hacer consultas SQL que se vean bonitas
type: post
---

<p>
  Probablemente SQL sea el único lenguaje de manejo de base de datos existente (al menos
  que yo conozca). Ése es el objetivo principal de dicho lenguaje (aunque también
  permite programar, claro). Tal vez por ese motivo sea uno de los lenguajes más
  peculiares que existen.
</p>
<p>
  Por peculiar me refiero en este artículo a su sintaxis. El SQL suele estar incluido
  dentro de otros programas escritos en otros lenguajes, en forma de strings. De modo
  que ahí surge la cuestión:<br />
</p>
<h2>¿Cómo crear consultas SQL fáciles de leer?</h2>
<p>
  O dicho de otra forma, ¿qué normas de escritura (coding guidelines) usar? Pues,
  básicamente, las que te de la gana.
</p>
<p>
  Personalmente, tras mucho tiempo trabajando con este estupendo lenguaje, he
  desarrollado las siguientes normas de escritura:
</p>
<ol>
  <li>Las palabras reservadas en MAYÚSCULAS.</li>
  <li>El resto de palabras en minúsculas, separadas_por_guiones_bajos.</li>
  <li>Derrochar espacio vertical queda bien.</li>
  <li>No superar los 79 caracteres de ancho (salvo que sea imposible).</li>
</ol>
<p>
  Hay otras normas que no se muy bien cómo explicarlas con palabras, así que mejor
  pondré uno ejemplo. Usaré indentación de 4 espacios, que es la que más me gusta:
</p>
<pre>SELECT<br />    gr.id           AS grupo_id, <b>-- Nota 1</b><br />    gr.nombre       AS grupo_nombre,<br />    gr.campo_con_un_nombre_demasiado_largo_como_para_encajar_de_forma_bonita<br />                    AS grupo_largo, <b>-- Nota 2</b><br /><br />    al.nombre       AS alumno_nombre, <b>-- Nota 3</b><br />    al.apellido_1   AS alumno_apellido_1,<br />    al.apellido_2   AS alumno_apellido_2,<br /><br />    fe.fecha_inicio,<br />    fe.fecha_fin<br />FROM<br />    formacion.grupos <b>-- Nota 4</b><br />        AS      gr<br /><br />    INNER JOIN  formacion.alumnos_grupo <b>-- Nota 5</b><br />        AS      ag <b>-- Nota 6</b><br />        ON      ag.grupo<br />        =       gr.id<br /><br />    INNER JOIN  formacion.alumnos<br />        AS      al<br />        ON      al.id<br />        =       ag.alumno<br /><br />    LEFT JOIN   ( <b>-- Nota 7</b><br />        SELECT<br />            grupo,<br />            MIN(fecha) AS fecha_inicio,<br />            MAX(fecha) AS fecha_fin<br />        FROM<br />            formacion.grupos_fechas<br />                AS      s1_fe <b>-- Nota 8</b><br />        WHERE<br />            grupo = gr.id<br />    )<br />        AS      fe<br />        ON      fe.grupo<br />        =       gr.id<br />WHERE<br />        CONCAT(<br />            al.nombre,       ' ', <b>-- Nota 9</b><br />            al.apellido_1,   ' ',<br />            al.apellido_2<br />        )<br />        LIKE :alumno<br />    AND ( <b>-- Nota 10</b><br />            gr.id &lt;= :grupo_maximo<br />        OR <b>-- Nota 10</b><br />            (fe.fecha_inicio &lt; :hasta AND fe.fecha_fin &gt; :desde) <b>-- Nota 11</b><br />    )<br /></pre>
<p>Notas respecto al código de arriba:</p>
<ol>
  <li>Alinear las etiquetas <code>AS</code>.</li>
  <li>
    Si una etiqueta <code>AS</code> no cabe porque el nombre de la columna es demasiado
    largo, o es una fórmula muy larga también, se pasa a la línea siguiente, igualmente
    alineado.
  </li>
  <li>Los campos se pueden separar en grupos si:</li>
</ol>
<ol>
  <li>
    Tiene cierto significado, como aquí, que hemos separado los campos de grupo de los
    de alumnos y los de fechas.
  </li>
  <li>
    También si para calcular un campo hay una fórmula muy complicada, y separándolo más
    se facilita la lectura porque enfatiza que dicho campo ha terminado.
  </li>
</ol>
<li>La primera tabla de todas intentaremos que sea la principal.</li>
<li>Para los <code>INNER/LEFT/RIGHT JOIN</code> usaremos este tipo de alineación.</li>
<li>
  Si les ponemos alias, la longitud de todos los alias debe ser la misma (en este caso,
  2).
</li>
<li>
  Las subconsultas se anidarán de la misma forma, pero con más indentación.
</li>
<li>En las sub-consultas, los alias son:</li>
<ol>
  <li>Una <b>s</b> (indicando que es <b>s</b>ub-consulta)</li>
  <li>
    Seguida de un <b>número</b> que indica la profundidad. Por ejemplo, si fuera una
    sub-sub-consulta, el número sería un 2.
  </li>
  <li>Un guión bajo (<b>_</b>).</li>
  <li>Un alias con la misma longitud que hemos decidido en el punto 5.</li>
</ol>
<li>
  &nbsp;Al hacer concatenaciones, los espacios se pueden alinear para que no molesten.
  En cualquier otra función, si no cabe en el ancho, se separará como se ve aquí.
</li>
<li>
  Los operadores lógicos se colocan en un nivel anterior que las operaciones, para
  separarlas (si no caben en una línea).
</li>
<li>
  Si cabe en una línea, y siempre y cuando así quede claro de ver, se colocará en una
  línea.
</li>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-2878360497968754080?l=recallstack.blogspot.com"
    alt=""
  />
</div>
