---
slug: como-hacer-un-cherry-pick-sin-descargar-todo-el-historico-de-un-proyecto-en-github
categories:
  - Control de versiones
  - Programación
date: "2018-03-16T19:40:34Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/974718887668350977";}}
  _publicize_job_id: "15797498491"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/TpPj9cmhKjD
  publicize_twitter_user: __yajo
  timeline_notification: "1521226065"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
  - GitHub
  - OCA
  - Odoo
  - Tecnativa
title:
  Cómo hacer un cherry-pick sin descargar todo el histórico de un proyecto en GitHub
type: post
---

<p>
  Primero, el contexto: quería abrir
  <a href="https://github.com/OCA/OCB/pull/712">este backport a OCB 9.0</a>, pero había
  clonado así:
</p>
<pre>$ git clone --depth 100 --branch 9.0 https://github.com/OCA/OCB.git</pre>
<p>
  El problema ahora es que para hacer cherry-pick del
  <a href="https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770"
    >commit correspondiente en Odoo 10.0</a
  >, hubiera necesitado mucho tiempo descargando todo ese árbol de código, que es
  considerablemente grande.
</p>
<p>
  Es por eso que usé un par de herramientas que nos dan git y GitHub para estos
  menesteres:
</p>
<p><!--more--></p>
<p>
  En cuanto a GitHub, para cada commit o pull request, siempre podemos añadir a la URL:
</p>
<ul>
  <li><code>.diff</code> para obtener el diff con respecto a la rama base</li>
  <li><code>.patch</code> para obtener el parche</li>
</ul>
<p>Ejemplos para el commit en cuestión:</p>
<ul>
  <li>
    https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770
  </li>
  <li>
    https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770.diff
  </li>
  <li>
    https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770.patch
  </li>
</ul>
<p>
  Es por esto que pude aplicar el parche sin necesidad de descargar más histórico en
  Git:
</p>
<pre>
$ git checkout -b 9.0-event-no_mail_cancelled # Crear una nueva rama para el PR
$ curl -sSL 'https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770.patch' | git am -3 --keep-non-patch -
Applying: [PATCH] [FIX] calendar, event: do not send emails to canceled attendees
error: sha1 information is lacking or useless (addons/calendar/models/calendar.py).
error: could not build fake ancestor
Patch failed at 0001 [PATCH] [FIX] calendar, event: do not send emails to canceled attendees
The copy of the patch that failed is found in: .git/rebase-apply/patch
When you have resolved this problem, run "git am --continue".
If you prefer to skip this patch, run "git am --skip" instead.
To restore the original branch and stop patching, run "git am --abort".</pre
>
<p>
  💥 ¡Error! Al parecer estoy descargando cambios para
  <code>addons/calendar/models/calendar.py</code>, un archivo que en la rama 9.0 no
  existía. El parche para dicho archivo tampoco es que me sirva de nada, así que lo
  ignoraremos:
</p>
<pre>
$ git am --abort # Cancelamos lo que estábamos haciendo
$ curl -sSL 'https://github.com/odoo/odoo/commit/de62e33618211fd754ad6e372ac93805cce58770.patch' | git am -3 --keep-non-patch --exclude addons/calendar/models/calendar.py -
Applying: [PATCH] [FIX] calendar, event: do not send emails to canceled attendees</pre
>
<p>
  ¡Listo! Ahora, si tengo que hacer algún cambio adicional a algún fichero, puedo
  hacerlo tranquilamente. También si quiero cambiar el mensaje de commit, nuestro viejo
  amigo <code>git commit --amend</code> nos puede servir.
</p>
<p>Finalmente, subo el cambio a mi repositorio para poder abrir el PR:</p>
<pre>
$ git remote add tecnativa git@github.com:Tecnativa/odoo.git # El PR lo tengo que hacer desde nuestro repo
$ git fetch tecnativa 9.0 # Esto sirve para que mi clon local pueda generar la diferencia de commits entre los repositorios de OCB y Tecnativa
$ git push -u tecnativa 9.0-event-no_mail_cancelled # Subo los cambios de esta rama, que crearán la rama remota que no existía</pre
>
<p>¡Luego, creas el PR y listo!</p>
