---
slug: como-reducir-el-tamano-de-la-particion-volumen-logico-lvm-root
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2012-07-17T20:44:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "1766110948172025795"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - Logical Volume Manager (Linux)
  - LVM
  - Particiones
title: Cómo reducir el tamaño de la partición (volumen lógico) LVM root
type: post
---

<h2>¿Qué es LVM?</h2>
<p>
  Ya existen
  <a href="https://es.wikipedia.org/wiki/Logical_Volume_Manager"
    >explicaciones técnicas</a
  >, así que simplemente digamos que permite usar el total de tus discos duros a tu
  antojo, pudiendo cambiar el tamaño de las particiones sin reiniciar la máquina, hacer
  snapshots, o haciendo particiones repartidas en varios discos duros. Estas son solo
  algunas de <a href="https://wiki.ubuntu.com/Lvm">las ventajas que ofrece</a>.
</p>
<p>
  Por ejemplo, si te quedas sin espacio en los discos duros, añades otro más, expandes
  el volumen lógico (la partición), y es como si tuvieras un solo disco duro más
  grande.<br />
</p>
<h2>Cambiando el tamaño de la partición raíz</h2>
<p>
  En mi caso quería reducir el tamaño del volumen lógico usado por la partición raíz
  (<code>/</code>), para asignarlo a una nueva partición.
</p>
<p>
  Para ello primero necesito saber cuánto tiene ocupado, para no quitarle más de lo
  necesario:
</p>
<pre>$ df --human-readable<br />S.ficheros            Size  Used Avail Use% Montado en<br />/dev/mapper/vg_srv-lv_root<br />                       49G  2,1G   46G   5% /<br />tmpfs                 496M     0  496M   0% /dev/shm<br />/dev/sda1             485M   52M  408M  12% /boot<br />/dev/mapper/vg_srv-lv_home<br />                      4,8G  138M  4,4G   3% /home</pre>
<p>
  De modo que en <code>vg_rsv-lv_root</code> tengo usados 2,1GB y me sobran 46GB.
  <b>La dejaré con 5GB</b>, que debería sobrarme, y aprovecharé el resto del espacio.
</p>
<p>
  Sin embargo, mientras que
  <b>para aumentar el tamaño de una partición no hace falta desmontarla</b> (si usas un
  sistema de ficheros que lo soporte, como <i>ext3/4</i>), <b>para reducirlo sí</b>.
  Claro, no puedo desmontar <code>/</code> o me quedo sin ordenador.
</p>
<p>
  Para solventar este problema, inserta el CD Live de la distro que instalaste y arranca
  sin montar ningún disco. En mi caso usé
  <a href="http://www.centos.org/">CentOS</a>, así que reiniciaré con el CD metido y
  seleccionaré la opción <i>Boot (Text Mode)</i>. Cuando arranque me pedirá un usuario,
  que será <i>root</i>, sin contraseña. Ahora sí que podré reducir el tamaño de la
  partición raíz a mi antojo.
</p>
<pre># lvm lvresize --resizefs --size 5G vg_srv/lv_root</pre>
<p>
  Nota que para referirme a la partición he usado una ruta <i>especial</i> de LVM, que
  es <code>grupo-de-volúmenes/volumen-lógico</code>, pero podríamos haber usado la ruta
  física como <code>/dev/mapper/vg_srv-lv_root</code>.
</p>
<p>
  Hecho esto, saca el CD, reinicia, y ya deberías tener tu nueva partición raíz de 5GB.
</p>
<p>
  Ahora puedes seguir estas
  <a href="http://vilecha.com/Hellguest/lvm2_creacion.asp"
    >instrucciones para crear nuevos volúmenes lógicos</a
  >
  y aprovechar ese espacio.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/62ba1-5801165928817664556-1766110948172025795.gif"
    alt=""
  />
</div>
