---
slug: como-localizar-errores-en-la-configuracion-de-apache
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
date: "2013-10-30T19:53:58Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Apache
  - errores 403 Forbidden
  - permisos
  - su
  - sudo
title: Cómo localizar errores en la configuración de Apache
type: post
---

<p>
  A veces el
  <a href="http://httpd.apache.org/">servidor HTTP de Apache</a> empieza a lanzarnos
  errores <code>403 Forbidden</code> o de otro tipo que a más de uno nos pueden volver
  locos. Concretamente, este tipo de errores suelen tener que ver con los
  <strong>permisos</strong>, pero si no logramos entender dónde está el fallo de los
  permisos, podemos tener en cuenta dos <strong>conceptos básicos</strong>:
</p>
<ol>
  <li>
    Apache (y muchos otros servicios)
    <strong>corre como un usuario</strong> específico, cuya cuenta suele estar
    bloqueada.
    <ul>
      <li>
        Usuario <code>www-data</code> en <a href="http://debian.org">Debian</a> y
        derivados.
      </li>
      <li>
        Usuario <code>apache</code> en <a href="http://redhat.com">RHEL</a>,
        <a href="http://fedoraproject.org">Fedora</a> y derivados.
      </li>
    </ul>
  </li>
  <li>
    Ese usuario <strong>necesita acceso a los ficheros</strong> como lo necesitaría
    cualquier otro.
  </li>
</ol>
<h2>Hazte Apache</h2>
<p>
  Con este simple comando <strong>nos convertiremos en Apache</strong>, y podremos
  ejecutar comandos y recorrer los directorios en su nombre, pudiendo dar con los
  errores de permiso en seguida:
</p>
<pre>$ sudo su --login --shell /usr/bin/bash apache</pre>
