---
slug: como-expandir-un-rango-de-ips
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2018-03-22T19:04:20Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/976885418787508226";}}
  _publicize_job_id: "16001587384"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/YfgHNY3fsf7
  publicize_twitter_user: __yajo
  timeline_notification: "1521742606"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CIDR
  - sipcalc
title: Cómo expandir un rango de IPs o CIDR
type: post
---

<p>
  Ahora vas y te encuentras por ahí un
  <a href="https://es.wikipedia.org/wiki/Classless_Inter-Domain_Routing">CIDR</a>
  como 10.0.10.4/20 y no tienes ni idea de qué quiere decir... Pues la solución:
</p>
<p><!--more--></p>
<pre>
$ sipcalc 10.0.10.4/20
-[ipv4 : 10.0.10.4/20] - 0

[CIDR]
Host address - 10.0.10.4
Host address (decimal) - 167774724
Host address (hex) - A000A04
Network address - 10.0.0.0
Network mask - 255.255.240.0
Network mask (bits) - 20
Network mask (hex) - FFFFF000
Broadcast address - 10.0.15.255
Cisco wildcard - 0.0.15.255
Addresses in network - 4096
Network range - 10.0.0.0 - 10.0.15.255
Usable range - 10.0.0.1 - 10.0.15.254</pre
>
<p>
  O, si prefieres algo más bonito, puedes usar
  <a href="https://ipaddressguide.com/cidr">esta calculadora online</a>.
</p>
