---
slug: como-juguetear-con-linux-y-no-morir-en-el-intento
categories:
  - Administración de sistemas
  - Empaquetado de software
  - GNU/Linux
  - Seguridad
  - Virtualización
date: "2015-05-19T16:33:55Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "10846907682"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - alien
  - docker
  - FHS
  - Git
  - LSB
  - Mercurial
  - permisos
  - RPM
title: Cómo juguetear con Linux y no morir en el intento
type: post
---

<p>
  Conozco gente a quien le encanta Linux, pero que
  <strong>siempre está reinstalándolo porque se lo ha cargado</strong>
  intentando hacer algo que no sabía muy bien cómo hacer. Quizá un manazas que
  <del>se cree</del> está aprendiendo a ser un manitas, o quizá simplemente le guste
  hackear cosas. Aquí va una breve guía para quienes están en esa situación (y empiezan
  a hartarse).<!--more-->
</p>
<h2>Haz las pruebas en una máquina virtual</h2>
<p>
  Todas las distribuciones Linux vienen con alguna herramienta de virtualización. Quizá
  la mejor en relación
  <em>sencillez/funcionalidad</em> sea
  <a href="https://www.virtualbox.org/">VirtualBox</a>, aunque también tenemos
  <a href="http://virt-manager.org/">virt-manager</a> para quienes necesiten más
  funcionalidades o <a href="https://wiki.gnome.org/Apps/Boxes">Cajas</a> para quienes
  necesiten más sencillez.
</p>
<p>
  Si vas a empezar a trastear sin saber muy bien si va a funcionar,
  <strong>siempre es mejor hacer las pruebas en un entorno virtual</strong>, el cual
  puedes restaurar a una versión anterior con dos clicks, o eliminar y re-crear con
  otros dos. Tu máquina anfitriona seguirá intacta, sin importar cuánto destroces la
  virtual.
</p>
<h2>Crea un usuario limitado para las pruebas</h2>
<p>
  Esta es otra alternativa a la máquina virtual, para cuando necesitas hacer pruebas en
  un entorno real para no perder rendimiento. Quizá si tienes que instalar un juego o
  algo así...
</p>
<p>
  Realmente es muy difícil que un usuario
  <strong>sin permisos de superusuario</strong> pueda llegar a cargarse una instalación
  Linux, o siquiera cualquier cosa que no sea su <code>$HOME</code>, así que créate un
  usuario para las pruebas y
  <strong>no te permitas usar <code>sudo</code></strong> desde esa cuenta.
</p>
<p>
  Si algo sale mal, eliminas el usuario, eliminas su carpeta, lo vuelves a crear, y
  asunto arreglado.
</p>
<p>
  Si sale bien, coges lo que has hecho, te lo copias a la <code>$HOME</code> de tu
  usuario normal, le haces un <code>chown</code>, y eliminas el usuario de pruebas y su
  carpeta.
</p>
<h2>Instala todo el software en paquetes</h2>
<p>Evita ante todo instalar software que no venga empaquetado.</p>
<ol>
  <li>Busca los paquetes para tu distribución.</li>
  <li>Si no hay, busca para otra distribución que use tu misma paquetería.</li>
  <li>
    Si no hay, busca para otra distribución que use paquetería distinta, y transfórmalo
    a la de tu distribución con herramientas como
    <a href="https://wiki.debian.org/Alien">alien</a>.
  </li>
  <li>
    Si no hay, crea tu propio paquete. No es muy diferente de compilar a mano, pero se
    hace todo automáticamente y es más fácil actualizar, desinstalar y encontrar errores
    en la compilación.
  </li>
</ol>
<p>
  Puedes mirar
  <a href="https://recallstack.wordpress.com/2012/02/05/empaquetado-rpm/"
    >el tutorial que hice hace tiempo de cómo empaquetar en RPM</a
  >. De entrada te diré que para hacer un RPM sólo necesitas el código fuente del
  programa y un fichero de texto en el que le das las órdenes para que lo compile e
  instale.
</p>
<p>
  Como nota adicional,
  <a href="https://es.wikipedia.org/wiki/Linux_Standard_Base#Cr.C3.ADtica"
    >los paquetes RPM forman parte del LSB</a
  >. Para entendernos: toda distribución Linux debe permitir instalar paquetes RPM
  (aunque sea mediante convertidores) para ser considerada oficialmente una distribución
  Linux, de modo que son un buen lugar para empezar.
</p>
<h2>Instala los servidores en Docker</h2>
<p>
  <a href="http://docker.com/">Docker</a> es, quizá, la tecnología más influyente que ha
  surgido el año pasado. Permite crear servidores de la forma más fácil posible, y
  redistribuirlos igual de fácil.
</p>
<p>
  Si vas a instalar un servidor <strong>de lo que sea</strong>, busca en
  <a href="https://registry.hub.docker.com/">hub.docker.com</a>, y si hay una imagen
  oficial (o al menos confiable) instálalo desde ahí.
</p>
<p>
  No es el objetivo de esta entrada enseñarte a usar Docker, pero te garantizo que si
  administras sistemas (en definitiva, si todo lo que has leído hasta ahora
  <em><strong>no</strong> te suena a chino</em>), aprender a usarlo será el tiempo mejor
  invertido de toda tu carrera.
</p>
<h2>Usa control de versiones para guardar los cambios de <code>/etc</code></h2>
<p>
  En <code>/etc</code> es donde se almacenan las configuraciones para todos los
  servicios del sistema. A veces no hay más remedio que cambiar alguna, así que es bueno
  que tomes la costumbre de usar algún sistema de control de versiones (como
  <a href="https://git-scm.com/">Git</a> o
  <a href="http://mercurial.selenic.com/">Mercurial</a>)
  <strong>para no perder el rastro de los cambios</strong> que hagas.
</p>
<h2>Todo el software no empaquetado va en <code>/usr/local</code></h2>
<p>
  Si por algún motivo todos los consejos de arriba no te son suficientes, toma este
  último: el prefijo <code>/usr/local</code> en las distribuciones Linux se utiliza para
  colocar el software que no viene empaquetado en ningún sitio y que sólo está
  disponible localmente en tu máquina.
</p>
<p>
  <code>/usr/local</code> tiene a su vez subdirectorios similares a los mismos que tiene
  <code>/usr</code>, pero el administrador del sistema ya sabe que
  <strong>todo lo que haya ahí no va empaquetado</strong>.
</p>
<p>
  También está el prefijo <code>/opt</code> para cuando el software viene en un paquete
  difícil de encajar en la estructura de <code>/usr/local</code>. Es habitual que se
  usen subdirectorios de <code>/opt</code> para poner el programa, y se vinculen con
  <code>ln -s</code> los binarios en <code>/usr/local/bin</code>.
</p>
<p>
  Puedes repasar el
  <a
    href="https://es.wikipedia.org/wiki/Filesystem_Hierarchy_Standard#Especificando_los_directorios_definidos_por_FHS"
    >Filesystem Hierarchy Standard</a
  >
  si te estás liando.
</p>
<p>
  En resumen:
  <strong
    >si tienes que instalar cosas a mano, nunca te salgas de <code>/usr/local</code> ni
    <code>/opt</code></strong
  >.
</p>
<h2>Conclusión</h2>
<p>
  Estos son simplemente algunos principios que creo que podrán ayudarte a no cargarte tu
  instalación cada semana. De todas formas, algo puede salir mal, así que no te
  desesperes. Si no me hubiera pasado a mí cientos de veces, no habría podido darte
  todos estos consejos, así que ¡a reinstalar! La próxima vez saldrá mejor. ;)
</p>
