---
slug: como-conectar-remotamente-a-mi-escritorio-gnome-3
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2015-02-09T15:13:42Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179158277"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - FreeRDP
  - Gnome
  - NX
  - RDP
  - SSH
  - vino
  - VNC
  - Wayland
  - X11
  - X2Go
title: Cómo conectar remotamente a mi escritorio GNOME 3
type: post
---

<h2>Problema</h2>
<p>
  Antiguamente podíamos configurar conexiones a nuestro escritorio Linux a través del
  protocolo
  <a href="https://es.wikipedia.org/wiki/Tecnolog%C3%ADa_NX">FreeNX</a> o su
  descendiente directo <a href="http://wiki.x2go.org/doku.php">X2Go</a>, pero poco a
  poco va haciéndose más imposible, ya que los escritorios completos modernos (GNOME 3,
  KDE, Cinnamon) utilizan ciertas extensiones de
  <a href="https://es.wikipedia.org/wiki/Sistema_de_ventanas_X">X11</a> (GLX, si no me
  equivoco) que
  <a href="http://wiki.x2go.org/doku.php/doc:de-compat"
    >no son compatibles con esos protocolos</a
  >. En cualquiera de los casos, al ser ambos protocolos basados directamente en X11, y
  teniendo en cuenta que en breve X11 va a empezar a desaparecer en favor de
  <a href="http://wayland.freedesktop.org/">Wayland</a> y
  <a href="https://wiki.ubuntu.com/Mir/">Mir</a>, deduzco que NX y derivados también
  tenderán a desaparecer, ya que
  <a
    href="http://wiki.x2go.org/doku.php/doc:faq?s%5B%5D=wayland#does_x2go_support_wayland"
    >ni son ni serán compatibles</a
  >.<!--more-->
</p>
<h2>Solución propuesta</h2>
<p>
  Visto lo anterior, recurriremos al
  <a href="https://es.wikipedia.org/wiki/VNC">protocolo VNC</a>, que es bastante más
  pobre que los otros mencionados, ya que es inseguro, no soporta autenticación por
  clave pública, no permite iniciar sesión (tan solo se conecta a una sesión que ya esté
  abierta) y ofrece peor compresión.
</p>
<p>
  ¿Por qué recurrimos a él entonces? Parece que es el que soporta oficialmente GNOME 3 y
  el más fácil de configurar, y dentro de lo que cabe se puede hacer más seguro
  pasándolo por un
  <a
    href="https://es.wikipedia.org/wiki/T%C3%BAnel_%28inform%C3%A1tica%29#T.C3.BAnel_SSH"
    >túnel SSH</a
  >.
</p>
<h3>Cómo configurarlo</h3>
<h4>Servidor VNC</h4>
<p>
  Para empezar, vamos a
  <em>Configuración &gt; Compartir &gt; Compartición de la pantalla</em>, y la
  activamos:
</p>
<p>
  [caption id="attachment_718" align="aligncenter" width="218"]<a
    href="https://recallstack.wordpress.com/2015/02/09/como-conectar-remotamente-a-mi-escritorio-gnome-3/captura-de-pantalla-de-2015-02-09-104354/"
    rel="attachment wp-att-718"
    ><img
      class="size-medium wp-image-718"
      src="/assets/captura-de-pantalla-de-2015-02-09-104354.png?w=218"
      alt="Activar el servidor VNC en el puerto 9000"
      width="218"
      height="300"
  /></a>
  Activar el servidor VNC en el puerto 9000[/caption]
</p>
<p>&nbsp;</p>
<p>
  Como podéis observar en la foto, nos da la opción de usar una contraseña o no:
</p>
<ul>
  <li>
    Si estableces una contraseña, podrás conectar siempre que quieras si te la sabes.
  </li>
  <li>
    Si no pones contraseña, al solicitar conexión aparecerá en el escritorio un cartel
    avisando al usuario local de que alguien quiere conectarse remotamente a su
    escritorio, y dándole la opción a aceptar o rechazar dicha conexión.
  </li>
</ul>
<p>
  Como en nuestro caso se supone que no habrá nadie sentado en la máquina cuando
  queramos conectarnos desde fuera, optaremos por
  <strong>poner una contraseña</strong>.
</p>
<p>
  Esto pone a escuchar el servicio VNC en el puerto 9000, pero este puerto
  <strong>no lo publicaremos</strong> en el router.
</p>
<h4>Servidor SSH</h4>
<p>
  A continuación activaremos el inicio de sesión remoto, que es como llaman al servidor
  SSH:
</p>
<p>
  [caption id="attachment_719" align="aligncenter" width="300"]<a
    href="https://recallstack.wordpress.com/2015/02/09/como-conectar-remotamente-a-mi-escritorio-gnome-3/captura-de-pantalla-de-2015-02-09-105300/"
    rel="attachment wp-att-719"
    ><img
      class="size-medium wp-image-719"
      src="/assets/captura-de-pantalla-de-2015-02-09-105300.png?w=300"
      alt="Activar el servidor SSH en el puerto 22"
      width="300"
      height="169"
  /></a>
  Activar el servidor SSH en el puerto 22[/caption]
</p>
<p>Esto pone a escuchar el servidor SSH en el puerto 22.</p>
<p>
  A continuación, tendrás que ponerle una IP fija a tu ordenador y configurar tu router
  para que redirija un puerto público (puede ser el 22 o cualquier otro) al puerto 22 de
  tu ordenador.
</p>
<p>
  <em
    >Puesto que cada red y cada router es diferente, asumiré que sabes cómo realizar
    estos pasos o cómo usar un buscador de Internet. Si no dispones de una IP pública
    fija, tal vez te interese también buscar información sobre
    <a href="https://es.wikipedia.org/wiki/DNS_din%C3%A1mico">DNS dinámico</a>. Quizá te
    interese también saber
    <a
      title="Bloquear ataques por SSH"
      href="https://recallstack.wordpress.com/2012/08/07/bloquear-ataques-por-ssh-2/"
      >cómo bloquear los ataques por SSH</a
    >, que sin duda empezarás a recibir.</em
  >
</p>
<p>
  Para este ejemplo, supondremos que redireccionamos el puerto 22000 del router al
  puerto 22 del ordenador, y que hemos habilitado el inicio de sesión por clave pública.
</p>
<h4>Cliente Remmina</h4>
<p>
  Hecho todo esto, ya tenemos el equipo <em>servidor</em> listo para recibir conexiones
  remotas (siempre que se deje la sesión local abierta, recuerda). Ahora hay que ir al
  otro ordenador desde el que te conectarás (el que hará de <em>cliente</em>) y
  configurarlo. Usaremos
  <a href="https://freerdp.github.io/Remmina/index.html">Remmina</a>; si prefieres otro,
  configúralo igual y ya está.
</p>
<p>Primero hay que instalarlo. En Fedora 21 es:</p>
<pre># dnf install remmina-plugins-vnc</pre>
<p>Creamos una nueva conexión como la siguiente:</p>
<p>
  [caption id="attachment_720" align="aligncenter" width="300"]<a
    href="https://recallstack.wordpress.com/2015/02/09/como-conectar-remotamente-a-mi-escritorio-gnome-3/captura-de-pantalla-de-2015-02-09-111428/"
    rel="attachment wp-att-720"
    ><img
      class="size-medium wp-image-720"
      src="/assets/captura-de-pantalla-de-2015-02-09-111428.png?w=300"
      alt="Configurar la conexión VNC. La contraseña es la que hemos puesto antes al compartir el escritorio."
      width="300"
      height="291"
  /></a>
  Configurar la conexión VNC. La contraseña es la que hemos puesto antes al compartir el
  escritorio.[/caption]
</p>
<p>
  [caption id="attachment_721" align="aligncenter" width="300"]<a
    href="https://recallstack.wordpress.com/2015/02/09/como-conectar-remotamente-a-mi-escritorio-gnome-3/captura-de-pantalla-de-2015-02-09-111721/"
    rel="attachment wp-att-721"
    ><img
      class="size-medium wp-image-721"
      src="/assets/captura-de-pantalla-de-2015-02-09-111721.png?w=300"
      alt='Configurar el túnel SSH para la conexión VNC. Hay que usar el puerto que hayas abierto en tu router (si es el 22, basta con marcar la opción "Mismo servidor en el puerto 22"). Si no has puesto autenticación con clave pública, marca la opción "Contraseña".'
      width="300"
      height="291"
  /></a>
  Configurar el túnel SSH para la conexión VNC. Hay que usar el puerto que hayas abierto
  en tu router (si es el 22, basta con marcar la opción "Mismo servidor en el puerto
  22"). Si no has puesto autenticación con clave pública, marca la opción
  "Contraseña".[/caption]
</p>
<p>Pulsa <em>Conectar</em> y listo.</p>
<h2>Conclusión</h2>
<p>
  Es lamentable que sigamos dependiendo de VNC para estos menesteres. Espero que, con la
  llegada de Wayland y los avances del equipo de
  <a href="http://www.freerdp.com/">FreeRDP</a>, pronto veamos una opción por defecto
  para compartir por
  <a href="https://es.wikipedia.org/wiki/Remote_Desktop_Protocol">RDP</a>, que parece
  que hoy en día es la única alternativa digna, pero en Linux está bastante atrasada.
</p>
