---
slug: como-saber-si-un-checkbox-esta-marcado-en-jquery
categories:
  - Programación
date: "2013-05-17T16:46:54Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - JavaScript
  - jQuery
title: Cómo saber si un checkbox está marcado en jQuery
type: post
---

<pre>$('<a href="http://api.jquery.com/id-selector/">#id-selector</a>').<a href="http://api.jquery.com/is/">is</a>('<a href="http://api.jquery.com/checked-selector/">:checked</a>')</pre>
<p>
  Devuelve un boolean que indica si el checkbox está o no marcado. Obviamente hay formas
  más eficientes de hacerlo, pero esta me parece la más sencilla.
</p>
