---
slug: como-hacer-funcionar-la-red-de-una-maquina-virtual-centos-tras-clonarla-en-vmware
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
  - Virtualización
date: "2013-10-18T15:57:51Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - VMWare
title: Cómo hacer funcionar la red de una máquina virtual CentOS tras clonarla en VMWare
type: post
---

<p>
  El problema es que al clonar perdemos la conexión a Internet porque VMWare nos asigna
  una tarjeta de red con diferente UUID y MAC que la que tenía la máquina original.
</p>
<p>
  También podría suceder si cambias la tarjeta de red en una máquina física.
</p>
<p>Síntomas:</p>
<pre>
# ifup eth0
El dispositivo eth0 no parece estar presente, retrasando la inicialización</pre
>
<p>Solución:</p>
<pre>
# rm -f /etc/udev/rules.d/70-persistent-net.rules
# nano /etc/sysconfig/network-scripts/ifcfg-eth0</pre
>
<p>Ahí borra o comenta las líneas <em>UUID</em> y <em>HWADDR</em>, y guarda.</p>
<pre># service network restart</pre>
