---
slug: como-pausar-javascript-si-esta-minificado
categories:
  - Programación
  - Web
date: "2015-12-20T08:31:55Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "17964621585"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debug
  - JavaScript
title: Cómo pausar Javascript si está minificado
type: post
---

<p>Añade en cualquier punto de tu código esto:<!--more--></p>
<pre>debugger;</pre>
<p>La mayoría de navegadores pausarán ahí.</p>
