---
slug: como-hacer-que-docker-corra-como-el-grupo-docker
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
  - Virtualización
date: "2015-08-10T16:57:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "13589827802"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
  - Fedora
title: Cómo hacer que Docker corra como el grupo docker
type: post
---

<p>
  Docker recientemente decidió que era demasiado peligroso usarlo sin ser
  <code>root</code>, ya que escalar privilegios es algo muy sencillo e inherente al
  diseño de Docker.
</p>
<p>
  Ciertamente, dar acceso a cualquier usuario para comunicarse con
  <code>/var/run/docker.sock</code> es peligroso, pero si lo utilizas para desarrollo,
  tener que usar <code>sudo</code> a cada rato, con la consiguiente contraseña, es una
  pesadez.
</p>
<p>
  Si eres consciente de los peligros que conlleva y aún así quieres poder usar Docker
  sin <code>sudo</code>,
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1249986#c2"
    >aquí están las instrucciones</a
  >
  (al menos en Fedora):<!--more-->
</p>
<ol>
  <li>
    Crea el grupo <code>docker</code> si no existe ya:
    <pre># groupadd --system docker</pre>
  </li>
  <li>
    Edita <code>/etc/sysconfig/docker</code> y añade <code>-G docker</code> a
    <code>OPTIONS</code>
  </li>
  <li>
    Añade tu usuario al grupo <code>docker</code>:
    <pre># usermod -aG docker tu_usuario</pre>
  </li>
  <li>
    Reinicia docker:
    <pre># systemctl restart docker</pre>
  </li>
  <li>Cierra y abre tu sesión</li>
</ol>
<p>
  Quizá prefieras usar el grupo <code>wheel</code> (los que tienen acceso a
  <code>sudo</code>) y te ahorras los pasos de crear el grupo.
</p>
