---
slug: como-usar-gvfs-para-montar-unidades-de-red-samba-indicando-usuario-dominio-y-contrasena-o-como-emular-entrada-de-datos-manual-automaticamente-con-expect
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Redes
date: "2015-04-22T15:48:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179134794"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Active Directory
  - bash
  - expect
  - GVFS
  - Samba
title:
  Cómo usar GVFS para montar unidades de red Samba indicando usuario, dominio y
  contraseña; o cómo emular entrada de datos manual automáticamente con expect
type: post
---

<p>Un título bien largo, pero es lo que vamos a hacer</p>
<h2>Problema</h2>
<p>
  Tengo una unidad de red llamada <em>share</em> en mi servidor de datos de red llamado
  <em>host</em> que quiero montar usando <a href="https://www.samba.org/">Samba</a> y
  <a href="http://es.wikipedia.org/wiki/GVFS">GVFS</a> automáticamente, pero al
  ejecutar:
</p>
<pre>$ gvfs-mount smb://host/share</pre>
<p>Siempre me pide lo siguiente:</p>
<pre>
User [tu_usuario]:
Domain [WORKGROUP]:
Password:</pre
>
<p>Y no tengo forma de automatizar eso.</p>
<h2>Solución</h2>
<p><!--more--></p>
<p>
  <a href="http://expect.sourceforge.net/">Expect</a> es un intérprete de órdenes
  (estilo bash) diseñado para emular a un usuario metiendo datos manualmente. Lo
  usaremos para montar las unidades automáticamente:
</p>
<pre>
#!/usr/bin/env bash

# Montar unidades emulando a un usuario que mete datos
function mount_share {
    expect &lt;&lt;END
        spawn gvfs-mount $1
        set timeout -1
        expect User
        expect :
        send $2\r
        expect Domain
        expect :
        send $3\r
        expect Password:
        send $4\r
        wait
END
}

# Montar nuestra unidad de red
mount_share smb://host/share usuario dominio contraseña
</pre>
