---
slug: como-evitar-que-journald-use-demasiado-espacio-en-disco-duro
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2015-02-17T15:27:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179157263"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - journalctl
  - journald
  - systemd
title: Cómo evitar que journald use demasiado espacio en disco duro
type: post
---

<p>Para conocer cuánto espacio están ocupando los registros en tu sistema:</p>
<pre>$ journalctl --disk-usage</pre>
<p>
  Si te parece demasiado lo que te dice, reduzcámoslo por ejemplo a 250MB. Para ello,
  añade o modifica esta línea en
  <code>/etc/systemd/journald.conf</code>:<!--more-->
</p>
<pre>SystemMaxUse=250M</pre>
<p>Ahora reiniciaremos el servicio para que limpie los logs antiguos:</p>
<pre># systemctl restart systemd-journald.service</pre>
