---
slug: como-limpiar-los-restos-de-docker
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Virtualización
date: "2014-07-30T15:01:33Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179459508"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
title: Cómo limpiar los restos de Docker
type: post
---

<p>
  Normalmente, cuando descubres <a href="http://www.docker.com">Docker</a>, te pones a
  bajar y probar imágenes como loco, a construir algunas que no funcionan bien... Al
  final se te queda una caché de demasiados GBi sin usar.<!--more-->
</p>
<h2>Limpiar los contenedores detenidos</h2>
<pre>$ docker rm $(docker ps --all --quiet)</pre>
<p>
  En realidad, le hemos dicho que los borre todos, pero los que estén en marcha no los
  borrará salvo que le hubiéramos pasado la opción <code>--force</code>.
</p>
<h2>Limpiar las imágenes sin etiquetar</h2>
<pre>docker rmi $(docker images --filter dangling=true --quiet)</pre>
