---
slug: como-cambiar-el-runlevel-con-systemd-isolate
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2015-12-19T17:46:24Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "17948441303"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Runlevel
  - systemd
title: Cómo cambiar el runlevel con Systemd (isolate)
type: post
---

<p>
  Antiguamente se conocían los
  <a href="https://en.wikipedia.org/wiki/Runlevel">runlevels</a>, y
  <a
    href="https://recallstack.wordpress.com/2012/04/02/arrancar-linux-sin-entorno-grafico/"
    >ya hablé de cómo cambiarlo hace tiempo</a
  >.
</p>
<p>
  Hoy, gracias a Systemd (que, pese a lo que hayas leído por ahí, es genial),
  <a
    href="https://fedoraproject.org/wiki/Systemd#How_do_I_change_the_target_.28runlevel.29_.3F"
    >podemos emular un runlevel con el comando <code>isolate</code></a
  >.<!--more-->
</p>
<p>Arrancar en runlevel 1 con cualquiera de estos comandos:</p>
<pre>
# systemd isolate runlevel1.target
# systemd isolate emergency.target</pre
>
<p>Arrancar en runlevel 3 con cualquiera de estos comandos:</p>
<pre>
# systemd isolate runlevel3.target
# systemd isolate multi-user.target</pre
>
<p>Arrancar en runlevel 5 con cualquiera de estos comandos:</p>
<pre>
# systemd isolate runlevel5.target
# systemd isolate graphical.target</pre
>
<p>
  ¡Y lo mejor es que ya <strong>no necesitas reiniciar</strong> el ordenador ni editar
  el comando de arranque para todo esto!
</p>
