---
slug: como-hacer-que-un-servicio-systemd-dependa-de-una-conectividad-por-vpn
categories:
  - Sin categoría
date: "2017-07-28T18:05:51Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/890967066978734080";}}
  _publicize_job_id: "7601769289"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/EJrKBw28aqy
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Cómo hacer que un servicio Systemd dependa de una conectividad por VPN
type: post
---

<p>
  Supongamos que quieres hacer que el servicio
  <a href="https://www.docker.com/">Docker</a> dependa de una conexión VPN establecida
  llamada <code>guybrush</code>, y que estás configurando un servidor
  <a href="https://www.ubuntu.com/">Ubuntu</a> 16.04.
</p>
<p><!--more--></p>
<p>
  Para ello, necesitarás primero añadir una configuración para tu VPN, la cual
  colocaremos en <code>/etc/openvpn/guybrush.conf</code>. No es el propósito de esta
  entrada hablar de cómo configurar <a href="https://openvpn.net/">OpenVPN</a>, así que
  supondremos que ya sabes sacar eso.
</p>
<p>
  Tan solo con colocar ahí ese fichero,
  <a href="https://freedesktop.org/wiki/Software/systemd/">Systemd</a> se dará cuenta y
  nos creará el servicio <code>openvpn@guybrush.service</code>. Normalmente, al
  arrancarlo nos creará una nueva interfaz de red llamada <code>tun0</code>.
</p>
<p>
  Ahora
  <a
    href="https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sect-Managing_Services_with_systemd-Unit_Files.html#brid-Managing_Services_with_systemd-Extending_Unit_Config"
    >vamos a crear una extensión</a
  >
  a <code>docker.service</code>, y para eso crearemos el fichero
  <code>/etc/systemd/system/docker.service.d/guybrush.conf</code> con este contenido:
</p>
<div>
  <pre>
[Unit]
After=sys-devices-virtual-net-tun0.device
Requires=openvpn@guybrush.service sys-devices-virtual-net-tun0.device</pre
  >
  <p>
    Esto añade estas configuraciones a la que traiga por defecto el servicio Docker, y
    básicamente le dice que antes de arrancar Docker arranque la VPN
    <code>guybrush</code>, y espere a tener <code>tun0</code> disponible.
  </p>
</div>
