---
slug: como-anadir-ramas-remotas-en-git-si-clonaste-con-depth-o-single-branch
categories:
  - Control de versiones
date: "2017-06-06T16:55:33Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/872105279097327616";}}
  _publicize_job_id: "5835414271"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/Sdifzq274aN
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
title: Cómo añadir ramas remotas en git si clonaste con --depth o --single-branch
type: post
---

<p>
  Supongamos que tengo un repo gigantesco y quiero descargar solo 100 commits para
  clonar más rápido:
</p>
<pre>$ git clone --branch 9.0 --depth 100 https://github.com/odoo/odoo.git</pre>
<p>
  Guay, pero ahora necesito 100 commits de la rama 10.0 también para poder cambiar a
  ella. Normalmente haría:
</p>
<pre>
$ git fetch --depth 100 origin 10.0
$ git checkout 10.0</pre
>
<p>
  Pero me encuentro con que el <code>checkout</code> no funciona como era de esperar...
  ¿Qué hago?
</p>
<p><!--more--></p>
<h2>Por qué sucede</h2>
<p>Si no hubiéramos clonado con <code>--depth 100</code>, la cosa funcionaría así:</p>
<pre>
$ git fetch --depth 100 origin 10.0
$ git branch --all
* 9.0
  remotes/origin/9.0
  remotes/origin/10.0
  remotes/origin/HEAD -&gt; origin/9.0</pre
>
<p>
  Pero al haber clonado con <code>--depth 100</code>, nos encontramos que tras el
  <code>fetch</code> no existe la rama remota <code>10.0</code> que supuestamente hemos
  descargado:
</p>
<pre>
$ git fetch --depth 100 origin 10.0
$ git branch --all
* 9.0
  remotes/origin/9.0
  remotes/origin/HEAD -&gt; origin/9.0</pre
>
<p>
  Esto es así porque clonaste con <code>--depth</code> o con
  <code>--single-branch</code> (que es implícito al usar <code>--depth</code>), git
  queda preconfigurado para ignorar cualquier rama remota que no sea la que le indicaste
  al clonar (o la principal -- normalmente <code>master</code> -- si no le indicaste
  ninguna).
</p>
<h2>Cómo solucionarlo</h2>
<p>
  Por lo tanto, si ahora queremos también detectar cambios en la rama remota
  <code>10.0</code>,
  <a href="https://stackoverflow.com/a/26270966/1468388"
    >hay que decírselo explícitamente a git</a
  >:
</p>
<pre>$ git remote set-branches --add origin 10.0
$ git fetch --depth 100 origin 10.0
$ git branch --all
* 9.0
  remotes/origin/9.0
  remotes/origin/10.0
  remotes/origin/HEAD -&gt; origin/9.<code>0</code></pre>
<p>
  Tras eso, ya podemos crear una rama local <code>10.0</code> que apunte a
  <code>origin/10.0</code>, que con un comando sería:
</p>
<pre>$ git checkout --branch 10.0 origin/10.0</pre>
