---
slug: como-transformar-un-tar-en-un-rpm
categories:
  - Empaquetado de software
  - GNU/Linux
date: "2016-10-12T20:39:25Z"
meta:
  _publicize_job_id: "27777204999"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - alien
  - Blender
  - RPM
  - tar
title: Cómo transformar un .tar en un .rpm
type: post
---

<p>
  Quiero
  <a href="https://www.blender.org/download/"
    >instalar Blender desde su sitio de descarga oficial</a
  >, y me proporcionan un fichero llamado
  <code>blender-2.78-linux-glibc211-x86_64.tar.bz2</code>. Uso Fedora, así que
  preferiría instalar un <a href="http://www.rpm.org/">RPM</a> si se puede. Veamos cómo
  convertirlo.
</p>
<p><!--more--></p>
<p>
  Necesitamos usar <a href="http://joeyh.name/code/alien/">alien</a>, un conversor de
  formatos de paquete. Primero instálalo:
</p>
<pre>$ pkcon install alien</pre>
<p>Ahora lo usamos para generar el RPM:</p>
<pre># alien --to-rpm --target x86_64 blender-2.78-linux-glibc211-x86_64.tar.bz2</pre>
<p>
  Con ese archivo creado, ahora instálalo simplemente haciendo doble click en el RPM que
  ha generado en esa misma carpeta y pulsando <em>Instalar</em> en GNOME Software.
</p>
<p>
  Todo esto, al menos hasta que haya un
  <a href="http://flatpak.org/">Flatpak</a> oficial :)
</p>
