---
slug: como-firmar-un-pdf-con-tu-dnie-3-0
categories:
  - Encriptación
  - GNU/Linux
  - Privacidad
  - Seguridad
date: "2016-07-07T18:56:47Z"
meta:
  _publicize_job_id: "24563344149"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Adobe
  - DNIe
  - Evince
  - Java
  - JSignPdf
  - OpenSC
  - PDF
  - PKCS#11
title: Cómo firmar un PDF con tu DNIe 3.0
type: post
---

<p>
  ... aunque debería funcionar también con otras versiones de
  <a href="http://www.dnielectronico.es/">DNIe</a>.
</p>
<p>
  <a href="http://www.emezeta.com/articulos/como-firmar-pdf-con-certificado-digital"
    >El blog de Emezeta nos da bastantes ideas</a
  >, pero yo, siguiendo la dinámica de este blog, me decantaré por una que requiera
  instalar pocas cosas y se pueda usar con software libre principalmente. En este caso:
  <a href="http://jsignpdf.sourceforge.net/">JSignPdf</a> (ojo, no confundir con
  <a href="http://private.sit.fraunhofer.de/~stotz/software/jpdfsign/">jPdfSign</a>, que
  sencillamente no funciona), un proyecto que
  <a
    href="http://jsignpdf.sourceforge.net/index.php?mact=News,cntnt01,detail,0&amp;cntnt01articleid=5&amp;cntnt01origid=58&amp;cntnt01returnid=39"
    >ha sido suspendido</a
  >, pero que funciona.
</p>
<p><!--more--></p>
<h1>Instalación</h1>
<p>
  Lo primero que vamos a hacer es instalar la biblioteca que da soporte para acceder a
  los certificados del DNIe a través del estándar PKCS#11, que la encontramos en la
  <a href="http://www.dnielectronico.es/PortalDNIe/PRF1_Cons02.action?pag=REF_1100"
    >página de descargas del DNIe</a
  >. Encontrarás paquetes <code>.deb</code> y <code>.rpm</code>, así como el código
  fuente. Instala como prefieras.
</p>
<p>
  Sería genial poder usar
  <a href="https://github.com/OpenSC/OpenSC/wiki">OpenSC</a>, que viene empaquetado en
  casi todas las distros, pero
  <a href="https://github.com/OpenSC/OpenSC/issues/810#issuecomment-284219593"
    >el soporte para DNIe 3.0 vendrá en OpenSC 0.17</a
  >. Creo que con versiones anteriores de DNIe sí que funciona; si alguien lo puede
  comprobar, que me lo diga y actualizo las instrucciones.
</p>
<p>
  Ahora necesitamos
  <a href="https://sourceforge.net/projects/jsignpdf/files/latest/download"
    >descargar JSignPdf</a
  >
  y descomprimir el zip en una carpeta cualquiera.
</p>
<p>Por último, instala Java:</p>
<pre>$ pkcon install java-1.8.0-openjdk</pre>
<h1>Configuración</h1>
<p>
  Dentro de la carpeta donde descargamos JSignPdf hay una carpeta llamada
  <code>conf</code>, que tiene dos ficheros. Hay que editar ambos.
</p>
<p>
  En el fichero <code>conf.properties</code> hay que descomentar la línea que pone
  <code>pkcs11config.path=conf/pkcs11.cfg</code>, simplemente eliminando el
  <code>#</code> que hay delante.
</p>
<p>
  En el fichero <code>pkcs11.cfg</code> hay que cambiar la línea que empieza por
  <code>library=</code> y dejarla así:
  <code>library=/usr/lib64/libpkcs11-dnie.so</code>. Asegúrate también de que no esté
  comentada.
</p>
<p>
  No estoy seguro de si necesitarás instalar las mismas dependencias que para
  <a
    href="https://recallstack.wordpress.com/2015/12/29/usar-el-dni-electronico-en-linux/"
    >usar el DNIe en Firefox</a
  >.
</p>
<h1>Ejecución</h1>
<h2>GUI</h2>
<p>
  Una vez lo has configurado, <strong>introduce tu DNIe en tu lector</strong> y ejecuta:
</p>
<pre>
$ cd carpeta/de/descarga
$ java -jar JSignPdf.jar</pre
>
<p>Si todo ha ido bien, te saldrá una ventana como esta:</p>
<p>
  <img
    class="alignnone size-full wp-image-1467"
    src="/assets/captura-de-pantalla-de-2016-07-07-18-41-48.png"
    alt="Captura de pantalla de 2016-07-07 18-41-48.png"
    width="621"
    height="505"
  />
</p>
<ol>
  <li>
    Deberás elegir PKCS11 como <em>Keystore type</em>. Si no te sale esa opción es
    que te has saltado algún paso de instalación o configuración.
  </li>
  <li>Rellena también el <em>Keystore password</em> con el PIN de tu DNIe.</li>
  <li>
    Marca la casilla <em>Advanced view</em>, pulsa el botón <em>Load keys</em> y
    selecciona <em>CertFirmaDigital</em> en el campo <em>KeyAlias</em>.
    <ol>
      <li>
        Esto es porque el DNIe incluye una clave para autentificarse y otra para firmar.
        Si no la eliges, puede que firmaras el PDF con la de autentificación, y esto no
        tendría validez legal.
      </li>
    </ol>
  </li>
  <li>
    Usa el botón <em>Browse...</em> de <em>Input PDF file</em> para escoger el PDF que
    vas a firmar.
  </li>
  <li>
    Por defecto, te guardará el PDF firmado al lado del original, con el sufijo
    <code>_signed</code>. Puedes cambiar esto en el campo
    <em>Output PDF file (optional)</em>.
  </li>
  <li>
    Si tu documento ya tiene alguna firma electrónica, marca la casilla
    <em>Append signature to the existing ones</em>, para que tu firma no reemplace las
    del PDF, sino que se añada a ellas. Esto puede pasar si, por ejemplo, estás firmando
    una nómina o contrato que ya viene firmada por el otro interesado.
  </li>
  <li>
    Si no quieres que tu firma sea válida si el PDF sufre modificaciones, selecciona
    <em>Certification level &gt; No changes allowed.</em>
  </li>
  <li>
    Selecciona <em>Hash algorithm &gt; SHA256.</em> Es lo más alto que me ha funcionado
    a mí. Cuanto más alto, mayor seguridad.
  </li>
  <li>
    Si quieres que la firma quede visible en el documento, marca
    <em>Visible signature</em>.
    <ul>
      <li>
        Si quieres escoger dónde debe quedar tu firma visible, ve a
        <em>Settings &gt; Position &gt; Preview &amp; Select</em>, marca un recuadro
        donde quieres que aparezca, y pulsa <em>Close &gt; Close</em>.
      </li>
    </ul>
  </li>
  <li>Pulsa <em>Sign It</em> para firmar el documento.</li>
  <li>Cierra todas las ventanas.</li>
</ol>
<h3>Error al intentar firmar varias veces seguidas</h3>
<p>Si lo intentas, te puede aparecer este error en la ventana de mensajes:</p>
<pre>
ERROR Problem occured
java.security.ProviderException: sun.security.pkcs11.wrapper.PKCS11Exception: CKR_USER_NOT_LOGGED_IN
    at sun.security.pkcs11.P11Signature.engineSign(P11Signature.java:591)
    at java.security.Signature$Delegate.engineSign(Signature.java:1207)
    at java.security.Signature.sign(Signature.java:579)
    at com.lowagie.text.pdf.PdfPKCS7.getEncodedPKCS7(Unknown Source)
    at net.sf.jsignpdf.SignerLogic.signFile(SignerLogic.java:387)
    at net.sf.jsignpdf.SignerLogic.run(SignerLogic.java:114)
    at java.lang.Thread.run(Thread.java:745)
Caused by: sun.security.pkcs11.wrapper.PKCS11Exception: CKR_USER_NOT_LOGGED_IN
    at sun.security.pkcs11.wrapper.PKCS11.C_Sign(Native Method)
    at sun.security.pkcs11.P11Signature.engineSign(P11Signature.java:582)
    ... 6 more
INFO  Finished: Creating of signature failed.</pre
>
<p>
  Esto se debe a que el DNIe 3.0 exige que se meta la contraseña cada vez que se usa. No
  es como otras tarjetas inteligentes, que te permiten iniciar sesión y usarla cuantas
  veces quieras hasta que la cierras.
  <strong
    >Tendrás que cerrar y volver a abrir el programa cada vez que quieras firmar
    algo.</strong
  >
  Tranquilo, la mayoría de opciones se quedan memorizadas.
</p>
<h2>CLI</h2>
<p>
  Este programa también funciona por línea de comandos, pero
  <strong>no me apetece ahora explicarlo todo</strong>, así que te dejaré el comando que
  necesitas para saber cómo hacer lo que necesites:
</p>
<pre>
$ cd carpeta/de/descarga
$ java -jar JSignPdf.jar --help</pre
>
<h1>Verificar la firma</h1>
<p>
  En estos momentos
  <a href="https://bugzilla.gnome.org/show_bug.cgi?id=614929"
    >el lector de PDF de GNOME todavía no soporta la verificación de firmas</a
  >, y no conozco ningún otro programa GUI en Linux que lo soporte.
</p>
<p>
  El propio JSignPdf incluye una utilidad llamada <code>Verifier.jar</code> para
  trabajar por CLI, pero si tienes
  <a href="https://get.adobe.com/es/reader/otherversions/">Adobe Acrobat PDF Reader</a>
  podrás verificarla. Siempre puedes
  <a href="https://appdb.winehq.org/objectManager.php?sClass=application&amp;iId=3156"
    >intentar instalarlo con Wine</a
  >.
</p>
