---
slug: comparativas-utiles-para-elegir-un-nuevo-ordenador
categories:
  - Sin categoría
date: "2016-05-13T07:50:26Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "22762738049"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Comparativas útiles para elegir un nuevo ordenador
type: post
---

<p>
  Ahora mismo estoy buscando un nuevo ordenador, y me están resultando bastante útiles
  estas páginas:
</p>
<p><!--more--></p>
<ul>
  <li>
    <a href="http://cpuboss.com">CPUBoss</a>, para comparar rendimiento de procesadores.
  </li>
  <li>
    <a href="http://gpuboss.com">GPUBoss</a>, para comparar rendimiento de tarjetas
    gráficas.
  </li>
  <li>
    <a
      href="http://www.notebookcheck.net/Comparison-of-Laptop-Graphics-Cards.130.0.html"
      >Artículo con una breve explicación y comparativa de tarjetas gráficas para
      portátiles</a
    >.
  </li>
  <li>
    <a href="http://www.muycomputer.com/2013/08/24/claves-elegir-una-tarjeta-grafica"
      >Artículo con claves para elegir una buena tarjeta gráfica</a
    >. Es curioso el tema de las series y gamas. Cito textualmente:<br />
    <blockquote>
      <p>
        La nomenclatura de una tarjeta gráfica indica cosas importantes, tanto en el
        caso de AMD como en el de NVIDIA. Así, y como ejemplos, una HD 7850 se traduce
        así: el 7 es la <strong>generación</strong> o serie, el 8 la
        <strong>gama</strong>, cuanto más alta sea mejor, y el 5 el
        <strong>puesto que ocupa dentro de la gama</strong> a la que pertenece, así que
        igual que apuntamos anteriormente, cuanto más alta sea, mejor. Otro ejemplo,
        ahora con NVIDIA: en la GTX 780 el 7 indica la generación y el 8 la gama, cuanto
        más altas sean mejor.
      </p>
    </blockquote>
  </li>
</ul>
