---
slug: conectarse-a-una-cuenta-sip-en-empathy
categories:
  - Audio
  - GNU/Linux
  - Redes
  - Tutoriales
date: "2012-10-26T22:53:34Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - 12VoIP
  - Chat
  - Empathy
  - Fedora
  - Gnome
  - Llamadas
  - Rakia
  - SIP
  - SofiaSIP
  - Telepathy
  - VoIP
title: Conectarse a una cuenta SIP en Empathy
type: post
---

<p>
  Gracias a esta excelente
  <a href="http://backsla.sh/betamax">comparativa de precios de proveedores de VoIP</a>
  he encontrado un proveedor de VoIP excesivamente barato:
  <a href="http://12voip.com">12VoIP</a>. Veamos cómo configurarlo siguiendo sus
  <a href="https://www.12voip.com/sip">instrucciones</a>.
</p>
<p>
  Antes que nada, para este tutorial he usado Fedora 17 con los siguientes paquetes
  instalados:
</p>
<ul>
  <li>empathy-3.4.2.3-1</li>
  <li>telepathy-rakia-0.7.4-1 (Antes conocido como telepathy-sofiasip)</li>
</ul>
<p>Una vez instalado lo necesario, tan simple como:</p>
<ol>
  <li>
    Si tenías abierto Empathy antes de instalar el plugin Rakia, ciérralo del todo (Ctrl
    + Q) para que lo detecte al volver a abrirlo.
  </li>
  <li>Abre Empathy.</li>
  <li>Entra en Editar &gt; Cuentas.</li>
  <li>
    Añade una nueva.
    <ol>
      <li>Selecciona protocolo SIP.</li>
      <li>
        Introduce tu nombre de usuario como usuario@sip.12voip.com y tu contraseña, y
        guarda los cambios.
      </li>
    </ol>
  </li>
  <li>
    Ahora ve a editar los parámetros de la conexión.
    <ol>
      <li>Servidor STUN: stun.12voip.com, puerto 3478.</li>
    </ol>
  </li>
</ol>
<p>
  Listo. Ahora para llamar, puedes usar la aplicación Contactos o marcar el número
  directamente. Para ello:
</p>
<ol>
  <li>Accede a la ventana de contactos de Empathy.</li>
  <li>Ve a Chat &gt; Llamada nueva.</li>
  <li>
    Busca el contacto, marca el número, o escribe la cuenta SIP a la que quieres llamar.
  </li>
  <li>Pulsa llamada de voz.</li>
</ol>
<p>
  Este proveedor ofrece la primera llamada de 60 minutos gratis. Luego tiene unas
  tarifas muy interesantes, sobre todo si quieres llamar a zonas de las que tienen días
  gratis. De todos modos, las instrucciones sirven para cualquier otro proveedor de SIP.
</p>
