---
slug: conectar-a-una-impresora-de-red-en-gnome-3-4
categories:
  - Administración de sistemas
  - GNU/Linux
  - Hardware
  - Redes
date: "2012-11-25T10:22:42Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2012-11-25
    09:22:42";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Configurar
  - Gnome 3
  - Impresoras
title: Conectar a una impresora de red en Gnome 3.4
type: post
---

<p>
  Después de darme cabezazos contra la pared descubrí que se ha encontrado un
  <a href="https://bugzilla.gnome.org/show_bug.cgi?id=648784"
    >bug que impide conectarse a una impresora de red usando el panel de
    configuración</a
  >
  que viene en Gnome 3.4.
</p>
<p>
  En el propio bug dicen la solución provisional: Usar la herramienta
  <code>system-config-printer</code>, que habrá que llamar desde la terminal.
</p>
<p>
  Sigue las instrucciones para conectarte a la impresora de red y todo irá como la seda.
</p>
