---
slug: configurar-docker-storage-setup
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
  - Tutoriales
date: "2015-12-20T08:30:38Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "17964602704"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
  - docker-storage-setup
  - Fedora
  - LVM
  - Runlevel
  - systemd
title: Configurar docker-storage-setup
type: post
---

<p>
  Recientemente
  <a
    href="http://blog.docker.com/2015/11/docker-1-9-production-ready-swarm-multi-host-networking/"
    >Docker añadió opciones para configurar el método de almacenamiento de los
    volúmenes</a
  >. El método por defecto (<a href="https://en.wikipedia.org/wiki/Loop_device"
    >dispositivos <em>loop</em></a
  >) no se considera muy apropiado para entornos de producción, así que veamos cómo
  configurarlo para que use
  <a href="https://es.wikipedia.org/wiki/Logical_Volume_Manager">LVM</a>
  directamente.
</p>
<p>
  Este ejercicio está realizado en Fedora 23, y asume que ya tienes configurado el
  ordenador con particionado LVM.<!--more-->
</p>
<h3>Averigua de dónde puedes sacar espacio</h3>
<p>Comprueba qué volúmenes lógicos tienes en tu sistema:</p>
<pre>
# lvm lvs
  LV   VG     Attr       LSize   Pool Origin Data%  Meta%  Move Log Cpy%Sync Convert
  home system -wi-ao---- 411,41g
  root system -wi-ao----  50,00g
  swap system -wi-ao----   3,86g</pre
>
<p>Comprueba cuánto espacio tienes en cada uno:</p>
<pre>
# df --human-readable
S.ficheros              Tamaño Usados  Disp Uso% Montado en
devtmpfs                  3,9G      0  3,9G   0% /dev
tmpfs                     3,9G   2,5M  3,9G   1% /dev/shm
tmpfs                     3,9G   1,8M  3,9G   1% /run
tmpfs                     3,9G      0  3,9G   0% /sys/fs/cgroup
/dev/mapper/system-root    50G   6,3G   41G  14% /
tmpfs                     3,9G   336K  3,9G   1% /tmp
/dev/sda1                 477M   136M  313M  31% /boot
/dev/mapper/system-home   405G   238G  147G  62% /home
tmpfs                     798M    16K  798M   1% /run/user/42
tmpfs                     798M    48K  798M   1% /run/user/1000</pre
>
<p>
  Aquí vemos que en <code>/</code> y <code>/home</code> me sobra bastante espacio.
  <strong>Voy a quitarle 20GiB a <code>/home</code></strong
  >, ya que para
  <a href="/2012/07/17/como-reducir-el-tamano-de-la-particion-volumen-logico-lvm-root/"
    >reducir el tamaño de <code>/</code></a
  >
  es algo más complicado (aunque no demasiado).
</p>
<h3>Reduce un volumen lógico</h3>
<p>
  Voy a necesitar la cuenta de root habilitada para entrar al modo emergencia, así que
  voy a activarla:
</p>
<pre># passwd --force --unlock root</pre>
<p>
  Ahora
  <a
    href="https://recallstack.wordpress.com/2015/12/19/como-cambiar-el-runlevel-con-systemd-isolate/"
    >entraré en modo emergencia</a
  >
  para poder desmontar <code>/home</code>:
</p>
<pre># systemd isolate emergency.target</pre>
<p>
  Dentro de este modo, voy a reducir <code>/home</code>. Esto tomará un tiempo,
  dependiendo del tamaño de la partición:
</p>
<pre># lvm lvresize --resizefs --size -20G system/home</pre>
<p>Regresaré al modo gráfico y desactivaré la cuenta de root:</p>
<pre>
# systemd isolate graphical.target
# passwd --lock root</pre
>
<p>
  Ahora la próxima vez que arranque Docker, gestionará ese espacio libre automáticamente
  para crear los volúmenes lógicos que necesite:
</p>
<pre># systemctl start docker.service</pre>
<h3>Limpiando viejos volúmenes</h3>
<p>
  Con lo que hemos hecho ya debería bastar, pero si tuvieras errores o conflictos, te
  vendrá bien limpiar los viejos volúmenes.
  <strong>Ojo porque esto causará pérdida de información:</strong>
</p>
<pre>
# systemctl stop docker.service docker-storage-setup.service
# rm -Rf /var/lib/docker
# systemctl start docker.service</pre
>
