---
slug: configurar-joystick-o-gamepad-en-linux
categories:
  - Administración de sistemas
  - GNU/Linux
  - Juegos
  - Tutoriales
date: "2012-03-12T14:03:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "5515428897565019795"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Configurar joystick o gamepad en Linux
type: post
---

<p>
  Hace poco desempolvé un adaptador que tenía por ahí para utilizar los mandos de
  Gamecube en el PC por USB, pero no tenía claro si funcionaría en Linux, ya que nunca
  había hecho algo parecido. No ha sido muy complicado.
</p>
<p>Primero, instalamos y activamos el módulo:</p>
<pre>
# yum install joystick
# modprobe joydev</pre
>
<p>
  Los mandos se listan en <em>/dev/input/js*</em>, así que ahora vamos a calibrarlo:
</p>
<pre>$ jscal --calibrate /dev/input/js0</pre>
<p>
  Pedirá que vayamos moviendo los ejes a determinadas posiciones y pulsemos un botón. Es
  importante
  <strong>mantener el botón pulsado hasta que diga OK</strong> para que pueda detectar
  las posibles oscilaciones en los valores que tienen algunos mandos (como era mi caso).
</p>
<p>Hecho esto, comprobamos los valores que devuelve:</p>
<pre>$ jstest /dev/input/js0</pre>
<p>
  Si movemos los joysticks o pulsamos botones, deberíamos ver en pantalla los cambios.
</p>
<p>
  Ahora solo falta usarlo en algún juego que valga la pena. En mi caso ha sido para
  jugar al <a href="http://stabyourself.net/mari0">Mari0</a>.
</p>
<div class="blogger-post-footer">
  <img class="igznrhwodudomwzhkqeu" src="/assets/" alt="" width="1" height="1" />
</div>
