---
slug: controla-el-tiempo-que-gastas-en-internet
categories:
  - Interfaz de usuario
  - Tutoriales
  - Web
date: "2013-10-13T10:52:15Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Configuración
  - extensiones
  - Firefox
  - Mind the Time
  - Productividad
title: Controla el tiempo que gastas en Internet
type: post
---

<p>
  [caption id="" align="alignright" width="170"]<img
    alt=""
    src="/assets/76545.png?modified=1374212348"
    width="170"
    height="150"
  />
  Extensión Mind the Time en la barra de herramientas[/caption]
</p>
<p>
  Dada la cantidad de maneras de procrastinar que nos ofrece Internet, a veces es
  complicado no caer en sus redes.
</p>
<p>
  Puedes controlar el tiempo que gastas en cada sitio web con la extensión
  <a href="https://addons.mozilla.org/es/firefox/addon/mind-the-time/">Mind the Time</a>
  de <a href="https://www.mozilla.org/es-ES/firefox/">Firefox</a>.
</p>
<p>
  En el enlace te indica las instrucciones, aunque es muy sencillo. Te aparece en la
  barra de complementos un recuadro con <strong>dos cronómetros</strong>, aunque puedes
  moverlo de sitio.
</p>
<p>
  El primero indica el
  <strong>tiempo gastado hoy en la página que estás viendo</strong>, y el segundo el
  <strong>tiempo total gastado hoy en Internet</strong>.
</p>
<p>
  Si pinchas en la extensión, te aparecen algunas opciones de cómo contar el tiempo
  gastado, y la página de sumario, en la que aparecen las
  <strong>estadísticas de hasta los 5 últimos meses</strong>. De este modo puedes
  averiguar en qué se te va el tiempo en Internet. ¡Ahora solo falta no desperdiciarlo!
</p>
