---
slug: control-de-acceso-en-windows-profesional
categories:
  - Humor
  - Windows
date: "2013-10-21T17:05:36Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Accesibilidad
  - Ctrl + Alt + Supr
  - Usabilidad
title: Control de acceso en Windows Profesional
type: post
---

<blockquote>
  <p>
    Me gusta eso de que la edición profesional de Windows te exija pulsar
    <em>Ctrl + Alt + Supr</em> para iniciar sesión. Es una manera de decir que saber
    pulsar esa combinación de teclas es el requisito básico que todo usuario debe
    cumplir para usar Windows a nivel profesional. ¡Oh, y de paso impides su uso a
    usuarios mancos!
  </p>
</blockquote>
