---
slug: convierte-tu-tableta-android-en-un-puesto-de-trabajo
categories:
  - Administración de sistemas
  - Android
  - Opinión
  - Programación
date: "2015-12-23T08:33:52Z"
meta:
  _edit_last: "5195209"
  _oembed_0c0c1e8e5592f76051626d15c0bbb4a4: "{{unknown}}"
  _oembed_1cfd657435ca30039eeb06e97c8a7fa3: "{{unknown}}"
  _oembed_b60dac3eef754f4afdb485ee933b45ce: "{{unknown}}"
  _oembed_efe0a793a6bb896754112662a687d4df: "{{unknown}}"
  _publicize_job_id: "18052872216"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - apt-get
  - Bluetooth
  - Chrome
  - Firefox
  - Git
  - Haker's Keyboard
  - Mercurial
  - OTG
  - Termux
title: Convierte tu tableta Android en un puesto de trabajo
type: post
---

<p>
  Si trabajas como hacker, programador y/o administrador de sistemas, agradecerás tener
  a mano en tu tableta un kit básico con las 4 herramientas clave que uses a diario, que
  además son libres:<!--more-->
</p>
<h3>Terminal</h3>
<p>
  <a href="http://termux.com/">Termux</a> es una terminal con apt-get y
  <a href="https://github.com/termux/termux-packages/tree/master/packages"
    >un repositorio con muchos paquetes</a
  >. Como lo lees. Puedes hacer cosas como:
</p>
<pre>
$ apt-get install ssh git nano vim emacs ruby perl php gcc fish w3m zsh lua nodejs python python2</pre
>
<p>
  Por ejemplo, para instalar
  <a href="https://www.mercurial-scm.org/">Mercurial</a> (aunque
  <a href="https://github.com/termux/termux-app/issues/22#issuecomment-164853789"
    >hay un workaround que aplicar hasta el 1 de febrero de 2016</a
  >):
</p>
<pre>$ apt install python2-dev gcc &amp;&amp; pip2 install mercurial</pre>
<h3>Editor de texto</h3>
<p>
  Me ha encantado
  <a href="https://play.google.com/store/apps/details?id=com.maskyn.fileeditor"
    >Turbo Editor</a
  >. Es muy sencillo, pero ahí radica su encanto.
</p>
<p>
  El único problema que he tenido es que con los nuevos permisos de Android, no logro
  encontrar una forma de que Turbo Editor y Termux puedan tener permisos de escritura en
  un mismo directorio, a ser posible en la tarjeta SD, para usar la combinación editor +
  terminal. Para esos casos, si realmente necesito la terminal, recurro a nano.
</p>
<p>
  Si alguien lo logra sin rootear la tableta, le agradeceré sus comentarios.
</p>
<h3>Teclado</h3>
<p>
  No hay nada como conectarle por
  <a href="https://es.wikipedia.org/wiki/USB_On-The-Go">OTG</a> o
  <a href="https://www.bluetooth.com/">Bluetooth</a> un teclado físico a la tableta para
  <strong>trabajar de verdad</strong>, pero si no te es posible,
  <a
    href="https://play.google.com/store/apps/details?id=org.pocketworkstation.pckeyboard"
    >Hakcer's Keyboard</a
  >
  es el teclado en pantalla más parecido que vas a encontrar. No olvides instalar su
  <a href="https://play.google.com/store/apps/details?id=org.pocketworkstation.dict.es"
    >diccionario español</a
  >.Navegador web
</p>
<h3>Navegador web</h3>
<p>
  Personalmente <strong>siempre he preferido Firefox por su filosofía</strong>. Si lo
  usas en tu escritorio, puedes usarlo para
  <a href="https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging"
    >depurar remotamente</a
  >
  desde
  <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox"
    >Firefox</a
  >
  y
  <a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome</a>
  para Android, entre otros, así que cualquiera de esos navegadores te valdrán para tu
  tableta. De hecho, para desarrollar suele ser recomendable tener varios.
</p>
