---
slug: conversores-de-video-y-audio-en-linux
categories:
  - Audio
  - GNU/Linux
  - Vídeo
date: "2011-02-02T13:46:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "2577306143922528412"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Conversores de video y audio en Linux
type: post
---

<p>
  En <a href="http://www.somoslibres.org/">Somos Libres</a>, uno de los mejores blogs de
  software libre en español que he encontrado últimamente, ofrecen una
  <a
    href="http://www.somoslibres.org/modules.php?name=News&amp;file=article&amp;sid=4275"
    >comparativa de conversores de video</a
  >
  bastante interesante.
</p>
<p>
  Recuerdo que <a href="http://www.linuxrising.org/">Transmaggedon</a> me encantó, pero
  no lograba recordar cómo se llamaba el programa. Hasta entonces usaba
  <a href="http://oggconvert.tristanb.net/">OggConvert</a>, que también va de categoría,
  pero sólo transforma a formatos libres (<a href="http://www.xiph.org/ogg/">ogg</a>,
  <a href="http://www.matroska.org/">mkv</a> y
  <a href="http://www.webmproject.org/">webm</a>), y a veces necesitamos transormar a
  otro privativo.
</p>
<p>
  Respecto a conversores de audio, me quedo con
  <a href="http://soundconverter.berlios.de/">SoundConverter</a>, que funciona de
  maravilla y permite transformar montones de archivos a la vez. Tampoco tiene mala
  pinta el <a href="http://gnac.sourceforge.net/">Gnac</a>, pero no lo he probado.
</p>
<p>
  Todas estas son aplicaciones de escritorio basadas en GTK y GStreamer. Para
  aplicaciones por consola, consulta
  <a href="http://debian-ar.org/2009/03/30/convertir-audio-en-gnulinux/"
    >este estupendo artículo</a
  >.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-2577306143922528412?l=recallstack.blogspot.com"
    alt=""
  />
</div>
