---
slug: convertir-ficheros-pdf-a-tiff
categories:
  - Administración de sistemas
  - GNU/Linux
  - Imagen
  - Multimedia
date: "2016-02-13T10:28:32Z"
meta:
  _publicize_job_id: "19759982161"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - ImageMagick
  - pkcon
title: Convertir ficheros PDF a TIFF
type: post
---

<p>Con Linux, esto es asombrosamente sencillo.</p>
<p><!--more--></p>
<p>
  Primero necesitas tener instalado el paquete
  <a href="http://www.imagemagick.org/script/index.php">ImageMagick</a>. Para saber cuál
  es e instalarlo:
</p>
<pre>
$ pkcon search file /usr/bin/convert /bin/convert
Buscando por archivos         [=========================]         
Comenzando                    [=========================]         
Finalizado                    [=========================]         
Instalado       ImageMagick-6.9.2.7-1.fc23.x86_64 (installed:updates)           An X application for displaying and manipulating images
Disponible      ImageMagick-6.9.1.3-0.beta.3.fc23.2.x86_64 (fedora)             An X application for displaying and manipulating images

$ pkcon install ImageMagick</pre
>
<p>A continuación, simplemente ejecuta:</p>
<pre>$ convert file.pdf file.tiff</pre>
