---
slug: corregir-error-server-wont-say-bye-to-us-al-conectar-por-nx-con-remmina
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2014-01-20T15:03:23Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - FreeNX
  - NX
  - Remmina
  - remote desktop
  - X.org
title: Corregir error "Server won't say bye to us" al conectar por NX con Remmina
type: post
---

<p>Conecta al servidor por SSH y elimina estos ficheros:</p>
<pre>$ rm /tmp/.X*-lock ~/.Xauthority</pre>
