---
slug: corregir-error-404-al-acceder-al-panel-de-administracion-de-magento-despues-de-migrar
categories:
  - Administración de sistemas
  - Web
date: "2013-11-05T18:36:30Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - "404"
  - Magento
  - MySQL
  - SQL
title:
  Corregir error 404 al acceder al panel de administración de Magento después de migrar
type: post
---

<p>
  Si miras el registro de errores en
  <code>MAGENTO_ROOT/var/log/system.log</code> verás un error parecido a esto:
</p>
<blockquote>
  <p>
    ERR (3): Recoverable Error: Argument 1 passed to Mage_Core_Model_Store::setWebsite()
    must be an instance of Mage_Core_Model_Website, null given, called in
    /home/website/public_html/app/code/core/Mage/Core/Model/App.php on line 624 and
    defined in /home/website/public_html/app/code/core/Mage/Core/Model/Store.php on line
    304
  </p>
</blockquote>
<p>
  Si te sucede esto justo después de haber migrado a un nuevo servidor, gracias a
  <a href="http://rricketts.com/magento-moving-to-a-new-server-database-errors-more/"
    >Richard Ricketts</a
  >
  ahora sé cómo arreglarlo. Abre tu script SQL de migración y ajústalo así:
</p>
<pre>
SET FOREIGN_KEY_CHECKS=0;
SET SQL_MODE=”NO_AUTO_VALUE_ON_ZERO”;

-- Código de importacíon de MySQL aquí.

SET FOREIGN_KEY_CHECKS=1;</pre
>
<p>Vuelve a ejecutar la migración. ¡Arreglado!</p>
