---
slug: corregir-error-could-not-get-content-for-x-defined-in-bundle-x-en-odoo-8-0
categories:
  - Administración de sistemas
  - Web
date: "2015-02-02T09:52:27Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179162553"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Odoo
title: Corregir error "Could not get content for X defined in bundle 'X'" en Odoo 8.0
type: post
---

<h2>Problema</h2>
<p>
  Hoy tras actualizar mi <a href="http://odoo.com">Odoo</a>, me he encontrado estos
  errores al entrar:
</p>
<blockquote>
  <pre>
Could not get content for /website/static/src/css/bootswatch/spacelab.min.css defined in bundle 'website.assets_frontend'.
Could not get content for /website/static/src/css/bootswatch/spacelab.fix.css defined in bundle 'website.assets_frontend'.
Could not get content for /website/static/src/css/website.css defined in bundle 'website.assets_frontend'.
Could not get content for /website_mail/static/src/css/website_mail.css defined in bundle 'website.assets_frontend'.
Could not get content for /website_blog/static/src/css/website_blog.css defined in bundle 'website.assets_frontend'.</pre
  >
</blockquote>
<p>Un error un tanto extraño.<!--more--></p>
<h2>Diagnóstico</h2>
<p>Revisando los registros, encontré este error:</p>
<blockquote>
  <pre>
ERROR ? werkzeug: Error on request:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/python2.7/site-packages/werkzeug/serving.py", line 165, in execute
    application_iter = app(environ, start_response)
  File "/usr/lib/python2.7/site-packages/openerp/service/server.py", line 281, in app
    return self.app(e, s)
  File "/usr/lib/python2.7/site-packages/openerp/service/wsgi_server.py", line 216, in application
    return application_unproxied(environ, start_response)
  File "/usr/lib/python2.7/site-packages/openerp/service/wsgi_server.py", line 202, in application_unproxied
    result = handler(environ, start_response)
  File "/usr/lib/python2.7/site-packages/openerp/http.py", line 1274, in __call__
    self.load_addons()
  File "/usr/lib/python2.7/site-packages/openerp/http.py", line 1293, in load_addons
    m = __import__('openerp.addons.' + module)
  File "/usr/lib/python2.7/site-packages/openerp/modules/module.py", line 79, in load_module
    mod = imp.load_module('openerp.addons.' + module_part, f, path, descr)
  File "/opt/odoo/extra-addons/l10n-spain/account_balance_reporting_xls/__init__.py", line 8, in &lt;module&gt;
    from . import report
  File "/opt/odoo/extra-addons/l10n-spain/account_balance_reporting_xls/report/__init__.py", line 7, in &lt;module&gt;
    from . import reporting_xls
  File "/opt/odoo/extra-addons/l10n-spain/account_balance_reporting_xls/report/reporting_xls.py", line 5, in &lt;module&gt;
    import xlwt
ImportError: No module named xlwt</pre
  >
</blockquote>
<p>
  Al parecer, tras actualizar los módulos comunitarios del paquete
  <a href="https://github.com/OCA/l10n-spain"><code>l10n-spain</code></a
  >, se introdujo una nueva dependencia (<a href="https://pypi.python.org/pypi/xlwt"
    ><code>xlwt</code></a
  >) que no ha quedado satisfecha. Como ese módulo no se ha cargado, el proceso se ha
  interrumpido y no ha llegado a cargar el módulo <code>website</code>, que es en el que
  se encuentran los CSS que me daban error al principio.
</p>
<h2>Solución</h2>
<pre># yum install python-xlwt</pre>
<p>
  Evidentemente, dependiendo de cuál sea el fallo en tu Odoo, deberás instalar un
  paquete u otro. Sigue mis pasos y llegarás en seguida al problema.
</p>
<p>
  Por ejemplo, en mi caso, además de esto tuve que añadir el repositorio comunitario
  <a href="https://github.com/OCA/reporting-engine"><code>reporting-engine</code></a
  >.
</p>
