---
slug: corregir-el-fallo-al-crear-conexion-de-puente-en-virtualbox-en-windows
categories:
  - Administración de sistemas
  - Redes
  - Virtualización
date: "2013-02-18T14:12:41Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - birdged network
  - CentOS
  - Virtual machine
  - VirtualBox
  - Windows
  - Windows XP
title: Corregir el fallo al crear conexión de puente en VirtualBox en Windows
type: post
---

<p>
  Conecto una máquina virtual
  <a
    class="zem_slink"
    title="VirtualBox"
    href="http://virtualization.findthebest.com/l/16/Oracle-VirtualBox"
    target="_blank"
    rel="fdbsoftware"
    >VirtualBox</a
  >
  corriendo en un anfitrión
  <a
    class="zem_slink"
    title="Windows XP"
    href="http://en.wikipedia.org/wiki/Windows_XP"
    target="_blank"
    rel="wikipedia"
    >Windows XP</a
  >
  a un adaptador de red de puente, reinicio el invitado (un
  <a
    class="zem_slink"
    title="CentOS"
    href="http://www.centos.org/"
    target="_blank"
    rel="homepage"
    >CentOS</a
  >), y obtengo este error:
</p>
<blockquote>
  <p>Fallo al abrir una sesión para la máquina virtual centos.</p>
  <p>
    Failed to open/create the internal network 'HostInterfaceNetworking-Intel(R) PRO/100
    VE Network Connection' (VERR_INTNET_FLT_IF_NOT_FOUND).
  </p>
  <p>Failed to attach the network LUN (VERR_INTNET_FLT_IF_NOT_FOUND).</p>
  <p>Código Resultado: E_FAIL (0x80004005)</p>
  <p>Componente: Console</p>
  <p>Interfaz: IConsole {db7ab4ca-2a3f-4183-9243-c1208da92392}</p>
</blockquote>
<p>
  Para resolverlo encuentro
  <a href="https://forums.virtualbox.org/viewtopic.php?p=154824#p154824"
    >una solución muy tonta, pero que funciona</a
  >:
</p>
<ol></ol>
<ol>
  <li>
    En el anfitrión
    <a
      class="zem_slink"
      title="Windows"
      href="http://www.microsoft.com/WINDOWS"
      target="_blank"
      rel="homepage"
      >Windows</a
    >, ve a Panel de control -&gt; Conexiones de red.
  </li>
  <li>Click derecho en la conexión a la que estás puenteando.</li>
  <li>Desmarca la casilla <em>VirtualBox Bridged Networking Driver</em>.</li>
  <li>Pulsa <em>Aceptar</em>.</li>
  <li>
    Si te sale un cartel avisando de unos controladores sin firmar, pulsa
    <em>Continuar</em>.
  </li>
  <li>Repite el paso 2.</li>
  <li>Vuelve a marcar la casilla <em>VirtualBox Bridged Networking Driver</em>.</li>
  <li>Repite los pasos 4 y 5.</li>
  <li>Ve a VirtualBox y arranca la máquina virtual.</li>
</ol>
