---
slug: corregir-problema-en-camara-gopro-que-no-permite-borrar-contenidos-desde-la-aplicacion-capture
categories:
  - Administración de sistemas
  - GNU/Linux
  - Hardware
date: "2016-11-22T21:41:11Z"
meta:
  _publicize_job_id: "29198216239"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - exFAT
  - GoPro
  - pkcon
title:
  Corregir problema en cámara GoPro que no permite borrar contenidos desde la aplicación
  Capture
type: post
---

<p>
  Hace nada me ha pasado un problema con mi GoPro, y es que no podía borrar contenidos
  desde la aplicación del móvil.
</p>
<p><!--more--></p>
<p>
  Recordemos que las GoPro usan formato exFAT, así que en Fedora tendrás que instalarle
  el soporte si quieres usarla:
</p>
<pre>$ pkcon install exfat-utils fuse-exfat</pre>
<p>
  Parece que el problema era que
  <strong>había formateado la tarjeta microSD desde Linux</strong>.
</p>
<p>
  Por lo tanto, la solución es
  <strong>borrar la partición, meter la tarjeta en la cámara, y encenderla</strong>. La
  cámara nos advertirá con un mensaje tipo <em>SD ERROR</em>, y nos dará la opción de
  formatearla, a lo que le diremos que sí.
</p>
<p>
  <strong>Dejando que sea la propia cámara quien formatee</strong>, todo volverá a
  funcionar con normalidad, y seguiremos pudiendo usar la tarjeta en Linux.
</p>
