---
slug: crear-un-servidor-http-para-depuracion-en-1-comando
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Redes
  - Web
date: "2017-05-18T15:47:39Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/865202552241098752";}}
  _publicize_job_id: "5182239726"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/5qGZGhSbaUv
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fish
  - nc
  - netcat
  - Proxy
title: Crear un servidor HTTP para depuración en 1 comando
type: post
---

<p>
  Simplemente responderá con un <code>200 OK</code> hasta que lo detengas con
  <code>Ctrl+C</code>, y devolverá la fecha y hora en que se ha levantado el servidor.
  Ojo, el comando usa sintaxis de <a href="http://fishshell.com/">Fish</a>:
</p>
<p><!--more--></p>
<pre>
$ while true; echo -e 'HTTP/1.1 200 OK\r\nContent-Type: text/plain\r\n\r\n'(date) | nc -vl $PORT; end</pre
>
<p>Es bastante útil a la hora de depurar proxies.</p>
