---
slug: cuando-la-bios-detecta-tu-nueva-ram-y-linux-no
categories:
  - Hardware
  - Humor
date: "2018-03-24T18:19:08Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/977595906261508097";}}
  _publicize_job_id: "16071746668"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/fyMDrSDkS7D
  publicize_twitter_user: __yajo
  timeline_notification: "1521912000"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - dmesg
  - dmidecode
  - htop
  - lshw
  - RAM
title: Cuando la BIOS detecta tu nueva RAM y Linux no...
type: post
---

<p>
  Bueno, como dije en la última entrada, compré un nuevo módulo de RAM. Cual fue mi
  decepción cuando, tras instalarlo, Linux no era capaz de utilizarlo. Sin embargo,
  entrando en la BIOS sí que me decía que tenía los 16GiB de RAM (antes tenía 8). ¿Qué
  hice? Pues... te vas a reír...
</p>
<h2>Expediente X</h2>
<p>Era curioso:</p>
<ul>
  <li>La BIOS mostraba los 16 GiB de RAM.</li>
  <li>
    <code>htop</code> mostraba unos 6,9 (siempre es normal que haya algo de memoria
    reservada para el sistema, la tarjeta gráfica, etc. Esa cifra indicaba que solo
    detectaba un módulo de memoria de 8 GiB).
  </li>
  <li><code>dmidecode</code> mostraba los 16 GiB sin haber nada extraño.</li>
  <li><code>free -m</code> mostraba 6,9.</li>
  <li><code>lshw</code> mostraba 16.</li>
  <li>
    <code>dmesg</code> mostraba... Bueno, un montón de letras raras que no lograba
    entender. 😅
  </li>
</ul>
<p>Fascinante... 🤔</p>
<h2>Diagnosticando problemas de hardware</h2>
<p>
  Con semejantes rarezas, todo apuntaba a un problema de hardware:
  <strong>alguna pieza no funcionaba bien</strong>.
</p>
<p><!--more--></p>
<p>
  Para diagnosticar estos problemas, lo mejor es regresar al estado original del
  ordenador, comprobar que todo sigue funcionando, y entonces ir introduciendo variables
  poco a poco para ver cuál falla.
</p>
<ul>
  <li>
    Estado original: Módulo Samsung instalado en el zócalo 2 de memoria la placa base.
  </li>
  <li>
    Estado actual: estado original + módulo Crucial instalado en el zócalo 1 de memoria
    en la placa base.
  </li>
</ul>
<p>
  Pruebas realizadas (un ✔ significa que todo funcionaba bien y se detectaban los 6,9
  GiB de RAM):
</p>
<ol>
  <li>Quitar el módulo Crucial. ✔</li>
  <li>Quitar el módulo Samsung y colocar el Crucial en el zócalo 2. ✔</li>
  <li>Colocar el Crucial en el zócalo 1. ✔</li>
</ol>
<p>
  Con estas sencillas pruebas, queda claro que ni los zócalos de RAM, ni la placa base,
  ni los módulos de RAM estaban en mal estado, así que llegamos a la parte más
  importante...
</p>
<h2>La solución</h2>
<p>Sigue estos pasos con atención:</p>
<ol>
  <li>Sacar ambos módulos de RAM.</li>
  <li>
    Soplar bien fuerte, sin soltar <em>perdigones</em>, en la conexión de los módulos.
  </li>
  <li>Soplar igualmente en las conexiones de la placa base.</li>
  <li>Volver a colocar los módulos de RAM en su sitio.</li>
</ol>
<p>Y... ¡funcionó! 😁</p>
