---
slug: cuidado-con-los-megas
categories:
  - Curiosidades
  - Opinión
  - Redes
  - Seguridad
date: "2014-10-16T18:44:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179417329"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Cuidado con los "megas"
type: post
---

<blockquote>
  <p>¡Contrata hoy el ADSL de <em>20 megas</em> con un 15% de descuento!</p>
</blockquote>
<p><strong>Cuidado</strong> con esos <em>megas</em>.</p>
<p>
  En el habla cotidiana,
  <strong>la palabra <em>megas</em> es una abreviatura incorrecta e inexacta</strong>,
  de lo que
  <a
    href="https://es.wikipedia.org/wiki/Megabit_por_segundo#Confusi.C3.B3n_entre_megabit_y_megabyte"
    >las operadoras de telefonía se aprovechan para crear confusión y darte gato por
    liebre</a
  >.
</p>
<p>
  Vamos a diferenciar las 4 unidades de medida que se pueden entender por
  <em>mega</em>:<!--more-->
</p>
<ol>
  <li>
    <a href="https://es.wikipedia.org/wiki/Megabyte">Megabyte (MB)</a>: 1.000.000 bytes
    (recordemos que cada byte son 8 bits).
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/Mebibyte">Mebibyte (MiB)</a>: 1.048.576 (1024
    x 1024) bytes.
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/Megabit">Megabit (Mb)</a>: 1.000.000 de bits
    (la octava parte de 1 MB).
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/Mebibit">Mebibit (Mib)</a>: 1.048.576 bits
    (la octava parte de 1 MiB).
  </li>
</ol>
<p>
  Es decir, que cuando la gente habla cotidianamente de <em>megas</em>, piensa que habla
  de <em>megabytes, </em>aunque en realidad esté hablando de <em>mibibytes</em>.
</p>
<p>
  Sin embargo, cuando una compañía te vende conexiones de datos, siempre te está
  hablando en <em>Mbps</em> (Megabits por segundo), que es aproximadamente
  <strong>una octava parte</strong> de lo que tú crees que te están vendiendo (porque 1
  byte son 8 bits).
</p>
<p>Es decir, que el titular superior podríamos leerlo como:</p>
<blockquote>
  <p>¡Contrata hoy el ADSL de <em>2,5 MB/s</em> con un 15% de descuento!</p>
</blockquote>
<p>O, para ser más exactos:</p>
<blockquote>
  <p>¡Contrata hoy el ADSL de <em>2,384 MiB/s</em> con un 15% de descuento!</p>
</blockquote>
<p>Ahora ya nos entendemos...</p>
