---
slug: dar-permiso-a-un-grupo-de-usuarios-de-ad-para-reiniciar-el-servicio-de-cola-de-impresion-en-windows
categories:
  - Administración de sistemas
  - Seguridad
  - Windows
date: "2014-11-21T10:43:50Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179187480"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Active Directory
  - HP
  - Impresoras
  - permisos
  - Servicios
  - spooler
  - UPD
title:
  Dar permiso a un grupo de usuarios de AD para reiniciar el servicio de cola de
  impresión en Windows
type: post
---

<h2>Problema</h2>
<p>
  Resulta que
  <a
    href="https://social.technet.microsoft.com/Forums/windows/en-US/9be5bfaf-a3e8-43a2-a9e2-2d9af0967d23/completely-unacceptable-print-spooler-crashinghangingdroppingetc-issues-in-25user-office-with-hp"
    >Windows tiene un problema con HP (o HP con Windows, qué mas da) y su controlador
    Universal Print Driver, que provoca que prácticamente cualquier programa se bloquee
    al imprimir esperando indefinidamente a que termine el proceso de impresión
    (<code>splwow64.exe</code>)</a
  >.<!--more-->
</p>
<h2>Parche</h2>
<p>
  Tras perder una ingente cantidad de horas tratando de comprender y resolver el
  problema, di con un workaround, que es ejecutar este ficherito. Llamémoslo
  <code>reiniciar_impresoras.bat</code>:
</p>
<pre>
sc stop spooler
taskkill /f /im splwow64.exe
sc start spooler</pre
>
<p>
  Básicamente, lo que hace es parar el proceso
  <em>Cola de impresión</em> (<code>spooler</code>), matar todos los subprocesos
  <code>splwow64.exe</code> colgados que queden y volver a levantar el servicio.
</p>
<p>
  Vamos, lo que todo el mundo conoce como <em>apagar y volver a encender</em>, pero solo
  del proceso colgado.
</p>
<h3>Nuevo problema</h3>
<p>
  <strong>Tienes que ser el Administrador</strong> para que esto funcione. Claro, en un
  entorno con más de 20 usuarios, no puedo dar esos permisos a cualquiera.
</p>
<h2>Dando permisos por servicio a los usuarios</h2>
<p>
  Lo primero que vamos a hacer es respaldar los permisos actuales del servicio, para
  poder restaurarlos en caso de romperlo todo involuntariamente (cosa bastante fácil con
  estos asuntos). Para ello, ejecuta como administrador este comando y guarda bien todo
  el texto que te devuelva:
</p>
<pre>sc sdshow spooler</pre>
<p>En mi caso devuelve:</p>
<pre>
D:(A;;CCLCSWLOCRRC;;;AU)(A;;CCDCLCSWRPWPDTLOCRSDRCWDWO;;;BA)(A;;CCLCSWRPWPDTLOCR‌​RC;;;SY)S:(AU;FA;CCDCLCSWRPWPDTLOCRSDRCWDWO;;;WD)</pre
>
<p>
  Como todo el entorno está montado con un Active Directory (llamémoslo
  <em>MiDominio</em>),
  <a href="http://technet.microsoft.com/es-es/library/cc733146.aspx#BKMK_winui"
    >crea un grupo de usuarios</a
  >
  al que le daremos luego permiso para reiniciar ese servicio. Lo llamaremos
  <em>ReiniciarImpresoras</em>.
</p>
<p>
  <a href="https://helgeklein.com/download/">Descárgate la utilidad SetACL</a>
  (versión <em>Administrators</em>).
</p>
<p>
  Ahora,
  <a href="http://serverfault.com/a/292978/125479">siguiendo las instrucciones</a>
  y la
  <a href="https://helgeklein.com/setacl/documentation/command-line-version-setacl-exe/"
    >documentación</a
  >, estableceremos el permiso para que los usuarios del grupo
  <em>ReinicarImpresoras</em> puedan reiniciar el servicio de
  <em>Cola de impresión</em>. Supongamos que la máquina en la que estamos trabajando se
  llama <em>MiMaquina</em>. Ejecuta lo siguiente como administrador:
</p>
<pre>
SetACL.exe -on \MiMaquina\spooler -ot srv -actn ace -ace "n:MiDominio\ReiniciarImpresoras;p:start_stop"</pre
>
<p>
  Ahora tus usuarios podrán ejecutar el script
  <code>reiniciar_impresoras.bat</code> cada vez que se les bloqueen.
</p>
