---
slug: delimitadores-de-tabulaciones-elasticos-elastic-tabstops
categories:
  - Noticias
  - Programación
date: "2012-03-15T14:00:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "1959693268820767617"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Delimitadores de tabulaciones elásticos (elastic tabstops)
type: post
---

<p>La verdad es que el título en español queda bastante salchichero...</p>
<p>
  Hoy me he topado con un concepto interesante: que las tabulaciones al programar se
  consideraran más como celdas de una tabla que como simples caracteres. Es lo que
  llamamos
  <a href="http://nickgravgaard.com/elastictabstops/">elastic tabstops</a>.
</p>
<p>Una imagen vale más que mil palabras:</p>
<p>
  <a
    href="http://nickgravgaard.com/elastictabstops/columnblocks_coloured.gif"
    style="margin-left:1em;margin-right:1em;"
    ><img border="0" src="/assets/columnblocks_coloured.gif"
  /></a>
</p>
<p>
  Permitiría incluso usar fuentes sin ancho fijo. Al guardar el fichero, podría
  transformarse en espacios, por ejemplo. Un concepto interesante, la verdad...
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-1959693268820767617?l=recallstack.blogspot.com"
    alt=""
  />
</div>
