---
slug: descargar-y-ejecutar-un-script-bash-en-un-comando-ej-winetricks
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2013-08-16T15:56:42Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - curl
  - script
  - wine
  - winetricks
title: "Descargar y ejecutar un script Bash en un comando (ej: winetricks)"
type: post
---

<p>
  Para los ejemplos, usaremos
  <a href="http://wiki.winehq.org/winetricks">winetricks</a>, ya que en muchas
  distribuciones no viene empaquetado y conviene usar siempre la última versión.
</p>
<p>Simplemente hay que redireccionar lo descargado a bash:</p>
<pre>$ curl --silent http://winetricks.org/winetricks | bash</pre>
<p>
  Si además quieres pasarle parámetros, hay que trucarlo un poco más. Por ejemplo, para
  mostrar la ayuda de winetricks:
</p>
<pre>$ curl --silent http://winetricks.org/winetricks | bash /dev/stdin --help</pre>
<p>Si además quieres tener un acceso directo a eso:</p>
<pre>
$ echo '#!/usr/bin/env bash
curl --silent http://winetricks.org/winetricks | bash /dev/stdin "$@"
' &gt; ~/.local/bin/winetricks-online
$ chmod u+x ~/.local/bin/winetricks-online</pre
>
<p>
  Suponiendo
  <a href="http://askubuntu.com/a/247422"
    >que tengas <code>~/.local/bin</code> en tu <code>$PATH</code></a
  >, ahora podrás hacer:
</p>
<pre>$ winetricks-online --help</pre>
