---
slug: diario-en-linux
categories:
  - GNU/Linux
date: "2011-03-09T20:05:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "6857412501738443084"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Python
  - YAML
title: Diario en Linux
type: post
---

<p>
  Una de las cosas que siempre me hubiera gustado tener pero que en realidad nunca me
  gustó hacer es escribir un diario.<br />Si a ti te pasa igual, tal vez te animaría el
  hecho de que el diario sea una aplicación que te permita dar formato a lo que
  escribes, incluir enlaces y fotos, ordenar por fecha, aplicar etiquetas y categorías,
  buscar, etc.<br />Para ello tenemos
  <a href="http://rednotebook.sourceforge.net/">RedNotebook</a>, un excelente programa
  que encontré hace unos días y al que vale la pena echarle un vistazo.<br />
</p>
<table
  align="center"
  cellpadding="0"
  cellspacing="0"
  class="tr-caption-container"
  style="margin-left:auto;margin-right:auto;text-align:center;"
>
  <tbody>
    <tr>
      <td style="text-align:center;">
        <a
          href="http://rednotebook.sourceforge.net/screenshots/rednotebook-1.1-2.png"
          style="margin-left:auto;margin-right:auto;"
          ><img border="0" height="187" src="/assets/rednotebook-1.1-2.png" width="320"
        /></a>
      </td>
    </tr>
    <tr>
      <td class="tr-caption" style="text-align:center;">RedNotebook</td>
    </tr>
  </tbody>
</table>
<p>
  Está escrito en <a href="http://www.python.org/">Python</a> y usa
  <a href="http://www.gtk.org/">GTK+</a> para la interfaz. Instalarlo
  es&nbsp;sumamente&nbsp;sencillo:
</p>
<pre># aptitude install rednotebook</pre>
<p>
  Una de las cosas curiosas de este programa es que usa indicadores para dar el formato.
  Ejemplos:
</p>
<ul>
  <li><b>**Negrita**</b></li>
  <li>//<i>Cursiva</i>//</li>
  <li>--<s>Tachado</s>--</li>
  <li>__<u>Subrayado</u>__</li>
</ul>
<div>
  Esto puede parecer una molestia, pero en realidad es bueno que uno se acostumbre a
  este tipo de notación. Te ayudará a poder destacar cosas en tus notas. Además hay
  otros servicios que también usan, o pueden usar, esta misma notación (aunque
  generalmente es con un solo asterisco, barra, etc.), como
  <a href="http://www.google.com/talk/">GTalk</a>,
  <a href="http://openoffice.org/">OpenOffice</a> o algunos foros o listas de
  distribución.
</div>
<div></div>
<div>
  Como nota curiosa, almacena los datos en <a href="http://yaml.org/">YAML</a>, un
  formato de almacenamiento que no conocía y que me parece muy original, ya que uno de
  sus objetivos es que sea fácilmente legible por humanos.
</div>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-6857412501738443084?l=recallstack.blogspot.com"
    alt=""
  />
</div>
