---
slug: dividir-un-fichero-y-recomponerlo
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2013-02-15T13:52:39Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  _wp_old_slug: dividir-un-fichero
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - 7z
  - 7zip
  - comprimir
  - split
  - zip
title: Dividir un fichero y recomponerlo
type: post
---

<p>
  Supongamos que he creado un
  <a href="https://es.wikipedia.org/wiki/7z">archivador .7z</a> y quiero dividirlo en
  partes de 3 MB:
</p>
<pre>
$ split --bytes 3M --numeric-suffixes fichero-de-entrada.7z prefijo-de-ficheros-generados.7z.</pre
>
<p>Ahora lo recompondremos:</p>
<pre>$ cat *.7z.* &gt; fichero-recompuesto.7z</pre>
