---
slug: easyscreencast-para-grabar-tu-pantalla
categories:
  - Audio
  - GNU/Linux
  - Interfaz de usuario
  - Multimedia
  - Vídeo
date: "2017-01-09T18:07:38Z"
meta:
  _publicize_job_id: "572843780"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - EasyScreenCast
  - Gnome
  - Gnome 3
  - gnome-shell
  - Gstreamer
title: EasyScreenCast, para grabar tu pantalla
type: post
---

<p>
  Para los usuarios de GNOME 3, grabar la pantalla es tan sencillo como pulsar
  <code>Ctrl+Mayús+Alt+R</code> para empezar, y otra vez lo mismo para parar.
</p>
<p>
  Pero, ¿y si tengo varios monitores y solo quiero grabar uno? ¿O si quiero añadir una
  locución? ¿Y si solo quiero grabar una ventana? ¿O poner mi cara grabada desde la
  webcam?
</p>
<p><!--more--></p>
<p>
  Para esos casos, el otro día descubrí una extensión de GNOME Shell (por eso digo que
  solo vale para usuarios de GNOME) que nos efectúa esta tarea de forma muy sencilla:
  <a href="https://extensions.gnome.org/extension/690/easyscreencast/">EasyScreenCast</a
  >.
</p>
<p>
  Permite poner un atajo de teclado de nuestra elección, escoger si queremos grabar la
  webcam, dónde la colocamos, si grabamos solo un monitor o una ventana, aplicar un
  retardo a la hora de iniciar la grabación, escoger dónde guardará el archivo y con qué
  formato, nombre y calidad, e incluso poner
  <a
    href="https://recallstack.wordpress.com/2011/02/22/tuberias-pipelines-en-gstreamer/"
    >una tubería GStreamer personalizada</a
  >
  (para los usuarios avanzados).
</p>
<p>
  He encontrado algunos bugs, como era de esperar, pero siempre puedes
  <a href="http://github.com/EasyScreenCast/EasyScreenCast"
    >contribuir en el proyecto</a
  >
  informándolos o tratando de arreglarlos.
</p>
