---
slug: el-estandar-odf-se-hace-obligatorio-en-reino-unido
categories:
  - Curiosidades
  - Noticias
date: "2014-07-31T15:18:23Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179455591"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - estándares
  - LibreOffice
  - ODF
title: El estándar ODF se hace obligatorio en Reino Unido
type: post
---

<p>
  <!--more-->El titular ya lo explica todo. Esto obligará a la competencia a dar soporte
  completo al formato <a href="https://es.m.wikipedia.org/wiki/OpenDocument">ODF</a> que
  ya hace tiempo fue declarado estándar internacional, y para el que
  <a href="http://www.libreoffice.org">LibreOffice</a> viene dando soporte desde hace
  años.
</p>
<p>Me encantan los estándares abiertos, no sé si lo había mencionado...</p>
<p>
  <a
    href="https://www.gov.uk/government/news/open-document-formats-selected-to-meet-user-needs"
    >Nota de prensa</a
  >.
</p>
