---
slug: el-problema-de-tener-demasiadas-redes-sociales
categories:
  - Opinión
  - Privacidad
  - Redes
  - Web
date: "2014-06-28T15:00:33Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179477285"
  _wp_old_slug: el-problema-de-las-redes-sociales
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Buddycloud
  - Conversations
  - Converse.js
  - FirefoxOS
  - FJS Messenger
  - IoT
  - Jappix
  - Jitsi
  - Loqui
  - Movim
  - redes sociales
  - XMPP
title: El problema de tener demasiadas redes sociales
type: post
---

<blockquote>
  <p>
    Antiguamente,
    <strong>con una cuenta de e-mail podías hablar con el mundo entero</strong>.
  </p>
  <p>
    Hoy necesitas cuenta en Skype, Google Hangouts, Facebook, Vine, WhatsApp, Twitter...
  </p>
  <p style="text-align:right;">— <a href="https://movim.eu/get-started">Movim</a></p>
</blockquote>
<p>
  Muy a menudo me encuentro en la situación de querer enviar un mensaje a un amigo... ¡y
  no saber cómo! ¡Y eso que tengo el móvil lleno de programas para redes sociales y
  mensajería!...
</p>
<p>
  [caption id="attachment_596" align="aligncenter" width="519"]<a
    href="http://recallstack.wordpress.com/2014/06/28/el-problema-de-las-redes-sociales/fuuuu-redes-sociales/"
    rel="attachment wp-att-596"
    ><img
      class="wp-image-596 size-large"
      src="/assets/fuuuu-redes-sociales.jpg?w=519"
      alt="Sobredosis de redes sociales"
      width="519"
      height="493"
  /></a>
  Sobredosis de redes sociales[/caption]
</p>
<p>
  ¿Te pasa lo mismo? Entonces analicemos la <strong>causa</strong> de esta situación y
  la <strong>solución</strong>:<!--more-->
</p>
<h2>¿Por qué hay redes sociales?</h2>
<p>
  Básicamente, porque cubren (o se aprovechan de) nuestra necesidad de estar en contacto
  con otras personas (o de alimentar nuestro ego).
</p>
<p>
  Además, sirven para compartir cosas que nos gustan de forma no intrusiva. ¿Recuerdas
  que antaño recibías montones de PowerPoints de gatitos? Ahora aparecen en las redes
  sociales, un lugar más apropiado para ellos.
</p>
<h2>Pero... ¿por qué hay <em>tantas</em> redes sociales?</h2>
<p>
  Por dos motivos: <strong>son monolíticas</strong> y
  <strong>usan protocolos privativos</strong>. ¿Te suena a chino? Me explico:
</p>
<h3>1. Son monolíticas</h3>
<p>
  Una red monolítica, o centralizada, es la que
  <strong>no te permite comunicarte con el exterior</strong>.
</p>
<p>Supongamos que Lechuga quiere contactar con Manzana:</p>
<p>
  [caption id="attachment_559" align="aligncenter" width="519"]<a
    href="http://recallstack.wordpress.com/2014/06/28/el-problema-de-las-redes-sociales/flujo-monolitico-2/"
    rel="attachment wp-att-559"
    ><img
      class="wp-image-559 size-large"
      src="/assets/flujo-monolitico1.png?w=519"
      alt="Red social monolítica"
      width="519"
      height="601"
  /></a>
  Red social monolítica[/caption]
</p>
<p>Lechuga tiene que:</p>
<ol>
  <li>
    Averiguar en qué red/es social/es tiene abierta su/s cuenta/s Manzana.
  </li>
  <li>
    Posiblemente, instalar un programa en su teléfono (o PC, tablet, etc.).
  </li>
  <li>
    Abrir una cuenta en dicha red social (previa aceptación de su presumiblemente
    abusiva política de privacidad).
  </li>
  <li>Averiguar cómo escribirle un mensaje a Manzana a través de ahí.</li>
  <li>Mandar el mensaje.</li>
</ol>
<p>Lo dicho: <strong>un soberano lío</strong>.</p>
<h3>2. Usan protocolos privativos</h3>
<p>
  Un <em>protocolo</em> es una manera de comunicarse. Si es <em>privativo</em>,
  <strong
    >solo el inventor sabe cómo funciona; por lo tanto, solo él puede usarlo</strong
  >.
</p>
<h4>
  ¿De verdad es <em>tan importante</em> que se usen protocolos estándares y abiertos?
</h4>
<p>Sí. Es imprescindible.</p>
<p>
  Imagínate un mundo en el que no existiera el USB. Pues algo parecido es lo que pasa
  ahora mismo con la famosa <em>web 2.0</em>. Sencillamente,
  <strong
    >si todas las redes sociales usaran el mismo protocolo, podrían comunicarse entre
    sí, y con una sola cuenta podrías hablar con todo el mundo</strong
  >... de nuevo.
</p>
<p>Y si eso es tan sencillo...</p>
<h2>¿Por qué las grandes redes sociales no corrigen esos problemas?</h2>
<p>
  Porque entonces esas empresas dejarían de tener
  <em>tantísima</em> información, y...
</p>
<blockquote>
  <p>La información es poder.</p>
  <p style="text-align:right;">— Francis Bacon</p>
</blockquote>
<p>
  Con el modelo monolítico, cuanta más gente usa mi red social, más gente quiere entrar
  en mi red social para hablar con esa otra gente, y entonces más, y más... ¡y así hasta
  el infinito!¿Qué se puede hacer con tu información? ¿Cuánto dinero vale? No lo sé,
  calcúlalo tú. Pero piensa que en esa información están:
</p>
<ul>
  <li>Tus gustos, inclinaciones políticas, religiosas, etc.</li>
  <li>Qué le escribes a tus amigos.</li>
  <li>
    Las coordenadas exactas de tu ubicación en cada momento de tu vida (si tienes
    instalada su aplicación en el teléfono).
  </li>
  <li>Quiénes son tus amistades.</li>
</ul>
<p>
  Pero bueno, dejemos al lado las
  <del>teorías conspiratorias</del> conspiraciones y centrémonos en la solución.
</p>
<h2>¿Cuál es la solución?</h2>
<p>
  Una red social que corrija los dos puntos en que fallan las actuales: debe ser
  <strong>federada</strong> (o descentralizada) y
  <strong>usar protocolos abiertos y estándar</strong>.
</p>
<p>Volvemos al ejemplo del e-mail:</p>
<p>
  [caption id="attachment_560" align="aligncenter" width="519"]<a
    href="http://recallstack.wordpress.com/2014/06/28/el-problema-de-las-redes-sociales/flujo-email-2/"
    rel="attachment wp-att-560"
    ><img
      class="wp-image-560 size-large"
      src="/assets/flujo-email1.png?w=519"
      alt="Red social federada"
      width="519"
      height="331"
  /></a>
  Red social federada[/caption]
</p>
<p>
  En el diagrama queda claro que ni a Lechuga ni a Manzana les importa lo más mínimo
  dónde tenga el otro su cuenta. Simplemente con saber la dirección de e-mail,
  <strong>se pueden comunicar, que es lo que les interesa</strong>.
</p>
<p>
  De hecho, tampoco les importa qué programa usen para ver el correo: Outlook,
  Thunderbird, algún programa de webmail... Es irrelevante porque todos estos programas
  <em>hablan los mismos protocolos, que son estándares y abiertos</em>.
</p>
<p>
  Pero, obviamente, el e-mail se nos queda corto para lo que queremos en una red social.
  Sin embargo, hay un protocolo similar que sí se puede usar:
</p>
<h2>XMPP, ese viejo amigo que no sabías ni que existía</h2>
<p>
  <a href="http://xmpp.org">XMPP</a> (o Jabber) es un protocolo
  <strong>abierto</strong> que existe desde 1999, (oficialmente
  <strong>estandarizado</strong> en 2000) <strong>federado</strong>, y que solventa
  todos esos problemas de un plumazo.
</p>
<p>
  Seguramente lo utilices a diario sin siquiera saberlo, ya que muchas redes sociales lo
  utilizan internamente (Whatsapp (ligeramente modificado), Tuenti, etc.) o permiten el
  acceso a través de él (Facebook, Google Hangouts, etc.), aunque suelen bloquearle la
  federación.
</p>
<p>
  El protocolo es muy extensible, y cuando alguien propone una buena extensión, esta
  también acaba estandarizándose. Tanto es así que hasta se ha convertido en el
  <a href="http://wiki.xmpp.org/web/InternetOfThings"
    >favorito para el Internet de las Cosas</a
  >, pero eso ya lo explicaré otro día.
</p>
<p>
  Habiendo pasado tantos años,
  <a href="http://xmpp.org/xmpp-software/clients/">existen docenas de clientes</a>
  para todos los sistemas operativos actuales. Ha madurado mucho, y es actualmente uno
  de los sistemas más seguros que existen cuando se utiliza en
  <a href="http://xmpp.org/extensions/xep-0136.html#otr">modo OTR</a>.
</p>
<h3>Cómo empezar a usar XMPP</h3>
<p>
  Para empezar, dejaré claro que un <em>pod</em> es un servidor en el cual puedes
  hacerte una cuenta, conectado a toda la red XMPP.
</p>
<h4>Mensajería básica</h4>
<p>
  En su versión más básica, permite tener una lista de contactos, ver su estado de
  presencia, y chatear con ellos. Si no necesitas más, puedes usar cualquier pod público
  para empezar.
</p>
<ul>
  <li>
    <a href="https://xmpp.net/directory.php">Lista oficial de pods públicos</a>
    (preferiblemente busca cualquiera con clasificación A A).
  </li>
</ul>
<h4>Redes sociales basadas en XMPP</h4>
<p>
  Hoy en día ya tiene extensiones para que pueda usarse como red social básica, con
  características tales como:
</p>
<ul>
  <li>Multiconferencias.</li>
  <li>Chats de audio y/o vídeo.</li>
  <li>Microblog.</li>
  <li>Compartición de archivos.</li>
  <li>Comentarios.</li>
  <li>Publicar tu ubicación, estado de ánimo, etc.</li>
</ul>
<p>Actualmente, hay tres proyectos que destacan bastante:</p>
<h5>Jappix</h5>
<p>
  Recomiendo empezar con esta, porque es bastante estable. Está enfocado a ser un chat
  con extensiones de red social. En su última versión incluye videoconferencias
  multiusuario.
</p>
<p>
  Ofrece integración con <a href="https://me.jappix.com/">Jappix Me</a>, que sirve para
  crearte un blog personal basada en el perfil público de tu cuenta XMPP.
</p>
<ul>
  <li><a href="https://jappix.org/">Web oficial de Jappix</a>.</li>
  <li><a href="https://jappix.net/">Lista oficial de pods.</a></li>
  <li><a href="http://jappix.com">Pod oficial.</a></li>
</ul>
<h5>Movim</h5>
<p>
  Todavía no es muy estable, pero ya es usable. El proyecto está enfocado más en ser una
  red social con chat integrado. Tiene un sistema de control de la privacidad de tus
  publicaciones más exhaustivo, pero sencillo. Compatible con Jappix, y también incluye
  un blog para tus publicaciones públicas.
</p>
<ul>
  <li><a href="https://movim.eu/">Web oficial de Movim.</a></li>
  <li><a href="https://pod.movim.eu/?q=pods">Lista oficial de pods.</a></li>
  <li><a href="https://pod.movim.eu/">Pod oficial.</a></li>
</ul>
<h5>Buddycloud</h5>
<p>
  Es quizá el más ambicioso de los tres proyectos, ya que consiste en crear todas las
  extensiones necesarias para hacer de XMPP la completa red social que debería ser. La
  contrapartida es que, a diferencia de Movim y Jappix, se basa en extensiones que aún
  no están estandarizadas (aunque
  <a href="http://xmpp.org/extensions/inbox/buddycloud-channels.html"
    >están en proceso</a
  >) y por tanto no es compatible al 100% con las demás redes XMPP.
</p>
<ul>
  <li><a href="https://demo.buddycloud.org/">Web oficial de Buddycloud.</a></li>
  <li><a href="https://demo.buddycloud.org/">Pod demo.</a></li>
</ul>
<h4>Programas para usar XMPP</h4>
<p>Para chatear, también te dejo algunas recomendaciones:</p>
<ul>
  <li>Windows, Mac OS X, Linux: <a href="https://jitsi.org/">Jitsi</a>.</li>
  <li>
    Android:
    <ul>
      <li>
        <a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations"
          >Conversations</a
        >, o su derivado
        <a
          href="https://play.google.com/store/apps/details?id=com.fjsdevelopment.messenger"
          >FJS Messenger</a
        >, por ser los más intuitivos.
      </li>
      <li>
        El más completo parece ser
        <a href="https://download.jitsi.org/jitsi/nightly/android/">Jitsi</a>, pero aún
        está en desarrollo y no es demasiado intuitivo. Permite hacer videollamadas.
      </li>
    </ul>
  </li>
  <li>
    iOS: No lo he probado, pero
    <a href="http://appcrawlr.com/app/search?go=go&amp;q=xmpp&amp;device=ipad%2Ciphone"
      >aquí tienes una lista</a
    >. Se aceptan sugerencias.
  </li>
  <li>Firefox OS: <a href="http://loqui.im/">Loqui</a>.</li>
  <li>
    Navegador web: Si usas Jappix o Movim, puedes chatear desde ahí. Si no,
    <a href="https://conversejs.org/">Converse.js</a> parece lo más sencillo.
  </li>
</ul>
<h2>Corre la voz</h2>
<p>
  Los programas están ahí, el protocolo está ahí.
  <strong>Lo único que les falta es publicidad</strong> y usuarios, así que la próxima
  vez que alguien se te queje de sobredosis de redes sociales, explícaselo y ayúdale a
  abrirse una cuenta XMPP, la última cuenta que tendrá que abrirse en su vida. Así
  ayudarás a tener una mejor web.
</p>
