---
slug: el-reemplazo-de-gksudo-o-gksu-en-gnome-shell
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2012-08-16T12:34:44Z"
meta:
  _edit_last: "5195209"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - gksu
  - gksudo
  - pkexec
  - sudo
title: El reemplazo de gksudo o gksu en gnome-shell
type: post
---

<p>
  En los tiempos de Gnome 2, cuando querías abrir una ventana que hiciera las veces de
  un <em><code>sudo</code> gráfico</em>, llamabas a <code>gksu</code> o
  <code>gksudo</code>.
</p>
<pre>
$ gksu whoami
root</pre
>
<p>
  En Gnome Shell ya no existen estos comandos. Se han sustituido por
  <a href="http://hal.freedesktop.org/docs/polkit/pkexec.1.html"><code>pkexec</code></a
  >:
</p>
<pre>
$ pkexec whoami
root</pre
>
