---
slug: eliminar-esos-malditos-silencios-de-los-bonus-track
categories:
  - Audio
  - GNU/Linux
  - Tutoriales
date: "2012-06-28T21:18:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "8312990149128711756"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - GTK+
title: Eliminar esos malditos silencios de los bonus track
type: post
---

<p>
  No sé si os pasa lo mismo, pero yo <b>odio</b> esos bonus tracks que te ponen después
  de 10 minutos de silencio en una canción.
</p>
<p>
  Claro, lo ideal sería poder dividir ese fichero en 2 a partir de dicho silencio.
  Bueno, hoy vamos a ver cómo automatizar eso.
</p>
<p>
  Necesitarás instalar la aplicación
  <a href="http://mp3splt.sourceforge.net/mp3splt_page/downloads.php">mp3splt</a>.<br />
</p>
<h2>Configurando la aplicación</h2>
<p>
  Una vez hecho, abre mp3splt-gtk y ve a la pestaña
  <i>Tipo de división &gt; Dividir el modo de</i> y ahí marca la opción
  <i>El silencio - se separó de la detección del silencio</i> y, dentro de ella, la
  casilla <i>Quitar silencio entre las pistas</i>.
</p>
<p>
  Luego ve a la pestaña <i>Preferencias &gt; Split</i>, y ahí elige el directorio en que
  se colocarán los archivos divididos, y, si vas a trabajar con pistas con
  <a href="http://es.wikipedia.org/wiki/Tasa_de_bits_variable">VBR</a>, marca la casilla
  <i>modo frame</i>.
</p>
<p>
  Por último, ve a <i>Preferencias &gt; Tags</i> y marca las casillas
  <i>Same tags version as the input file</i> y <i>Original file tags</i>, para que te
  respete las etiquetas <a href="http://es.wikipedia.org/wiki/ID3">ID3</a> que hubiera
  en el fichero original.<br />
</p>
<h2>Dividiendo el archivo</h2>
<p>
  A continuación, arrastra el fichero
  <a href="http://es.wikipedia.org/wiki/MP3">mp3</a> u
  <a href="http://es.wikipedia.org/wiki/Ogg">ogg</a> que quieras dividir a la ventana, o
  usa el botón <i>browse</i> que hay arriba para seleccionarlo.
</p>
<p>
  Ahora tan solo pulsa el botón <i>Split!</i> que hay arriba, y déjale hacer su magia.
  Encontrarás en la carpeta que hayas seleccionado 2 ficheros que serán la canción
  principal y el bonus track sin la dichosa separación del eterno silencio.<br />
</p>
<h2>Corrigiendo errores</h2>
<p>
  Cuando realizas la división, se producen ciertos errores que tendrás que corregir en
  el gestor de archivos o en un programa que te permita editar las etiquetas ID3 de los
  ficheros generados.
</p>
<ul>
  <li>Errores en el nombre del archivo</li>
</ul>
<ul>
  <li>Canción principal (primera mitad de la pista)</li>
</ul>
<ul>
  <li>
    Tendrás que eliminar el sufijo <i>_silence_1</i> que se le habrá añadido al nombre
    del archivo.
  </li>
</ul>
<li>Canción bonus (segunda mitad de la pista)</li>
<ul>
  <li>También se le habrá puesto el sufijo <i>_silence_2</i>.</li>
  <li>
    Lógicamente, tendrás que modificar el nombre del fichero porque ya no se llamará
    igual ni será el mismo número de pista.
  </li>
</ul>
<li>Errores en las etiquetas ID3</li>
<ul>
  <li>
    Ambas canciones tendrán el mismo número de pista en el disco. Por ejemplo, si has
    dividido la pista 13, ambas serán la 13.
  </li>
  <li>
    En ocasiones, a ambas se les cambia el número de pista a otro número. En el caso de
    antes, puede que en vez de 13 ponga 2.
  </li>
  <li>Habrá que ponerle bien el nombre a la canción bonus.</li>
</ul>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-8312990149128711756?l=recallstack.blogspot.com"
    alt=""
  />
</div>
