---
slug: emojis-de-colores-en-fedora-26
categories:
  - Empaquetado de software
  - GNU/Linux
date: "2017-09-23T17:04:06Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/911607114879193089";}}
  _publicize_job_id: "9587245552"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/UxH7T5YVLtW
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - cairo
  - emoji
  - Fedora
title: Emojis de colores en Fedora 26
type: post
---

<p>
  Los emojis coloreados ya hace tiempo que están en nuestra vida, pero para los usuarios
  de Linux ha sido una espera especialmente larga.
</p>
<p>
  Si usas <a href="https://getfedora.org/">Fedora</a>, estás de enhorabuena, ¡porque con
  este simple comando los tendrás desde hoy!
</p>
<p><!--more--></p>
<pre># dnf --releasever 27 update cairo</pre>
<p>Quizás tengas que reiniciar para ver los cambios.</p>
<p>
  Básicamente esto nos actualizará el paquete
  <a href="https://www.cairographics.org/">cairo</a> a la versión que ya han empaquetado
  para la próxima entrega (Fedora 27),
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1415380"
    >que añade soporte para emojis de colores</a
  >.
</p>
<p>¡A disfrutar! 🎉</p>
