---
slug: enki-el-editor-de-texto-definitivo
categories:
  - GNU/Linux
  - Interfaz de usuario
  - Noticias
  - Opinión
  - Windows
date: "2013-11-14T18:25:40Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Eclipse
  - editor
  - Emacs
  - Enki
  - ErgoEmacs
  - Gedit
  - IDE
  - jEdit
  - Kate
  - Lisp
  - nano
  - NetBeans
  - Notepad++
  - PHP
  - Python
  - Vim
title: "Enki: ¿el editor de texto definitivo?"
type: post
---

<p><strong>tl;dr:</strong> <a href="#winner">Ir al ganador.</a></p>
<p>
  No hace mucho emprendí una cruzada en búsqueda del editor de texto para programación o
  IDE definitivo. Supongo que todos acabamos haciendo esto alguna vez. Bueno, todos
  salvo los que nacen <em>atados a Visual Studio y .NET</em>.
</p>
<p>Estos eran mis requisitos. No son muchos:</p>
<ol>
  <li>Software libre.</li>
  <li>Multiplataforma.</li>
  <li>Soporte para todos los lenguajes con los que suelo trabajar.</li>
</ol>
<p>Hay 3 enfoques diferentes para abordar esto, con sus pros y sus contras:</p>
<h2>IDE</h2>
<p>
  Probé <a href="http://eclipse.org/">Eclipse</a> (mastodonte heterogéneo con un hambre
  insaciable de RAM), <a href="http://netbeans.org">NetBeans</a> (genial pero sin
  soporte para <a href="http://python.org">Python</a>) y
  <a href="http://jedit.org">jEdit</a> (ligero pero insuficiente), y al final llegué a
  la conclusión de que están bien, pero su principal error es tratar de abarcar todos
  los campos. Sencillamente no puedes hacerlo bien todo.
  <strong>Quien mucho abarca poco aprieta</strong>.
</p>
<p>
  Ojo, para desarrollo PHP, NetBeans me parece fabuloso. Si tuviera Python,
  probablemente sería el ganador.
</p>
<h2>Editores a la vieja usanza</h2>
<p>
  Visto que una solución integral era poco viable, pensé en usar la filosofía Unix: que
  haga una cosa y la haga bien: "Si quiero control de versiones, debug, etc., puedo
  hacerlo con otros programas separados especializados. Necesito un buen editor. Vayamos
  a los clásicos."
</p>
<p>
  Probé <a href="http://nano-editor.org/">nano</a> (cómodo para cosas rápidas por SSH,
  pero insuficiente), <a href="http://www.vim.org/">Vim</a> (no me acostumbro a eso de
  tener que activar el modo edición) y
  <a href="https://www.gnu.org/software/emacs/">Emacs</a> (acabas dedicándole más tiempo
  a tu editor de texto que a editar texto).
</p>
<p>
  Tienen la ventaja de funcionar por SSH bien, pero lamentablemente
  <strong>nací en la era del Ctrl+C y Ctrl+V</strong>, y soy
  <strong>muy eficiente</strong> con mis queridos atajos de teclado estilo GUI de
  siempre. Tener que volver a aprender de cero me parecía una tarea costosa y,
  francamente, insuficientemente remunerada.
</p>
<p>
  Me topé con <a href="http://ergoemacs.org/">ErgoEmacs</a>, que es un proyecto que
  intenta hacer el aterrizaje en Emacs más potable. Me pareció un proyecto estupendo,
  pero al final acabé dedicando tantísimo tiempo a escribir lisp (un lenguaje horroroso
  que no me sirve para otra cosa) que me aburrí. Al menos sí me di cuenta de que
  <strong>saber extender tu propio editor es algo muy valioso</strong>.
</p>
<p>Así que pensé: "probemos con los editores de texto visuales".</p>
<h2>Editores GUI</h2>
<p>
  Probé <a href="https://projects.gnome.org/gedit/">Gedit</a>,
  <a href="http://userbase.kde.org/Kate/es">Kate</a> y
  <a href="http://www.notepad-plus-plus.org/">Notepad++</a>, a cada cual más completo,
  pero no cumplían demasiado bien mi requisito de ser multiplataforma. Quiero decir que
  puedes usar versiones de Gedit y Kate en Windows, o Notepad++ con Wine, pero se nota
  que no fueron creados con esa mentalidad.
</p>
<p>
  Entonces surgió la gran pregunta: ¿No habrá un <strong>buen</strong> editor de texto,
  multiplataforma, libre, que soporte muchos lenguajes, que no intente hacer más de lo
  que puede, que sea extensible... en definitiva, que tenga lo mejor de todas las
  opciones?
</p>
<h2 id="winner">El ganador</h2>
<p>
  De repente encontré <a href="http://enki-editor.org/">Enki</a>. La breve pero sencilla
  descripción de sus características principales que tenéis en ese enlace me enamoró. La
  traduzco aquí:
</p>
<ul>
  <li>
    <strong>Fácil para el usuario</strong>. Interfaz intuitiva. Funciona bien sin
    configurar nada. No necesita leer toneladas de documentación.
  </li>
  <li>
    <strong>Fácil para programadores</strong>. Programe lo más rápido que pueda. Sin
    ratón.
  </li>
  <li>
    <strong>Ligero</strong>. Algunos IDE muestran una pantalla de bienvenida. Enki nunca
    lo hará. Simplemente arranca rápido.
  </li>
  <li>
    <strong>Extensible</strong>. Los sistemas operativos están diseñados para ejecutar
    aplicaciones. Enki está diseñado para ejecutar extensiones.
  </li>
  <li>
    <strong>Multiplataforma</strong>. Usa tu editor habitual en cualquier sistema
    operativo. Actualmente se ha probado en Linux, MacOS X y Windows.
  </li>
  <li>
    <strong>De alta calidad</strong>. No tiene una larga lista de características
    maravillosas, pero lo que hace, lo hace bien.
  </li>
  <li><strong> De código libre</strong>. Esta es nuestra religión.</li>
</ul>
<p>
  En pocas palabras, <strong>exactamente lo que buscaba</strong>, y
  <a href="http://enki-editor.org/why-new.html"
    >creado expresamente para solucionar mi problema</a
  >.
</p>
<p>
  Hay que tener en cuenta que es un proyecto muy joven, que carece de una gran comunidad
  de usuarios o desarrolladores, pero es realmente digno de probar y contribuir, y tiene
  unas ideas fantásticas. Y si tienes que programarte tus personalizaciones, al menos
  aquí usas Python.
</p>
