---
slug: entrar-en-www-agpd-es-con-firefox
categories:
  - Curiosidades
  - Privacidad
  - Seguridad
  - Tutoriales
date: "2012-12-19T15:16:52Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - AEPD
  - agpd
  - Firefox
  - HTTPS
  - LOPD
  - Protección de datos
  - SSL
  - TLS
  - Vulnerabilidad
title: Entrar en www.agpd.es con Firefox
type: post
---

<p>Si lo intentas, seguramente acabarás con un error que te dice:</p>
<blockquote>
  <p>
    Conexión segura fallida<br />
    Ha ocurrido un error durante una conexión a www.agpd.es.<br />
    No se permite la renegociación en este socket SSL.<br />
    (Código de error: ssl_error_renegotiation_not_allowed)<br />
    La página que está intentando ver no puede mostrarse porque no se ha podido
    verificar la autenticidad de los datos recibidos.<br />
    Por favor, contacte con los administradores del sitio web para informarles de este
    problema. De manera alternativa, use la opción del menú Ayuda para informar del
    problema de este sitio web.
  </p>
</blockquote>
<p>
  Esto es porque
  <strong
    >la página web de la Agencia Española de Protección de Datos es susceptible a una
    <a href="https://wiki.mozilla.org/Security:Renegotiation"
      >vulnerabilidad en el protocolo de seguridad</a
    ></strong
  >. Tiene su gracia.
</p>
<p>Para poder entrar:</p>
<ol>
  <li>Accede a <em>about:config</em> desde la barra de direcciones.</li>
  <li>Busca la clave <em>security.ssl.renego_unrestricted_hosts</em>.</li>
  <li>Edita su valor a <em>www.agpd.es</em>.</li>
</ol>
