---
slug: error-al-cambiar-el-contexto-selinux-de-un-archivo
categories:
  - Administración de sistemas
  - GNU/Linux
  - Seguridad
date: "2015-07-22T18:21:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "12980212632"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - chcon
  - lsattr
  - SELinux
title: Error al cambiar el contexto SELinux de un archivo
type: post
---

<p>Supongamos que quieres cambiar el tipo de un archivo así:</p>
<pre>$ chcon --type svirt_sandbox_file_t somefile</pre>
<p>Y que te da el siguiente error:</p>
<pre>
chcon: fallo al cambiar el contexto de «somefile» a «unconfined_u:object_r:svirt_sandbox_file_t:s0»: Operación no permitida</pre
>
<p>Para corregirlo, comprueba 3 cosas:<!--more--></p>
<ol>
  <li>¿Tienes permiso de escritura sobre el archivo? (<code>ls -l somefile</code>)</li>
  <li>
    ¿<a href="http://www.littleprojects.org/blog/2012/06/02/operation-not-permitted/"
      >El archivo tiene el atributo <code>i</code></a
    >
    (<a href="https://en.wikipedia.org/wiki/Chattr#Attributes">inmutable</a>)? (<code
      >lsattr somefile</code
    >)
  </li>
  <li>
    ¿<a href="http://selinuxproject.org/">SELinux</a> está activado?
    (<code>getenforce</code>)
  </li>
</ol>
