---
slug: escogiendo-control-de-versiones-bzr-git-hg
categories:
  - Control de versiones
  - Opinión
  - Programación
date: "2014-04-04T22:48:48Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18151218244"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Bazaar
  - bzr
  - Git
  - Git vs. Mercurial
  - hg
  - Mercurial
  - SCM
title: Escogiendo control de versiones (bzr, git, hg)
type: post
---

<p>
  Es una elección difícil. Por suerte o por desgracia he usado los 3 últimamente, así
  que ahí van mis impresiones:<!--more-->
</p>
<h2><a href="http://bazaar.canonical.com/en/">Bazaar</a></h2>
<p>
  Empezaré por él porque es el que menos me ha gustado, y porque
  <a href="https://lists.gnu.org/archive/html/emacs-devel/2014-01/msg00005.html"
    >está muriendo</a
  >, así que no lo recomendaría para proyectos nuevos.
</p>
<p>
  Está muy bien que viene muy integrado con su GUI
  <a href="http://doc.bazaar.canonical.com/explorer/en/">Bazaar Explorer</a>, que si
  bien no es la mejor, es más intuitiva que la línea de comandos.
</p>
<p>
  El principal problema que le he visto es que es muy lento al trabajar en red, al menos
  al usar <a href="https://launchpad.net/">Launchpad</a>, que de por sí es la menos
  intuitivo de las plataformas online de desarrollo que he probado. También la
  metainformación de los repositorios tiende a ocupar más con Bazaar que con los demás.
</p>
<p>
  Otro problema es que al iniciarte con él te da
  <a href="http://wiki.bazaar.canonical.com/SharedRepositoryTutorial"
    >tantas opciones para organizarte las ramas de tu repositorio</a
  >, que acabas mareándote... aunque a decir verdad esto pasa con todos al principio.
</p>
<h2><a href="http://git-scm.com/">Git</a></h2>
<p>
  Sin duda es el más popular de todos, aunque para mí ocupa el 2º puesto. Es el sistema
  que desarrolla y utiliza la
  <a href="http://www.linuxfoundation.org/">Linux Foundation</a>, con lo cual queda
  garantizada su eficiencia.
</p>
<p>
  Es muy rápido, y tiene tantísimos comandos para tantísimas cosas que va a ser casi
  imposible que te falte uno para lo que necesitas. Lo malo es que de tanto que tiene se
  pasa, y para un principiante resulta algo abrumador, sobre todo teniendo en cuenta que
  te zambulles directamente en la línea de comandos, ya que no tiene una GUI libre
  multiplataforma decente (<a href="http://git-scm.com/downloads/guis">hay muchas</a>, y
  trae una de serie, pero es horrible). Este es quizá el peor punto para mí. Con Bazaar
  y Mercurial puedes dejar para más tarde lo de la línea de comandos, si es que llegado
  el caso lo ves necesario.En parte se debe a que está escrito principalmente en C y
  Bash, lo cual ha hecho que su implementación en Windows haya sido algo complicada (de
  hecho es <a href="http://msysgit.github.io/">un proyecto aparte</a>), y que algunas
  GUI hayan empezado por simplemente convertir los clicks de botones en comandos de
  consola, algo un tanto cutre si lo comparas con tener una buena biblioteca a la que
  llamar. Esto lo están arreglando con <a href="http://libgit2.github.com/">libgit2</a>,
  pero de momento no llega al nivel de Git.Eso sí: tiene un fuerte enfoque en permitirte
  modificar el historial de cambios, y está presente en algunas plataformas de
  desarrollo fantásticas, como <a href="https://github.com/">GitHub</a> o
  <a href="https://bitbucket.org">Bitbucket</a>.
</p>
<h2><a href="https://www.mercurial-scm.org/">Mercurial</a></h2>
<p>
  Es mi preferido. Para empezar, en cuanto a eficiencia, cabe destacar que
  <a
    href="https://code.facebook.com/posts/218678814984400/scaling-mercurial-at-facebook/"
    >Facebook lo utiliza</a
  >, y según dicen tienen un código más grande que el del propio núcleo de Linux, y han
  conseguido optimizarlo hasta niveles que Git les hubiera resultado muy difícil debido
  a su arquitectura. El resto de usuarios nos podemos beneficiar de los más de 500
  parches que han contribuido. En definitiva, es rápido, compacto, escalable y
  extensible.
</p>
<p>
  De hecho, su fuerte énfasis en su extensibilidad lo podemos notar al ver que
  <a href="http://mercurial.selenic.com/wiki/UsingExtensions"
    >viene de serie con una serie de plugins desactivados</a
  >, que al activarlos nos proporcionan herramientas más avanzadas que lo que es el
  núcleo de funciones principales. Este enfoque me parece el mejor de los tres, ya que
  hace que la zambullida inicial sea menos dura, pero que no te quedes sin herramientas
  conforme te van saliendo necesidades más específicas. Por ejemplo, Mercurial no está
  muy a favor de modificar el historial, pero
  <a href="http://mercurial.selenic.com/wiki/EditingHistory">puede hacerse</a>
  de diversas formas con extensiones, y ofrece otras alternativas como
  <a href="http://mercurial.selenic.com/wiki/MqExtension">MQ</a>.
</p>
<p>
  Toda esta extensibilidad y multiplataformidad vienen en parte de haber elegido desde
  el principio un lenguaje como Python para escribirlo (con algunas extensiones en C), y
  ello permite lo que para mí es lo mejor de todo:
  <a href="http://tortoisehg.bitbucket.org/">TortoiseHg</a>. Lo siento, me encanta la
  línea de comandos, pero esta GUI es sencillamente insuperable.
</p>
<h2>Reflexión final</h2>
<p>
  La verdad es que, preferencias aparte, se trabaja bien con los tres. Si alguno te
  gusta más, úsalo y ponte a programar, y no te preocupes demasiado por las demás cosas.
</p>
