---
slug: escribiendo-en-ruso-con-tildes-en-gnome
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2012-03-02T15:30:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "5366656584325178611"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Gnome
  - Idiomas
  - Teclado
title: Escribiendo en ruso con tildes en Gnome
type: post
---

<p>
  Recientemente me he visto en la necesidad de
  <strong>escribir ruso</strong> con el ordenador, así que pongo aquí la configuración
  necesaria, usando <strong>Gnome 3.2 </strong>en Fedora 16.
</p>
<p>
  Iremos a la <em>configuración de región e idioma</em>, y dentro de la pestaña
  <em>distribuciones</em>, pulsaremos el botón de añadir que hay en el listado de la
  izquierda. Buscamos en la lista <em>ruso (fonético con teclas de Windows)</em>, y lo
  añadimos a la lista de idiomas disponibles.
</p>
<p>
  El <strong>ruso fonético</strong> tiene la ventaja de que la mayoría de las teclas son
  tal cual suenan en el alfabeto latino, con lo que, si sabes algo de mecanografía y no
  sueles mirar el teclado, aprendiéndote las 4 teclas que cambian
  <strong>puedes escribir rápidamente</strong>.
</p>
<p>
  Si necesitas <strong>cambiar de ruso a español constantemente</strong>, puedes activar
  una combinación de teclas para eso. Dentro de la misma pestaña
  <em>distribuciones</em>, pulsa <em>opciones</em>, despliega
  <em>tecla(s) para cambiar la distribución</em>, y marca la que más te guste.
  Personalmente uso la de <em>Mayús + Bloq. Mayús</em>.
</p>
<p>
  Si además necesitas <strong>poder escribir tildes</strong> (cosa imposible con la
  distribución de ruso típica), despliega en esa misma ventana
  <em>opciones misceláneas de compatibilidad</em>, y activa
  <em>activar caracteres tipográficos adicionales</em>. Ahora al pulsar
  <em>Alt Gr + a</em> le colocarás una tilde al carácter inmediatamente anterior al
  cursor.
</p>
<p>
  Por último, el siguiente comando
  <strong>muestra la disposición de teclado</strong>número 2 que tengas configurada:
</p>
<pre>$ gkbd-keyboard-display --group 2</pre>
<p>
  Lo puedes añadir a un <strong>atajo de teclado</strong> en
  <em>configuración &gt; teclado &gt; atajos &gt; combinación personalizada</em>
  (yo uso <em>ctrl + alt + k</em>) para verlo rápidamente. De todos modos, si tienes
  activada la opción de caracteres tipográficos adicionales, el teclado ruso no se
  mostrará bien, es una pega.
</p>
<p>До свида́ния!</p>
<div class="blogger-post-footer">
  <img
    class="igznrhwodudomwzhkqeu"
    src="/assets/5801165928817664556-5366656584325178611?l=recallstack.blogspot.com"
    alt=""
    width="1"
    height="1"
  />
</div>
