---
slug: escuchar-radio-3-en-rhythmbox
categories:
  - Audio
  - Multimedia
date: "2016-12-16T16:07:23Z"
meta:
  _publicize_job_id: "30062609070"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  enclosure: |
    http://radio3.rtveradio.cires21.com/radio3.mp3
    0
    audio/mpeg
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Gnome
  - Radio
  - Radio 3
  - Rhythmbox
title: Escuchar Radio 3 en Rhythmbox
type: post
---

<p>
  Tan solo necesitas la URL de streaming de la radio y añadirla a
  <a href="https://wiki.gnome.org/Apps/Rhythmbox">Rhythmbox</a>. Te sirve para cualquier
  otra radio.
</p>
<p><!--more--></p>
<p>
  <a href="https://lmddgtfy.net/?q=radio%203%20directo"
    >Indagando un poco por Internet</a
  >
  encontraremos
  <a href="http://radio-espana.com/radio-3"
    >la página en la que se puede escuchar Radio 3 en directo</a
  >
  y con uso de la consola de red de Firefox, encontramos que la URL de streaming de
  <a href="http://www.rtve.es/radio/radio3/">Radio 3</a> es
  <code>http://radio3.rtveradio.cires21.com/radio3.mp3</code>.
</p>
<p>
  Así pues, abrimos Rhythmbox, y vamos a <em>Radio &gt; Añadir</em> y añadimos la URL
  que os he puesto arriba:
</p>
<p>
  <img
    class="alignnone size-full wp-image-1814"
    src="/assets/captura-de-pantalla-de-2016-12-16-09-02-34.png"
    alt="Captura de pantalla de 2016-12-16 09-02-34.png"
    width="769"
    height="532"
  />
</p>
<p>
  Si quieres darle un título chulo, simplemente pulsa con el
  <em>botón derecho</em> sobre la radio creada, <em>Propiedades</em>, y edita su nombre
  y género.
</p>
<p>
  Como con toda entrada del blog, espero que uses estos conocimientos para el bien y no
  para iniquidades, tales como oír los 40 😆.
</p>
