---
slug: evitar-conflictos-de-joystick-o-gamepad-duplicados-en-wine-eventjs
categories:
  - Administración de sistemas
  - GNU/Linux
  - Hardware
  - Juegos
date: "2013-08-16T20:21:25Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  geo_public: "0"
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-08-16
    18:21:25";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - gamepad
  - joystick
  - wine
title: Evitar conflictos de joystick o gamepad duplicados en Wine (event/js)
type: post
---

<p>
  A veces <a href="http://www.winehq.org/">Wine</a> interpreta tu joystick o gamepad de
  forma duplicada, y te crea 2, uno llamado <em>js</em> y otro llamado <em>event</em>.
</p>
<p>Para arreglarlo:</p>
<ol>
  <li>Enchufa tu gamepad.</li>
  <li>
    <pre>
$ WINEPREFIX=~/.local/share/wine-prefixes/ruta-hacia-tu-prefijo wine explorer</pre
    >
  </li>
  <li>Entra en <em>Mi PC &gt; Panel de control &gt; Mandos de juego</em>.</li>
  <li>Prueba ambos y deshabilita el que peor funcione.</li>
  <li>Regresa a tu juego y vuelve a configurar el mando.</li>
</ol>
<p>Ahora debería funcionar sin conflictos.</p>
