---
slug: evitar-que-gnome-shell-bloquee-tu-ordenador
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Tutoriales
date: "2013-01-14T16:20:35Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - autostart
  - Desktop Entry
  - Gnome
  - gnome-shell
  - gnu linux
  - nice
  - open desktop
  - Prioridad
  - renice
  - session properties
title: Evitar que gnome-shell bloquee tu ordenador
type: post
---

<p>
  Por algún extraño motivo,
  <strong>Gnome Shell siempre se bloquea cuando cuelgo una llamada de Skype</strong>. En
  muchas otras ocasiones, insiste en consumir más recursos de los que debería, llegando
  a veces a <strong>bloquear</strong> por entero mi ordenador.
</p>
<h2>Cómo matar el proceso bloqueado de Gnome Shell</h2>
<p>
  Normalmente no queda más remedio que cambiar a otra terminal (pulsando
  <em>Ctrl + Alt + F2/F3/F4...</em>) y matar el proceso a lo bruto con este comando:
</p>
<pre><a class="zem_slink" title="Killall" href="http://es.wikipedia.org/wiki/Killall" target="_blank" rel="wikipedia">killall</a> --signal KILL gnome-shell</pre>
<p>
  Gnome Shell 3.4 se reinicia automáticamente tras hacer esto. El problema es que, dado
  que el ordenador ha sido bloqueado,
  <strong>a veces ni siquiera puedo cambiar de terminal</strong>.
</p>
<h2>Evitar que Gnome Shell llegue a bloquear por completo el ordenador</h2>
<p>
  Le vamos a <strong>asignar una prioridad inferior al proceso</strong>. En GNU/Linux,
  cuanto menor es el
  <a href="http://oreilly.com/linux/command-directory/cmd.csp?path=n/nice">nice</a>,
  mayor es la prioridad del proceso, y viceversa, así que disminuiremos su prioridad
  aumentando su nivel de nice.
</p>
<pre>$ <a class="zem_slink" title="Nice (Unix)" href="http://en.wikipedia.org/wiki/Nice_%28Unix%29" target="_blank" rel="wikipedia">renice</a> --priority 5 --pid $(<a class="zem_slink" title="Pidof" href="http://es.wikipedia.org/wiki/Pidof" target="_blank" rel="wikipedia">pidof</a> gnome-shell)</pre>
<p>
  Ahora puede que se bloquee, pero al menos no debería inutilizar a otros procesos más
  importantes. Si se cuelga, ahora podrás cambiar de terminal y matar el proceso sin
  ningún problema. Sin embargo,
  <strong>en cuanto reinicies el ordenador, todo esto perderá su efecto</strong>.
</p>
<h2>Automatizar el cambio de prioridad</h2>
<h3>Crear un script que haga el trabajo sucio</h3>
<p>Es el primer paso. Para ello, puedes usar este comando:</p>
<pre>
cat &lt;&lt; END &gt; ~/.local/bin/gnome-shell-renice.sh
#!/usr/bin/env bash
renice --priority ${1:-5} --pid $(pidof gnome-shell)
END
chmod u+x ~/.local/bin/gnome-shell-renice.sh</pre
>
<p>
  <strong>Nota:</strong> La parte de <code>${1:-5}</code> usa la variable
  <code>$1</code> y, si no se indica, usa el valor literal <code>5</code>. De este modo,
  puedes llamar al script con un comando como el siguiente para que la prioridad se
  establezca en 10:
</p>
<pre>gnome-shell-renice.sh 10</pre>
<h3>Crear un fichero <em>.desktop</em> que se cargue al iniciar sesión</h3>
<p>
  Puedes usar <code>gnome-session-properties</code> para eso, o crearlo por consola así:
</p>
<pre>
cat &lt;&lt; END &gt; ~/.config/autostart/renice.desktop
#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=gnome-shell-renice.sh
Hidden=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=Reducir prioridad de Gnome Shell
Name=Reduce Gnome Shell priority
Comment[es_ES]=Reduce la prioridad de la shell para evitar bloqueos
Comment=Reduce Gnome Shell priority to avoid freezes
END</pre
>
<p>
  <strong>Nota:</strong> No puedes escribir el script directamente en el fichero
  <em>.desktop</em> por restricciones de seguridad.
</p>
