---
slug: explicacion-del-proceso-de-solicitud-renovacion-e-instalacion-de-certificados-ssl
categories:
  - Administración de sistemas
  - Encriptación
  - GNU/Linux
  - Seguridad
date: "2016-04-01T22:50:18Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "21359809782"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Apache
  - CSR
  - HAProxy
  - HTTPS
  - IIS
  - Nginx
  - OpenSSL
  - PFX
  - PKCS#10
  - PKCS#12
  - PKCS#7
  - rsa
  - SSL
  - X.509
title:
  Explicación del proceso de solicitud, renovación e instalación de certificados SSL
type: post
---

<p>
  Para añadir un certificado SSL a tu sitio web, hay que seguir muchos pasos, pelearse
  con muchos formatos de certificado para diferentes servidores, y peor aún si
  renovamos.
</p>
<p>Aquí va una breve guía.</p>
<p><!--more--></p>
<h1>Extensiones de fichero</h1>
<p>
  Vamos a hablar de muchos formatos distintos, que son normalmente ficheros de texto
  plano, pero que
  <strong>no tienen una extensión de archivo estandarizada</strong>; de hecho, es
  irrelevante. De todas formas, os iré diciendo cuál es la más habitual para cada uno.
</p>
<p>
  Normalmente el nombre del fichero es el dominio seguido de la extensión. En los
  ejemplos usaré <em>example.com</em> como dominio, así que los ficheros quedarán en
  formato <code>example_com.pem</code> o parecido.
</p>
<h1>Prerrequisitos</h1>
<p>
  Para operar con todo tipo de certificados necesitamos instalar
  <a href="https://www.openssl.org/">OpenSSL</a>:
</p>
<pre>$ pkcon install openssl</pre>
<h1>El formato <a href="https://es.wikipedia.org/wiki/X.509">X.509</a></h1>
<p>
  Este es el formato de claves que utilizan la mayoría de servidores web. Por lo tanto,
  gran parte del esfuerzo es convertir de cualquier PKCS a X.509.
</p>
<p>
  La extensión de archivo a veces varía dependiendo de qué contenga el fichero.
</p>
<ul>
  <li>
    Si contiene la
    <a href="https://es.wikipedia.org/wiki/Autoridad_de_certificaci%C3%B3n"
      >cadena de autorizaciones</a
    >: <code>.ca-bundle</code>, <code>.ca</code> o <code>.ca.pem</code>.
  </li>
  <li>
    Si contiene el certificado sin claves: <code>.crt</code> o <code>.crt.pem</code>.
  </li>
  <li>
    Si contiene la clave privada (ver abajo): <code>.key</code> o <code>.key.pem</code>.
  </li>
  <li>Si contiene todo, o por defecto: <code>.pem</code>.</li>
</ul>
<p>
  Lo más cómodo es meterlo todo en un mismo fichero. Más abajo verás los comandos que
  hay que usar para cada caso.
</p>
<h2>La clave privada <a href="https://es.wikipedia.org/wiki/RSA">RSA</a></h2>
<p>
  Cuando hablamos de criptografía de clave pública/privada, el objetivo básico del
  funcionamiento es el siguiente:
</p>
<ul>
  <li>
    Si yo <em>encripto</em> un mensaje con tu clave pública,
    <em>sólo tú puedes desencriptarlo</em> con tu clave privada.
  </li>
  <li>
    Si yo <em>firmo</em> un mensaje con mi clave privada,
    <em>cualquiera puede comprobar</em> que yo he emitido ese mensaje utilizando mi
    clave pública.
  </li>
</ul>
<p>
  Teniendo esto en cuenta, existen diversos algoritmos de clave pública/privada. El que
  probablemente necesites utilizar será RSA, así que nos centraremos en ese.
</p>
<h3>Seguridad</h3>
<p>
  Por todo lo explicado anteriormente,
  <strong>es imprescindible que nadie tenga acceso a tu clave privada</strong>. Es de
  esperar que tengas bien claro el sistema de permisos de tu servidor para evitar este
  tipo de accesos, ya que
  <strong>con acceso a tu clave privada, un atacante podría suplantarte</strong>
  sin posibilidad de comprobar si eres tú o él.
</p>
<p>
  Por otro lado, la clave pública puede saberla todo el mundo. De hecho, si nadie la
  sabe, no puede cumplir su objetivo.
</p>
<p>
  Las claves privadas pueden ir protegidas por contraseña o no. Para un servidor web con
  HTTPS, <strong>lo más normal es que vaya sin contraseña</strong> (de otro modo, al
  reiniciar el servidor deberías proporcionarla).
</p>
<p>
  Dentro de cada algoritmo, también está la longitud de la clave. Evidentemente, cuanto
  más larga, más difícil de desencriptar por
  <a href="https://es.wikipedia.org/wiki/Ataque_de_fuerza_bruta">fuerza bruta</a>.
</p>
<p>
  La longitud mínima recomendable hoy en día es de 2048 bytes, así que yo te
  recomendaría usar claves de <strong>4096 bytes</strong>.
</p>
<p>Para generar una clave RSA:</p>
<pre>$ openssl genrsa -out example_com.key.pem 4096</pre>
<p>
  ... o también la puedes generar al mismo tiempo que el PKCS#10 (ver abajo).
</p>
<h2>Transformar X.509 en PKCS#12</h2>
<p>
  Si tienes un fichero de clave y uno de certificados, lo puedes convertir en PKCS#12
  (ver abajo) así:
</p>
<pre>
$ openssl pkcs12 -export -in example_com.crt.pem -inkey example_com.key.pem -out example_com.pfx</pre
>
<h1>Los formatos <a href="https://es.wikipedia.org/wiki/PKCS">PKCS</a></h1>
<p>
  Significa <em>Public-Key Cryptography Standards</em>, y son los formatos que se
  utilizan para todo el proceso.
</p>
<h2>
  Generar el PKCS#10 (<a
    href="https://es.wikipedia.org/wiki/Autoridad_de_certificaci%C3%B3n#Solicitud_de_un_certificado"
    >CSR</a
  >)
</h2>
<p>
  Lo primero que hace falta cuando solicitas un certificado SSL es realizar un fichero
  de solicitud. Se conocen como CSR (<em>Certificate Signing Request</em>), y suelen
  tener la extensión <code>.csr</code>.
</p>
<p>La forma de generarlo dependerá del objetivo:</p>
<ul>
  <li>
    Para un <strong>nuevo certificado</strong> normalmente no tenemos una clave RSA, así
    que generamos ambos ficheros de un comando:
    <pre>
$ openssl req -new -newkey rsa:4096 -nodes -keyout example_com.key.pem -out example_com.csr</pre
    >
  </li>
  <li>
    Para <strong>renovar un certificado</strong>, o para cuando ya tenemos la clave
    privada RSA generada previamente:
    <pre>$ openssl req -new -key example_com.key.pem -out example_com.csr</pre>
  </li>
</ul>
<h2>
  Convertir el <a href="https://tools.ietf.org/html/rfc2315">PKCS#7</a> en PKCS#12
</h2>
<p>
  A veces, <strong>cuando estamos solicitando una renovación</strong>, se nos devolverá
  un fichero PKCS#7. Suelen tener la extensión <code>.p7b</code>.
</p>
<p>
  Estos ficheros pueden contener la misma información que un PKCS#12 (ver abajo), salvo
  porque <strong>no incluyen la clave privada</strong>, que será la misma que para la
  solicitud original. Por lo tanto, para poder trabajar con él, necesitaremos tener
  previamente la clave privada, y lo más cómodo suele ser transformarlos a PKCS#12 para
  luego trabajar con ese formato, que es el más versátil. Para ello:
</p>
<pre>
$ openssl pkcs7 -in example_com.p7b -print_certs -out example_com.crt.pem
$ openssl pkcs12 -export -in example_com.crt -inkey example_com.key.pem -out example_com.pfx</pre
>
<p>Si lo prefieres en un solo comando:</p>
<pre>
$ openssl pkcs7 -in example_com.p7b -print_certs | openssl pkcs12 -export -inkey example_com.key.pem -out example_com.pfx</pre
>
<p>
  Cualquiera de estos métodos nos pedirá una contraseña, pero en este caso sí que
  conviene darle una.
</p>
<h2>El formato <a href="https://en.wikipedia.org/wiki/PKCS_12">PKCS#12</a></h2>
<p>
  Este formato es el más cómodo de trabajar, ya que contiene toda la información en un
  solo archivo, normalmente con la extensión <code>.pfx</code>:
</p>
<ul>
  <li>Clave privada.</li>
  <li>Clave pública.</li>
  <li>
    Cadena de
    <a href="https://es.wikipedia.org/wiki/Autoridad_de_certificaci%C3%B3n"
      >autoridades certificadoras</a
    >.
  </li>
  <li>
    Puede protegerse con una contraseña. Por esto, es ideal para llevarte tus claves
    adonde quieras.
  </li>
</ul>
<p>
  Muchos programas que manejan claves privadas y públicas (por ejemplo Firefox o IIS)
  aceptan este formato directamente, y ya gestionan las conversiones internamente.
</p>
<h3>Convertir de PKCS#12 a X.509</h3>
<p>
  Para servidores <a href="http://httpd.apache.org/">Apache</a>,
  <a href="http://nginx.org/">Nginx</a> o
  <a href="http://www.haproxy.org/">HAProxy</a> necesitarás los certificados en X.509,
  así que vamos a ver cómo convertirlos.
</p>
<p>Crear un X.509 con todo:</p>
<pre>$ openssl pkcs12 -in example_com.pfx -nodes -out example_com.pem</pre>
<p>
  Crear un X.509 con el certificado y la cadena de confianza, y otro con la clave
  privada:
</p>
<pre>
$ openssl pkcs12 -in example_com.pfx -nokeys -out example_com.crt.pem
$ openssl pkcs12 -in example_com.pfx -nocerts -nodes -out example_com.key.pem</pre
>
<p>
  Crear un X.509 con el certificado, otro con la cadena de confianza, y otro más con la
  clave privada:
</p>
<pre>
$ openssl pkcs12 -in example_com.pfx -nokeys -clcerts -out example_com.crt.pem
$ openssl pkcs12 -in example_com.pfx -nokeys -cacerts -out example_com.ca.pem
$ openssl pkcs12 -in example_com.pfx -nocerts -nodes -out example_com.key.pem</pre
>
<h1>Instalar los certificados en el servidor</h1>
<p>
  En este caso, cada servidor tiene su sistema (a veces varios), así que te recomiendo
  que repases la documentación para cada uno, o que uses el magnífico
  <a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/"
    >Generador de configuraciones SSL de Mozilla</a
  >, que además te ayudará a evitar todo tipo de cifrados o conexiones vulnerables.
</p>
