---
slug: extraer-pistas-de-un-enhanced-cd
categories:
  - Audio
  - GNU/Linux
  - Tutoriales
date: "2013-01-22T16:00:48Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - cdparanoia
  - drm
  - EasyTAG
  - enhanced cd
  - Fedora
  - SoundConverter
  - wav
title: Extraer pistas de un Enhanced CD
type: post
---

<p>
  Resulta que compré un disco de música (sí, soy de los pocos españoles que compran
  música) y dice detrás que es un <em>Enhanced CD</em>. No sé qué será eso, pero lo que
  sé es que lo meto en mi <a href="http://www.fedoraproject.org">Fedora</a> 18 y no lo
  lee. El log se llena de estos errores:
</p>
<pre>
Jan 22 15:33:30 localhost kernel: [  191.330519] sr 3:0:0:0: [sr0]  
Jan 22 15:33:30 localhost kernel: [  191.330527] Result: hostbyte=DID_OK driverbyte=DRIVER_SENSE
Jan 22 15:33:30 localhost kernel: [  191.330532] sr 3:0:0:0: [sr0]  
Jan 22 15:33:30 localhost kernel: [  191.330536] Sense Key : Illegal Request [current]

Jan 22 15:33:30 localhost kernel: [  191.330543] sr 3:0:0:0: [sr0]  
Jan 22 15:33:30 localhost kernel: [  191.330550] Add. Sense: Illegal mode for this track
Jan 22 15:33:30 localhost kernel: [  191.330555] sr 3:0:0:0: [sr0] CDB:

Jan 22 15:33:30 localhost kernel: [  191.330558] Read(10): 28 00 00 04 dd 5e 00 00 02 00
Jan 22 15:33:30 localhost kernel: [  191.330575] end_request: I/O error, dev sr0, sector 1275256
Jan 22 15:33:30 localhost kernel: [  191.330581] Buffer I/O error on device sr0, logical block 159407</pre
>
<p>
  Probablemente se trate de alguna suerte de maleficio
  <a href="https://es.wikipedia.org/wiki/Gesti%C3%B3n_de_derechos_digitales">DRM</a>
  para que seamos menos dueños de lo que compramos. Pues lo siento, pero quiero tener
  esa música también en archivos de audio. Para ello:
</p>
<pre>
# yum install cdparanoia
$ cdparanoia --output-wav --batch --</pre
>
<p>
  Con esos dos sencillos comandos,
  <a href="https://xiph.org/paranoia/index.html">cdparanoia</a> se encargará de extraer
  un fichero *.wav por cada pista. Ahora ya puedes usar
  <a href="http://soundconverter.org/">SoundConverter</a> para transformar de wav a otro
  formato comprimido, y <a href="http://projects.gnome.org/easytag/">EasyTAG</a> para
  ponerle etiquetas <a href="http://id3.org/">ID3</a>.
</p>
