---
slug: fedora-18-spherical-cow-apesta
categories:
  - Administración de sistemas
  - GNU/Linux
  - Noticias
date: "2013-01-25T15:51:38Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - ABRT
  - banshee
  - Empathy
  - Fedora
  - Gnome
  - Gstreamer
  - Inestabilidad
  - PackageKit
title: Fedora 18 Spherical Cow... apesta
type: post
---

<p>
  Desde que entré en
  <a
    class="zem_slink"
    title="Fedora (operating system)"
    href="http://www.fedoraproject.org/"
    target="_blank"
    rel="homepage"
    >Fedora</a
  >, me ha encantado por multitud de motivos, pero he de reconocer que, desde el
  instante en que metí el CD de instalación empezaron los problemas con Fedora 18.
</p>
<p>
  Prácticamente
  <strong>no ha pasado un día sin que me tope de narices con un bug nuevo</strong>. Al
  menos <a href="https://fedorahosted.org/abrt/wiki">ABRT</a> ha mejorado mucho y la
  mayoría los envía automáticamente, pero sigue siendo un asco.
  <strong>Es súmamente inestable</strong>, en serio. Tanto que estoy empezando a
  plantearme pasarme a
  <a
    class="zem_slink"
    title="CentOS"
    href="http://www.centos.org/"
    target="_blank"
    rel="homepage"
    >CentOS</a
  >
  para mi escritorio...
</p>
<p>
  El nuevo Anaconda (instalador) está bastante bien, pero sigue sin alcanzar la eficacia
  y sencillez que tiene desde hace años el instalador de
  <a
    class="zem_slink"
    title="Ubuntu (operating system)"
    href="http://www.ubuntu.com"
    target="_blank"
    rel="homepage"
    >Ubuntu</a
  >. No sé por qué no han usado ese (o un fork) sin más.
</p>
<p>
  Gnome 3.6 añade muchas cosas y
  <strong>no se preocupa de dar estabilidad</strong> a lo que ya tienen:
</p>
<ul>
  <li>
    <a href="https://live.gnome.org/Design/Apps/Contacts">Gnome Contacts</a> va más
    <strong>lento</strong> que un desfile de cojos, y no busca bien en la Shell.
  </li>
  <li>
    <a href="http://banshee.fm/">Banshee</a> directamente <strong>no funciona</strong>.
  </li>
  <li>
    <a
      class="zem_slink"
      title="GNOME Shell"
      href="http://live.gnome.org/GnomeShell"
      target="_blank"
      rel="homepage"
      >Gnome Shell</a
    >
    sigue dando problemas aleatorios sin sentido,
    <strong>colgándose constantemente y consumiendo memoria</strong> como el alzheimer.
  </li>
  <li>
    <a href="https://live.gnome.org/Empathy/">Empathy</a> no permite elegir una cuenta
    SIP para llamar por teléfono. No sé para vosotros, pero para mí es fundamental.
  </li>
  <li>
    El nuevo y <del>mejorado</del> recortado
    <a href="https://live.gnome.org/Nautilus">Nautilus</a> ha perdido tantas cosas que,
    no importa cuán básico fuera el uso que le dabas,
    <strong>algo echarás de menos</strong>.
  </li>
  <li>
    El nuevo <a href="https://live.gnome.org/Evolution">Evolution</a> no configura bien
    las cuentas de <a href="http://hotmail.com">Hotmail</a>.
  </li>
  <li>
    <strong>No se pueden instalar RPMs haciendo doble click.</strong> Tendrás que
    hacerlo por terminal.
  </li>
</ul>
<p>
  Para colmo,
  <strong
    >hay algunos paquetes que usan
    <a
      class="zem_slink"
      title="GStreamer"
      href="http://gstreamer.freedesktop.org/modules/gst-ffmpeg.html"
      target="_blank"
      rel="homepage"
      >Gstreamer</a
    >
    0.10 y otros que usan el 1.0</strong
  >, y eso significa que debes<strong> instalar el doble de plugins</strong>
  para que todo funcione. No es problema una vez lo sabes, pero tirarme 45 minutos
  tratando de averiguar por qué Totem se negaba a reproducir un vídeo cuando tenía todos
  los paquetes de Gstreamer 0.10 instalados no me fue muy grato. Oh, claro, y tampoco
  debería ser problema porque
  <strong
    ><a href="http://www.packagekit.org/">PackageKit</a> se encargaría de buscar los
    plugins correspondientes, pero eso tampoco funciona</strong
  >
  en esta versión debido a otro bug. Y no funciona en ninguna de las 2 versiones de
  Gstreamer.
</p>
<p><strong>Desesperante.</strong></p>
<p>
  Supongo que poco a poco irá mejorando, pero si estás disfrutando de cualquier otra
  distro, incluyendo Fedora 17,
  <strong>espérate un tiempo antes de probar Fedora 18</strong>.
</p>
