---
slug: ficheros-encriptados-en-linux
categories:
  - Encriptación
  - GNU/Linux
date: "2011-03-11T16:47:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7521404361434500347"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - Ubuntu
title: Ficheros encriptados en Linux
type: post
---

<p>
  Hoy vamos a ver cómo se puede configurar Debian y Ubuntu para tener una carpeta
  encriptada. Usaremos la utilidad llamada
  <a href="http://ecryptfs.sourceforge.net/">ecryptfs</a>, y seguiremos los pasos
  descritos en
  <a href="https://help.ubuntu.com/community/EncryptedPrivateDirectory"
    >la ayuda de Ubuntu</a
  >.<br />Primero se instala.
</p>
<pre># aptitude install ecryptfs-utils</pre>
<p>Ahora vamos a configurarlo.</p>
<pre>$ ecryptfs-setup-private</pre>
<p>
  Primero nos pide nuestra contraseña de acceso, y luego pide una contraseña de
  encriptación. Se usará la primera para desencriptar la segunda, y la segunda para
  desencriptar los ficheros. Esto funciona así para que se monte automáticamente la
  carpeta al abrir la cuenta sin correr peligro de que root pudiera cambiarnos la
  contraseña y acceder a los datos. Así es, con esta encriptación
  <b>ni root puede ver nuestros datos</b>.<br />Por ello, se recomienda que la
  contraseña de encriptación (la 2ª) se almacene en algún sitio, por si más a delante
  nos toca recuperar los datos. Eso y que sea
  <b>la contraseña más paranoica que hayas puesto en tu vida</b>, ya que total sólo la
  vas a necesitar en esos casos.<br />Cuando hayas terminado esto, se habrán creado 3
  directorios:
</p>
<ol>
  <li><b>~/.Private</b>: Datos encriptados.</li>
  <li>
    <b>~/Private</b>: Punto de montaje automático. Es el que se usará en el día a día.
    Cuando no esté montado, veremos dentro un par de ficheros que nos lo advertirán.
  </li>
  <li>
    <b>~/.ecryptfs</b>: Configuración. Podemos eliminar o renombrar los ficheros
    auto-mount y auto-umount para que no se monte o desmonte automáticamente al iniciar
    sesión, respectivamente.
  </li>
</ol>
<p>Ahora puedes cerrar y volver a abrir la sesión, o escribir:</p>
<pre>$ ecryptfs-mount-private</pre>
<p>
  Con eso tendrás lista la carpeta <b>~/Private</b>&nbsp;para guardar todas las cosas
  que quieras almacenar encriptadas. Una forma sencilla es mover ahí la configuración de
  cosas que quieras y crear symlinks donde estaban antes. Por ejemplo:
</p>
<pre>$ cd ~<br />$ mv .cache Private/<br />$ mv .mozilla Private/<br />$ mv .rednotebook Private/<br />$ mv .evolution Private/<br />$ mv .ssh Private/<br />$ mv .local/share/Empathy/logs Private/.empathy-logs<br />$ ln --symbolic Private/.cache<br />$ ln --symbolic Private/.mozilla<br />$ ln --symbolic Private/.rednotebook<br />$ ln --symbolic Private/.evolution<br />$ ln --symbolic Private/.ssh<br />$ cd .local/share/Empathy<br />$ ln --symbolic ../../../Private/.empathy-logs/ logs</pre>
<p>
  Por supuesto, mientras movemos todos estos archivos de configuración, los programas
  que los usan deberían estar cerrados.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-7521404361434500347?l=recallstack.blogspot.com"
    alt=""
  />
</div>
