---
slug: fish-shell
categories:
  - Administración de sistemas
  - GNU/Linux
  - Noticias
  - Opinión
  - Programación
date: "2014-08-04T16:27:55Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179446768"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - Fish
  - scripts
  - Shebang
  - Shell
title: Fish Shell
type: post
---

<p>
  Si bien siempre me ha encantado
  <a href="https://es.wikipedia.org/wiki/Bash">Bash</a>, hay que reconocer que
  <a href="http://fishshell.com/">Fish</a> es increíble:
</p>
<blockquote>
  <p>
    No te tienes que complicar configurando absolutamente nada, por defecto ya viene
    coloreando tu terminal, auto completando tus comandos y permitiendo llevar todo esto
    de las configuraciones de manera muy simple e intuitiva mediante una interfaz web
    (local, claro está) en donde tendrás al alcance absolutamente todo lo que quieras
    modificar; desde el historial de comandos, hasta las funciones a ejecutarse por
    defecto, colores, autocompletado inteligente y/o personalizado, ¿Ya les dije que el
    auto completado es inteligente y simplemente aprende tus comandos? ¡No tienes que
    decirle que haga nada, él solito aprende!
  </p>
  <p style="text-align:right;">
    —
    <a href="http://blog.desdelinux.net/fish-shell-la-terminal-interactiva-y-amigable/"
      >Nano, Desde Linux</a
    >.
  </p>
</blockquote>
<p><!--more--></p>
<h2>Instalación</h2>
<pre>
# yum install fish
$ chsh --shell $(which fish)</pre
>
<p>Y ahora reinicia la sesión.</p>
<h2>Extras</h2>
<p>
  Se llaman <a href="https://github.com/bpinto/oh-my-fish">Oh My Fish</a>. Instalación:
</p>
<pre>
$ curl -L https://github.com/bpinto/oh-my-fish/raw/master/tools/install.fish | fish</pre
>
<h2>Compatible con Bash</h2>
<p>
  Recuerda que, si usas el
  <a href="https://es.wikipedia.org/wiki/Shebang">shebang</a> correcto (<code
    >#!/usr/bin/bash</code
  >
  o <code>#!/usr/bin/fish</code>) al principio de cada script, no habrá problemas de
  compatibilidad entre shells.
</p>
