---
slug: gestiona-tus-sesiones-ssh-comodamente
categories:
  - Administración de sistemas
  - GNU/Linux
  - Privacidad
  - Programación
  - Redes
date: "2014-01-31T18:21:37Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - SSH
title: Gestiona tus sesiones SSH cómodamente
type: post
---

<p>
  Al principio está bien eso de recordar cada usuario, servidor y contraseña a los que
  te conectas... hasta que el número empieza a aumentar y la memoria a disminuir.
</p>
<h2>Claves SSH</h2>
<p>
  El viejo truco para aumentar la seguridad y disminuir la complejidad:
  <a href="http://es.wikipedia.org/wiki/Criptograf%C3%ADa_asim%C3%A9trica">
    la clave privada y la clave pública</a
  >.
</p>
<ol></ol>
<ol>
  <li>
    Genera tu juego de claves:
    <pre>$ ssh-keygen</pre>
  </li>
  <li>
    Copia tu clave pública al servidor que usas:
    <pre>$ ssh-copy-id usuario@servidor</pre>
  </li>
  <li>
    Conéctate sin contraseña de por vida:
    <pre>$ ssh usuario@servidor</pre>
  </li>
</ol>
<p>
  Bueno, puede que te haya pedido una contraseña, pero es
  <em>la de desbloqueo de la clave</em>, y normalmente puedes usar agentes que incluyen
  los entornos de escritorio que te permiten desbloquearla automáticamente el resto de
  la sesión.
</p>
<p>
  <strong>Es importante proteger tu clave privada con contraseña</strong>, porque de
  otro modo cualquier usuario <code>root</code> podría acceder a ella.
</p>
<p>Más información:</p>
<pre>
$ man ssh-keygen
$ man ssh-copy-id</pre
>
<h2>Guarda tus datos de sesión</h2>
<p>
  Puesto que ya te has olvidado de las contraseñas para siempre, tener un fichero de
  texto plano con el resto de tus datos de acceso no es descabellado. Ese fichero está
  en <strong><code>~/.ssh/config</code></strong> y tiene un aspecto similar a este:
</p>
<pre>
Host 11.22.33.44
User holamellamopepito</pre
>
<p>
  De modo que la próxima vez que ejecutemos
  <code>ssh 11.22.33.44</code> automáticamente usará el usuario
  <code>holamellamopepito</code> para conectarse. Pero aún puede hacerse mejor:
</p>
<pre>
# Conexión al trabajo
Host trabajo
HostName 11.22.33.44
User holamellamopepito
Port 44444
ForwardX11 yes

# Conexión a casa
Host casa
HostName 44.55.66.77
User pepitoencasa
ForwardX11 yes</pre
>
<p>
  Como ves, puedes poner comentarios, y si indicas el servidor como
  <code>HostName</code>, puedes ponerle una abreviatura en <code>Host</code>, que será
  la que uses al conectar. El resto de parámetros hasta el siguiente
  <code>Host</code> se aplicarán automáticamente.
</p>
<p>Más información:</p>
<pre>$ man ssh_config</pre>
