---
slug: grabar-tu-escritorio-gnome-y-convertirlo-a-gif
categories:
  - GNU/Linux
  - Interfaz de usuario
  - Vídeo
date: "2015-12-28T15:09:30Z"
meta:
  _publicize_job_id: "18185193110"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - gif
  - GitHub
  - Gnome
  - video
title: Grabar tu escritorio GNOME y convertirlo a Gif
type: post
---

<p>
  ¿Alguna vez has necesitado hacer una grabación de tu escritorio? ¿Y publicarla en Gif,
  por ejemplo para subirla a <a href="https://github.com/">GitHub</a>?
</p>
<p><!--more--></p>
<h3>Grabar tu escritorio GNOME</h3>
<p>
  Viene de fábrica: pulsa la combinación de teclas
  <code>Ctrl+Alt+Mays+R</code> y empezarás a grabar.
</p>
<p>Vuelve a pulsarla para detener la grabación.</p>
<h3>Convertir el vídeo a Gif</h3>
<p>
  Podría enseñarte algún script, pero esta vez creo que lo más fácil es usar
  <a href="http://en.bloggif.com/video">BlogGif</a>.
</p>
