---
slug: grabar-iso-en-un-dvd-regrabable-desde-terminal
categories:
  - GNU/Linux
  - Multimedia
date: "2014-11-06T15:33:01Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179197061"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Brasero
  - cdrecord
  - DVD
  - Gnome
title: Grabar ISO en un DVD regrabable desde terminal
type: post
---

<p>
  <a href="https://wiki.gnome.org/Apps/Brasero/">Brasero</a> parece tener algún
  problema, por lo que me ha tocado buscar cómo grabar un DVD RW desde terminal. En
  realidad es súper sencillo:<!--more-->
</p>
<pre>$ cdrecord blank=fast /ruta/a/imagen.iso</pre>
