---
slug: incomodidades-sociales-electronicas-innecesarias-isei
categories:
  - Opinión
  - Privacidad
date: "2014-10-27T15:31:29Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179408859"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - ISEI
  - Psicosociología
title: Incomodidades Sociales Electrónicas Innecesarias (ISEI)
type: post
---

<p>
  Hoy escribo un artículo que transciende de lo técnico que suele ser este blog, y pasa
  a ser algo más psicosociológico. Por supuesto, solo es una mera opinión, pero quería
  compartirla.
</p>
<p>
  <del>Por culpa de</del> Gracias a las nuevas tecnologías, observo la creación de un
  nuevo fenómeno al que me he tomado la libertad de denominar ISEI (Incomodidades
  Sociales Electrónicas Innecesarias).
</p>
<p>
  Básicamente, son situaciones socialmente incómodas, surgidas a partir de los nuevos
  medios electrónicos de comunicación (redes sociales y programas de
  <a href="https://es.wikipedia.org/wiki/Mensajer%C3%ADa_instant%C3%A1nea">MI</a>,
  principalmente).
</p>
<p>
  Lo más irónico de las ISEI es que son innecesarias. En una sociedad en que el único
  medio de comunicación remoto era el teléfono fijo y la carta, o en la que no se
  asumiera que estás las 24 horas del día conectado a la red de forma localizable, la
  gente jamás las experimentaría.<!--more-->
</p>
<h2>Cómo se originan las ISEI</h2>
<p>
  En toda comunicación existe un emisor y un número indeterminado de receptores, aunque
  normalmente sea uno solo.
</p>
<p>
  Lamentablemente, las ISEI
  <strong>las provocan los receptores, pero no son culpables de ello</strong>, ya que
  las provocan al dar un uso razonable a sus medios de comunicación.
</p>
<p>
  Las ISEI se gestan únicamente en el interior de un emisor subjetivo, picajoso y
  desinformado. Este emisor cree que, por tener cierta información que permite
  monitorizar hasta cierto punto las actividades del receptor, puede adivinar sus
  pensamientos, actitudes o actividades.
</p>
<p>Las ISEI son, por tanto, <strong>creación (y culpa) del emisor</strong>.</p>
<p>
  Contaré algunas experiencias recientes (no necesariamente mías), para mayor claridad:
</p>
<h3>El amigo bloqueado</h3>
<p>
  Tengo un amigo al cual no veo muy a menudo, pero que es muy pelmazo escribiendo por
  WhatsApp. Tanto, que acabé bloqueándolo.
</p>
<p>
  El otro día lo vi por la calle y lo saludé con una palmadita en la espalda. Ni me miró
  a la cara. Días más tarde recibí una llamada:
</p>
<ul>
  <li>Él: Hey, el otro día te vi por la calle.</li>
  <li>
    <p>
      Yo: Sí, te saludé. Pensaba que no te habías dado cuenta, como no me dijiste
      nada...
    </p>
  </li>
  <li>
    <p>
      Sí, claro, por la calle me saludas, pero en el WhatsApp me sigues teniendo
      bloqueado, ¿eh?
    </p>
  </li>
  <li>
    <p>
      Es que te pones muy pelmazo por ahí, pero me puedes llamar cuando quieras.
    </p>
  </li>
  <li>
    <p><em>click</em></p>
  </li>
</ul>
<h3>La amiga ausente</h3>
<p>
  Cenando en un restaurante, con la típica amiga que vive más enganchada del móvil que
  de la realidad:
</p>
<ul>
  <li>¿Qué miras tanto rato en el móvil?</li>
</ul>
<li>
  <p>Es que me han comentado una foto en Instagram. ¿Tú tienes Instagram?</p>
</li>
<li>
  <p>No, ni me pienso hacer.</p>
</li>
<li>
  <p>¡Puf, no tienes vida social!</p>
</li>
<h3>La novia controladora</h3>
<ul>
  <li>
    <p>
      ¡Eh, ¿por qué no respondiste a mi WhatsApp?!
      <a href="https://www.youtube.com/watch?v=XjCUrU-9eIU"
        >Vi que tenías el doble check</a
      >...
    </p>
  </li>
  <li>
    <p>Ah, pues no me ha sonado el teléfono.</p>
  </li>
</ul>
<p>
  Abres el móvil. No tienes notificaciones. Android debió matar el proceso sin
  preguntar. Abres WhatsApp y en ese instante aparecen las conversaciones y las
  notificaciones. Justo entonces tu novia te mira el móvil.
</p>
<ul>
  <li>Ya. "No te ha sonado". Claaaro.</li>
</ul>
<h3>Piense mal y [creerá que] acertará</h3>
<ul>
  <li>
    Pues esta mañana he puesto un mensaje en el grupo de WhatsApp y nadie responde.
    Estoy harta, siempre igual. Yo no sé por qué, pero todos pasan de mi cara. Creo que
    me voy a salir y que les zurzan.
  </li>
</ul>
<p>
  Pasa un rato, y aparecen varios mensajes en el grupo, del estilo: "Perdonad, que
  estaba en el trabajo. Ahora que me he desliado, aprovecho. ¡Me parece perfecto, contad
  conmigo!"
</p>
<h2>Por qué se crean las ISEI</h2>
<p>
  Básicamente, porque <strong>el emisor asume como verdades</strong> cosas que muchas
  veces son <strong>mentiras</strong>. Veamos algunas:
</p>
<h3>Todos usan el sistema igual que yo</h3>
<p>
  El emisor de una comunicación electrónica puede
  <strong>suponer que el receptor da el mismo uso que él</strong> a dicho medio de
  comunicación.
</p>
<p>
  Es decir, alguien que se pasa el día enganchado a la red social X, deduce que el resto
  de gente también lo está, y que si no responden a sus mensajes o publicaciones es
  porque deliberadamente están ignorándolo.
</p>
<p>
  La realidad puede distar mucho de su deducción. Por ejemplo, el receptor puede tener
  dicho programa configurado para no recibir notificaciones, o puede que lo utilice solo
  en lugares donde tenga acceso a Wifi, o puede que tenga una cuenta residual que apenas
  use.
</p>
<p>
  También puede que el receptor reciba tal cantidad de notificaciones que acabe por
  ignorarlos sistemáticamente salvo que sean de vida o muerte, lo cual
  <strong>es un uso perfectamente aceptable</strong> de estos medios de comunicación.
</p>
<h3>El sistema es infalible</h3>
<p>
  El emisor podría pensar: "Si he enviado el correo, es que ha llegado. Si ha llegado es
  que lo ha leído. Si lo ha leído, es que debería haber respondido. Si no ha respondido,
  es que me tiene manía."
</p>
<p>
  Puede olvidar que el correo de <em>Mail Delivery Subsystem</em> que borró hace unos
  minutos pensando que era un virus, tal vez le decía que el correo no se había podido
  enviar. Puede olvidar que se hartó de esos correos y los marcó como SPAM, con lo que
  nunca se enterará de que su correo falló. Puede olvidar que tal vez tenga un virus en
  su ordenador y su correo le haya entrado como SPAM al receptor, o que tal vez el
  receptor no lo ha visto aún, o que tal vez lo ha visto pero no ha tenido tiempo de
  leerlo, o que tal vez lo ha leído pero no pudo responder todavía porque está ocupado
  viviendo en el Mundo Real™.
</p>
<p>
  En cualquier caso, eso abarcaría meros problemas de configuración, pero no olvidemos
  que <strong>los medios de comunicación</strong> están desarrollados por personas
  imperfectas, ergo
  <strong>tienen imperfecciones y caídas del sistema o de la red</strong>.
</p>
<h3>Este medio de comunicación sustituye a la tradicional</h3>
<p>
  Este es, quizá, la más grave de las mentiras que puede asumir el emisor.
  <strong
    >Los nuevos medios de comunicación <em>complementan</em> a la comunicación
    tradicional</strong
  >, no la sustituyen.
</p>
<p>
  Para un emisor afectado por esta mentira, alguien que no está en su red social
  favorita para él es como si no existiera, o no mereciera su trato.
</p>
<p>
  Por ejemplo, si X no tiene Facebook y yo acostumbro a quedar con mis amigos usando
  eventos de Facebook, nunca quedaré con X.
</p>
<p>
  Otro ejemplo: si quiero saber qué tal le va la vida a un amigo que no veo hace tiempo,
  le mando un WhatsApp diciendo "ola k ase".
</p>
<p>
  O quizá, si necesito urgentemente cierta cosa, la pido mandando un WhatsApp. Si no se
  me responde con la urgencia que exijo, me enfado con esa persona por no estar atento.
</p>
<p>
  El emisor olvida que estos medios de comunicación nunca podrán sustituir a otros más
  tradicionales, como hacer una llamada, quedar con el receptor a tomar un café y hablar
  cara a cara.
</p>
<h2>Cómo evitarlas</h2>
<p>
  Supongo que la única opción viable es <strong>informar</strong> a los emisores
  habituados a crearlas de lo que están haciendo en realidad (tal vez un enlace a este
  artículo te sirva...), de lo que esto revela acerca de ellos, y establecerles unas
  barreras claras.
</p>
<p>
  La otra opción sería unirte a las hordas de emisores zombi de nuevas redes sociales,
  pero personalmente por ahí no pienso pasar. Fácilmente te convertirías en un creador
  de nuevas ISEI.
</p>
<p>La última solución, más drástica, sería cambiar de amigos.</p>
<p>
  Me encantaría saber la opinión de los lectores, si es que hay alguno. Tranquilos, no
  pensaré mal si no opináis.
</p>
