---
slug: insatalar-owncloud-en-centos
categories:
  - Administración de sistemas
  - GNU/Linux
  - Privacidad
date: "2012-07-23T13:00:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "1736167669644540883"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - LVM
  - ownCloud
  - Particiones
  - SELinux
title: Insatalar ownCloud en CentOS
type: post
---

<p>
  Una vez montado el servidor <a href="http://centos.org/">CentOS</a> 6 a mi gusto,
  ahora voy a configurar <a href="http://owncloud.org/">ownCloud</a> a mi gusto también.
  Descargar
  <a
    href="https://build.opensuse.org/package/show?project=isv%3AownCloud%3Acommunity&amp;package=owncloud"
    >repositorio comunitario de ownCloud</a
  >, ya que no está en los de CentOS, e instalarlo:
</p>
<pre># cd /etc/yum.repos.d<br /># wget http://download.opensuse.org/repositories/isv:/ownCloud:/community/CentOS_CentOS-6/isv:ownCloud:community.repo<br /># yum install owncloud-3rdparty</pre>
<p>
  Crear una partición <a href="https://es.wikipedia.org/wiki/Ext4">ext4</a> para los
  datos de ownCloud:
</p>
<pre># lvm lvcreate --size 10G --name owncloud_data vg_srv<br /># mkfs -T ext4 /def/mapper/vg_srv-owncloud_data</pre>
<p>
  Añadirla a <a href="https://es.wikipedia.org/wiki/Fstab">fstab</a> para que se monte
  automáticamente, y montarla:
</p>
<pre># echo "/dev/mapper/vg_srv-owncloud_data /var/www/html/owncloud/data ext4 defaults 1 3" &gt;&gt; /etc/fstab<br /># mount /dev/mapper/vg_srv-owncloud_data</pre>
<p>Asignarle corregir el usuario y permisos de la partición:</p>
<pre># chown apache:apache /var/www/html/owncloud/data<br /># chmod -R ug=rwx,o= /var/www/html/owncloud/data</pre>
<p>
  Corregir el
  <a
    href="http://docs.fedoraproject.org/es-ES/Fedora/11/html/Security-Enhanced_Linux/sect-Security-Enhanced_Linux-Working_with_SELinux-SELinux_Contexts_Labeling_Files.html"
    >contexto SELinux</a
  >
  (ponerle el mismo que el que tiene la carpeta config):
</p>
<pre># chcon --reference /var/www/html/owncloud/config /var/www/html/owncloud/data</pre>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-1736167669644540883?l=recallstack.blogspot.com"
    alt=""
  />
</div>
