---
slug: instalar-openerp-7-0-en-fedora-1920
categories:
  - Administración de sistemas
  - GNU/Linux
  - Tutoriales
date: "2014-03-18T15:28:29Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - OpenERP
title: Instalar OpenERP 7.0 en Fedora 19/20
type: post
---

<p>Instalar los paquetes necesarios:</p>
<pre># yum install openerp7 openerp7-httpd-fonts-access postgresql-server</pre>
<p>Iniciar los servicios hasta el próximo reinicio:</p>
<pre># systemctl start openerp postgresql</pre>
<p>Iniciar los servicios automáticamente:</p>
<pre># systemctl enable openerp postgresql</pre>
<p>
  Desactivar el cortafuegos hasta el próximo reinicio (<strong
    >deberías añadir una excepción</strong
  >, pero no lo explicaré aquí):
</p>
<pre># systemctl stop firewalld</pre>
<p>Activar el usuario necesario de la base de datos:</p>
<pre>$ sudo -u postgres createuser --createdb openerp</pre>
<p>Navega a http://localhost:8069 y crea tu base de datos desde ahí.</p>
<p>Si necesitas cambiar la configuración:</p>
<pre>
# nano /etc/openerp/openerp-server.conf
# systemctl restart openerp</pre
>
