---
author: Abel
slug: instalar-spotify-en-fedora-18
categories:
  - Audio
  - Multimedia
  - Tutoriales
date: "2013-06-05T22:41:07Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  draft_feedback:
    a:1:{s:18:"yajo.sk8@gmail.com";a:1:{i:0;a:2:{s:4:"time";s:10:"1370464750";s:7:"content";s:33:"
    Ahora ya te ha quedado genial ;)";}}}
  draftfeedback_requests: a:1:{s:18:"yajo.sk8@gmail.com";a:3:{s:3:"key";s:13:"51af9cee8a233";s:4:"time";s:10:"1370463470";s:7:"user_id";s:8:"50974552";}}
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"50974552";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-06-05
    20:44:24";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Linux
  - Operating Systems
  - RPM
  - RPM Package Manager
  - Spotify
title: Instalar Spotify en Fedora 18
type: post
---

<p>
  Buenas, me presento como novato en el mundo Linux. Y como tal, he intentado instalar
  programas que ya tenia en Windows en la distro que yo utilizo, Fedora. Tras buscar
  información de como instalar el
  <a href="http://spotify.com">Spotify</a> sin complicarme la vida,
  <a href="http://gabuntu.com/2013/03/05/como-instalar-spotify-en-fedora-18/"
    >encontré la solución</a
  >
  y quiero compartirla:
</p>
<p>
  En este tutorial utilizaremos la versión 0.9.0 del fichero .spec
  <a href="http://leamas.fedorapeople.org/spotify/">de esta pagina</a>:
</p>
<pre>
# yum install wget rpmdevtools rpm-build yum-utils
$ rpmdev-setuptree

$ cd $(rpm –eval %_specdir)
$ wget http://leamas.fedorapeople.org/spotify/0.9.0/spotify-client.spec
$ spectool -g spotify-client.spec

# yum-builddep spotify-client.spec</pre
>
<p>Una vez ejecutemos este comando deberemos esperar unos minutos.</p>
<pre>
$ cp ~/spotify-client_0.9.0.*.deb $(rpm –eval %_sourcedir)
$ cp ~/spotify-make-0.9.0.*.tar.gz $(rpm –eval %_sourcedir)
$ rpmbuild -bb spotify-client.spec
# yum install $(rpm --eval %_rpmdir)/spotify*.rpm</pre
>
<p>
  Si os da error, en este caso en consola nos dirá que nos faltan algunos paquetes,
  simplemente instalamos los paquetes que faltan y ejecutamos de nuevo el comando, ya
  todo irá perfecto y tendremos nuestro Spotify instalado.
</p>
<p>Espero que sea de ayuda. A mí me ha funcionado perfectamente.</p>
