---
slug: instalar-un-servidor-xrdp-en-fedora-19-con-teclado-en-espanol
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2013-07-19T15:11:50Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Linux
  - RDP
  - Windows
  - Xrdp
title: Instalar un servidor xrdp en Fedora 19 con teclado en español
type: post
---

<p>
  Si quieres acceder a tu
  <a
    class="zem_slink"
    title="Linux"
    href="http://es.wikipedia.org/wiki/Linux"
    target="_blank"
    rel="wikipedia"
    >Linux</a
  >
  desde un escritorio remoto de
  <a
    class="zem_slink"
    title="Windows"
    href="http://www.microsoft.com/WINDOWS"
    target="_blank"
    rel="homepage"
    >Windows</a
  >, lo mejor es usar el servidor <a href="http://www.xrdp.org/">xrdp</a>.
</p>
<p>Para ello:</p>
<pre>
# yum install xrdp
 # service xrdp enable
 # service xrdp start
 # firewall-cmd --permanent --add-port=3389/tcp
 # service firewalld reload</pre
>
<p>
  Funciona bastante bien salvo por el teclado, que solo te lo reconoce en inglés y otros
  pocos, y no hay soporte ahora mismo para la mayoría de teclados.
</p>
<p>
  Según
  <a href="http://forums.fedoraforum.org/showpost.php?p=1485919&amp;postcount=2"
    >la solución de un usuario de fedoraforum</a
  >, debes crearte un teclado base para empezar con:
</p>
<pre>
# setxkbmap -layout 'es,es'
# xrdp-genkeymap /etc/xrdp/km-040a.ini</pre
>
<p>
  A partir de ahí puedes modificarlo siguiendo las
  <a href="https://github.com/FreeRDP/xrdp/tree/master/genkeymap"
    >instrucciones oficiales</a
  >, pero te advierto que es un rollo.
</p>
<p>
  También puedes buscar por internet <em>km-040a.ini</em>, a ver si encuentras uno que
  te sirva. Yo no he podido.
</p>
