---
slug: instalar-webmin-en-centos
categories:
  - Administración de sistemas
date: "2012-07-24T13:51:00Z"
meta:
  _oembed_6067e4bfae1266d2681a694bc458cdcd: "{{unknown}}"
  _oembed_9983867773e921c794a1b120f8c0ddfd: "{{unknown}}"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "5763973775091310599"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - Webmin
title: Instalar Webmin en CentOS
type: post
---

<p>
  Para quien quiera tener un servidor sin modo gráfico,
  <a href="http://www.webmin.com/">Webmin</a> es una magnífica herramienta que permite
  gestionar casi cualquier cosa de un servidor vía web. Siguiendo las
  <a href="http://www.webmin.com/rpm.html">instrucciones</a> de su página web, lo
  instalaremos en un servidor <a href="http://www.centos.org/">CentOS</a>.
</p>
<pre># echo "[Webmin]<br />name=Webmin Distribution Neutral<br />#baseurl=http://download.webmin.com/download/yum<br />mirrorlist=http://download.webmin.com/download/yum/mirrorlist<br />enabled=1" &gt; /etc/yum.repos.d/webmin.repo<br /># yum install webmin</pre>
<p>
  Ahora se instalará y conectará al puerto 10000 por TCP, así que habrá que abrirlo
  desde el router, para lo cual he usado la sencilla interfaz del programa
  <code>system-config-firewall-tui</code>. Hecho esto, ve a la dirección de tu servidor
  desde un navegador, algo así como <i>https://tu.servidor:10000</i>, y sáltate la
  advertencia de error de certificado. Podrás acceder como root.<br />
</p>
<h2>Permitir que otros usuarios accedan</h2>
<p>
  Para ello, dentro de Webmin vamos al menú <i>Webmin &gt; Webmin Users</i> y ahí
  podremos configurar todo lo que queramos.
</p>
<p>
  En principio me bastará con entrar en
  <i>Configure Unix User Authentication</i> y marcar la casilla
  <i
    >Allow users who can run all commands via <code>sudo</code> to login as
    <code>root</code></i
  >
  y guardar, claro que si no he instalado previamente el módulo perl(IO::Pty) me dará un
  error (fácilmente corregible con un
  <code>yum install "perl(IO::Pty)"</code>).
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-5763973775091310599?l=recallstack.blogspot.com"
    alt=""
  />
</div>
