---
slug: instalar-steam-en-fedora-18
categories:
  - GNU/Linux
  - Juegos
date: "2013-02-15T15:08:36Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - ATI
  - Gráficos
  - nVidia
  - steam
  - wine
  - yum
title: Instalar Steam en Fedora 18
type: post
---

<p>
  A fecha de hoy
  <a href="http://blogs.gnome.org/uraeus/2013/02/15/steam-on-fedora-lets-get-gaming/"
    >hay un chico que nos ha hecho el favor de empaquetar Steam</a
  >, que ya es estable para Linux. Para instalarlo:
</p>
<pre>
# cd /etc/yum.repos.d
# wget http://spot.fedorapeople.org/steam/steam.repo
# yum install steam</pre
>
<p>Si además usas los drivers de nVidia, tendrás que instalar esto:</p>
<pre># yum install xorg-x11-drv-nvidia-libs.i686</pre>
<p>Si usas los de ATI, instala este otro:</p>
<pre># yum install xorg-x11-drv-catalyst-libs.i686</pre>
<p>
  (Estos drivers de 32 bits te harán falta también si quieres jugar juegos de 32 bits a
  través de <a href="http://www.winehq.org/">Wine</a>)
</p>
