---
slug: instalar-servidor-ltsp-en-centos-6
categories:
  - Administración de sistemas
  - GNU/Linux
  - Redes
date: "2013-10-28T15:51:34Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - EPEL
  - LTSP
title: Instalar servidor LTSP en CentOS 6
type: post
---

<p>
  Primero
  <a
    title="Instalar EPEL en CentOS"
    href="http://recallstack.wordpress.com/2013/10/18/instalar-epel-en-centos/"
    >instala EPEL</a
  >.
</p>
<p>Asumo que tienes bien configurada tu tarjeta o tarjetas de red.</p>
<p>Ahora instala el servidor <a href="http://ltsp.org">LTSP</a>:</p>
<pre># yum install ltsp-server</pre>
<p>
  Para evitar el
  <a href="http://permalink.gmane.org/gmane.linux.terminal-server.general/30947"
    >error <code>No such file or directory: /etc/sysconfig/firstboot</code></a
  >:
</p>
<pre># touch /etc/sysconfig/firstboot</pre>
<p>
  Edita el fichero <code>/etc/ltsp/ltsp-server.conf</code> y cambia las líneas
  <code>LTSP_DEV</code> y <code>LTSP_DEFAULTIP</code> para que coincidan con los datos
  del servidor.
</p>
<p>Crea el <a href="es.wikipedia.org/wiki/Chroot‎">chroot</a> para los clientes con:</p>
<pre># ltsp-build-client</pre>
<p>Sigue los pasos que te indica. Ten paciencia, tarda un buen rato.</p>
<p>
  Unificaremos todos los ficheros de configuración en
  <code>/etc/ltsp/lts.conf</code> haciendo enlaces duros, porque es un rollo tener 3
  diferentes y no saber cuál se usa en cada momento:
</p>
<pre>
# rm -f /opt/ltsp/i386/etc/lts.conf
# ln /etc/ltsp/lts.conf /opt/ltsp/i386/etc/lts.conf
# rm -f /var/lib/tftpboot/ltsp/i386/lts.conf
# ln /etc/ltsp/lts.conf /var/lib/tftpboot/ltsp/i386/lts.conf</pre
>
<p>
  Seguramente más tarde tendrás que editar <code>/etc/ltsp/lts.conf</code> para
  configurar el servidor como te plazca, pero al menos solo tendrás que cambiar un
  fichero.
</p>
<p>
  Usaremos el mismo método para compartir la configuración del teclado entre huésped y
  anfitrión:
</p>
<pre>
# rm -f /opt/ltsp/i386/etc/sysconfig/keyboard
# ln /etc/sysconfig/keyboard /opt/ltsp/i386/etc/sysconfig/keyboard</pre
>
<p>
  Activa los servicios necesarios y desactiva el firewall (se hace todo solito con el
  siguiente comando):
</p>
<pre>
# ltsp-server-initialize
# ltsp-server-initialize -y</pre
>
<p>
  Tal vez preferirías configurar el firewall a mano después, pero por el momento lo
  dejaremos así.
</p>
<p>
  Si tienes otro servidor DHCP aparte, habrá que desactivar el que acabas de activar con
  ese comando:
</p>
<pre>
# chkconfig dhcpd off
# chkconfig dhcpd6 off</pre
>
<p>
  Además, tendrás que configurar el otro servidor DHCP con estas directivas (asumiendo
  que el servidor esté en <em>192.168.0.9</em> y que usamos arquitectura
  <em>i386</em> para los clientes ligeros):
</p>
<ul>
  <li>017 Ruta de acceso raíz: <code>192.168.0.9:/opt/ltsp/i386</code></li>
  <li>066 Nombre de host de servidor de inicio: <code>192.168.0.9</code></li>
  <li>067 Nombre de archivo de inicio: <code>ltsp/i386/pxelinux.0</code></li>
</ul>
<p>
  Modificamos un poquito el chroot para que no nos salga la pantalla de primer arranque
  cada vez que iniciemos un cliente ligero:
</p>
<pre>
# ltsp-chroot
# chkconfig firstboot off
# exit</pre
>
<p>
  Configura la BIOS de otro ordenador de la red para arrancar por red, o usa una imagen
  de <a href="http://etherboot.org/">gPXE</a>, enciéndelo, y a disfrutar de tu cliente
  ligero.
</p>
