---
slug: instalar-paquetes-con-packagekig-desde-cli
categories:
  - Administración de sistemas
  - Empaquetado de software
  - GNU/Linux
date: "2016-02-12T14:15:02Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "19732552273"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - apt-get
  - Arch
  - CentOS
  - Debian
  - dnf
  - Fedora
  - Gedit
  - PackageKit
  - pacman
  - pkcon
  - RHEL
  - yum
title: Instalar paquetes con PackageKit desde CLI
type: post
---

<p>Tradicionalmente, cada distribución Linux ha usado un gestor de paquetes:</p>
<ul>
  <li>Debian con <code>apt-get</code>.</li>
  <li>RHEL/CentOS con <code>yum</code>.</li>
  <li>Fedora ahora con <code>dnf</code>.</li>
  <li>Arch con <code>pacman</code></li>
  <li>Etc.</li>
</ul>
<p>
  Por ello, hace unos años surgió la iniciativa de
  <a href="https://www.freedesktop.org/software/PackageKit/index.html">PackageKit</a>,
  un framework de gestión de paquetes que proporciona una capa de estandarización sobre
  ellos.
</p>
<p><!--more--></p>
<p>
  La mayoría de distros más importantes lo integran, y es lo que permite, por ejemplo,
  que Rhythmbox te instale automáticamente los códecs que necesite según el fichero que
  quieras abrir.
</p>
<p>
  Pues resulta que también
  <a href="https://www.freedesktop.org/software/PackageKit/pk-using.html"
    >se puede usar desde la línea de comandos con el comando pkcon</a
  >. La wiki de Fedora incluye una
  <a
    href="https://gomix.fedorapeople.org/software-management-guide/f18/html/PackageKit_CLI.html"
    >guía rápida de cómo utilizarlo</a
  >. Algunos ejemplos que no me molestaré ni en explicar porque se entienden a primera
  vista:
</p>
<pre>
$ pkcon search file /usr/bin/gedit
$ pkcon search name gedit
$ pkcon install gedit
$ pkcon remove gedi</pre
>
<p>Las ventajas de usar <code>pkcon</code> son:</p>
<ul>
  <li>
    Aprenderás a usar un gestor de paquetes que funcionará igual en casi cualquier
    distro.
  </li>
  <li>
    Te pedirá la contraseña sólo cuando haga falta. Por ejemplo, en Fedora, tan solo
    para eliminar paquetes si eres administrador.
  </li>
</ul>
