---
slug: java-pronto-desaparecera-de-tu-navegador
categories:
  - Humor
  - Noticias
  - Opinión
date: "2016-02-01T06:59:49Z"
meta:
  _publicize_job_id: "19338624566"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - HTML
  - Java
title: Java pronto desaparecerá de tu navegador
type: post
---

<p>
  <a href="https://blogs.oracle.com/java-platform-group/entry/moving_to_a_plugin_free"
    >¡Por fin Oracle se rinde y decide no seguir desarrollando el plugin de Java para
    navegadores!</a
  ><!--more-->
</p>
<p>
  ¡Damas y caballeros (y páginas web del gobierno español), dejen paso a HTML5!
</p>
