---
slug: la-estafa-de-los-auriculares-bluetooth
categories:
  - Audio
  - GNU/Linux
  - Hardware
  - Multimedia
  - Opinión
date: "2016-02-04T08:19:52Z"
meta:
  _edit_last: "5195209"
  _oembed_0be26c09e6952a31a1bcf41a73ffb521: "{{unknown}}"
  _oembed_2888d2cd57b3aa1e5ddf799ddfd7f614: "{{unknown}}"
  _oembed_53202a48d49984c50402cfd159ad9f80: "{{unknown}}"
  _oembed_4869365a78935446b13fe6eb7deb5ade: "{{unknown}}"
  _oembed_c21f1144762fac3c8e76265780388259: "{{unknown}}"
  _oembed_c824008dc86305c7b36d1f9b015af747: "{{unknown}}"
  _publicize_job_id: "19449143946"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Auriculares
  - Bluetooth
  - BlueZ
  - Deporte
  - Micrófono
  - Videoconferencias
  - Videojuegos
title: La estafa de los auriculares Bluetooth
type: post
---

<p>
  Llevo unas 2 semanas peleándome con auriculares
  <a href="https://www.bluetooth.com/">Bluetooth</a> y al final he llegado a la
  conclusión de que esta tecnología sencillamente no está lista para un uso intensivo.
  Tiene la ventaja de no usar cables, pero las desventajas son bastantes. Os cuento mi
  experiencia y mis conclusiones.
</p>
<p><!--more--></p>
<h1>Mi experiencia</h1>
<p>
  Se me rompieron mis auriculares cableados con micrófono y necesitaba unos nuevos. Mis
  requisitos eran fáciles:
</p>
<ul>
  <li>Que funcionaran en Linux.</li>
  <li>Que tuviera micrófono, para las videoconferencias.</li>
  <li>Que se escucharan bien (soy algo melómano).</li>
  <li>Poder usarlos para videojuegos.</li>
  <li>
    Que pudiera usarlos para hacer deporte (ya tengo unos, pero sin cables es mejor).
  </li>
</ul>
<h2>Bluetooth en Linux</h2>
<p>
  Ya había usado Bluetooth antes en Linux para conectar el teléfono y tableta al
  ordenador, y todo había sido coser y cantar desde el panel de control de GNOME. Con
  los auriculares... <em>casi</em>.
</p>
<p>
  Me topé con unos cuantos bugs, el último de ellos que impedía activar el modo HSP/HFP
  (ver abajo) con <a href="http://www.bluez.org/">BlueZ</a> 5.36.
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1295890"
    >Tuve que desactualizarlo a la 5.35</a
  >
  y ya "todo" funcionó:
</p>
<pre># dnf downgrade bluez --allowerasing</pre>
<h2>¿Micrófono, o buena calidad?</h2>
<p>
  Cuando por fin pude activar el micrófono, me di cuenta de que la calidad de sonido es
  malísima. No me malinterpretéis, no es que no se entienda, pero baja
  <strong>muchísimo</strong>.
</p>
<p>Claro podía elegir entre el modo A2DP y el HSP/HPF. ¿Y esto qué es?</p>
<h3>Los perfiles de Bluetooth</h3>
<p>
  El estándar Bluetooth
  <a href="https://www.bluetooth.com/specifications/profiles-overview"
    >define una serie de perfiles</a
  >, que son los <em>modos de operación</em> de los dispositivos. En el caso del audio,
  tenemos 3 modos:
</p>
<ul>
  <li>
    A2DP: audio de alta calidad, pero es <strong>sólo unidireccional</strong>. Por lo
    tanto, nada de micrófonos aquí. Los botones sirven para controlar la reproducción
    (retroceder, avanzar, pausa, volumen...).
  </li>
  <li>
    HSP: audio de baja calidad, en mono (o falso estéreo), pero bidireccional. Los
    botones hacen como en A2DP.
  </li>
  <li>
    HFP: como HSP, pero los botones controlan la llamada (colgar, descolgar...).
  </li>
</ul>
<p>
  Dicho en otras palabras:
  <strong>si quieres hablar por el micrófono, no puedes oír en alta calidad</strong>. Y
  esto es una limitación del protocolo, no de los auriculares que compres, así que
  <strong>te pasará con cualquier modelo</strong>.
</p>
<p>
  Bueno, esto más o menos era fácil de arreglar: entras al panel de configuración y
  cambias el perfil al hacer una llamada, pero sigamos.
</p>
<h2>En videojuegos</h2>
<p>Bueno, para jugar lo colocamos en A2DP y listo, a oír bien... ¡Pues no!</p>
<p>
  En los videojuegos, lo que más puede molestar es la <strong>latencia</strong>. No
  puedes permitirte el lujo de oír algo 1 segundo después de que haya sucedido. Aparte
  de ser molesto, puede hacerte perder la partida.
</p>
<p>Pues más o menos esa es la latencia que tiene el audio por Bluetooth.</p>
<h2>Haciendo deporte</h2>
<p>
  Una cosa curiosa de estos aparatos es la cantidad de interferencias que reciben. En
  serio, <strong>esto ha sido lo más decepcionante de todo</strong>.
</p>
<p>
  Si estás en casa, todo va perfectamente. Puedes moverte en un radio de unos 10 metros
  sin problemas, siempre que no haya obstáculos entre el emisor y el receptor. Si los
  hay, se reduce, pero todo funciona.
</p>
<p>
  Sin embargo, cuando sales a correr o en bicicleta,
  <strong>¡el alcance se reduce a nada menos que 20-40cm!</strong> O sea que para oír
  bien la música tienes que sujetarlo en la mano. Tan solo con estirar el brazo hacia
  abajo lo suficiente, dejas de oír bien. Y claro, en el deporte te mueves
  constantemente, no puedes permitirte eso.
</p>
<p>
  Es posible que esto me haya pasado por no haber comprado unos muy buenos, pero ya eran
  de unos 25€, que ya es bastante...
</p>
<h1>Conclusión</h1>
<p>Resumiendo:</p>
<ul>
  <li>
    Para conectarlos con Linux, tendrás problemas en las versiones más recientes de
    BlueZ (esperamos que lo corrijan).
  </li>
  <li>Para hablar por el micrófono, debes escuchar con baja calidad.</li>
  <li>Para jugar videojuegos, la latencia no te dejará usarlos.</li>
  <li>Para hacer deportes, las interferencias tampoco.</li>
</ul>
<p>Ergo el veredicto es que los auriculares Bluetooth no sirven para nada.</p>
