---
slug: la-forma-mas-facil-de-rootear-un-telefono-android-framaroot
categories:
  - Administración de sistemas
  - Android
  - Seguridad
date: "2014-11-26T16:38:33Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179180165"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - exploits
  - Framaroot
  - root
title: La forma más fácil de rootear un teléfono Android (Framaroot)
type: post
---

<p>
  Curiosamente, tras leer la
  <a
    href="http://seasonofcode.com/posts/how-rooting-works-a-technical-explanation-of-the-android-rooting-process.html"
    >explicación teórica de cómo funciona el rooteo en Android</a
  >
  me di cuenta de que la mayoría de métodos que se usan son
  <a href="https://es.wikipedia.org/wiki/Exploit">exploits</a> para versiones antiguas
  de Android, y que nunca se parchean porque los operadores no actualizan los sistemas
  operativos de sus clientes.<!--more-->
</p>
<p>
  De este modo,
  <a
    href="http://forum.xda-developers.com/apps/framaroot/framaroot-supported-devices-t2722980"
    >si da la casualidad de que tu móvil es vulnerable a uno de los exploits
    conocidos</a
  >, con la aplicación Framaroot puedes rootearlo con un click.
</p>
<p>
  Simplemente
  <a
    href="http://forum.xda-developers.com/apps/framaroot/root-framaroot-one-click-apk-to-root-t2130276"
    >descarga e instala desde tu móvil la última versión de Framaroot</a
  >, escoge <em>Install SuperSU</em>, y pulsa sobre un exploit de tu elección. Un cartel
  saldrá diciendo si ha funcionado. Si ha funcionado, reinicia y listo; si no, prueba
  con otro exploit.
</p>
