---
slug: la-lentitud-de-la-encriptacion-en-android
categories:
  - Android
  - Encriptación
  - Opinión
  - Seguridad
date: "2015-03-02T13:34:42Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179150174"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - A1 SD Bench
  - Geekbench
  - Procesador
  - RAM
  - Rendimiento
  - Velodidad
title: La lentitud de la encriptación en Android
type: post
---

<h3>Problema</h3>
<p>Mi tableta estaba encriptada e iba soporíferamente lenta.</p>
<p>
  Me extrañaba porque tengo un móvil con un hardware casi idéntico que va muy fluido,
  así que instalé en ambos
  <a href="https://play.google.com/store/apps/details?id=com.primatelabs.geekbench"
    >Geekbench 3</a
  >, que analiza el rendimiento del procesador y la RAM. En ambos terminales la
  puntuación fue casi idéntica (bueno, la velocidad de RAM en el móvil era el doble,
  pero es normal porque tiene el doble de RAM).<!--more-->
</p>
<h3>Diagnóstico</h3>
<p>
  Caí en la cuenta de que la tableta estaba encriptada y el móvil no, así que instalé
  <a href="https://play.google.com/store/apps/details?id=com.a1dev.sdbench"
    >A1 SD Bench</a
  >
  en ambos y pude comprobar que, donde el móvil daba una velocidad de lectura/escritura
  de 7MiB/s y 17MiB/s respectivamente, la tableta daba 7MiB/s y 6MiB/s.
</p>
<h3>Solución</h3>
<p>
  Decidí desencriptar la tableta (hay que resetearla para ello) y ver si era ahí donde
  estaba el cuello de botella, y parece que sí, porque ahora me da 33MiB/s y 12MiB/s, es
  decir el 200% al escribir y el 550% al leer.
</p>
<p>
  Conclusión: <strong>si piensas encriptar tu Android</strong>, evalúa su velocidad
  antes y después, y <strong>piensa si te vale la pena</strong>.
</p>
