---
slug: la-nueva-manera-de-configurar-el-demonio-docker
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2017-02-22T15:47:25Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/834414419690082304";}}
  _publicize_job_id: "2135690322"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/A4EzXTaKb6L
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Configuración
  - docker
  - Fedora
  - journald
  - JSON
  - OverlayFS
  - SELinux
  - semver
title: La nueva manera de configurar el demonio Docker
type: post
---

<p>
  <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1410270#c19"
    >Docker no usa semver</a
  >. Esto es un problema, porque para
  <a href="https://github.com/docker/docker/blob/master/CHANGELOG.md"
    >estar al día con cada actualización</a
  >
  se hace complicado, pero probablemente lo hagan por cuestión de marketing.
</p>
<p>
  Bueno, la cuestión es que
  <a href="https://docs.docker.com/engine/reference/commandline/dockerd/"
    >ahora el demonio docker ya no es <code>docker -d</code>, sino
    <code>dockerd</code></a
  >, y ya no se configura en <code>/etc/sysconfig/docker</code>, sino en otro sitio y de
  otra forma.
</p>
<p><!--more--></p>
<p>
  Con las nuevas versiones (y es importante sobre todo si usas los repositorios
  oficiales y no los de tu distribución), la ubicación por defecto de la configuración
  de Docker Engine es <code>/etc/docker/daemon.json</code>, y sí, efectivamente se trata
  de un fichero <a href="http://json.org/">JSON</a>.
</p>
<p>
  Aunque se nos proporciona una plantilla para que sepamos de qué opciones dispone, esta
  es la mía (Fedora de desarrollo local), por si sirve a alguien:
</p>
<pre>
{
    "group": "wheel",
    "icc": false,
    "log-driver": "journald",
    "selinux-enabled": true,
    "storage-driver": "overlay2"
}</pre
>
<p>Creo que son las configuraciones más importantes:</p>
<ul>
  <li>
    Ya que
    <a
      href="https://docs.docker.com/engine/security/security/#/docker-daemon-attack-surface"
      >usar Docker equivale a ser <code>root</code> en muchos casos</a
    >, usar el grupo <code>wheel</code> te facilita la tarea: todos los administradores
    tienen acceso al socket de Docker por defecto.
  </li>
  <li>
    Deshabilitar <code>icc</code> (Inter-Container Communication) hace que los
    contenedores solo se puedan comunicar entre sí si comparten un link o una red.
    Normalmente en producción ha de ser así, así que mejor te vas acostumbrando en
    desarrollo.
  </li>
  <li>
    Los otros controladores de almacenamiento siempre me han dado errores,
    <a
      href="https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/#/image-layering-and-sharing-with-overlayfs-overlay2"
      ><code>overlay2</code></a
    >
    funciona de maravilla.
  </li>
  <li>
    <a href="https://docs.docker.com/engine/admin/logging/journald/"
      ><code>journald</code></a
    >
    es el único controlador de registros con soporte completo y que no te infla el
    sistema hasta quedarse sin espacio, como hace el
    <a href="https://docs.docker.com/engine/admin/logging/overview/#/json-file"
      ><code>json-file</code></a
    >
    que viene por defecto.
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/SELinux">SELinux</a> es importante tenerlo
    activado siempre que se pueda.
  </li>
</ul>
