---
slug: la-virgulilla-en-javascript
categories:
  - Programación
  - Web
date: "2018-08-24T16:25:15Z"
meta:
  _publicize_done_16694817: "1"
  _publicize_failed_16694815: O:13:"Keyring_Error":2:{s:6:"errors";a:1:{s:21:"keyring-request-error";a:1:{i:0;a:6:{s:7:"headers";O:42:"Requests_Utility_CaseInsensitiveDictionary":1:{s:7:"
  _publicize_job_id: "21419669103"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/L3keXo1Sd3E
  timeline_notification: "1535121456"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - JavaScript
title: La virgulilla en JavaScript
type: post
---

<p>
  Como me estoy leyendo algunas partes de
  <a href="https://github.com/getify/You-Dont-Know-JS">You Don't Know JavaScript</a>,
  acabo de toparme con una cosita que me ha encantado, y es rápido y fácil: usar la
  virgulilla (~) en JavaScript:
</p>
<p><!--more--></p>
<p>
  Básicamente, ese operador es el bitwise not, y saltándonos los detalles técnicos,
  simplemente decir que lo podemos utilizar para comprobar si un valor numérico es
  diferente de -1, así que he aquí algunos ejemplos que son equivalentes:
</p>
<pre>
let a = "hola";
if (a.indexOf("h") !== -1) {
    // true
}

// Esto sería equivalente
if (~a.indexOf("h")) {
    // true
}</pre
>
