---
slug: lesspass-o-como-hacer-las-contrasenas-seguras-y-usables-de-nuevo
categories:
  - Privacidad
  - Seguridad
  - Web
date: "2017-03-05T12:32:15Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/838351457426485248";}}
  _publicize_job_id: "2522146272"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _thumbnail_id: "1887"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/8SP7ocuaSkB
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - LessPass
title: LessPass, o cómo hacer las contraseñas seguras y usables de nuevo
type: post
---

<p>
  Desde luego, si existe un sistema de autenticación ineficiente en este mundo, son las
  contraseñas. Más que nada porque:
</p>
<ol>
  <li>
    Son molestas, ya que tienes que memorizarlas, y si quieres que sean realmente
    seguras debería ser una diferente para cada sitio en el que tengas una cuenta (y, si
    eres como yo, eso pueden ser cientos de sistemas).
  </li>
  <li>
    Delegan una decisión importante de seguridad en el elemento más inseguro de la
    cadena: el usuario final.
  </li>
  <li>
    Para que todo sea más sencillo, recurrimos a gestores de contraseñas, lo que
    significa que alguien que pueda crackearlo tendrá acceso a todas nuestras
    contraseñas.
  </li>
</ol>
<p>
  Hay otros sistemas mucho mejores, como la autenticación por certificado, pero esto
  lamentablemente no está muy extendido. Por esto, hoy hablaré de otra herramienta que
  sí podemos empezar a usar en cualquier sitio:
  <a href="https://lesspass.com">LessPass</a>.
</p>
<p><!--more--></p>
<h1>Cómo funciona</h1>
<p>
  LessPass simplemente proporciona una interfaz amigable para
  <a
    href="https://github.com/lesspass/core/tree/3fae0ba5bed6f9eeef74190c516ba0fd41ea2d59"
    >un algoritmo cuyo código es abierto</a
  >
  que genera una contraseña basado en unos parámetros de entrada, y mientras los
  parámetros sean los mismos, la contraseña será la misma:
</p>
<p>
  [caption id="attachment_1887" align="aligncenter" width="470"]<img
    class="alignnone size-full wp-image-1887"
    src="/assets/lesspass.gif"
    alt="lesspass"
    width="470"
    height="290"
  />
  Uso de LessPass[/caption]
</p>
<p>
  Básicamente, la clave está en la contraseña maestra (<strong>master password</strong
  >). El resto de parámetros solo sirven para acompañar a la contraseña maestra.
</p>
<p>
  Al escribir la contraseña maestra se nos muestran 3 iconos de colores generados a
  partir de la misma, que nos sirven para asegurarnos de que siempre está correctamente
  escrita.
</p>
<h2>Opciones adicionales</h2>
<p>También tenemos otras herramientas en la barra superior:</p>
<ul>
  <li>
    El botón típico de <em>compartir</em>, que genera una URL que podemos guardar con
    seguridad donde sea, que nos llevará a la página de LessPass configurada con los
    parámetros necesarios, pero siempre con la contraseña maestra en blanco.
  </li>
  <li>
    La <em>rueda dentada</em>, para guardar en una cookie nuestra configuración por
    defecto al generar contraseñas.
  </li>
  <li>
    El dibujito del <em>espía</em>, que nos permite crearnos una cuenta en el gestor de
    contraseñas online, el cual
    <strong
      >no almacena las contraseñas, tan solo la configuración para generarlas</strong
    >. Así puedes acceder a ellas, y tendrás la contraseña lista solo cuando hayas
    puesto tu contraseña maestra.
  </li>
</ul>
<h2>Alternativas a la versión online</h2>
<p>
  Disponemos también de aplicación para Android, extensiones para los navegadores, y una
  imagen Docker lista para hostear nuestro propio servicio. En la web del proyecto te da
  enlaces para todo.
</p>
<p><strong>Simplemente genial.</strong></p>
