---
slug: malditos-sean-los-encabezados-de-las-paginas-web
categories:
  - Diseño
  - Programación
date: "2012-11-25T10:27:20Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - encabezado
  - slideshow
  - web
title: Malditos sean los encabezados de las páginas web
type: post
---

<p>
  Ten en cuenta esto: cuando trates de vender una página web a alguien, o un gestor de
  páginas web,
  <strong>lo más importante es que puedan cambiar el encabezado</strong>.
</p>
<p>
  <strong>Cualquier otra característica</strong> del gestor de contenidos, la web, o lo
  que sea, <strong>es absolutamente irrelevante</strong>.
</p>
<p>
  Por cierto,
  <strong
    >si pueden poner un slideshow, tienen que poder modificar las fotos
    fácilmente</strong
  >. De otro modo, tarde o temprano tendrás problemas.
</p>
<p>Ale, ya me he desahogado un poco.</p>
