---
slug: mercurial-y-git-pueden-ser-amigos
categories:
  - Control de versiones
  - Empaquetado de software
  - Programación
date: "2014-07-26T10:41:41Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18151109795"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
  - Git vs. Mercurial
  - Mercurial
title: Mercurial y Git pueden ser amigos
type: post
---

<p>
  Si eres como yo, que
  <a
    title="Escogiendo control de versiones (bzr, git, hg)"
    href="http://recallstack.wordpress.com/2014/04/04/escogiendo-control-de-versiones-bzr-git-hg/"
    >me gusta Mercurial por encima de todos los demás VCS que he probado</a
  >, pero te ves obligado a trabajar con <a href="http://git-scm.com/">Git</a> muchas
  veces porque, aceptémoslo, es el más popular de todos, hay una herramienta que te hará
  feliz: <a href="http://hg-git.github.io/">Hg-Git</a>.<!--more-->
</p>
<p>
  Permite trabajar con <a href="http://mercurial.selenic.com/">Mercurial</a> (y
  <a
    title="Cómo migrar un repositorio de Bazaar a Git"
    href="http://tortoisehg.bitbucket.org/"
    >TortoiseHg</a
  >, claro está) contra repositorios Git de forma casi transparente.
</p>
<p>
  Las
  <a
    href="http://git-scm.com/book/es/Ramificaciones-en-Git-%C2%BFQu%C3%A9-es-una-rama%3F"
    >ramas locales de Git</a
  >
  se traducen a
  <a href="http://mercurial.selenic.com/wiki/Bookmarks">bookmarks de Mercurial</a>
  (que, por cierto, no conocía, y es un método fantástico para trabajar), y las
  <a href="http://git-scm.com/book/es/Ramificaciones-en-Git-Ramas-Remotas"
    >ramas remotas de Git</a
  >
  se traducen a
  <a href="http://mercurial.selenic.com/wiki/Tag">etiquetas locales de Mercurial</a>
  (bueno, algo parecido).
</p>
<p>
  A la hora de hacer un
  <a href="http://www.selenic.com/mercurial/hg.1.html#clone">clone</a>,
  <a href="http://www.selenic.com/mercurial/hg.1.html#push">push</a> o
  <a href="http://www.selenic.com/mercurial/hg.1.html#pull">pull</a>, debes indicar que
  se trata de un repositorio Git usando los protocolos <code>git+https://</code> o
  <code>git+ssh://</code> (también tienes <code>git+file://</code>, pero es innecesario
  ya que se detecta automáticamente), y el plugin se encargará del resto.
</p>
<p>
  Debido a algún bug actual, puede que clonar un repositorio remoto te sea muy lento.
  Para esos casos, te recomiendo clonar a través de Git, y luego traspasarlo a Mercurial
  desde el clon local, que irá bastante rápido.
</p>
<p>
  Por supuesto, lo mejor de todo es conocer y usar ambos sistemas, pero llevo un tiempo
  trabajando con esto y va francamente bien.
</p>
