---
slug: montar-una-carpeta-compartida-en-un-sistema-linux
categories:
  - Administración de sistemas
  - GNU/Linux
  - Privacidad
  - Tutoriales
date: "2016-06-30T21:28:34Z"
meta:
  _publicize_job_id: "24451516337"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - Fish
  - umask
title: Montar una carpeta compartida en un sistema Linux
type: post
---

<p>
  Teníamos un ordenador con 1 usuario, y ahora pasan a ser más, pero necesitan poder
  compartir documentos.
</p>
<p>Para lograrlo, seguiremos todas las buenas prácticas posibles:</p>
<p><!--more--></p>
<h1>Dónde colocar la carpeta</h1>
<p>
  <a href="http://unix.stackexchange.com/a/70708/50281"
    >El punto ideal en el que montar nuestra carpeta sería bajo <code>/srv</code> o
    <code>/home</code></a
  >. Me gusta más <code>/srv</code> pero en mi caso, puesto que ya hice una partición
  para <code>/home</code> cuando instalé el sistema, en la que se encuentra la mayoría
  del espacio en disco y de los datos, la montaré en <code>/home/share/</code> y me
  ahorraré muchos quebraderos de cabeza.
</p>
<p>
  Además, <code>/home</code> tiene otra ventaja, y es que, al estar en la misma
  partición que el resto de usuarios, cuando mueva ficheros de mi carpeta personal a la
  compartida, <strong>la operación será instantánea</strong>.
</p>
<h1>Crear un grupo para los usuarios que la compartan</h1>
<p>
  Obviamente, todos los usuarios que quieran acceder a una carpeta tendrán que tener el
  mismo grupo, así que vamos a crear uno para dicha tarea; lo llamaremos
  <code>trusted</code>:
</p>
<pre># groupadd trusted</pre>
<p>
  Ahora vamos a añadir a todos los usuarios a ese grupo (repetir con cada usuario,
  reemplazando <code>$USER</code>):
</p>
<pre># usermod --append --groups trusted $USER</pre>
<p>
  Recuerda que si estás cambiando los grupos de tu propio usuario, tienes que cerrar y
  abrir la sesión para que estos se actualicen.
</p>
<h1>Crear la carpeta y asignarle los permisos</h1>
<pre>
# mkdir /home/share
# chown --recursive root:trusted /home/share
# chmod --recursive u=rwX,g=rwXs,o= /home/share</pre
>
<p>
  Lo que acabamos de hacer es crear la carpeta con dueño <code>root</code> y
  <a href="https://es.wikipedia.org/wiki/Setuid#Setuid_en_directorios"
    >asignarle el SETGID para que lo que haya dentro siempre pertenezca al grupo
    <code>trusted</code></a
  >.
</p>
<h1>Ajustar los permisos tras haber volcado algunos datos</h1>
<p>
  Después de mover ficheros ahí, notarás que tienen los mismos permisos que antes si
  haces un <code>ls -l</code>. Cuando hayas movido todo lo que necesites, vuelve a
  ejecutar los 2 últimos comandos de antes:
</p>
<pre>
$ chown --recursive $USER:trusted /home/share
$ chmod --recursive u=rwX,g=rwXs,o= /home/share</pre
>
<h1>Ajustar el <code>umask</code> de los usuarios</h1>
<p>
  Es posible que tus usuarios tengan un <code>umask</code> demasiado permisivo o
  restrictivo, y que esto ocasione que en el futuro te tengas que ver obligado a
  ejecutar los comandos de arriba otra vez por problemas de permisos.
</p>
<p>
  En nuestro caso, ya no queremos que esto vuelva a pasar, así que necesitaremos ajustar
  el <code>umask</code> de cada usuario con acceso para que permita lectura, escritura y
  ejecución al grupo. Para ello, edita el fichero <code>~/.bashrc</code> (si el usuario
  usa <a href="https://www.gnu.org/software/bash/bash.html">Bash</a>),
  <code>~/.config/fish/config.fish</code> (si usa
  <a href="http://fishshell.com/">Fish</a>) o el equivalente y añade este comando al
  final:
</p>
<pre>umask 0007</pre>
<p>
  Esto quiere decir que los nuevos ficheros que cree tendrán permisos
  <code>go=rwX,o=</code>, o sea justo lo que necesitamos para compartir con seguridad.
</p>
<p>
  <strong
    >Recuerda que <code>umask</code> sólo se aplica al crear o copiar archivos, no al
    moverlos.</strong
  >
</p>
