---
slug: mozilla-prospector
categories:
  - Noticias
  - Web
date: "2013-01-29T17:28:43Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  tagazine-media:
    a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-01-29
    16:28:43";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - complementos
  - extensiones
  - Firefox
  - Mozilla
  - Open source
  - prospector
title: Mozilla Prospector
type: post
---

<p>
  Hoy me he encontrado con una gran colección de complementos interesantes para
  <a
    class="zem_slink"
    title="Firefox"
    href="http://www.mozilla.com/firefox/"
    target="_blank"
    rel="homepage"
    >Firefox</a
  >, todos bajo el proyecto
  <a href="https://mozillalabs.com/en-US/prospector/">Prospector</a>, en
  <a href="https://mozillalabs.com/en-US/">Mozilla Labs</a>. Traduciendo cómo se
  autodescribe el proyecto:
</p>
<blockquote>
  <p>
    Prospector es una serie de experimentos de los laboratorios
    <a href="http://mozilla.org">Mozilla</a> enfocados en analizar, experimentar y
    prototipar mejoras en cómo buscas y descubres contenidos con Firefox.
  </p>
</blockquote>
<p>Os pongo algunas capturas de algunas de las extensiones incluidas:</p>
<p>
  [caption id="" align="aligncenter" width="402"]<a
    href="https://addons.mozilla.org/en-US/firefox/addon/prospector-oneLiner/"
    ><img
      class="  "
      alt=""
      src="/assets/61180.png?modified=1311839746"
      width="402"
      height="92"
  /></a>
  Unir las pestañas y la barra de direcciones en una línea[/caption]
</p>
<p>
  [caption id="" align="aligncenter" width="394"]<a
    href="https://addons.mozilla.org/en-US/firefox/addon/prospector-lessChrome-HD/"
    ><img
      class=" "
      alt=""
      src="/assets/58041.png?modified=1305904444"
      width="394"
      height="208"
  /></a>
  Esconder elementos innecesarios hasta que se usan[/caption]
</p>
<p>
  [caption id="" align="aligncenter" width="260"]<a
    href="https://addons.mozilla.org/en-US/firefox/addon/prospector-speak-words/"
    ><img alt="" src="/assets/50240.png?modified=1331247702" width="260" height="69"
  /></a>
  Autocompletado de palabras en la barra de direcciones basado en tus propias búsquedas
  anteriores[/caption]
</p>
<p>
  [caption id="" align="aligncenter" width="403"]<a
    href="https://addons.mozilla.org/en-US/firefox/addon/prospector-instant-preview/"
    ><img alt="" src="/assets/51582.png?modified=1331247702" width="403" height="317"
  /></a>
  Previsualización instantánea de la página que estás escribiendo[/caption]
</p>
<p>
  [caption id="" align="aligncenter" width="387"]<a
    href="https://addons.mozilla.org/en-US/firefox/addon/prospector-find-suggest/"
    ><img alt="" src="/assets/50279.png?modified=1331247702" width="387" height="73"
  /></a>
  Sugerir palabras al buscar en la página actual[/caption]
</p>
