---
slug: ojito-con-movim-0-9
categories:
  - Noticias
  - Privacidad
  - Redes
date: "2016-03-02T22:26:03Z"
meta:
  _publicize_job_id: "20374528314"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Jappix
  - Movim
  - XMPP
title: Ojito con Movim 0.9
type: post
---

<p>
  <a
    href="https://nl.movim.eu/?node/pubsub.movim.eu/Movim/f5f883e31223abc28b5be3fec5a71bb3"
    >El mes pasado fue lanzada la versión 0.9</a
  >
  de <a href="https://movim.eu/">Movim</a>, el intento más avanzado que he visto (junto
  a <a href="https://jappix.org/">Jappix</a>) de formar una red social basada en
  <a href="http://xmpp.org/">XMPP</a>.
</p>
<p>
  Es realmente llamativo el trabajo que han hecho para esta versión del servidor. Le han
  dado un lavado de cara completo con material design, han optimizado mucho el
  rendimiento del cliente, se han movido a GitHub, y han lanzado aplicaciones para
  Android y Firefox OS.
</p>
<p><!--more--></p>
<p>
  La estructura habitual de los XMPP es tener un servidor, que se encarga de la
  comunicación con otros servidores y clientes, y un cliente, que es lo que tú utilizas
  para conectar al servidor.
</p>
<p>
  El proyecto introduce un tercer elemento, el <em>pod</em>, que es básicamente una
  pasarela web a toda la infraestructura XMPP subyacente;
  <a href="https://github.com/movim/movim/wiki/Install-Movim#general-behaviour"
    >un intermediario entre ella y tu navegador</a
  >.
</p>
<p>
  De esta manera, un canal público se convierte en un blog, un perfil público se puede
  cotillear como en cualquier otra red social, etc. Pero curiosamente, como los datos
  reales están almacenados en el servidor XMPP, puedes acceder a un pod aunque tu cuenta
  esté en otro servidor de la otra parte del mundo.
</p>
<p>
  Por supuesto, puedes seguir usando tus clientes XMPP habituales para diversas
  plataformas, todo funcionará; y dependiendo de las capacidades de clientes y
  servidores, todo se sincronizará.
</p>
<p>
  Bueno, es la magia del XMPP. Como siempre, lo más complicado de todo esto será
  convencer a tus amigos de que dejen de usar WhatsApp, Facebook, Twitter o lo que sea
  que usen y comiencen a usar XMPP, pero para eso ya te las ingeniarás.
</p>
