---
slug: pantalla-inalambrica-e-impresiones-sobre-ezcast
categories:
  - Android
  - Audio
  - Hardware
  - iOS
  - Multimedia
  - Opinión
  - Redes
  - Vídeo
date: "2015-10-26T10:30:45Z"
meta:
  _edit_last: "5195209"
  _oembed_41fdfffb4e35d2d1aa532ddeb97254a9: "{{unknown}}"
  _publicize_job_id: "16341128121"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - AirPlay
  - Apple TV
  - Chromecast
  - DIAL
  - DLNA
  - EZCast
  - HDMI
  - Miracast
  - screencast
title: Pantalla inalámbrica e impresiones sobre EZCast
type: post
---

<p>
  Lo de usar una <strong>pantalla inalámbrica (screencast)</strong> está muy bien, pero
  hay tantas y tantas opciones que al final uno acaba confundido.
</p>
<p>
  Analicemos el panorama, y luego os cuento mis impresiones sobre
  <a href="https://www.iezvu.com/">EZCast</a>, que es la opción que he escogido yo.
</p>
<p>
  <em
    >[Actualización:
    <a
      href="https://recallstack.wordpress.com/2016/05/24/por-que-tenia-un-ezcast-y-al-final-me-he-tenido-que-comprar-un-chromecast-y-como-hacerlo-funcionar-con-linux/"
      >Al final he tenido que comprar un Chromecast por lo mal que funcionaba EZCast</a
    >.]</em
  ><!--more-->
</p>
<h3>Los protocolos</h3>
<p>
  Los protocolos que soporta un aparato
  <strong>sería el equivalente inalámbrico a los enchufes</strong> que tiene un
  televisor. Evidentemente, cuantos más tenga, más posibilidades nos ofrece. Antes de
  empezar, conozcamos los protocolos que hoy en día se manejan.
</p>
<ul>
  <li>
    <a href="http://www.dlna.org/">DLNA</a> es el más antiguo, ya que está entre
    nosotros desde 2003. Simplemente sirve para compartir contenidos multimedia (o sea,
    vídeo, audio e imágenes). Si queremos compartir desde Linux, a día de hoy esta es la
    mejor opción.
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/AirPlay">AirPlay</a> es el sistema de Apple.
    Como no podía ser de otra forma, es un protocolo propietario y cerrado, sin una
    documentación oficial, y tan solo es útil con dispositivos de Apple, aunque también
    hay aplicaciones que nos permitirán usarlo en Android (ver más abajo). Los
    conocimientos que se tienen sobre este protocolo son fruto de ingeniería inversa.
  </li>
  <li>
    EZCast también es el nombre de un protocolo propietario que usan los dispositivos
    EZCast. No hay mucha documentación sobre él.
  </li>
  <li>
    <a href="http://www.openflint.org/">Flint</a> es un protocolo compatible con DIAL,
    pero 100% de código abierto e implementado íntegramente en HTML5, con la consecuente
    ventaja de que debería ser compatible con cualquier disponsitivo que tenga un
    navegador. Sin embargo, es muy reciente y no se usa mucho aún.
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/Discovery_and_Launch">DIAL</a> es el sistema
    que usan Chromecast y las aplicaciones de Google, parecido a AirPlay pero con
    protocolos abiertos. Cada vez más dispositivos y aplicaciones lo implementan.
  </li>
  <li>
    <a href="https://es.wikipedia.org/wiki/Miracast">Miracast</a> es el estándar
    moderno, y lo llevan de fábrica todos los Android a partir de la versión 4.2, y la
    mayoría de televisiones modernas. A diferencia del resto de protocolos, que
    funcionan por red independientemente de la infraestructura, Miracast funciona
    únicamente por <a href="https://es.wikipedia.org/wiki/Wi-Fi_Direct">WiFi-Direct</a>.
    Todo esto hace que sea <strong>el más fácil de utilizar</strong> de todos, pero
    también significa que ningún dispositivo sin capacidades WiFi-Direct podrá usarlo.
    Curiosamente, <strong>es el que peor funciona</strong> de todos.
  </li>
</ul>
<h3>Las alternativas</h3>
<ul>
  <li>
    <a href="https://www.apple.com/es/tv/">Apple TV</a> es la alternativa por excelencia
    para dispositivos de Apple. Sin embargo, para otro tipo de sistemas operativos
    echaremos en falta algunas características y tendremos compatibilidad con menos
    aplicaciones. Es el más caro (cómo no...) y sólo funciona con AirPlay.
  </li>
  <li>
    <a href="https://www.google.com/intl/es/chrome/devices/chromecast/">Chromecast</a>
    es la alternativa de Google, bastante más económico, y la nueva versión que han
    sacado puede reproducir vídeos en 4K. Sólo funciona con DIAL.
  </li>
  <li>
    <a href="http://www.matchstick.tv/">Matchstick</a> va a ser el último en llegar, ya
    que se supone que saldrá este año, y está basado en Firefox OS. Sólo funciona con
    Fling, pero como hemos dicho es compatible con DIAL.
  </li>
  <li>
    <a href="https://www.iezvu.com/">EZCast</a>, que
    <strong>es el más versátil</strong>. Funciona con AirPlay, EZCast (obviamente), DLNA
    y Miracast. Hay multitud de fabricantes que instalan su sistema operativo en
    <em>cartuchos</em>, con lo cual hay una amplia oferta que va desde los 15 a los 35€
    aproximadamente.
  </li>
</ul>
<p>
  De todos estos, sólo he tenido oportunidad de probar Apple TV y EZCast, y si bien el
  primero es <em>inteligente</em>, ya que permite comprar y ver películas sin necesidad
  de otro dispositivio, también es <em>estúpido</em> porque sólo entiende AirPlay, y
  porque para configurarle la tarjeta de crédito necesitas tener un Mac. Y todos sabemos
  que en ese mundillo la tarjeta de crédito es imprescindible.
</p>
<p>
  EZCast, por otro lado, es <em>estúpido</em> en el sentido de que
  <strong>necesita que otro aparato le mande los contenidos</strong>, y es bastante
  difícil de configurar si no lo entiendes, y es bastante difícil de entender porque los
  fabricantes son chinos y ya sabemos cómo traduce esta gente las pocas instrucciones
  que dan al español... pero una vez lo entiendes es bastante <em>inteligente</em> en el
  sentido de que
  <a href="https://www.iezvu.com/comparison.php"
    >soporta muchísimos formatos y protocolos</a
  >.
</p>
<h3>Cómo conectarlo</h3>
<p>
  [caption id="attachment_821" align="alignright" width="300"]<a
    href="https://recallstack.wordpress.com/2015/10/26/pantalla-inalambrica-e-impresiones-sobre-ezcast/hdm-vga-jack/"
    rel="attachment wp-att-821"
    ><img
      class="size-medium wp-image-821"
      src="/assets/hdm-vga-jack.jpg?w=300"
      alt="Adaptador HDMI a VGA+Jack de audio."
      width="300"
      height="300"
  /></a>
  Adaptador HDMI a VGA+Jack de audio.[/caption]
</p>
<p>
  Lo primero que necesitas es
  <strong>enchufar el cartucho a la entrada HDMI</strong> de tu televisión o proyector
  para que transmita el audio y vídeo. Si son antiguos y no tienen, puedes comprar un
  <a
    href="http://www.amazon.es/VicTsing-adaptador-convertidor-Streaming-Power-gratuita/dp/B00U8VK6BE/ref=sr_1_3"
    >adaptador de HDMI a VGA+Jack de audio</a
  >. Yo lo tengo así en un proyector y funciona de lujo.
</p>
<p>
  También necesitarás conectarlo a una entrada USB, que tan solo se usará como toma de
  corriente. Es posible que tu televisor no saque toda la potencia que necesita el
  aparato, así que
  <strong
    >para empezar conéctalo directamente a la corriente con un cargador de móvil
    cualquiera</strong
  >. Si todo va bien, luego puedes probarlo en la televisión y así verás si en tu caso
  conviene o no conectarlo a la pared directamente.
</p>
<h3>Cómo configurarlo</h3>
<p>
  [caption id="attachment_822" align="alignleft" width="300"]<a
    href="https://recallstack.wordpress.com/2015/10/26/pantalla-inalambrica-e-impresiones-sobre-ezcast/manual01/"
    rel="attachment wp-att-822"
    ><img
      class="size-medium wp-image-822"
      src="/assets/manual01.png?w=300"
      alt="Instalación de EZCast."
      width="300"
      height="125"
  /></a>
  <a href="http://www.iezvu.com/download_qsg.php?l=en&amp;u=0">Instalación de EZCast.</a
  >[/caption]
</p>
<p>
  Instala en tu teléfono
  <a href="http://www.iezvu.com/os_download.php?l=en">la aplicación EZCast</a> y
  sintoniza en tu televisor la entrada en la que hayas enchufado el cartucho.
</p>
<p>
  Verás una pantalla parecida a la que te muestro aquí, en la que se indica un SSID y
  una contraseña. Esto es una conexión WiFi que crea el cartucho, lo cual es muy útil,
  ya que te permite usarlo incluso en sitios en los que no tengas conexión.
</p>
<p>
  Conéctate a dicha red WiFi con dicha contraseña (perderás por un momento la conexión a
  Internet). Ahora abre la aplicación que te has instalado, pulsa sobre el dibujo de la
  lupa y selecciona el mismo SSID otra vez.
</p>
<p>
  En la tele te aparecerá una lista de las redes WiFi disponibles, y en tu móvil
  aparecerá una especie de mando a distancia. Usándolo, selecciona la red de tu casa y
  ponle la contraseña.
</p>
<p>
  A partir de este momento, cuando te conectes a la red WiFi de tu cartucho EZCast,
  <strong>éste hará de puente hacia tu router</strong>, de manera que podrás navegar
  igual a través de él que a través del router.
</p>
<h3>Cómo usarlo</h3>
<p>Tenemos muchos métodos de uso, cada cual idóneo para cumplir un objetivo.</p>
<h4>Envío de contenido</h4>
<p>
  Esto lo podemos hacer a través de la aplicación EZCast, o de
  <strong>cualquier aplicación que soporte DLNA</strong>, como
  <a href="https://play.google.com/store/apps/details?id=com.tuxera.streambels"
    >AllConnect</a
  >
  (que también funciona con AirPlay, por cierto).
</p>
<p>
  Una vez estamos conectados a la red que crea el cartucho, no hay más que vincularle
  cualquiera de estas aplicaciones y reproducir el contenido que queramos.
</p>
<p>
  Normalmente el reproductor quedará escondido en una notificación y podremos seguir
  usando el móvil o tableta para otras cosas.
</p>
<p>
  A este respecto, la aplicación EZCast es muy completa, permitiendo compartir todos
  estos tipos de contenido:
</p>
<ul>
  <li>Páginas web (las que tienen vídeos muestran el vídeo en la pantalla).</li>
  <li>Documentos de Office (incluyendo presentaciones) y PDF.</li>
  <li>Vídeos.</li>
  <li>Fotos.</li>
  <li>Audio.</li>
  <li>Radio.</li>
</ul>
<p>
  Si pones por ejemplo un vídeo y ves que se entrecorta, páusalo hasta que se rellene un
  poco el
  <a href="https://es.wikipedia.org/wiki/Buffer_de_datos">búfer</a> (3000KB deberían
  bastar) y quita la pausa.
</p>
<h4>Duplicar pantalla</h4>
<p>
  La mayoría de veces
  <strong>preferiremos envío de contenidos antes que duplicar la pantalla</strong>, pero
  en ocasiones esto también puede venir bien, aunque ten en cuenta que siempre sufrirás
  un poco de <a href="https://es.wikipedia.org/wiki/Lag">lag</a>, ya que no puede
  existir un búfer. Lo normal es entre 0,5 y 2 segundos.
</p>
<p>
  Si estás en Android, abre la aplicación EZCast, conecta al cartucho y verás 2 opciones
  para duplicar pantalla:
</p>
<h5>Mirror on/off</h5>
<h5>Si no me equivoco, para esto necesitas Android &gt;= 5.</h5>
<p>
  Esto hará el espejo a través del protocolo EZCast, pero de momento
  <a href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=214"
    >no transmite audio</a
  >. Por otro lado, parece que la señal es más estable que la otra opción, y la conexión
  también es más instantánea.
</p>
<h5>EZMirror (Miracast)</h5>
<p>Para esto necesitarás Android &gt;= 4.2.</p>
<p>
  Esto activará las conexiones Miracast en el cartucho, pero
  <strong>apagará la red WiFi</strong> que crea éste crea.
</p>
<p>
  Esto es porque el cartucho sólo dispone de 2 antenas WiFi, y usará una para conectar a
  la red de tu casa y otra para activar el WiFi-Direct para el Miracast. Como el resto
  de protocolos ahora tendrán que rebotar en tu router para alcanzar el cartucho,
  <strong>cuando activas EZMirror todas las demás opciones se ralentizarán</strong>, o
  puede que hasta se desactiven.
</p>
<p>
  Tendrás que seguir todos los pasos que te salga en la pantalla del móvil hasta que
  encuentres un botón al que puedas pulsar para que se quede en <em>On</em>. Luego
  tendrás 2 minutos para:
</p>
<ol>
  <li>Conectarte de nuevo directamente al WiFi del router.</li>
  <li>
    Activar la pantalla inalámbrica de tu teléfono o tableta (normalmente en
    <em
      >Ajustes &gt; Pantalla &gt; Pantalla inalámbrica &gt; Menú contextual &gt; Activar
      pantalla inalámbrica</em
    >) para conectar por Miracast seleccionando la que se llama como el SSID del
    cartucho.
  </li>
</ol>
<p>
  Ahora algunas aplicaciones detectarán que estás duplicando la pantalla y mostrarán un
  contenido diferente en el móvil y en la tele, pero las demás simplemente mostrarán lo
  mismo en ambas.
</p>
<h4>Desde iOS</h4>
<p>Se usa igual que cualquier Apple TV:</p>
<ol>
  <li>Desliza desde abajo de la pantalla.</li>
  <li>Conecta por AirPlay al cartucho.</li>
  <li>
    Opcionalmente, puedes activar el espejo de pantalla. Normalmente, las aplicaciones
    decidirán si enviar contenidos o espejo con esta opción activada. De todas formas,
    no lo recomiendo si no es estrictamente necesario.
  </li>
</ol>
<p>
  Por cierto,
  <a href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=181#p612"
    >por ahora no funciona con la aplicación de YouTube</a
  >. Para ver esos vídeos, ábrelos desde Safari o desde la aplicación EZCast.
</p>
<h3>¿Debería activar las conexiones desde el router?</h3>
<p>
  La ventaja es que no tienes que conectarte al WiFi que crea el cartucho, pero la
  desventaja es que todo el envío de cualquier tipo de contenidos irá más lento al tener
  que viajar hasta el router para alcanzarlo.
</p>
<p>Teniendo esto en cuenta, tú decides.</p>
<p>
  Por cierto, esto no afecta a Miracast, porque como hemos dicho usa WiFi-Direct.
</p>
<h3>Seguridad</h3>
<p>
  Como habrás observado,
  <strong>cualquier persona que vea la tele verá la contraseña del aparato</strong>, y
  de entrada te viene una con 8 dígitos (superfrágil).
</p>
<p>
  Esto es porque estos cartuchos están diseñados para uso en el hogar. Si quieres usarlo
  para mostrar una presentación en un aula por ejemplo,
  <a href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=209#p733"
    >te interesará más comprar un cartucho EZCast Pro</a
  >
  (e instalarte
  <a href="http://www.iezvu.com/os_download.php?type=2&amp;l=en"
    >la aplicación homónima</a
  >), que permite administrar quién se conecta y quién no.
</p>
<p>
  <strong>Lo primero que haremos es cambiar la contraseña</strong>, pero para colmo,
  <a href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=62&amp;p=787#p787"
    >sólo permite contraseñas de hasta 8 caracteres</a
  >, así que deja volar tu imaginación y
  <strong>pon los 8 caracteres más raros que se te ocurran</strong>. Obviamente
  cualquier invitado podrá ver la contraseña en tu tele, pero al menos los vecinos
  tardarán más de 10 segundos en obtenerla.
</p>
<h3>Actualizaciones</h3>
<p>
  Otra cosa que me gusta es que tanto el cartucho como la aplicación se actualizan con
  mucha frecuencia, y encima es rápido y automático.
</p>
<h3>Soporte técnico</h3>
<p>
  Puedes abrirte una cuenta en
  <a href="https://forum.iezvu.com/phpBB3/">su foro</a> y dirigirte a ellos
  tranquilamente. Por lo que llevo visto,
  <strong>responden a un ritmo bastante aceptable</strong>.
</p>
