---
slug: parchear-shellshock-en-sistemas-antiguos
categories:
  - Administración de sistemas
  - GNU/Linux
  - Noticias
  - Seguridad
date: "2014-10-31T15:06:20Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179205802"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - shellshock
title: Parchear Shellshock en sistemas antiguos
type: post
---

<p>
  A estas alturas todos deberíamos saber qué es Shellshock, pero a modo de resumen: una
  seria vulnerabilidad en bash que nos puede salir muy cara si no lo actualizamos, y que
  lleva escondida entre nosotros unos 14 años.
</p>
<p>
  Mi problema es que tenía un servidor bastante viejo ya, con una versión de Ubuntu
  anticuada, pero que por problemas de
  <span style="text-decoration:line-through;">pereza</span> agenda nunca he actualizado.
</p>
<p>
  Gracias a <a href="https://shellshocker.net/">Shellshocker</a> ha sido coser y cantar.<!--more-->
</p>
<h2>Comprobar que tienes la vulnerabilidad</h2>
<p>curl https://shellshocker.net/shellshock_test.sh | bash</p>
<h2>Parchear la vulnerabilidad compilando Bash</h2>
<p>
  Esto es útil para sistemas que no reciben actualizaciones. Si no es tu caso,
  probablemente con actualizar Bash desde el gestor de paquetes sea suficiente. Para los
  demás:
</p>
<p>
  curl https://shellshocker.net/fixbash | sh &amp;&amp; sudo chmod o+rx /bin/bash
</p>
