---
slug: pasar-docker-de-devicemapper-a-overlay2
categories:
  - Administración de sistemas
  - GNU/Linux
  - Virtualización
date: "2016-10-02T23:36:16Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "27439344457"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - docker
  - docker-storage-setup
  - LVM
  - OverlayFS
title: Pasar Docker de devicemapper a overlay2
type: post
---

<p>
  Si usas Fedora, seguramente de fábrica vengas utilizando
  <a href="https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/"
    >el motor de almacenamiento <code>devicemapper</code></a
  >, que supuestamente es de los más estables, pero que
  <a href="https://github.com/docker/docker/issues/10161"
    >en la práctica tiene serios problemas de rendimiento que no parece que vayan a
    solucionarse de aquí a poco</a
  >.
</p>
<p>
  <a
    href="https://recallstack.wordpress.com/2015/12/20/configurar-docker-storage-setup/"
    >Si ya lo configuraste con <code>docker-storage-setup</code></a
  >
  o similar, y ahora quieres cambiar a <code>overlay2</code>, sigue esta guía.
</p>
<p><!--more--></p>
<p>
  Esta guía está muy inspirada en el
  <a
    href="http://www.projectatomic.io/blog/2015/06/notes-on-fedora-centos-and-docker-storage-drivers/"
    >artículo Friends Don't Let Friends Run Docker on Loopback in Production</a
  >, de muy recomendada lectura.
</p>
<p>
  Es importante:
  <strong>vas a perder todos tus datos de Docker</strong> (imágenes, contenedores,
  volúmenes). Respalda todo antes.
</p>
<h1>Al meollo</h1>
<p>
  Primero, detén Docker y borra todos los datos de almacenamiento que tenga:
</p>
<pre>
# systemctl stop docker
# rm -Rf /var/lib/docker</pre
>
<p>
  Edita <code>/etc/sysconfig/docker-storage</code> para decirle a Docker que quieres
  usar el motor <code>overlay2</code> si usas Linux &gt;= 4.0 y Docker &gt;= 1.12. Si
  no, usa <code>overlay</code>, que no es compatible, pero el día de mañana solo tendrás
  que volver a borrar todo, cambiar el driver y reiniciar el demonio Docker.
</p>
<pre
  class="highlight plaintext"
><code>DOCKER_STORAGE_OPTIONS="--storage-driver overlay2 "
</code></pre>
<p>
  Edita <code>/etc/sysconfig/docker</code> para desactivar SELinux en Docker, ya que
  <a href="https://github.com/docker/docker/pull/25616"
    >hasta Linux 4.9 y una versión futura de Docker, no soportará los drivers overlay</a
  >:
</p>
<pre>OPTIONS='--selinux-enabled=false [otras opciones]'</pre>
<p>
  Borra todo lo que te creó el antiguo <code>docker-storage-setup</code> (el thin pool
  LVM y todo ese rollo). Los comandos difieren según lo tuvieras configurado, en mi caso
  fueron:
</p>
<pre># lvm lvremove fedora/docker-pool</pre>
<p>Ahora crea un  nuevo volúmen LVM:</p>
<pre>
# lvm lvcreate --name docker --extents 100%FREE fedora
# mkfs.ext4 /dev/mapper/fedora-docker</pre
>
<p>
  Configura tu ordenador para montarlo en <code>/var/lib/docker</code>, añadiendo a
  <code>/etc/fstab</code> esta línea:
</p>
<pre> /dev/mapper/fedora-docker /var/lib/docker auto nosuid,nodev,nofail 0 0</pre>
<p>Móntalo y arranca Docker de nuevo:</p>
<pre>
# mount /dev/mapper/fedora-docker
# systemctl start docker</pre
>
<p>Comprueba que todo funciona:</p>
<pre>$ docker run --rm hello-world</pre>
