---
slug: poner-gnome-shell-y-firefox-en-espanol-en-opensuse-12-3
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2013-05-19T16:26:44Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  _wp_old_slug: poner-gnome-shell-3-6-en-espanol-en-opensuse-12-3
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Firefox
  - Gnome
  - openSUSE
title: Poner GNOME Shell y Firefox en español en openSUSE 12.3
type: post
---

<p>
  Aparte de configurar el sistema y la sesión en español con las herramientas de GNOME y
  YaST, hace falta instalar por separado unos paquetes para que GNOME Shell y Firefox se
  vean totalmente en español, creo que debido a que están en plena migración de sistema
  o algo así.
</p>
<pre># zypper install bundle-lang-gnome-es MozillaFirefox-translations-common</pre>
