---
slug: por-que-tenia-un-ezcast-y-al-final-me-he-tenido-que-comprar-un-chromecast-y-como-hacerlo-funcionar-con-linux
categories:
  - Android
  - Audio
  - GNU/Linux
  - Imagen
  - iOS
  - Multimedia
  - Opinión
  - Redes
  - Tutoriales
  - Vídeo
date: "2016-05-24T18:02:38Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "23137358875"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - AirPlay
  - AllConnect
  - Chromecast
  - Chromium
  - DLNA
  - EZCast
  - Firefox
  - Firewalld
  - Gnome
  - Google Cast
  - Miracast
  - Netflix
  - YouTube
title:
  Por qué tenía un EZCast y al final me he tenido que comprar un Chromecast, y cómo
  hacerlo funcionar con Linux
type: post
---

<p>
  Como recordaréis, hace un tiempo
  <a
    href="https://recallstack.wordpress.com/2015/10/26/pantalla-inalambrica-e-impresiones-sobre-ezcast/"
    >estuve alabando las ventajas de EZCast sobre otras alternativas de la
    competencia</a
  >.
</p>
<p>
  Pues bien, ni un año después he tenido que acabar comprándome un Chromecast.
</p>
<h1>
  ¿Qué tiene
  <a href="https://www.google.com/intl/es_es/chromecast/">Chromecast</a> que no tenga
  <a href="http://www.iezvu.com/">EZCast</a>?
</h1>
<p><!--more--></p>
<p>Básicamente:</p>
<ol>
  <li><strong>Funciona</strong>.</li>
  <li>
    <a
      href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=221&amp;p=893&amp;hilit=drm#p893"
      >DRM de Google (YouTube, Play Movies) y Netflix</a
    >.
  </li>
  <li>Mandas contenidos con 2 clicks.</li>
  <li>
    <a
      href="https://forum.iezvu.com/phpBB3/viewtopic.php?f=2&amp;t=562&amp;sid=35c7a3da8d1176e0cc0b568de82ecc88"
      >No te quieres suicidar cada vez que abres la aplicación</a
    >.
  </li>
</ol>
<p>
  O sea que, aunque sobre el papel EZCast es mucho mejor, a la hora de la verdad la
  aplicación es tan horrible, la configuración tan difícil, el funcionamiento tan
  inestable y la compatibilidad tan escasa, que sencillamente
  <strong>es desesperante</strong>.
</p>
<p>
  Al final, a lo que he tenido que renunciar realmente es a AirPlay (sí, hay
  iCacharrines por casa), aunque al final
  <strong>lo del espejo de pantalla es lo que menos se gasta</strong>. En Android sí se
  puede hacer, pero a través de
  <a
    href="https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app"
    >la aplicación Google Cast</a
  >.
</p>
<p>
  Me gustaba mucho <em>la idea</em> que EZCast usara protocolos abiertos como DLNA o
  Miracast, y el AirPlay nativo para iOS pero <em>la implementación</em> de todos es tan
  horriblemente deleznable que sencillamente hay que rendirse a la evidencia:
  <strong>EZCast es una basura</strong>.
</p>
<h1>Cómo hacer funcionar Linux con Chromecast</h1>
<p>
  Sobra decir que para cualquiera de estos métodos, debes asegurarte de
  <strong>que todos los dispositivos implicados estén en la misma red</strong>
  WiFi.
</p>
<p>
  La primera manera es instalando
  <a href="https://www.chromium.org/Home">Chromium</a> y añadiéndole la
  <a
    href="https://chrome.google.com/webstore/detail/google-cast/boadgeojelhgndaghljhdicfkmllpafd?hl=es"
    >extensión Google Cast</a
  >. Lamentablemente no hay nada disponible para
  <a href="http://firefox.com/">Firefox</a> de escritorio ahora mismo (aunque
  <a
    href="https://support.mozilla.org/es/kb/usar-firefox-android-enviar-videos-chromecast"
    >Firefox de Android tiene esta funcionalidad integrada</a
  >).
</p>
<p>
  Esto, sin embargo, es un poco molesto, porque si el ordenador está en otra habitación,
  te toca levantarte del sofá para poner el vídeo, así que otra forma mejor es montando
  un servidor DLNA en Linux y mandando los contenidos desde el móvil o tableta.
</p>
<p>Para ello, si usas GNOME:</p>
<ol>
  <li>En el ordenador, ve a <em>Configuración &gt; Compartir</em>.</li>
  <li>Activa la <em>compartición multimedia</em> en la red WiFi actual.</li>
  <li>
    Asegúrate de tener los puertos TCP/UDP 1025-65535 abiertos en esa red.
  </li>
</ol>
<p>
  Ahora instálate la aplicación
  <a href="http://allconnectapp.com/">AllConnect</a> en el móvil o tableta, y ábrela.
</p>
<ol>
  <li>Selecciona <em>dónde quieres reproducir</em> el contenido (el Chromecast).</li>
  <li>Selecciona <em>sources</em>.</li>
  <li>Selecciona el servidor DLNA de tu ordenador.</li>
  <li>
    Navega hasta encontrar el archivo que quieres reproducir y selecciónalo.
  </li>
  <li>Puedes controlar la reproducción directamente desde ahí.</li>
</ol>
<p>
  Hay más aplicaciones que te permiten hacer lo mismo, aunque esta me da la impresión de
  ser la más completa y sencilla por el momento.
</p>
