---
slug: por-que-usaba-atom-y-me-he-cambiado-a-visual-studio-code
categories:
  - Opinión
  - Programación
date: "2017-06-13T22:06:34Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/875234303705219073";}}
  _publicize_job_id: "6132063739"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/h7R5KaUjTnz
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Atom
  - editor
  - Enki
  - Microsoft
  - VSCode
title: Por qué usaba Atom y me he cambiado a Visual Studio Code
type: post
---

<p>
  Llevo menos de 1 semana trabajando con
  <a href="https://code.visualstudio.com/">VSCode</a> y... ¡por fin he encontrado mi
  editor definitivo!
</p>
<p><!--more--></p>
<h2>Un poco de historia...</h2>
<p>
  Hmm... haciendo memoria, veo que
  <a
    href="https://recallstack.wordpress.com/2013/11/14/enki-el-editor-de-texto-definitivo/"
    >ya encontré el editor de texto definitivo hace unos cuantos años: Enki</a
  >. Pero <strong>definitivamente no era el definitivo</strong>.
</p>
<p>
  Hace menos años empecé con <a href="https://atom.io/">Atom</a>. Para mí fue
  <strong>amor a primera vista</strong>: unas tecnologías atractivas (<a
    href="https://electron.atom.io/"
    >Electron</a
  >, <a href="http://coffeescript.org/">CoffeeScript</a>/<a
    href="https://es.wikipedia.org/wiki/ECMAScript"
    >ECMAScript</a
  >, <a href="https://github.com/bevry/cson">CSON</a>...), completamente hackeable, una
  comunidad grande y activa, pensado para trabajar principalmente con el teclado, con
  una gran empresa detrás (<a href="https://github.com">GitHub</a>) que garantiza su
  mantenibilidad a largo plazo...
</p>
<p>
  Pero, a pesar de los avances que cada vez iban a mejor con el asunto del rendimiento,
  lo cierto es que
  <strong>a día de hoy sigue teniendo un rendimiento nefasto</strong> en muchísimas de
  sus áreas.
</p>
<p>
  Con el trabajo que estaba haciendo recientemente, empezaba a notar demasiado que su
  bajo rendimiento me afectaba a la hora de trabajar, así que decidí probar aquello que
  muchos recomendaban: Visual Studio Code.
</p>
<h2>La toma de contacto</h2>
<p>
  Mi primera toma de contacto con Code ha sido muy buena. Realmente, diría que
  <strong>la mejor de entre todos</strong> los editores/IDE que he probado
  <strong>en mi vida</strong>.
</p>
<p>
  La UI que se presenta a primera vista es sumamente limpia y bien organizada.
</p>
<p>
  [caption id="attachment_2004" align="alignnone" width="1366"]<img
    class="alignnone size-full wp-image-2004"
    src="/assets/captura-de-pantalla-de-2017-06-13-22-00-58.png"
    alt="Visual Studio Code"
    width="1366"
    height="741"
  />
  Aspecto general[/caption]
</p>
<ul>
  <li>
    A la izquerda tenemos una barra vertical de iconos con las secciones principales:
    <ul>
      <li>
        Explorador. Donde pasamos la mayor parte del tiempo. Contiene el listado de
        editores abiertos y el árbol de directorios del proyecto actual, si lo hay.
      </li>
      <li>Búsqueda.</li>
      <li>
        Control de versiones, que por defecto viene con soporte para Git. Permite
        realizar de manera bastante cómoda la mayoría de operaciones comunes.
      </li>
      <li>Depurador.</li>
      <li>Gestor de paquetes.</li>
    </ul>
  </li>
  <li>
    Según la sección en la que estemos, la siguiente barra vertical cambiará. En la foto
    aparece la del explorador.
  </li>
  <li>
    La ventana principal del editor, con sus pestañas en la barra superior.
  </li>
  <li>
    La barra inferior muestra algo de información interesante como:
    <ul>
      <li>Errores de linters.</li>
      <li>Estado del VCS.</li>
      <li>Configuración del editor actual.</li>
      <li>Lenguaje.</li>
    </ul>
  </li>
</ul>
<p>
  Me estoy dejando algunas cosas porque no quiero hacer de esto un repaso intensivo de
  la UI de Code; tan solo destacar que es una UI muy amigable, que se siente ligera como
  un editor de texto, pero potente como un IDE.
</p>
<h2>Diferencias con Atom</h2>
<p>
  Primero, la que considero que es una buena característica en la que Atom gana: puedes
  tener más de una carpeta en un <em>proyecto</em>.
  <strong>En Code, un proyecto = una carpeta</strong> (<a
    href="https://github.com/Microsoft/vscode/issues/396#issuecomment-301842430"
    >de momento</a
  >), así que si quieres irte a otro tienes que abrir otra ventana o cambiar de
  proyecto.
</p>
<p>Pero diría francamente que las ventajas de Atom terminan ahí...</p>
<p>
  En cuanto a Code, es muy notable que tiene un<strong> rendimiento muy superior</strong
  >. Hagas lo que hagas, Code va ligero. Cosas como cambiar de proyecto o usar edición
  múltiple en cientos de sitios del mismo fichero, que en Atom son auténticos cuellos de
  botella, Code las solventa sin despeinarse.
</p>
<p>
  Code además incluye de fábrica muchísimas cosas que en Atom necesitarías un paquete (o
  decenas de ellos) para hacer. Por ejemplo:
</p>
<ul>
  <li>Depurador.</li>
  <li>
    Visor de estado del
    <a href="https://es.wikipedia.org/wiki/Control_de_versiones">VCS</a>, con
    herramientas para las operaciones básicas.
  </li>
  <li>Gestor de tareas.</li>
  <li>Terminal integrada.</li>
  <li>Minimapa.</li>
  <li>Iconos diferentes por tipo de archivo.</li>
  <li>Listado de editores abiertos.</li>
  <li>Gestor de proyectos.</li>
</ul>
<p>
  Para algunas de estas cosas (y muchas otras), tienes que entrar en la configuración,
  pero nuevamente tiene un gestor de configuración (que se guarda toda en JSON bajo
  <a href="https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html"
    >$XDG_CONFIG_HOME</a
  >, <a href="https://github.com/atom/atom/issues/8281">no como Atom</a>) muy
  interesante y amigable.
</p>
<p>
  Todo esto hace que prácticamente estemos hablando de un mero editor de texto contra un
  completo IDE. Normalmente siempre he tirado más hacia los editores de texto, pero lo
  cierto es que
  <strong
    >cuando tienes un IDE que funciona más rápido y es más fácil de usar que un editor,
    ¿qué ventajas le quedan al editor?</strong
  >
</p>
<p>
  Ah y no me quiero olvidar de que con Code tienes repositorio para apt y yum/dnf para
  que puedas recibir las actualizaciones automáticamente en Linux, cosa que
  <a href="https://github.com/DonJayamanne/pythonVSCode"
    >en Atom llevamos reclamando 3 años ya</a
  >...
</p>
<h2>Las extensiones</h2>
<p>
  Esto no lo catalogaré como <em>diferencias</em> a nivel técnico, ya que ambos tienen
  un buen gestor de extensiones que es muy flexible y tienen gran cantidad de ellas
  disponibles gratuitamente.
</p>
<p>
  Donde sí se nota una gran diferencia es en
  <strong
    >la <em>filosofía</em> que se percibe detrás del ecosistema de extensiones</strong
  >
  de cada editor.
</p>
<p>
  Cuando uno llega a Atom, prácticamente no le queda más remedio que ponerse a buscar e
  instalar como mínimo una decena de complementos comunitarios para empezar a trabajar.
  Los complementos en Atom tienden a ser la mínima expresión que cumple una determinada
  tarea. De hecho, Atom es en sí mismo una gran colección de complementos.
</p>
<p>
  Sin embargo, al llegar a Code, no tienes un listado de complementos
  <em>instalados de fábrica</em>. Code es todo ello una sola pieza. Y por ejemplo,
  cuando te instalas
  <a href="https://github.com/DonJayamanne/pythonVSCode">la extensión para Python</a>,
  tienes con todo lo que necesitas para desarrollar en el mismo paquete:
</p>
<ul>
  <li>Soporte para virtualenvs.</li>
  <li>6 linters diferentes.</li>
  <li>Autocompletado inteligente con ayuda.</li>
  <li>Formateadores de código automáticos.</li>
  <li>Refactorización.</li>
  <li>Navegación en el código.</li>
  <li>Depuración local y remota (ideal para Docker).</li>
  <li>Ejecución de tests.</li>
</ul>
<p>
  Y todo ello conectando Code con las herramientas que ya existen en el ecosistema
  Python y que hacen estas tareas (es decir, sin inventar demasiadas cosas).
</p>
<h2>Conclusión</h2>
<p>
  Era reticente a usar Code, supongo que quizás por el concepto que tenía en la cabeza
  de Microsoft, y la mala experiencia que he tenido durante mucho tiempo con sus
  productos. Pero está claro que están cambiando de mentalidad (recordemos que
  <a href="https://github.com/Microsoft/vscode/blob/master/LICENSE.txt"
    >Code tiene licencia MIT</a
  >) y la cosa está funcionando bien.
</p>
<p>
  La experiencia ha sido <em>tan</em> positiva, que me quedo con Code, sin ninguna duda.
  ¿Y tú? ¿Te animas a probarlo? 😊
</p>
