---
slug: por-fin-privacidad-y-seguridad-en-internet-cloudfleet
categories:
  - Noticias
  - Opinión
  - Privacidad
date: "2016-01-27T14:14:50Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "19176922538"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - arkOS
  - CloudFleet
  - Cozy
  - Crowdfounding
  - docker
  - Facebook
  - Google
  - GPG
  - Indiegogo
  - Microsoft
  - Pagekite
  - Raspberry Pi
  - Sandstorm
  - Yahoo
  - YunoHost
title: "Por fin privacidad y seguridad en Internet: CloudFleet"
type: post
---

<p>
  Muchos intentos se han hecho para proporcionar una alternativa sencilla y segura a los
  servicios de nube ávidos de datos, como Google, Microsoft, Facebook, Yahoo, etc.
</p>
<p>
  Por mencionar algunos muy interesantes, están
  <a href="https://yunohost.org/">Yunohost</a>, <a href="https://arkos.io/">ArkOS</a>,
  <a href="https://cozy.io/">Cozy</a> y <a href="https://sandstorm.io/">Sandstorm</a>.
</p>
<p>
  Ayer descubrí uno que me sorprendió porque
  <strong>realmente está muy bien construido</strong>:
  <a href="https://cloudfleet.io/">CloudFleet</a>.
</p>
<p>
  Consta de un sistema base que administra contenedores
  <a href="https://www.docker.com/">Docker</a> en los que se encuentran las aplicaciones
  de servidor.<!--more-->
</p>
<p>
  El sistema base viene con una llave USB que genera una clave privada PGP en su primer
  arranque, con la cual encripta todos los datos del sistema. La idea es que, una vez
  terminado ese proceso, extraigas ese USB y lo guardes en un lugar seguro. Sólo te hará
  falta para los sucesivos reinicios del sistema.
</p>
<p>
  Aunque todo está liberado bajo GPLv3, ofrecen un hardware al que llaman el Blimp, que
  básicamente es una
  <a href="https://www.raspberrypi.org/">Raspberry Pi</a> con todo preinstalado y
  preparado para enchufar y funcionar, junto con una suscripción a
  <a
    href="http://cloudfleet.readthedocs.org/en/latest/doc/technology/technology.html#cloudfleet-services"
    >sus servicios de nube</a
  >, que incluyen entre otras cosas:
</p>
<ul>
  <li>Tu propio dominio.</li>
  <li>
    Almacenamiento remoto y automático de copias de seguridad preencriptadas.
    <strong>Nadie puede ver el contenido sin tu llave USB, ni siquiera ellos</strong>.
  </li>
  <li>
    Servicio <a href="http://pagekite.net/">Pagekite</a> para no tener ni que abrir los
    puertos de tu router.
  </li>
  <li>
    Proxy de correo para que no te bloqueen como SPAM por tener una IP dinámica.
  </li>
</ul>
<p>En pocas palabras: <strong>pagar, enchufar y listo</strong>.</p>
<p>
  De todas las alternativas que he mencionado antes, es la más reciente y la que más
  verde está. <strong>Aún faltan muchas funcionalidades</strong>, pero su arquitectura y
  financiación es genial.
</p>
<p>
  El precio del Blimp serán 200€ y el de las mensualidades 8€. Francamente, para lo bien
  hecho que está y lo que ofrece, me parece justo.
</p>
<p>
  Si quieres colaborar en su financiación,
  <a
    href="https://www.indiegogo.com/projects/cloudfleet-your-private-encrypted-cloud-at-home"
    >tienen abierta una campaña de Indiegogo</a
  >
  a la que aún <strong>le falta bastante dinero y poco tiempo</strong>, y en la que
  explican todo esto mejor que yo.
</p>
