---
slug: pregunta-abierta-hay-alguien-ahi-fuera
categories:
  - Opinión
date: "2016-04-17T21:39:33Z"
meta:
  _publicize_job_id: "21884234734"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Encuestas
title: "Pregunta abierta: ¿hay alguien ahí fuera?"
type: post
---

<p>
  Pues el caso es que me gusta escribir por puro gusto y no obsesionarme con las visitas
  y estadísticas, pero ya que he visto que hay gente que lee mi blog, me apetece
  preguntar a los lectores:<!--more-->
</p>
<ol>
  <li>¿Qué te gusta de mi blog?</li>
  <li>¿Qué no te gusta?</li>
  <li>¿Hay algo que sencillamente te apetezca decirme? ("Hola" me vale :) )</li>
</ol>
