---
slug: problemas-de-sonido-en-debian
categories:
  - Audio
  - GNU/Linux
date: "2011-02-01T21:53:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "8060442290733048345"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
title: Problemas de sonido en Debian
type: post
---

<p>
  Con mi iniciación en Debian, me he topado con un problema bastante fastidioso: no
  conseguía grabar sonido.<br />Investigando descubrí otros 2 problemas relacionados con
  el sonido: que al grabar con la webcam usando
  <a href="http://www.gnome.org/projects/cheese">Cheese</a> grababa como a 2 FPS, y que
  no podía tener varias aplicaciones usando sonido simultáneamente.<br />Bueno, tras
  mucho googlear y pelear con el ordenador, he encontrado la solución. Parece ser que es
  un problema con <a href="http://www.alsa-project.org/">ALSA</a>, el sistema de sonido
  que suele usar Linux (algo más nuevo que el antiguo
  <a href="http://es.wikipedia.org/wiki/Open_Sound_System">OSS</a>, aunque éste aún está
  en uso).<br />La solución es usar el servidor de sonido
  <a href="http://www.pulseaudio.org/">PulseAudio</a>, que si no me equivoco, se encarga
  de gestionar las conexiones con ALSA. No sé si esto es cierto al 100%, pero desde
  luego ahora funciona.<br />Para instalarlo:
</p>
<pre># aptitude install pulseaudio paprefs</pre>
<p>
  Pulseaudio es el metapaquete,
  <a href="http://packages.debian.org/search?keywords=paprefs">paprefs</a> es la
  interfaz en GTK. Ahora os explicaré cómo configurarlo en Gnome.<br />Una vez
  instalados los paquetes, iremos a configurar los dispositivos de entrada en
  <i>Sistema &gt; Preferencias &gt; Selector de sistemas multimedia</i>, o por consola:
</p>
<pre>gstreamer-properties</pre>
<p>
  Aquí elegiremos como complementos de salida y entrada de audio
  <i>PulseAudio Sound Server</i>.<br />Cerremos todas las aplicaciones que estén usando
  audio, y las abrimos de nuevo. Bueno, no sé si esto es estrictamente necesario, pero
  bueno. Por si acaso, si lo prefieres, cierra la sesión y ábrela de nuevo. Todos los
  problemas anteriormente mencionados se arreglarán.<br />Queda la salvedad de Cheese,
  que probablemente siga grabándote lento. Ya explicaré esto otro día.<br /><b>Edito:</b
  >&nbsp;Aquí va
  <a
    href="http://putodeb.com/index.php?option=com_content&amp;view=article&amp;id=225:instalar-y-predeterminar-pulseaudio-en-debian-squezze-y-capturar-audio-con-audacity&amp;catid=48:aplicaciones&amp;Itemid=186"
    >un artículo muy interesante hablando sobre la instalación de PulseAudio</a
  >.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-8060442290733048345?l=recallstack.blogspot.com"
    alt=""
  />
</div>
