---
slug: probando-fedora
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2011-07-03T10:27:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "2394926745675290053"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Gnome
  - RPM
  - yum
title: Probando Fedora
type: post
---

<p>
  Esta semana he estado probando
  <a href="http://fedoraproject.org/">Fedora</a> (versión 15 actualmente), debido a lo
  que leí acerca de ella en la
  <a
    href="http://www.jorgeisaac.com/2011/06/18/las-10-mejores-distros-del-2011-segun-techradar/"
    >clasificación de mejores distros de 2011</a
  >. No es que me considere un experto, ni mucho menos, pero tenía curiosidad.
</p>
<p>
  Después de haber probado varias, me he dado cuenta de que prácticamente te puedes
  montar el mismo sistema con cualquier distro, pero dependiendo de tu objetivo, hay
  unas que te lo pondrán más fácil que otras. Esto y la filosofía que lleva cada una por
  detrás son sus principales diferencias, al fin y al cabo.
</p>
<h2>Instalación.</h2>
<p>
  El instalador es <i>muy sencillo</i>. No tanto como el de Ubuntu, pero en dos patadas
  lo tienes instalado. Además, puedes probarlo por un LiveCD o LiveUSB.
</p>
<h2>Escritorio.</h2>
<p>
  Lo primero que salta a la vista, y una de las principales razones por las que me he
  decidido a probarla, es el nuevo escritorio <i>Gnome 3</i>. Han pegado un cambiazo
  bestial, me gusta bastante, aunque he de reconocer que aún les faltan algunas cosas
  por pulir, sobre todo en cuanto al <i>excesivo uso del ratón</i> se refiere.
</p>
<h2>Aceleración 3D libre.</h2>
<p>
  Por primera vez tras instalar un sistema Linux en mi ordenador con tarjeta nVidia
  tengo aceleración 3D sin necesidad de instalar los drivers privativos, todo gracias a
  Gallium, una tecnología <i>muy</i> interesante e innovadora, que incluso introduce
  soporte nativo para Direct3D 11. Punto extra para Fedora.<b> </b>
</p>
<h2>Sin Chromium.</h2>
<p>
  <a href="http://fedoraproject.org/wiki/Chromium">Fedora no dispone de Chromium</a
  ><b> </b>en sus repositorios oficiales,<b> </b>debido a los motivos que se indican en
  el link, aunque están trabajando en colaboración con Google para remediar esto, y en
  el mismo link te explica cómo instalarlo desde otro repositorio sin demasiadas
  complicaciones.
</p>
<p>
  Es una pena, ya que es mi navegador favorito. Aunque ya me acostumbré a no tener
  Firefox, sino Iceweasel, en Debian, y son cosas que no afectan excesivamente.
</p>
<h2>Software actualizado.</h2>
<p>
  Sinceramente, es una de las razones por las que me he cansado de Debian: que los
  paquetes tardaban muchísimo en actualizarse. Sin ir mas lejos, a día de hoy Iceweasel
  está aún en la versión 3.5 en Debian Testing, mientras que ya está disponible el 5, y
  no hablemos del retraso de <i>años</i> que lleva Wine...<br />
  <b> </b><br />
  Fedora, en cambio, tiene todos los paquetes que he visto en su versión más reciente, y
  con muy pocas modificaciones. Recordemos que Ubuntu también tiene versiones recientes,
  pero casi todos los adaptan a su manera de ver las cosas.
</p>
<h2>Software libre.</h2>
<p>
  Fedora es otra de esas distribuciones bastante concienciadas con el software libre.<br />
  <b> </b><br />
  Esto tiene sus ventajas e inconvenientes: si
  <a href="http://fedoraproject.org/wiki/FreeSoftwareAnalysis"
    >todo el software proporcionado es libre</a
  >, tu ordenador lo es también, sin embargo careces de cosas como reproducción de MP3 o
  Flash.
</p>
<p>
  Siempre puedes instalar estas cosas a través de los repositorios correspondientes,
  bien de <a href="http://rpmfusion.org/">rpmfusion</a> o de Adobe, respectivamente,
  pero requiere un poquito más de configuración por tu parte.
</p>
<h2>Paquetes RPM.</h2>
<p>
  Cuando pasas a usar el sistema de instalación y desinstalación de paquetes, hay otro
  cambio sustancial: Fedora utiliza
  <a href="http://yum.baseurl.org/">yum</a> con
  <a href="http://www.rpm.org/">empaquetado *.rpm</a> en lugar de
  <a href="http://es.wikipedia.org/wiki/Advanced_Packaging_Tool">APT</a> con
  <a href="http://es.wikipedia.org/wiki/Deb">empaquetado *.deb</a> (como es el caso de
  <a href="http://ubuntu.com/">Ubuntu</a>, <a href="http://debian.org/">Debian</a> y
  derivados).
</p>
<p>
  De cara al usuario, las herramientas APT son mejores, ya que tienes el
  <a href="http://es.wikipedia.org/wiki/Centro_de_software_de_Ubuntu"
    >Ubuntu Software Center</a
  >, invencible en cuanto a sencillez y comodidad, o
  <a href="http://www.esdebian.org/wiki/tutorial-aptitude">Aptitude</a>, con una
  interfaz por consola que te ofrece el control más absoluto. Además, al menos según mi
  impresión, las dependencias se calculan <i>mucho</i> más rápido.<br />
  Sin embargo, yum me parece que es un sistema
  <i>mucho más avanzado tecnológicamente</i> por dos motivos: el uso de
  <i>PackageKit</i> y de <i>deltas</i>. Me explico.
</p>
<p>
  <a href="http://www.packagekit.org/">PackageKit</a> es una librería diseñada para
  estandarizar el manejo de paquetes, independientemente de la tecnología subyacente, de
  modo que las aplicaciones de instalación y desinstalación funcionen igual
  independientemente del sistema de empaquetado.
</p>
<p>
  Por ejemplo, Fedora usa como interfaz gráfica el
  <a
    href="http://docs.fedoraproject.org/es-ES/Fedora/14/html/Software_Management_Guide/Las_interfases_GUI_de_gnome-packagekit.html"
    >gnome-packagekit</a
  >, que puede instalarse en cualquier distro que use Gnome y PackageKit. Como digo,
  esta interfaz deja mucho que desear respecto a las disponibles con APT, pero al menos
  el enfoque es el correcto.
</p>
<p>
  Además, Fedora usa los
  <a href="http://fedoraproject.org/wiki/Features/Presto"><i>Delta RPMs (Presto)</i></a
  >, una de las cosas que más me han sorprendido y gustado en comparación con APT. Lo
  explico:
</p>
<p>
  Normalmente, en Debian y derivados, para actualizar un paquete, APT se encarga de
  descargar la nueva versión completa e instalarla. Usando los <i>deltas</i>, Fedora
  compara la versión local que tienes instalada con la que vas a descargar, y únicamente
  descarga las diferencias, las cuales combina con el paquete disponible localmente para
  fabricar el nuevo paquete y entonces instalarlo. Como consecuencia,
  <i>se reduce el tamaño de la descarga entre un 60 y un 80%</i>, que se dice pronto.
</p>
<p>
  Debian también está trabajando en
  <a href="http://debdelta.debian.net/">debdelta</a>, un sistema parecido para APT, pero
  ya sabemos que en Debian las cosas se las toman con calma...
</p>
<p>
  Nota importante: yum no desinstala las dependencias innecesarias al quitar un paquete
  automáticamente, salvo que así lo indiques añadiendo la siguiente línea a la sección
  <i>[main]</i> de <i>/etc/yum.conf</i>:
</p>
<pre>clean_requirements_on_remove=1</pre>
<h2>Conclusiones.</h2>
<p>
  Después de probar Debian, Arch y Fedora, sigo con la opinión de que si eres novato,
  debes ir a por Ubuntu, al menos hasta que te familiarices más con todo este
  mundillo.<b><br /> </b><br />
  <b> </b><br />
  En cuanto a distros de escritorio para usuarios con algo de experiencia, escoge la que
  mas se adapte a tu filosofía:
</p>
<p>
  La filosofía de Ubuntu es adaptar todo el software para que todo se adecue a su visión
  de cómo debería ser, hacerlo más fácil para el usuario final, sin  preocuparse
  demasiado de si el software es libre o no.
</p>
<p>
  La de Fedora es usar sólo software libre, y tratar de no modificar el programa
  original salvo en lo estrictamente necesario.
</p>
<p>
  En cuanto a Debian, tiene la filosofía que más me gusta de todas, pero implica tener
  paquetes muy desactualizados. Para servidores esto no importa demasiado, pero para una
  máquina de escritorio es algo decepcionante.
</p>
<div class="blogger-post-footer">
  <img
    alt=""
    src="/assets/582b4-5801165928817664556-2394926745675290053.gif"
    width="1"
    height="1"
  />
</div>
