---
slug: proceso-system-consumiendo-mucha-cpu-en-un-windows-virtualizado-con-vmware
categories:
  - Administración de sistemas
  - Virtualización
  - Windows
date: "2014-10-17T15:57:00Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179412688"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - intelppm
  - swap
title: Proceso System consumiendo mucha CPU en un Windows virtualizado con VMWare
type: post
---

<p>
  Me he tirado muchísimo tiempo tratando de identificar la fuente de un error que tenía
  en una máquina que trabaja con Windows 2008 Server R2 virtualizada en un VMWare ESXi.
</p>
<h2>Problema</h2>
<p>
  El proceso <em>System</em> (el núcleo del sistema) estaba consumiendo tanta CPU que no
  dejaba prácticamente nada para los usuarios, y estos experimentaban interminables
  ralentizaciones.<!--more-->
</p>
<h2>Causa</h2>
<p>
  Me mareó mucho la información sobre
  <a
    href="http://dandar3.blogspot.com.es/2012/02/kernrate-viewer-vmware-player-intelppm.html"
    >desactivar el módulo intelppm</a
  >
  (los controladores de la CPU) que encontré en muchos sitios de Internet, pero todo eso
  no sirvió para nada más que para perder el tiempo.
</p>
<p>
  Finalmente, la causa (al menos en mi caso) era que el
  <em>archivo de paginación</em> (el equivalente en Windows a las particiones
  <em>swap</em>) iba demasiado ahogado.
</p>
<h2>Solución</h2>
<p>
  Ampliar el tamaño del disco duro desde VMWare (tuve que eliminar todas las
  <em>snapshots</em> para que me dejase), y después ampliar la partición desde Windows.
</p>
