---
slug: que-significa-t-ignoretrue-en-qweb-odoo
categories:
  - Diseño
  - Programación
date: "2015-07-21T13:04:04Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "12936456044"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Odoo
  - Python
  - Qweb
  - XML
title: ¿Qué significa t-ignore="True" en Qweb (Odoo)?
type: post
---

<p>
  La
  <a
    href="https://github.com/odoo/odoo/blob/8.0/addons/website/views/website_templates.xml#L10"
    >etiqueta <code>t-ignore</code></a
  >
  en una definición de una vista
  <a href="https://www.odoo.com/documentation/8.0/reference/qweb.html">Qweb</a>
  en <a href="http://odoo.com/">Odoo</a>
  <a
    href="https://github.com/odoo/odoo/blob/8.0/openerp/addons/base/ir/ir_ui_view.py#L886"
    >sirve para indicar que los cambios que efectúe el usuario en dicho nodo deben
    ignorarse</a
  >. ¿Dónde debe usarse?<!--more--><a
    href="https://github.com/odoo/odoo/blob/a9e3d74713b6882c64617345696ad326d75a4745/addons/website/views/website_templates.xml#L296"
    >Suele aplicarse a los campos referentes a datos de la empresa principal</a
  >, ya que estos provienen de la base de datos y no deben guardarse literalmente como
  el XML de la vista.
</p>
