---
slug: que-entorno-de-escritorio-escojo-para-gnulinux
categories:
  - GNU/Linux
  - Interfaz de usuario
  - Opinión
date: "2014-06-02T17:17:03Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179484151"
  _wpcom_is_markdown: "1"
  geo_accuracy: "0"
  geo_address: "0"
  geo_latitude: "0.000000"
  geo_longitude: "0.000000"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - ElementaryOS
  - entorno de escritorio
  - Fedora
  - Gnome
  - KDE
  - Linux Mint
  - Ubuntu
  - Unity
  - XFCE
title: ¿Qué entorno de escritorio escojo para GNU/Linux?
type: post
---

<p>
  Al entrar en GNU/Linux, es una de las grandes dudas que todos nos planteamos. Lo haré
  en forma de preguntas y respuestas.<!--more-->
</p>
<h2>¿De dónde provienes?</h2>
<p>Un criterio sería buscar algo parecido a lo que ya estás acostumbrado.</p>
<h3>De Windows</h3>
<ol>
  <li>
    <a href="http://cinnamon.linuxmint.com/">Cinnamon</a>.
    <a href="https://es.wikipedia.org/wiki/Distribuci%C3%B3n_Linux">Distro</a>
    recomendada: <a href="http://linuxmint.com/">Linux Mint</a>.
  </li>
  <li>
    <a href="http://kde.org/">KDE</a>. Distro recomendada:
    <a href="http://www.opensuse.org/es/">OpenSUSE</a>.
  </li>
</ol>
<h3>De Mac OS X</h3>
<ol>
  <li><a href="http://elementaryos.org/">ElementaryOS</a>.</li>
  <li>
    <a href="http://unity.ubuntu.com/">Unity</a>. Distro recomendada:
    <a href="http://www.ubuntu.com/">Ubuntu</a>.
  </li>
</ol>
<h3>De Android o iOS</h3>
<ol>
  <li>
    <a href="http://www.gnome.org/">GNOME 3</a>. Distro recomendada:
    <a
      title="Escogiendo control de versiones (bzr, git, hg)"
      href="http://fedoraproject.org"
      >Fedora</a
    >.
  </li>
  <li>
    <a href="http://www.android-x86.org/">Android-X86</a> (no es algo muy "para
    novatos", y no la he probado).
  </li>
</ol>
<h3>De un antiguo Linux con GNOME 2</h3>
<ol>
  <li>
    <a href="http://www.gnome.org/">GNOME 3 Classic Mode</a> (busca por "Classic" en
    extensions.gnome.org). Distro recomendada:
    <a
      title="Escogiendo control de versiones (bzr, git, hg)"
      href="http://fedoraproject.org"
      >Fedora</a
    >.
  </li>
  <li>
    <a href="http://xfce.org/">XFCE</a>. Distro recomendada:
    <a
      title="Escogiendo control de versiones (bzr, git, hg)"
      href="http://fedoraproject.org"
      >Fedora</a
    >.
  </li>
  <li>
    <a href="http://cinnamon.linuxmint.com/">Cinnamon</a>.
    <a href="https://es.wikipedia.org/wiki/Distribuci%C3%B3n_Linux">Distro</a>
    recomendada: <a href="http://linuxmint.com/">Linux Mint</a>.
  </li>
</ol>
<h2>¿Cómo te gusta trabajar?</h2>
<p>
  Puede que no te dé miedo lo nuevo, así que veamos qué gustos tienes a la hora de
  manejarte por el escritorio.
</p>
<h3>Me gusta tener controlado todo a simple vista</h3>
<p>
  ... es decir, tener la pantalla bien aprovechada con tanta información como se pueda,
  pero siempre de forma organizada.
</p>
<ol>
  <li>
    <a href="http://unity.ubuntu.com/">Unity</a>. Distro recomendada:
    <a href="http://www.ubuntu.com/">Ubuntu</a>.
  </li>
</ol>
<h3>Me gusta personalizar absolutamente todo en mi escritorio</h3>
<ol>
  <li>
    <a href="http://kde.org/">KDE</a>. Distro recomendada:
    <a href="http://www.opensuse.org/es/">OpenSUSE</a>.
  </li>
</ol>
<h3>
  Me gusta concentrarme en una sola tarea a la vez y tener las menos distracciones
  posibles
</h3>
<ol>
  <li>
    <a href="http://www.gnome.org/">GNOME 3</a>. Distro recomendada:
    <a
      title="Escogiendo control de versiones (bzr, git, hg)"
      href="http://fedoraproject.org"
      >Fedora</a
    >.
  </li>
</ol>
<h3>Me gusta que mi escritorio consuma lo mínimo imprescindible</h3>
<ol>
  <li>
    <a href="http://xfce.org/">XFCE</a>. Distro recomendada:
    <a href="http://debian.org/">Debian Testing</a>.
  </li>
</ol>
<h3>Me gusta que mi ordenador tenga una estabilidad a prueba de bombas</h3>
<ol>
  <li>
    <a href="http://xfce.org/">XFCE</a>. Distro recomendada:
    <a href="http://debian.org/">Debian Stable</a>.
  </li>
</ol>
<h2>Notas finales</h2>
<ol>
  <li>
    Hay unos cuantos escritorios y distros que no incluyo. Esto se debe a que esto está
    enfocado a <em>novatos</em>, y por eso no quiero marearles con demasiadas opciones.
  </li>
  <li>
    Da igual el entorno de escritorio que escojas, al final siempre puedes usar las
    aplicaciones que más te gusten de cada uno.
  </li>
  <li>
    Puedes tener varios entornos de escritorio instalados a la vez, e iniciar sesión en
    el que más te convenga para cada ocasión.
  </li>
  <li>
    Aunque veas diferencias entre las recomendaciones de Fedora, Debian y OpenSUSE, en
    general estas distros son muy recomendables para
    <strong>cualquier</strong> entorno de escritorio <em>estándar</em> que quieras usar.
    Al decir <em>estándar</em> me refiero a los que no están intrínsecamente ligados a
    una distro en concreto, como GNOME, KDE y XFCE.
  </li>
</ol>
