---
slug: quitar-tamano-a-particion-lvm-swap-y-darselo-a-la-particion-raiz
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2013-06-27T15:15:43Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Fedora
  - Logical Volume Manager (Linux)
  - LVM
  - Particiones
title: Quitar tamaño a partición LVM Swap y dárselo a la partición raíz
type: post
---

<p>Tengo una partición Swap en LVM de 6 GB que quiero cambiar a 2 GB.</p>
<pre>
# swapoff /dev/mapper/fedora-swap
# lvm lvresize --size 2G /dev/mapper/fedora-swap
# mkswap /dev/mapper/fedora-swap
# swapon /dev/mapper/fedora-swap</pre
>
<p>Ahora quiero asignar el espacio sobrante a la partición raíz.</p>
<pre># lvm lvresize --extents +100%FREE --resizefs /dev/mapper/fedora-root</pre>
