---
slug: quitar-interfaz-grafica-a-un-servidor-centos
categories:
  - Administración de sistemas
date: "2012-07-15T09:57:00Z"
meta:
  _edit_last: "5195209"
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "1764431251404471356"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - CentOS
  - Fedora
  - Gnome
  - RHEL
  - Runlevel
  - Terminal
  - X.org
title: Quitar interfaz gráfica a un servidor CentOS
type: post
---

<p>
  También debería servir para
  <a href="http://es.redhat.com/products/enterprise-linux/">RHEL</a>,
  <a href="http://www.fedoraproject.org/">Fedora</a> o derivados.
</p>
<p>
  Lo instalé con Gnome y ahora no lo necesito para nada, así que seguiremos
  <a href="http://sdkit.com/tutorial/how-to-remove-gui-gdm-gnome-x-window-from-centos/"
    >estas instrucciones</a
  >, las cuales paso a traducir a mi manera:
</p>
<h2>Arrancar por defecto en modo consola</h2>
<p>
  El modo consola es cuando arrancas Linux en
  <a
    href="https://es.wikipedia.org/wiki/Nivel_de_ejecuci%C3%B3n#Niveles_de_ejecuci.C3.B3n_t.C3.ADpicos_en_Linux"
    >runlevel</a
  >
  3. Lo haremos comportamiento por defecto reemplazando
  <code>id:<strong>5</strong>:initdefault:</code> por
  <code>id:<strong>3</strong>:initdefault:</code> en el fichero <em>/etc/inittab</em>.
</p>
<h2>Desactivar y reactivar la interfaz gráfica temporalmente</h2>
<p>
  Ejecutaremos <code>init 3</code> para desactivarla e <code>init 5</code> para
  reactivarla.
</p>
<h2>Eliminar la interfaz gráfica definitivamente</h2>
<p>
  Si no te basta con lo anterior y lo que quieres es eliminar por completo la interfaz
  gráfica de tu servidor, cosa muy razonable si no vas a usarla, ejecuta
  <code>yum groupremove "GNOME Desktop Environment" "X Window System</code>.
</p>
<div class="blogger-post-footer">
  <img class="igznrhwodudomwzhkqeu" src="/assets/" alt="" width="1" height="1" />
</div>
