---
slug: ralentizar-audio-en-linux
categories:
  - Audio
  - GNU/Linux
date: "2012-02-22T22:09:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "4019491304174499712"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Ralentizar audio en Linux
type: post
---

<p>
  Hoy me he encontrado con el problema de que necesitaba ralentizar un fichero de audio,
  y los únicos programas que me dejaban eran
  <a href="http://audacity.sourceforge.net/">Audacity</a> o
  <a href="http://ardour.org/">Ardour</a>, demasiado para lo que quería. Necesitaba algo
  sencillo, y no me apetecía instalar mucho.
</p>
<p>
  Encontré la solución en el programa
  <a href="http://www.mplayerhq.hu/">MPlayer</a>, que además ya venía preinstalado en mi
  Fedora. Sin interfaz, por pura consola. Más ligero imposible.
</p>
<p>¿Cómo hacerlo? Muy sencillo:</p>
<pre>$ mplayer -af scaletempo -speed 0.6 ruta/al/archivo.ogg</pre>
<p>
  La parte <code>-af scaletempo</code> sirve para que no se modifique el
  <i>pitch</i> del sonido al cambiar la velocidad, y lo de <code>-speed 0.6</code> es
  para que se reproduzca al 60% de su velocidad original.
</p>
<p>
  Además permite pausar, rebobinar, cambiar la velocidad, etc. mientras se reproduce.
  Para ver los controles del teclado (y demás opciones):
</p>
<pre>$ man mplayer</pre>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-4019491304174499712?l=recallstack.blogspot.com"
    alt=""
  />
</div>
