---
slug: realmente-hace-falta-la-cabecera-de-la-licencia-en-cada-fichero-de-codigo-fuente
categories:
  - Opinión
  - Programación
date: "2016-02-02T07:47:18Z"
meta:
  _edit_last: "5195209"
  _oembed_5a5854a52b072e6b667f2d4a65f2716c: "{{unknown}}"
  _oembed_41fdfffb4e35d2d1aa532ddeb97254a9: "{{unknown}}"
  _publicize_job_id: "19375413014"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - GPL
  - Licencias
title:
  ¿Realmente hace falta la cabecera de la licencia en cada fichero de código fuente?
type: post
---

<p>Antes que nada, IANAL. Prosigamos.</p>
<p>
  <a href="http://www.gnu.org/licenses/gpl-howto.html"
    >Las instrucciones para usar una licencia GPL te dicen que debes incluir un
    comentario gigante como cabecera de cada fichero de tu código fuente</a
  >, tal que así:
</p>
<blockquote>
  <p>This file is part of Foobar.</p>
  <p>
    &lt;one line to give the program's name and a brief idea of what it does.&gt;
  </p>
  <p>Copyright (C) &lt;year&gt; &lt;name of author&gt;</p>
  <p>
    Foobar is free software: you can redistribute it and/or modify it under the terms of
    the GNU General Public License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.
  </p>
  <p>
    Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU General Public License for more details.
  </p>
  <p>
    You should have received a copy of the GNU General Public License along with Foobar.
    If not, see &lt;http://www.gnu.org/licenses/&gt;.
  </p>
</blockquote>
<p>
  Lo cual es horrible, porque aparte de molestar un montón para leer un fichero (hay
  algunos cuyo código fuente es inferior a la propia cabecera), encima tienes que
  incluir el nombre del programa, con lo que si le cambias el nombre más adelante, o si
  cambias la licencia, tienes que hacer un trabajo de chinos para reemplazar todo.<!--more-->
</p>
<p>
  También, si intentas buscar una palabra en todo tu proyecto, y casualmente su nombre
  es una palabra de la licencia (<em>copy</em>, por ejemplo), te aparecerán
  coincidencias en cada uno de tus ficheros, y será difícil encontrarlo.
</p>
<p>
  Es la antítesis de los principios
  <a href="https://es.wikipedia.org/wiki/No_te_repitas">DRY</a> y
  <a href="https://es.wikipedia.org/wiki/Principio_KISS">KISS</a>.
</p>
<p>
  Como ejemplo, Odoo
  <a href="https://github.com/odoo/odoo/commit/0bd454534818941bc3216025ebe3dcac3d78c19d"
    >hace tiempo que unificó el copyright y la licencia en un solo fichero</a
  >
  (antes de decidir
  <a href="https://github.com/odoo/odoo/commit/a3732aef6efe9c106b2dfada39535dd0c664b631"
    >cambiar a la licencia LGPLv3</a
  >). El commit explica las bases legales para hacerlo, e imagino que deben tener buenos
  abogados; pero sigue quedando la posibilidad de que un fichero de tu código fuente sea
  leído desde fuera del árbol de código, con lo que el lector no pueda o quiera ver la
  licencia. ¿Qué cabecera podríamos colocar entonces?
</p>
<h1>Analicemos el texto de la licencia</h1>
<blockquote>
  <p>This file is part of Foobar.</p>
  <p>
    &lt;one line to give the program's name and a brief idea of what it does.&gt;
  </p>
</blockquote>
<p>
  ¿A quién le importa a qué programa pertenezca este fichero fuente? Al poner una
  cabecera a un fichero, estoy poniéndole la licencia a ese fichero, no al proyecto
  entero. Para eso ya están los ficheros README y LICENSE/COPYING.
</p>
<blockquote>
  <p>Copyright (C) &lt;year&gt; &lt;name of author&gt;</p>
</blockquote>
<p>
  OK, poner el copyright y el año es necesario. Pero si nuestro fichero está codificado
  en UTF-8, podemos abreviarlo con el caracter internacionalmente reconocido como
  copyright así: <em>© &lt;YEAR(S)&gt; &lt;AUTHOR(S)&gt;</em>
</p>
<blockquote>
  <p>
    Foobar is free software: you can redistribute it and/or modify it under the terms of
    the GNU General Public License as published by the Free Software Foundation, either
    version 3 of the License, or (at your option) any later version.
  </p>
</blockquote>
<p>O lo que es lo mismo: <em>License: GPL-3.0 or later.</em></p>
<blockquote>
  <p>
    Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU General Public License for more details.
  </p>
</blockquote>
<p>Si en la licencia da más detalles, ¿por qué tengo que incluirlos aquí?</p>
<blockquote>
  <p>
    You should have received a copy of the GNU General Public License along with Foobar.
    If not, see &lt;http://www.gnu.org/licenses/&gt;.
  </p>
</blockquote>
<p>
  O sea que aunque no hayas recibido una copia de la licencia, eso no le quita validez
  porque se puede consultar online. Entonces bastaría con poner un enlace a la licencia.
</p>
<h1>Reduciendo la cabecera</h1>
<p>
  Visto lo que hemos visto arriba, nuestra nueva cabecera podría quedar así, tal como
  <a href="https://github.com/OCA/maintainer-tools/pull/91"
    >hace tiempo se decidió hacer</a
  >
  en la <a href="https://odoo-community.org/">OCA</a>:
</p>
<blockquote>
  <p>
    © &lt;YEAR(S)&gt; &lt;AUTHOR(S)&gt;<br />
    License GPL-3.0 or later (http://www.gnu.org/licenses/gpl-3.0).
  </p>
</blockquote>
<p>Sigue siendo molesto, pero al menos ya no tanto...</p>
