---
slug: reinstalar-facilmente
categories:
  - Administración de sistemas
  - GNU/Linux
date: "2011-07-12T16:39:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "5365845004228049126"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Reinstalar facilmente
type: post
---

<p>
  Últimamente me he visto obligado a reinstalar varias veces varios sistemas operativos.
  Bueno quizá no tan obligado, ha sido por gusto mayormente...
</p>
<p>
  El caso es que cuando te encuentras en esta situación, volver a instalar todos los
  paquetes que usas en el día a día puede resultar engorroso, ya que a veces no los
  recuerdas todos, sobre todo si son paquetes del sistema que los instalas y te olvidas
  de ellos, como drivers o cosas así.
</p>
<p>
  Para ello, he ideado un sencillo método, que es poner los nombres de los paquetes en
  un fichero de texto, uno en cada línea. Por ejemplo, supongamos que guardo esto
  literalmente en el fichero
  <i>~/configuracion-linux/paquetes-iniciales.txt</i>:
</p>
<pre>nano<br />gedit<br />firefox<br />iceweasel<br />chromium-browser<br />kmod-nvidia<br />inkscape<br />gimp<br />libreoffice-writer</pre>
<p>
  Si me toca reinstalar el sistema, independientemente del método de empaquetado que use
  la distribución, puedo recuperar esta lista con este comando:
</p>
<pre>$ cat ~/configuracion-linux/paquetes-iniciales.txt | tr '\n' ' '</pre>
<p>
  Lo que hace es simplemente leer el fichero y sustituir la separación de filas por
  separación de espacios.
</p>
<p>
  Supongamos que el sistema que he reinstalado es Fedora y quiero recuperar todos los
  paquetes que eran importantes para mí de un plumazo, más aparte instalar un juego que
  he visto que me apetece jugar:
</p>
<pre>
# yum install $(cat ~/configuracion-linux/paquetes-iniciales.txt | tr '\n' ' ') beneath-a-steel-sky-cd</pre
>
<p>
  Al englobar el comando dentro del <i>$()</i> lo que hace es leer el STDOUT de dicho
  comando y transformarlo en texto que puedes usar dentro de otro. En pocas palabras,
  transformaría el comando de arriba en:
</p>
<pre>
# yum install nano gedit firefox iceweasel chromium-browser kmod-nvidia inkscape gimp libreoffice-writer beneath-a-steel-sky-cd </pre
>
<p>
  Como ves, he añadido al final el juego <i>beneath-a-steel-sky-cd</i>, simplemente a
  modo demostrativo de un caso en que quizá te interese instalar ese juego al instalar
  el nuevo sistema sin necesidad de añadirlo a tu fichero de paquetes que querrás
  instalar siempre, porque una vez te lo pases no te hará falta.
</p>
<p>
  De hecho, puedes tener un fichero que se llame <i>iniciales-instalar.txt</i> y otro
  que sea <i>iniciales-eliminar.txt</i>, si tu distribución trae paquetes que no te
  interesa mantener instalados.
</p>
<p>
  Por cierto, habrás notado que arriba he puesto tanto Firefox como Iceweasel en la
  lista. Bueno, esto es porque simplemente lo normal es que el gestor de paquetes ignore
  los que no existen, por tanto, en Debian instalaría Iceweasel e ignoraría Firefox, y
  en muchas otras sería al contrario.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-5365845004228049126?l=recallstack.blogspot.com"
    alt=""
  />
</div>
