---
slug: renombrar-todos-los-archivos-de-un-directorio
categories:
  - Administración de sistemas
  - Audio
  - GNU/Linux
  - Tutoriales
date: "2013-01-23T13:48:45Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - OGG
  - Opus codec
  - rename
title: Renombrar todos los archivos de un directorio
type: post
---

<pre>
$ cd /ruta/del/directorio
$ rename reemplazar-esto por-esto en-estos-archivos</pre
>
<p>Ejemplo simple: cómo reemplazar ficheros .opus por ficheros .ogg.</p>
<pre>$ rename .opus .ogg *.opus</pre>
