---
slug: repetir-un-script-bash-cada-cierto-tiempo-sin-cron
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
date: "2013-08-18T21:50:56Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - cron
  - loop
  - while
title: Repetir un script bash cada cierto tiempo sin cron
type: post
---

<p>
  Para los casos en que usar
  <a href="https://es.wikipedia.org/wiki/Cron_(Unix)"><code>cron</code></a> es
  demasiado:
</p>
<pre>
$ while true; do killall -s KILL script-name; script-name --param-1 --param-2; sleep 600; done</pre
>
<p>
  Esto matará el proceso <code>script-name</code>, lo relanzará y esperará 10 minutos
  para repetir el ciclo.
</p>
