---
slug: sincronizar-tu-coleccion-de-musica-del-ordenador-con-la-de-tu-telefono-movil
categories:
  - Administración de sistemas
  - Android
  - Audio
  - GNU/Linux
  - Programación
date: "2014-11-09T13:07:37Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179191511"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - bash
  - GVFS
  - rsync
  - XDG
title: Sincronizar tu colección de música del ordenador con la de tu teléfono móvil
type: post
---

<p>
  Primero, enchufa tu móvil Android a tu ordenador para averiguar el ID con el que se
  monta, para reemplazarlo en la fila que pone
  <code>PHONE_ID=XXXX-XXXX</code>.
</p>
<p>
  Ahora copia este script en <code>~/.local/bin/rsync-music2phone</code> (por ejemplo):<!--more-->
</p>
<pre>
#!/bin/bash

# Escribe aquí el ID de tu teléfono cuando se automonta con GVFS.
# Puedes averiguarlo desde Nautilus abriendo la carpeta y pulsando Ctrl+L.
# La ruta será algo parecido a /run/media/$USER/$PHONE_ID/
POHNE_ID=XXXX-XXXX

# Carpetas XDG
test -f ${XDG_CONFIG_HOME:-~/.config}/user-dirs.dirs &amp;&amp; \
    source ${XDG_CONFIG_HOME:-~/.config}/user-dirs.dirs

# Por defecto, asumimos que guardas la música en una carpeta llamada "Música":
XDG_MUSIC_DIR="${XDG_CONFIG_HOME:-$HOME/Música}"

rsync --archive --exclude '*.jpg' --exclude '*.jpeg' --exclude '*.png' --exclude '*.bmp' --exclude '.*' --delete-before --delete-excluded --progress --modify-window 1 $XDG_MUSIC_DIR/ /run/media/$USER/$PHONE_ID/Music</pre
>
<p>Usa ese comando y tu colección se sincronizará solita.</p>
