---
slug: situaciones-cotidianas-de-desarrolladores-y-administradores-de-sistemas
categories:
  - Humor
date: "2013-02-05T22:17:12Z"
meta:
  _edit_last: "5195209"
  _publicize_pending: "1"
  tagazine-media:
    a:7:{s:7:"primary";s:65:"http://recallstack.files.wordpress.com/2013/02/boozer-hanging.gif";s:6:"images";a:1:{s:65:"http://recallstack.files.wordpress.com/2013/02/boozer-hanging.gif";a:6:{s:8:"file_url";s:65:"http://recallstack.files.wordpress.com/2013/02/boozer-hanging.gif";s:5:"width";i:640;s:6:"height";i:360;s:4:"type";s:5:"image";s:4:"area";i:230400;s:9:"file_path";b:0;}}s:6:"videos";a:0:{}s:11:"image_count";i:37;s:6:"author";s:7:"5195209";s:7:"blog_id";s:8:"38842101";s:9:"mod_stamp";s:19:"2013-02-06
    21:57:55";}
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - gif
title: Situaciones cotidianas de desarrolladores y administradores de sistemas
type: post
---

<p>
  Este blog es demasiado serio, así que he decidido empezar una sección de humor, aunque
  esta vez será
  <a
    href="http://humor.desvariandoando.com/2013/02/situaciones-cotidianas-de-desarrolladores-y-administradores-de-sistemas.html"
    >copiando un post que acabo de ver</a
  >, y que me he podido echar unas buenas risas.
</p>
<div>
  <p style="text-align:center;" align="center">
    Cuando hago una puesta en producción
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-34.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando encuentro una solución sin buscar en google
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-35.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando se desconecta mi ordenador antes de haber salvado todo
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-01.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando intento corregir un bug a las 3 de la mañana
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-02.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando mi regexp devuelve exactamente eso que esperaba
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-03.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando mis colegas me proponen una pausa para el café en pleno desarrollo
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-04.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando el becario me propone realizar la web con Joomla!
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-05.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando me comunican que el módulo sobre el que he trabajado toda la semana nunca
    será utilizado
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-06.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando le enseño al jefe que por fin he solucionado ese bug
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-07.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando ese código que no he testeado en desarrollo funciona perfecto en producción
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-08.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando los comerciales anuncian a los desarrolladores lo que han vendido al cliente
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-09.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando aplico un nuevo CSS por primera vez
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-10.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando el sysadmin nos da por fin el acceso a root
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-11.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando lanzo mi script por primera vez tras varias horas de desarrollo
  </div>
  <div style="text-align:center;" align="center">
    <p><img alt="" src="/assets/code-12.gif" border="0" /></p>
  </div>
  <div style="text-align:center;" align="center">
    Cuando me voy de fin de semana mientras que todo el mundo intenta todavía corregir
    bugs
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-13.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando la aplicación pasa en beta y las primeras respuestas con bugs llegan
  </div>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-14.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando el jefe busca a alguien para corregir un bug difícil y urgente
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-15.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando el becario propone añadir una novedad al proyecto
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-16.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando el jefe anuncia un plus si el proyecto se finaliza antes del deadline
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-17.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando me doy cuenta que he estado 2 horas bloqueado por haber olvidado un punto y
    coma
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-18.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando me piden que eche una mano un viernes por la tarde
  </p>
  <p style="text-align:center;">
    <img alt="" src="/assets/code-19.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando el jefe de proyecto salta sobre mi pantalla por sorpresa
  </p>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-20.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando eso que funcionaba el viernes ya no funciona el lunes
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-21.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando el cliente intenta clicar sobre las maquetas
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-22.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando un bug pasa desapercibido durante una presentación
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-23.gif" border="0" />
  </p>
  <p style="text-align:center;">
    Cuando el cliente quiere cambiar las especificaciones 2 días antes de la subida a
    producción
  </p>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-24.gif" border="0" />
  </p>
  <p style="text-align:center;" align="center">
    Cuando tengo que hacer un desarrollo sin especificaciones
  </p>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-25.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando mi script por fin ha funcionado
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-26.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando retomo un desarrollo de un código que no había comentado
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-27.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando escucho al comercial vender el proyecto al cliente
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-28.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    <p>
      Cuando me piden de retomar el desarrollo de un becario<br />
      <img alt="" src="/assets/code-29.gif" border="0" />
    </p>
  </div>
  <div style="text-align:center;" align="center">
    Cuando el jefe de proyecto entra en la sala de trabajo
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-30.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando me dicen que mi programa ha cascado en producción
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-31.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando el becario me dice que los test “son para esos que no saben programar”
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-32.gif" border="0" />
  </p>
  <div style="text-align:center;" align="center">
    Cuando consigo reemplazar las 200 líneas del algoritmo por sólo 10 líneas
  </div>
  <p style="text-align:center;" align="center">
    <img alt="" src="/assets/code-33.gif" border="0" />
  </p>
  <p align="center">
    Cuando se reparten las felicitaciones por el gran proyecto realizado<br />
    <img
      style="border:0 none;"
      alt=""
      src="/assets/boozer-hanging.gif"
      width="300"
      height="169"
      border="0"
    />
  </p>
  <p align="center">
    El proyecto fijando una deadline demasiado cercana<br />
    <img class="aligncenter" alt="" src="/assets/34dopa8.gif" border="0" />
  </p>
</div>
