---
slug: tanto-saben-de-ti-tanto-vales
categories:
  - Privacidad
date: "2012-07-01T09:51:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "4039745197503186225"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Facebook
  - Google
title: Tanto saben de ti, tanto vales
type: post
---

<h2>Reflexión paranoide conspiratoria</h2>
<p>
  Es de sobra conocido que Internet se financia con la publicidad. Publicidad 100%
  personalizada. Para personalizarla hace falta saber cómo eres, y para ello hay que
  rastrearte.
</p>
<p>
  Obviamente, si alguien te dice que quiere conocer todo acerca de ti para venderte
  cosas, y de paso utilizarte para atraer a otros de tus amigos para lo mismo, la
  respuesta inmediata de todo ser racional sería: <b>NO.</b>
</p>
<p>
  Es por eso que hace falta un cebo. ¿Cuál?<b> </b>En dos palabras:
  <b>GRATIS y SOCIAL.</b>
</p>
<p>Pondré dos casos como ejemplo:<br /></p>
<h3>Facebook</h3>
<p>
  Este es un caso muy curioso. Todo el mundo se vuelve repentinamente paranoide acerca
  de la información que Facebook tiene de nosotros, pero, aunque recurren a prácticas
  algo deshonestas como rastrearte a través de Internet, lo cierto es que
  <b>la inmensa mayoría de lo que saben es lo que tú y tus amigos les decís.</b>
</p>
<p>
  Una reflexión bastante obvia y absurda, pero no tanto como el por qué tienes Facebook.
  Apuesto a que no conoces a nadie que esté en Facebook porque le gusta estar ahí.
  <b>Todos estamos ahí porque todos los demás están ahí.</b> Claro, se trata de hablar
  con otras personas, y si en esa plataforma no hay otras personas con quienes te
  interese hablar, no tiene sentido estar ahí.
</p>
<p>
  De modo que, si en Facebook no hubiera gente que conoces, tú no estarías ahí, ni
  ninguno de tus amigos, con lo cual llegamos a un círculo vicioso en el que
  <b>unos amigos nos esclavizamos a otros</b> a regalar nuestros datos a <b></b>una
  compañía que vive de ellos, por el simple hecho de que
  <b>todo el mundo lo hace.</b> Lamentable.<br />
</p>
<h3>Google</h3>
<p>
  El caso de Google es diferente. De hecho, en tema de redes sociales, Google+ está
  bastante por detrás de Facebook por el simple motivo que he expuesto en el apartado
  anterior.
</p>
<p>
  Google, sin embargo, <b>ofrece lo mejorcito</b>, tecnológicamente hablando,
  <b>de forma gratuita</b>. Tiene algunos de los mejores servicios de emails, chats,
  calendario, contactos, vídeos, fotos, mapas, lector RSS, ofimática online, creación de
  páginas web, blogs, navegador, etc.
</p>
<p>
  ¡Ah!, y por supuesto, su gran baza: su buscador. Ese que ha conseguido tanto
  posicionamiento que no es raro encontrar
  <b>gente que confunde Internet con Google</b>.
</p>
<p>
  En realidad, todas estas son herramientas que no tienen otro objetivo que recoger
  datos acerca de ti y formarse una idea bastante acertada de las cosas que se te pueden
  vender.
</p>
<p>
  Piénsalo, cada vez que escribes una línea de chat, mandas un correo, editas un
  documento en Docs, planificas un evento en el Calendar, buscas algo, lees un artículo
  en Reader, ves un vídeo en YouTube, buscas una ruta en Maps, etc.,
  <b>Google se lo guarda en tu perfil para saber más acerca de ti</b>.<br />
</p>
<h2>
  Pero a mí me gusta que, ya que me ponen publicidad, sea de cosas que me interesen
</h2>
<p>
  Es un punto de vista que tiene sentido. Sin embargo, supongamos que en el futuro hay
  una orden judicial contra ti. Google en muchas ocasiones no tiene más remedio que
  <a href="http://www.google.com/transparencyreport/userdatarequests/"
    >revelar los datos de sus usuarios a los gobiernos</a
  >.
</p>
<p>
  Los gobiernos cambian en representantes y forma, pero hay algo que nunca cambia:
  <b>todos ellos son corruptos e inestables.</b> Puede que en el futuro se te condene
  tan solo por tus creencias o ideas. ¿Te gustaría que los gobiernos usaran toda esa
  información contra ti?
</p>
<p>
  Aparte están las posibilidades de hackeo (seamos realistas, hackear Google o Facebook
  es bastante difícil, pero posible), la suplantación de identidad, y la posibilidad de
  que alguna de esas empresas quiebre o sea cesada como le pasó a Megaupload. ¿Qué sería
  de toda esa información?<br />
</p>
<h2>Pero, ¿realmente se puede escapar?</h2>
<p>
  Es algo que me he estado planteando recientemente, y
  <a href="http://zenhabits.net/google-free/">no soy el único</a>. Supongo que escapar
  al 100% sin perder demasiada funcionalidad es algo complicado, pero al menos no se lo
  vamos a poner fácil.
</p>
<p>
  Publicaré algunos artículos hablando precisamente de cómo escapar de todas estas
  compañías, ofreciendo alternativas realistas a sus servicios.
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-4039745197503186225?l=recallstack.blogspot.com"
    alt=""
  />
</div>
