---
slug: te-fastidia-tener-que-activar-el-teclado-numerico-cada-vez-que-quieres-poner-la-contrasena-en-ubuntu
categories:
  - GNU/Linux
date: "2011-03-18T15:23:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7697749176125217188"
  blogger_author: Abel
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Ubuntu
title:
  ¿Te fastidia tener que activar el teclado numérico cada vez que quieres poner la
  contraseña en Ubuntu?
type: post
---

<p>
  <b>A mí sí</b> por eso he encontrado la solución y comunico como hacerlo:<br />Primero
  abrir terminal y escribir:
</p>
<div>
  <pre>$ sudo apt-get install numlockx</pre>
  <p>Una vez instalado numlocx, poner en terminal para editar el archivo:</p>
  <pre>$ gedit /etc/gdm/Init/Default</pre>
  <p>
    Se nos abrirá una ventana con texto vamos al final del todo y, antes de
    <code>exit0</code> ponemos esto:
  </p>
  <pre>if [ -x /usr/bin/numlockx ]; then<br />    /usr/bin/numlockx on<br />fi</pre>
  <p>
    Una vez escrito esto antes de <code>exit0</code> guardamos y salimos.<br />Ya esta,
    reinicias el ordenador y no tendrás que activar el teclado numérico.
  </p>
</div>

<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-7697749176125217188?l=recallstack.blogspot.com"
    alt=""
  />
</div>
