---
slug: transferir-codigo-entre-repositorios-con-archivos-renombrados
categories:
  - Control de versiones
  - Opinión
  - Programación
  - Tutoriales
date: "2015-12-26T17:54:45Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Git
  - Git vs. Mercurial
  - hg-git
  - Mercurial
  - OCA
  - Odoo
title: Transferir código entre repositorios, con archivos renombrados
type: post
---

<p>
  Recientemente tuve que hacer
  <a href="https://github.com/OCA/partner-contact/pull/229"
    >una transferencia de código fuente algo complicada</a
  >. Tenía que transferir un addon de <a href="https://www.odoo.com/">Odoo</a> desde un
  repositorio a otro completamente diferente:
</p>
<ul>
  <li>
    En el repositorio
    <a href="https://github.com/Antiun/antiun-odoo-addons">Antiun/antiun-odoo-addons</a
    >,
    <a
      href="https://github.com/Antiun/antiun-odoo-addons/commit/21868f55d00b737f5e6f5dff1589cea3e472ea31"
      >el módulo fue creado como <code>crm_department</code></a
    >.
  </li>
  <li>
    Más tarde
    <a
      href="https://github.com/Antiun/antiun-odoo-addons/commit/84abf800ea3d0f14ddb38627420f1ce160142c2a"
      >se renombró a <code>crm_partner_department</code></a
    >
    para evitar conflictos con
    <a href="https://github.com/OCA/department/tree/8.0/crm_department"
      >un módulo llamado <code>crm_department</code></a
    >
    de la <a href="https://odoo-community.org/">OCA</a>.
  </li>
  <li>
    Ahora yo tenía que moverlo al repositorio
    <a href="https://github.com/OCA/partner-contact">OCA/partner-contact</a>
    renombrándolo a <code>partner_contact_department</code> (aparte de otros cambios que
    no vienen a cuento).
  </li>
</ul>
<p>Veamos cómo se puede hacer con Git y con Mercurial.<!--more--></p>
<h3>Cómo hacerlo con Git</h3>
<p>
  La OCA hace tiempo publicó una
  <a href="https://github.com/odoomrp/odoomrp-wip/wiki/Migration-to-OCA"
    >receta para hacer migraciones de código con Git</a
  >, que me sirvió como guía.
</p>
<p>
  A continuación os pongo los comandos a seguir. En estas instrucciones verás que a
  veces hago checkout a un <em>commit</em> concreto. Esto es para asegurarme de que el
  ejemplo sea eternamente reproducible, pero no haría falta en otro caso normalmente. Os
  pongo en un comentario cuál sería la referencia normal a poner ahí en vez del
  <em>hash</em> del <em>commit</em>.
</p>
<pre>
$ git clone https://github.com/OCA/partner-contact.git --branch 8.0
$ cd partner-contact
$ git checkout 21c3235  # origin/8.0
$ git checkout -b migration-base
$ git remote add antiun-odoo-addons https://github.com/Antiun/antiun-odoo-addons.git
$ git fetch antiun-odoo-addons 8.0
$ git checkout d934c36  # antiun-odoo-addons/8.0
$ git checkout -b migration1
$ module=crm_department
$ git filter-branch --subdirectory-filter $module --force
$ git filter-branch --force --tree-filter "mkdir -pv $module; git mv -k * $module" HEAD
$ git rebase 21c3235  # origin/8.0
$ git checkout d934c36  # antiun-odoo-addons/8.0
$ git checkout -b migration2
$ module=crm_partner_department
$ git filter-branch --subdirectory-filter $module --force
$ git filter-branch --force --tree-filter "mkdir -pv $module; git mv -k * $module" HEAD
$ git rebase migration1
$ git branch --delete migration1
$ mv crm_partner_department partner_contact_department
$ git add .
$ git commit --message "Rename to partner_contact_department"</pre
>
<p>
  A continuación ya tendría mi rama <code>migration2</code> lista para hacer las
  modificaciones que quiera y mandar mi PR.
</p>
<p>La sensación después de hacer esto es:</p>
<p>
  [caption id="attachment_926" align="aligncenter" width="195"]<a
    href="https://recallstack.wordpress.com/2015/12/26/transferir-codigo-entre-repositorios-con-archivos-renombrados/feel-like-a-hacker/"
    rel=' rel="attachment wp-att-926"'
    ><img
      class="size-full wp-image-926"
      src="/assets/feel-like-a-hacker.jpg"
      alt="Feel like a hacker"
      width="195"
      height="223"
  /></a>
  Feel like a hacker[/caption]
</p>
<h3>Cómo hacerlo con Mercurial</h3>
<p>
  Enseguida me pregunté si esto se podría hacer con Mercurial, y
  <del datetime="2015-12-26T14:57:17+00:00">sorprendentemente</del> como no podía ser de
  otra forma,
  <a
    href="http://stackoverflow.com/questions/3643313/mercurial-copying-one-file-and-its-history-to-another-repository#3643519"
    >es mucho más sencillo</a
  >
  (al menos, de recordar). Necesitarás
  <a href="https://www.mercurial-scm.org/wiki/ConvertExtension#Configuration"
    >activar la extensión Convert</a
  >
  y luego crear un fichero que llamaré <code>filemap.txt</code> con este contenido:
</p>
<pre>
include crm_department
include crm_partner_department
rename crm_partner_department partner_contact_department</pre
>
<p>Ahora ejecutaremos estos comandos:</p>
<pre>
$ git clone https://github.com/OCA/partner-contact.git --branch 8.0
$ git clone https://github.com/Antiun/antiun-odoo-addons.git --branch 8.0
$ hg convert --rev d934c36 --filemap filemap.txt antiun-odoo-addons antiun-odoo-addons-hg
$ hg convert --rev 21c3235 partner-contact partner-contact-hg
$ cd partner-contact-hg
$ hg update
$ hg pull --force ../antiun-odoo-addons-hg/
$ hg merge
$ hg commit --message "Rename to partner_contact_department</pre
>
<p>La sensación, después de hacer esto es:</p>
<p>
  [caption id="attachment_927" align="aligncenter" width="250"]<a
    href="https://recallstack.wordpress.com/2015/12/26/transferir-codigo-entre-repositorios-con-archivos-renombrados/hacking-like-a-sir/"
    rel=' rel="attachment wp-att-927"'
    ><img
      class="size-full wp-image-927"
      src="/assets/hacking-like-a-sir.jpg"
      alt="Hacking like a sir"
      width="250"
      height="250"
  /></a>
  Hacking like a sir[/caption]
</p>
<p>
  Y, por supuesto, esto
  <strong>usando tan solo extensiones oficiales de Mercurial</strong> (las que vienen
  instaladas pero desactivadas), que si usas
  <a href="http://hg-git.github.io/">hg-git</a> (<code>dnf install hg-git</code>)
  <a href="/2014/07/26/mercurial-y-git-pueden-ser-amigos/"
    >puedes hacer <code>pull</code> y <code>push</code> directamente a repositorios
    Git</a
  >.
</p>
