---
slug: tuberias-pipelines-en-gstreamer
categories:
  - Audio
  - GNU/Linux
date: "2011-02-22T18:49:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "7764798937741306667"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Tuberías (pipelines) en GStreamer
type: post
---

<p>
  <a href="http://gstreamer.freedesktop.org/">GStreamer</a> es una biblioteca que sirve
  como capa de abstracción para un chorro de codecs de audio y&nbsp;vídeo&nbsp;en los
  escritorios Linux. Es genial en el sentido de que hace trivial el hecho de que una
  aplicación pueda leer distintos formatos.<br />A la hora de extraer audio de CDs, nos
  encontramos con un problema: Elegir el perfil de audio.<br />
</p>
<h2>¿Qué es un perfil de audio?</h2>
<p>
  Básicamente es dar un nombre y descripción "legible para humanos" a una tubería (o
  pipeline) de GStreamer. <br />
</p>
<h2>
  Aaaam ahora lo tengo todo claro... no, en serio, ¿qué es una tubería o pipeline de
  GStreamer?
</h2>
<p>
  Básicamente le indica a GStreamer cómo tiene que entrar el&nbsp;vídeo o audio, qué
  debe hacer con él, y cómo debe de salir.<br />
</p>
<h2>¿Qué aspecto tiene?</h2>
<p>Algo así:</p>
<pre>
audio/x-raw-int,rate=44100,channels=2 ! lame name=enc mode=0 vbr=4 vbr-quality=4 ! xingmux ! id3v2mux</pre
>
<h2>¿Comoooorr?</h2>
<p>Vale, vayamos por partes.</p>
<ul>
  <li>
    El signo de exclamación es el equivalente al "|" en la consola, coge la salida del
    comando anterior y lo manda a la entrada del siguiente.
  </li>
  <li>En la primera parte indicas que es audio y qué tipo.</li>
  <li>
    En la segunda usas el plugin
    <a href="http://lame.sourceforge.net/">LAME</a>, para transformar a MP3. LAME tiene
    sus peculiaridades. Lo que hacemos aquí es:
  </li>
</ul>
<ul>
  <li>
    <code>name=enc </code>le da un nombre al objeto. Realmente no tengo muy claro que
    sea necesario, pero si venía así por algo será...
  </li>
  <li><code>mode=0 </code>significa que la pista es estéreo.</li>
  <li>
    <code>vbr=4</code>&nbsp;hace que usemos el algoritmo nuevo de LAME para codificar en
    VBR.
  </li>
  <li>
    <code>vbr-quality=4&nbsp;</code>simplemente&nbsp;es una escala del 0 (mejor) al 9
    (peor) para ver la calidad del audio que queremos sacar
  </li>
</ul>
<li>
  La penúltima parte (<code>xingmux</code>) arregla una cosa que se llaman
  <i>xing headers</i> del mp3. Se usan cuando el mp3 tiene bitrate variable (VBR, saca
  mayor calidad en menor espacio).
</li>
<li><code>id3v2mux </code>le aplica las etiquetas ID3 al fichero creado.</li>
<div>
  <h2>¿Y cómo sabes tú eso?</h2>
</div>
<div>Fácil, abre una terminal y escribe:</div>
<pre>gst-inspect-0.10 lame | less</pre>
<p>
  Lo de <code>less</code> no hace falta pero te facilita la lectura. Para salir pulsa
  <code>q</code>.<br />
</p>
<h2>
  Empiezo a entenderlo... ¿Entonces es esto lo que tengo que hacer para codificar mp3?
</h2>
<p>
  Pues me alegro de que empieces a entenderlo, pero
  <i>no es esto lo que deberías hacer</i>.<br />Verás, el complemento
  <code>lame</code> que hemos usado es el que viene configurado en distros como Debian o
  Ubuntu, pero si echamos un vistazo a la
  <a
    href="http://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-ugly-plugins/html/gst-plugins-ugly-plugins-plugin-lame.html"
    >documentación oficial de GStreamer respecto a codificar mp3</a
  >, veremos que este ha quedado obsoleto. Ahora se usa el complemento
  <code>lamemp3enc</code>.<br />
</p>
<h2>Jo, ahora que me conocía este...</h2>
<p>
  Tranquilo, este complemento es mucho más fácil de usar y aprender. Esta es la tubería
  que uso yo:
</p>
<pre>audio/x-raw-int,rate=44100,channels=2 ! lamemp3enc ! xingmux ! id3v2mux</pre>
<p>
  Como ves, ni siquiera le he puesto ningún parámetro, porque los que trae por defecto
  son básicamente los que hemos puesto arriba con el complemento antiguo.<br />
</p>
<h2>¿Me explicas entonces el <code>lamemp3enc</code>?</h2>
<p></p>
<h2></h2>
<p>
  No. Ya te he explicado el otro, y este funciona igual pero con distintos parámetros.
  Piensa un poco y averiguarás dónde encontrar dichos parámetros.
</p>
<p>
  Como nota adicional,
  <a href="http://www.ibm.com/developerworks/aix/library/au-gstreamer.html"
    >este artículo</a
  >
  también puede interesarte.<br />Sé feliz ;)
</p>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-7764798937741306667?l=recallstack.blogspot.com"
    alt=""
  />
</div>
