---
slug: un-abril-lleno-de-novedades-en-escritorios-linux
categories:
  - GNU/Linux
  - Noticias
date: "2011-03-18T19:40:00Z"
meta:
  blogger_5e794e8f5430f22774250eae0ae85e84_permalink: "4440962191513286765"
  blogger_author: Jairot Llopis
  blogger_blog: recallstack.blogspot.com
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Un abril lleno de novedades en escritorios Linux
type: post
---

<p>
  Aunque este blog se dedica fundamentalmente a resolución de errores, haré una
  excepción para dar unas noticias que me resultan muy interesantes. Este año se
  avecinan novedades muy jugosas en cuanto a escritorios se refiere.<br />Por un lado
  tenemos a <a href="http://ubuntu.com/">Ubuntu</a>, que va a usar
  <a href="http://unity.ubuntu.com/">Unity</a>,&nbsp;un entorno de escritorio diseñado
  por ellos mismos. Está programado como un plug-in más para
  <a href="http://www.compiz.org/">Compiz</a>, que ya era el gestor de ventanas por
  defecto para Ubuntu si tu tarjeta gráfica soportaba aceleración 3D.<br />Este entorno
  ya lo estrenaron en la versión 10.10 para netbooks, pero a partir de la 11.04, que
  saldrá en abril, será también el entorno por defecto para la versión de escritorio.<br />A
  continuación un&nbsp;vídeo&nbsp;de Unity en acción. Se ven unos fallos en el vídeo,
  pero recordemos que aún no es la versión estable:
</p>
<div class="separator" style="clear:both;text-align:center;"></div>
<p>
  Por otro lado, <a href="http://gnome.org/">Gnome</a> va a sacar
  <a href="http://www.gnome3.org/">Gnome 3</a>&nbsp;con su escritorio
  <a href="http://live.gnome.org/GnomeShell/">Gnome Shell</a>, otra revolución en cuanto
  al concepto que teníamos de escritorio. De momento está en beta. El camino que sigue
  es parecido al de Unity en algunos aspectos, pero diferente en otros.<br />El gestor
  de ventanas por defecto deja de ser
  <a href="http://blogs.gnome.org/metacity/">Metacity</a> (2D) para ser
  <a href="http://www.ohloh.net/p/mutter">Mutter</a> (3D), y el shell entero está
  programado como un plug-in de Mutter. Esto significa que no podremos usar compiz y
  Gnome Shell a la vez.<br />Esperemos que saquen plug-ins de ventanas gelatinosas, cubo
  de escritorio, etc. para Mutter, ya que son cosas que <b>me encantan</b>.<br />Aunque
  haya que sacrificar eso, las novedades que trae Gnome Shell me parecen muchas y muy
  buenas. A continuación un vídeo:
</p>
<div class="separator" style="clear:both;text-align:center;"></div>
<p>
  Por último, Gnome 3 usará las bibliotecas
  <a href="http://www.gtk.org/">GTK+ 3</a>, que traen novedades muy importantes. La más
  impresionante de todas es la que he visto esta mañana, y que me ha motivado a publicar
  todo esto. Parece ser que esta biblioteca permite intercambiar los back-ends...<br />Pues
  bien, os invito a leer
  <a href="http://gespadas.com/broadway-gtk3-html5">este post</a> y ver el vídeo a
  continuación, que muestra cómo se puede ver cualquier aplicación GTK+ 3 en un
  navegador web que soporte HTML5, gracias al back-end Broadway:
</p>
<div class="separator" style="clear:both;text-align:center;">
  [vimeo http://www.vimeo.com/17132064 w=400&amp;h=275]
</div>
<div class="blogger-post-footer">
  <img
    width="1"
    height="1"
    src="/assets/5801165928817664556-4440962191513286765?l=recallstack.blogspot.com"
    alt=""
  />
</div>
