---
slug: usa-trickle-para-limitar-el-ancho-de-banda-de-un-proceso
categories:
  - Administración de sistemas
  - GNU/Linux
  - Programación
  - Redes
  - Web
date: "2017-05-26T15:28:03Z"
meta:
  _publicize_done_16694815: "1"
  _publicize_done_16694817: "1"
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:16486498;s:52:"https://twitter.com/__yajo/status/868098476420325376";}}
  _publicize_job_id: "5461989963"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_done_16486498: "1"
  _wpas_done_16486500: "1"
  _wpcom_is_markdown: "1"
  publicize_google_plus_url: https://plus.google.com/110646191003203124413/posts/UPsqChhU3Rj
  publicize_twitter_user: __yajo
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Firefox
  - Trickle
title: Usa Trickle para limitar el ancho de banda de un proceso
type: post
---

<p>
  Imagina que necesitas emular una situación en la que alguien intenta acceder a tu
  página web pero tiene un ancho de banda muy poco ancho; pues con
  <a href="https://github.com/mariusae/trickle">Trickle</a> es facilísimo:
</p>
<p><!--more--></p>
<p>
  Trickle permite limitar el ancho de banda de cualquier proceso. Por ejemplo, abramos
  Firefox con un ancho de banda de subida de 100 KB/s y una descarga de 500KB/s:
</p>
<pre>$ trickle -u 100 -d 500 firefox</pre>
<p>Ya puedes comprobar cómo se ve el mundo a esa velocidad...</p>
