---
slug: usar-asciinema-para-grabar-y-compartir-tus-sesiones-de-terminal
categories:
  - Curiosidades
  - GNU/Linux
  - Multimedia
date: "2016-02-29T14:28:39Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "20291528411"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - asciinema
  - screencast
title: Usar asciinema para grabar y compartir tus sesiones de terminal
type: post
---

<p>
  ¿Alguna vez has necesitado compartir una sesión de terminal y no has sabido cómo
  hacerlo? Te presento <a href="https://asciinema.org/">asciinema</a>, una herramienta
  hecha para ti.
</p>
<p><!--more--></p>
<p>
  Se trata de una herramienta GPLv3 que sirve para grabar sesiones de terminal en puro
  texto, olvidándote de tener que grabar un vídeo, un gif, o cualquier otra cosa más
  pesada.
</p>
<h3>Grabar</h3>
<p>Simplemente instálalo y comienza a grabar:</p>
<pre>
$ pkcon install asciinema
$ asciinema rec mi-grabacion.json</pre
>
<p>
  Arrancará una sesión en tu <code>$SHELL</code> y comenzará a grabar todo lo que
  suceda. Para terminar la grabación, pulsa <code>Ctrl+D</code> o ejecuta
  <code>exit</code>.
</p>
<p>Reproducir</p>
<pre>$ asciinema play mi-grabacion.json</pre>
<h3>Compartir</h3>
<pre>$ asciinema upload mi-<del></del>grabacion.json</pre>
<p>
  Te devolverá una URL que podrás usar para
  <a href="https://asciinema.org/docs/embedding">incrustar en cualquier página</a>:
</p>
<p>
  <a href="https://asciinema.org/a/37755" target="_blank"
    ><img src="/assets/37755.png" alt=""
  /></a>
</p>
<h3>Gestionar tus grabaciones compartidas</h3>
<p>
  Ahora puedes abrirte una cuenta de usuario para gestionar tus grabaciones:
</p>
<ul>
  <li>Proporciona tu correo en https://asciinema.org/login/new.</li>
  <li>Pulsa sobre el enlace que se te habrá enviado por email.</li>
  <li>
    Ejecuta:
    <pre>$ asciinema auth</pre>
  </li>
  <li>Visita el enlace que te devolverá.</li>
</ul>
<p>
  La verdad,
  <strong>me ha sorprendido muy gratamente el sistema de login</strong> que tiene esta
  gente. Sin contraseñas y muy seguro.
</p>
