---
slug: usar-el-dni-electronico-en-linux
categories:
  - Encriptación
  - GNU/Linux
  - Privacidad
date: "2015-12-29T17:12:08Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18218938174"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - DNIe
  - Fedora
  - Firefox
  - OpenSC
title: Usar el DNI electrónico en Linux
type: post
---

<p>
  Las instrucciones son concretamente para
  <a href="https://getfedora.org/">Fedora</a> 22, pero supongo que no diferirán mucho
  para otras distribuciones.
</p>
<p>
  Primero necesitas un lector de
  <a href="https://es.wikipedia.org/wiki/Tarjeta_inteligente">tarjetas inteligentes</a>
  que esté en la
  <a href="https://pcsclite.alioth.debian.org/ccid/supported.html"
    >lista de dispositivos soportados</a
  >.<!--more-->
</p>
<p>Instala las dependencias y activa el servicio:</p>
<pre>
# dnf install opensc pcsc-tools pcsc-lite-ccid
# systemctl start pcscd.service</pre
>
<p>Comprueba que todo funciona:</p>
<pre>$ pcsc_scan</pre>
<h3>Configurar Firefox</h3>
<p>
  Seguiremos
  <a
    href="https://github.com/OpenSC/OpenSC/wiki/Installing-OpenSC-PKCS%2311-Module-in-Firefox,-Step-by-Step"
    >las instrucciones de la wiki de OpenSC</a
  >, que son lo más completo que he encontrado (aunque los pantallazos están algo
  desfasados):
</p>
<ol>
  <li>Abre Firefox.</li>
  <li>
    Ve a
    <em
      >Preferencias &gt; Avanzado &gt; Certificados &gt; Dispositivos de seguridad &gt;
      Cargar</em
    >.
  </li>
  <li>Nombre del módulo: <em>Módulo OpenSC PKCS#11</em>.</li>
  <li>Archivo del módulo: <em>/usr/lib64/opensc-pkcs11.so</em>.</li>
  <li><em>Aceptar.</em></li>
  <li>
    En el apartado de la izquierda verás un nuevo menú llamado
    <em>Módulo OpenSC PKCS#11</em>. Al introducir un
    <a href="http://dnielectronico.es/">DNIe</a>, verás que aparece la opción
    <em>DNI electrónico (PIN 1)</em>. Selecciónalo.
  </li>
  <li>Pulsa <em>Iniciar sesión</em>.</li>
  <li>
    Introduce el PIN (ojo, hay un límite de intentos fallidos que te puede bloquear la
    tarjeta).
  </li>
  <li>El estado cambiará a <em>Sesión iniciada</em> tras unos segundos.</li>
</ol>
<p>Ya tienes habilitado tu certificado al navegar por Firefox.</p>
<p>
  Por cierto, no necesitarás seguir todos esos pasos la próxima vez que quieras usar tu
  DNI electrónico. Firefox te preguntará el PIN para desbloquearlo cuando haga falta
  automáticamente.
</p>
