---
slug: ver-emojis-en-linux
categories:
  - GNU/Linux
  - Interfaz de usuario
date: "2014-12-31T15:18:15Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179174878"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Debian
  - emoji
  - Fedora
  - fuentes
  - Ubuntu
title: Ver emojis en Linux
type: post
---

<p>
  Los <a href="http://getemoji.com/">emojis</a> son la evolución de los emoticonos.
  Mientras que tradicionalmente los emoticonos eran combinaciones de caracteres básicos,
  como <code>:-)</code> o <code>¬_¬'</code>, los emojis son cada cual un carácter
  <a href="https://es.wikipedia.org/wiki/Unicode">Unicode</a> (la codificación de
  caracteres internacional estándar) concreto.
</p>
<p>
  Los móviles iOS y Android los muestran por defecto, cada cual en su estilo particular,
  pero si alguien con un móvil de esos nos manda un e-mail, probablemente no veamos esos
  iconos correctamente en nuestro ordenador Linux.<!--more-->
</p>
<p>
  Para poder verlos bien, simplemente
  <a href="https://www.kirsle.net/blog/entry/make-emoji-work-in-linux"
    >instala la fuente Symbola</a
  >. La puedes <a href="http://users.teilar.gr/~g1951d/">descargar directamente</a> y
  copiarla en <code>~/.fonts/</code>, o instalar el paquete correspondiente.
</p>
<p>Debian y derivados:</p>
<pre># apt-get install ttf-ancient-fonts</pre>
<p>Fedora y derivados:</p>
<pre># dnf install gdouros-symbola-fonts</pre>
