---
slug: videoconferencias-estilo-hangouts-y-skype-pero-mas-facil
categories:
  - Multimedia
  - Noticias
  - Redes
  - Web
date: "2014-07-13T16:47:43Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179473444"
  _rest_api_client_id: "-1"
  _rest_api_published: "1"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - appear.in
  - Chat
  - Google Hangouts
  - Jitsi
  - Multiconferencias
  - SIP
  - Videoconferencias
  - XMPP
title: Videoconferencias estilo Hangouts y Skype, pero más fácil
type: post
---

<p>
  Pruébalo: <a href="https://appear.in">appear.in</a>. Es tan simple que hace complicada
  cualquier alternativa, y encima su política de privacidad es muy amigable. De hecho,
  no necesitas ni abrirte una cuenta.<!--more-->
</p>
<p>Su funcionamiento es:</p>
<ol>
  <li>Eliges un nombre para tu sala, por ejemplo: <em>recallstack.</em></li>
  <li>Entras en esa sala a través del link: <em>appear.in/recallstack</em>.</li>
  <li>
    Le mandas ese mismo link a los demás que quieras que entren en esa sala.
  </li>
  <li>
    Si quieres evitar que alguien adivine el nombre de la sala y os vea, puedes
    bloquearla, en cuyo caso quien quiera entrar tendrá que ser primero aprobado por los
    miembros.
  </li>
</ol>
<p>
  Otra buena alternativa es <a href="https://meet.jit.si/">Jitsi Meet</a>, con la
  ventaja de ser libre, y con la desventaja de que aún no funciona en Firefox.
</p>
<p>
  Por supuesto, si prefieres usar <a href="http://xmpp.org/">XMPP</a> o
  <a href="https://es.wikipedia.org/wiki/Session_Initiation_Protocol">SIP</a>,
  <a href="https://jitsi.org/">Jitsi</a> (versión escritorio) es una gran alternativa.
</p>
