---
slug: web-descentralizada-para-todos
categories:
  - Administración de sistemas
  - GNU/Linux
  - Noticias
  - Privacidad
  - Redes
  - Web
date: "2014-08-13T11:31:22Z"
meta:
  _edit_last: "5195209"
  _publicize_job_id: "18179437438"
  _wpas_skip_facebook: "1"
  _wpas_skip_google_plus: "1"
  _wpas_skip_linkedin: "1"
  _wpas_skip_path: "1"
  _wpas_skip_tumblr: "1"
  _wpas_skip_twitter: "1"
  _wpcom_is_markdown: "1"
  geo_public: "0"
parent_id: "0"
password: ""
published: true
status: publish
tags:
  - Arch
  - arkOS
  - Cubieboard
  - Debian
  - docker
  - FreedomBox
  - Raspberry Pi
  - XMPP
  - YunoHost
title: Web descentralizada para todos
type: post
---

<p>
  Ya estuvimos hablando de la
  <a
    title="El problema de tener demasiadas redes sociales"
    href="http://recallstack.wordpress.com/2014/06/28/el-problema-de-tener-demasiadas-redes-sociales/"
    >descentralización de la mensajería instantánea con XMPP</a
  >. Hoy me alegro de poder decir que cada vez es más fácil tener tu propio rincón
  privado de Internet. Os presento 3 distribuciones a tener en cuenta:<!--more-->
</p>
<h2><a href="https://wiki.debian.org/FreedomBox">FreedomBox</a></h2>
<p>
  Un subproyecto de <a href="http://www.debian.org/">Debian</a>, el más antiguo de
  todos, y curiosamente el que más lentamente está avanzando.
</p>
<p>Buenas intenciones, aunque lamentablemente aún no hay mucho que usar.</p>
<h2><a href="https://arkos.io/">arkOS</a></h2>
<p>
  Es el que más está llamando la atención últimamente. Derivado de
  <a href="https://www.archlinux.org/">Arch</a>, respaldado por
  <a href="https://citizenweb.is/">The CitizenWeb Project</a>, y diseñado para instalar
  en <a href="http://www.raspberrypi.org/">Raspberry Pi</a>.
</p>
<p>
  [caption id="attachment_637" align="aligncenter" width="300"]<a
    href="http://recallstack.wordpress.com/2014/08/13/web-descentralizada-para-todos/genesis/"
    rel="attachment wp-att-637"
    ><img
      class="size-medium wp-image-637"
      src="/assets/genesis.png?w=300"
      alt="Genesis, la interfaz de administración de arkOS"
      width="300"
      height="148"
  /></a>
  Genesis, la interfaz de administración de arkOS[/caption]
</p>
<h2><a href="https://yunohost.org/">YunoHost</a></h2>
<p>Mi favorita, y a día de hoy la más usable.</p>
<p>
  [caption id="attachment_638" align="aligncenter" width="300"]<a
    href="http://recallstack.wordpress.com/2014/08/13/web-descentralizada-para-todos/dude_yunohost/"
    rel="attachment wp-att-638"
    ><img
      class="size-medium wp-image-638"
      src="/assets/dude_yunohost.jpg?w=300"
      alt="Explicación del nombre de YunoHost"
      width="300"
      height="225"
  /></a>
  Explicación del nombre de YunoHost[/caption]
</p>
<p>
  Está basada en Debian, así que
  <a href="https://yunohost.org/#/install"
    >lo puedes instalar prácticamente donde quieras</a
  >: <a href="https://es.wikipedia.org/wiki/M%C3%A1quina_virtual">Máquina virtual</a>,
  <a href="https://es.wikipedia.org/wiki/Servidor_virtual_privado">VPS</a>,
  <a href="http://cubieboard.org/">Cubieboard</a>,
  <a href="http://www.raspberrypi.org/">Raspberry Pi</a>,
  <a href="http://www.docker.com/">Docker</a>, etc.
</p>
<p>
  En lugar de poner una foto de la impecable interfaz,
  <a href="https://yunohost.org/#/try"
    >te invito a que pruebes la demo que hay en su web</a
  >.
</p>
