/* El título del blog es una sola palabra que se sale de la pantalla cuando es muy pequeña, así que le cambio el tamaño de fuente en esas pantallas */
h1#user-name {
  @media (max-width: 768px) {
    font-size: 16vw;
  }
}
