<footer class="footer text-center text-small">
  <span class="w-100 text-center" title="Copyright"
    >© {{ now.Format "2006" }} Jairo Llopis.</span
  >
  <span class="w-100 text-center">{{ i18n "license" | safeHTML }}</span>
</footer>

<!-- Cookies -->
<script
  src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
  data-cfasync="false"
></script>
<script>
  window.cookieconsent.initialise({
    palette: {
      popup: {background: "#000", text: "#0f0"},
      button: {background: "transparent", text: "#0f0", border: "#0f0"},
    },
    position: "bottom-right",
    content: {
      message: '{{ i18n "cookie-message" | safeHTML }}',
      dismiss: '{{ i18n "cookie-dismiss" | safeHTML }}',
      link: '{{ i18n "cookie-link" | safeHTML }}',
    },
  });
</script>
